Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

appModules/explorer: add missing comma to notification event handler call. Re #18220
  source/appModules/explorer.py
Due: checkPot

App modules (base and File Explorer): add type hints to 'sender' argument in notification event handler. Re #18220.
  source/appModuleHandler.py
  source/appModules/explorer.py
Due: checkPot

Base app module: add parameter comments to 'shouldProcessUIANotificationEvent' method. Re #18220.
  source/appModuleHandler.py
Due: checkPot

UIA handler: use desktop window handle when assigning 'window handle' to UIA elements without window handles. Re #18220.
  source/UIAHandler/__init__.py
Due: checkPot

Add dialect
  tests/system/robot/chromeTests.py
Due: none

Report languages
  tests/system/robot/chromeTests.py
  tests/system/robot/chromeTests.robot
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Support multiline braille routing on Humanware Monarch (#18248)
  source/brailleDisplayDrivers/hidBrailleStandard.py
  user_docs/en/changes.md
Due: checkPot

Apply suggestions from code review
  source/NVDAHelper/__init__.py
  source/NVDAHelper/localLib.py
Due: checkPot

fix korean translation string
  source/locale/ko/LC_MESSAGES/nvda.po
Due: none

Add changelog entry
  user_docs/en/changes.md
Due: none

Install babel for system tests
  pyproject.toml
  uv.lock
Due: licenseCheck

Fix Korean add-on store string (#18252)
  source/locale/ko/LC_MESSAGES/nvda.po
  user_docs/en/changes.md
Due: none

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Create function to get the language display name
  tests/system/robot/chromeTests.py
Due: none

Update version for 2025.1.1
  source/buildVersion.py
Due: checkPot

Use babel
  tests/system/robot/chromeTests.py
Due: none

Fix sample
  tests/system/robot/chromeTests.py
Due: none

Fix lint errors
  nvdaHelper/archBuild_sconscript
  source/NVDAHelper/__init__.py
  source/NVDAObjects/window/edit.py
  source/nvwave.py
Due: checkPot

Deprecate NVDAHelper.versionedLibPath in favour of NVDAHelper.versionedLibX86Path
  source/JABHandler.py
  source/NVDAHelper/__init__.py
  user_docs/en/changes.md
Due: checkPot

Test displayName property for Locale
  tests/system/robot/chromeTests.py
Due: none

Edited the user guide again.
  user_docs/en/userGuide.md
Due: none

Edited the user guide.
  user_docs/en/userGuide.md
Due: none

Added the NLS eReader Zoomax braille driver
  source/brailleDisplayDrivers/nlseReaderZoomax.py
Due: checkPot

Added an entry for the NLS eReader Zoomax display in the user guide.
  user_docs/en/userGuide.md
Due: none

Added an entry in the changes.md file.
  user_docs/en/changes.md
Due: none

Made the requested changes.
  source/brailleDisplayDrivers/nlseReaderZoomax.py
  user_docs/en/userGuide.md
Due: checkPot

More changes to the driver.
  source/brailleDisplayDrivers/nlseReaderZoomax.py
Due: checkPot

Try to use en-US to display name of language
  tests/system/robot/chromeTests.py
Due: none

Try to fix test with Babel
  tests/system/robot/chromeTests.py
Due: none

Added back the # Translators: Names of braille displays. entry.
  source/brailleDisplayDrivers/nlseReaderZoomax.py
Due: checkPot

Move SAPI4 COM calls back to main thread
  source/synthDrivers/sapi4.py
Due: checkPot

Fix
  source/synthDrivers/sapi4.py
Due: checkPot

Fix item 16 of guiding principles
  projectDocs/product_vision.md
Due: none

Don't use system tests
  nvdaHelper/espeak/sconscript
  pyproject.toml
  sconstruct
  tests/system/robot/chromeTests.py
  tests/system/robot/chromeTests.robot
  uv.lock
Due: licenseCheck

Revert "Don't use system tests"
  nvdaHelper/espeak/sconscript
  pyproject.toml
  sconstruct
  tests/system/robot/chromeTests.py
  tests/system/robot/chromeTests.robot
  uv.lock
Due: licenseCheck

Restore files
  nvdaHelper/espeak/sconscript
  sconstruct
  uv.lock
Due: none

Fix test
  tests/system/robot/chromeTests.py
Due: none

Fix uv
  uv.lock
Due: none
