Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

Improve some headings
  projectDocs/translating/crowdin.md
Due: none

Use uv as build orchestrator
  .github/workflows/testAndPublish.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  appveyor.yml
  appveyor/scripts/pushPackagingInfo.ps1
  constraints.txt
  ensureuv.bat
  projectDocs/dev/buildSystemNotes.md
  projectDocs/dev/createDevEnvironment.md
  projectDocs/dev/developerGuide/conf.py
  projectDocs/dev/developerGuide/sconscript
  projectDocs/testing/automated.md
  pyproject.toml
  requirements.txt
  runlicensecheck.bat
  runlint.bat
  runnvda.bat
  runsettingsdiff.bat
  runsystemtests.bat
  rununittests.bat
  scons.bat
  sconstruct
  source/nvda.pyw
  source/sourceEnv.py
  tests/unit/__init__.py
  user_docs/en/changes.md
  uv.lock
  venvUtils/ensureAndActivate.bat
  venvUtils/ensureVenv.py
  venvUtils/exportPackageList.bat
  venvUtils/venvCmd.bat
Due: checkPot, licenseCheck

Error message for users when pushClipboard remote tool used with no connection
  source/_remoteClient/client.py
  source/globalCommands.py
  tests/unit/test_remote/test_remoteClient.py
Due: checkPot

Enable controls to report language when auto language switching is enabled
  source/gui/settingsDialogs.py
Due: checkPot

Standardize characters in User Guide (#17982)
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

Remove translatable comment from previous commit
  source/gui/settingsDialogs.py
Due: checkPot

Clear leftover audio data in SAPI5 SonicStream (#17972)
  source/synthDrivers/sapi5.py
Due: checkPot

Apply suggestions from code review
  projectDocs/translating/crowdin.md
Due: none

Update projectDocs/translating/crowdin.md
  projectDocs/translating/crowdin.md
Due: none

Apply suggestions from code review
  .pre-commit-config.yaml
  appveyor.yml
  ensureuv.bat
  projectDocs/dev/buildSystemNotes.md
  pyproject.toml
  sconstruct
  user_docs/en/changes.md
Due: none

Update miscDeps reference
  pyproject.toml
  uv.lock
Due: none

move required packages from l10n and docs to the dependencies section
  pyproject.toml
  uv.lock
Due: none

Pre-commit, add yaml and toml for trailing whitespace
  .github/workflows/regenerate_english_userDocs_translation_source.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Restore empty line
  pyproject.toml
Due: none

.python-version > .python-versions
  .pre-commit-config.yaml
  .python-versions
Due: none

Remove markdown-link-attr-modifier since we no longer check runtime deps
  pyproject.toml
Due: none

Move mdx_truly_sane_lists
  pyproject.toml
  uv.lock
Due: none

Revert "Remove markdown-link-attr-modifier since we no longer check runtime deps"
  pyproject.toml
Due: none

more moving
  pyproject.toml
  uv.lock
Due: none

Report spelling errors with a sound while reading
  source/config/configFlags.py
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/speech/speech.py
  user_docs/en/userGuide.md
Due: checkPot

Change log
  user_docs/en/changes.md
Due: none

Update gestures.ini for Finnish
  source/locale/fi/gestures.ini
Due: none

Update gestures.ini for Finnish (#17998)
  source/locale/fi/gestures.ini
Due: none

User guide style
  user_docs/en/userGuide.md
Due: none

Use send instead of push
  source/_remoteClient/client.py
  source/_remoteClient/cues.py
  source/_remoteClient/menu.py
Due: checkPot

Translator comments
  source/_remoteClient/cues.py
  source/_remoteClient/dialogs.py
  source/_remoteClient/menu.py
  source/core.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
Due: checkPot

Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

Don't automatically return control when disconnecting, but report that no clients are connected
  source/_remoteClient/client.py
  source/_remoteClient/session.py
Due: checkPot

Fix pre-commit rework - adding tailing comma
  source/config/profileUpgradeSteps.py
Due: checkPot

Check error level for winget install
  ensureuv.bat
Due: none

Change SAPI4 initial buffer space calculation algorithm
  source/synthDrivers/sapi4.py
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Disallow initiating a new Remote Access session when in Secure Mode (#17968)
  source/_remoteClient/client.py
  source/_remoteClient/menu.py
  source/globalCommands.py
  user_docs/en/userGuide.md
Due: checkPot

Apply suggestions from code review
  source/_remoteClient/client.py
  source/_remoteClient/cues.py
  source/_remoteClient/dialogs.py
  source/_remoteClient/menu.py
  source/globalCommands.py
Due: checkPot

Fix up terminology in user guide
  user_docs/en/userGuide.md
Due: none

Update .python-versions
  .python-versions
Due: none
