Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Make system restart the secondary action in the post-update dialog to avoid potential data loss
  source/gui/installerGui.py
Due: checkPot

Update CodeQL workflow to include additional languages (#20137)
  .github/workflows/codeql.yml
Due: none

feat: add braille text wrap modes with continuation marks
  source/braille.py
  source/config/__init__.py
  source/config/configSpec.py
  source/config/featureFlagEnums.py
  source/config/profileUpgradeSteps.py
  source/gui/settingsDialogs.py
  tests/unit/test_braille/test_calculateWindowRowBufferOffsets.py
  tests/unit/test_braille/test_windowBrailleCells.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

refactor(braille): fold continuation flag into row offset tuples
  source/braille.py
  source/config/profileUpgradeSteps.py
  tests/unit/test_braille/test_calculateWindowRowBufferOffsets.py
  tests/unit/test_braille/test_windowBrailleCells.py
Due: checkPot

Docs fixes for 2026.2
  projectDocs/dev/developerGuide/developerGuide.md
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Again undo deletion of wordWrap key, deprecation doesn't mean removal per se
  source/config/__init__.py
  source/config/profileUpgradeSteps.py
Due: checkPot

further fixes to changes
  user_docs/en/changes.md
Due: none

review issue/PR nums
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

fix(braille): correct upgrade step docstring
  source/config/profileUpgradeSteps.py
Due: checkPot

Fix secrets logging
  source/logHandler.py
Due: checkPot

Fix unit tests
  tests/unit/test_logHandler.py
Due: none

Fix typo in code
  source/NVDAObjects/behaviors.py
Due: checkPot

Address word segmentation review feedback
  source/NVDAObjects/window/edit.py
  source/braille.py
  source/config/featureFlagEnums.py
  source/core.py
  source/displayModel.py
  source/gui/settingsDialogs.py
  source/textUtils/segFlag.py
  source/textUtils/wordSeg/__init__.py
  tests/unit/test_braille/test_routing.py
  tests/unit/test_textInfos.py
Due: checkPot

Fix braille offset converter test helper signature
  tests/unit/test_braille/test_routing.py
Due: none

Move Chinese word segmentation changelog entries
  user_docs/en/changes.md
Due: none

Add isSpeaking function to NVDA controller client
  nvdaHelper/client/client.cpp
  nvdaHelper/client/nvdaControllerClient.def
  nvdaHelper/interfaces/nvdaController/nvdaController.acf
  nvdaHelper/interfaces/nvdaController/nvdaController.idl
  nvdaHelper/local/nvdaController.cpp
  nvdaHelper/local/nvdaHelperLocal.def
  nvdaHelper/local/rpcSrv.cpp
  source/NVDAHelper/__init__.py
  source/speech/__init__.py
  source/speech/speech.py
Due: scons-source, checkPot

Fix secrets logging (#20174)
  source/logHandler.py
  tests/unit/test_logHandler.py
Due: checkPot

Update source/NVDAObjects/behaviors.py
  source/NVDAObjects/behaviors.py
Due: checkPot

Add type hints and fix translation failures
  source/NVDAObjects/behaviors.py
Due: checkPot

Address Sean follow-up review comments
  source/braille.py
  source/textUtils/wordSeg/__init__.py
  tests/unit/test_braille/test_routing.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fix word segmentation initializer unit test
  tests/unit/test_textUtils.py
Due: none

Guess at type annotation for _reportNewLinesGenID
  source/NVDAObjects/behaviors.py
Due: checkPot

suggested fixes
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Apply suggestions from code review
  source/NVDAObjects/behaviors.py
Due: checkPot

Add type hints to word segmentation initializer test
  tests/unit/test_textUtils.py
Due: none

Update change log and fix typing hints
  source/NVDAObjects/behaviors.py
  user_docs/en/changes.md
Due: checkPot

Address review feedback for Chinese word segmentation (#20178)
  .github/workflows/codeql.yml
  .github/workflows/testAndPublish.yml
  ci/scripts/setSconsArgs.ps1
  pyproject.toml
  source/NVDAObjects/window/edit.py
  source/braille.py
  source/config/featureFlagEnums.py
  source/core.py
  source/displayModel.py
  source/gui/settingsDialogs.py
  source/setup.py
  source/textUtils/hyphenation.py
  source/textUtils/segFlag.py
  source/textUtils/wordSeg/__init__.py
  tests/unit/test_braille/test_routing.py
  tests/unit/test_hyphenation.py
  tests/unit/test_textInfos.py
  tests/unit/test_textUtils.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
  uv.lock
Due: checkPot, licenseCheck

Address review comments
  source/braille.py
  source/config/featureFlagEnums.py
  source/gui/settingsDialogs.py
  tests/unit/test_braille/test_calculateWindowRowBufferOffsets.py
  tests/unit/test_braille/test_windowBrailleCells.py
  user_docs/en/userGuide.md
Due: checkPot

Potential fix for pull request finding
  user_docs/en/changes.md
Due: none

Final review actions for copilot
  source/config/profileUpgradeSteps.py
  tests/unit/test_braille/test_calculateWindowRowBufferOffsets.py
Due: checkPot

Squashed commit of the following:
  .gitattributes
  .github/workflows/testAndPublish.yml
  .gitignore
  .gitmodules
  copying.txt
  include/readme.md
  nvdaHelper/archBuild_sconscript
  nvdaHelper/cppjieba/cppjieba.cpp
  nvdaHelper/cppjieba/cppjieba.def
  nvdaHelper/cppjieba/cppjieba.hpp
  nvdaHelper/cppjieba/sconscript
  projectDocs/dev/createDevEnvironment.md
  source/NVDAObjects/window/edit.py
  source/braille.py
  source/config/configSpec.py
  source/config/featureFlagEnums.py
  source/core.py
  source/displayModel.py
  source/gui/settingsDialogs.py
  source/setup.py
  source/textInfos/offsets.py
  source/textUtils/__init__.py
  source/textUtils/segFlag.py
  source/textUtils/wordSeg/__init__.py
  source/textUtils/wordSeg/wordSegStrategy.py
  source/textUtils/wordSeg/wordSegUtils.py
  tests/unit/test_braille/test_routing.py
  tests/unit/test_textInfos.py
  tests/unit/test_textUtils.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: scons-source, checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Review 2026.2 changelog documentation changes (#20175)
  projectDocs/dev/developerGuide/developerGuide.md
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

increase magnifier zoom level and change zoom to percentages
  source/_magnifier/config.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  source/gui/nvdaControls.py
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

remove redunant control
  source/gui/nvdaControls.py
  source/gui/settingsDialogs.py
Due: checkPot

review feedback fixes
  source/_magnifier/commands.py
  source/_magnifier/config.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/spotlightManager.py
  source/config/profileUpgradeSteps.py
  source/gui/nvdaControls.py
  tests/unit/test_magnifier/test_spotlightManager.py
Due: checkPot

fix docs
  user_docs/en/userGuide.md
Due: none
