Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Slight reorganisation in some methods.
  source/gui/messageDialog.py
Due: checkPot

Code documentation improvements.
  source/gui/messageDialog.py
Due: checkPot

Move _LinkData
  source/NVDAObjects/__init__.py
  source/NVDAObjects/window/excel.py
  source/NVDAObjects/window/winword.py
  source/appModules/powerpnt.py
  source/textInfos/__init__.py
  source/treeInterceptorHandler.py
  source/utils/urlUtils.py
Due: checkPot

Changed a message in input helm mode for speak command keys command
  source/globalCommands.py
Due: checkPot

Changed a message in input helm mode for speak command keys command (#17472)
  source/globalCommands.py
Due: checkPot

Docstring for MessageDialog._commands
  source/gui/messageDialog.py
Due: checkPot

Improved logic for whether dialogs are blocking
  source/gui/messageDialog.py
Due: checkPot

Added callback field to gui.blockAction._Context, and refactored the dialog check to use same.
  source/gui/blockAction.py
Due: checkPot

Allow associating ComboBoxes to labels
  source/gui/guiHelper.py
Due: checkPot

Code style and documentation for gui.guiHelper.wxCallOnMain.
  source/gui/guiHelper.py
Due: checkPot

Code clean up and documentation improvements to gui.message.messageBox.
  source/gui/message.py
Due: checkPot

Documentation improvements to gui.nvdaControls.MessageDialog
  source/gui/nvdaControls.py
Due: checkPot

Removed old gui.nvdaControls.MessageDialog code.
  source/gui/nvdaControls.py
Due: checkPot

Update to liblouis 3.32
  nvdaHelper/liblouis/strings.h
  user_docs/en/changes.md
Due: scons-source

Add ability to disable the masking of passwords while typing
  source/api.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fix messages
  source/globalCommands.py
Due: checkPot

Added commit references to changes
  user_docs/en/changes.md
Due: none

Fixed type hints for MethodCall
  tests/unit/test_messageDialog.py
Due: none

Changed getDialogState to return a dictionary of button IDs and their labels
  tests/unit/test_messageDialog.py
Due: none

Fixed return from getDialogState
  tests/unit/test_messageDialog.py
Due: none

Added tests for setting button labels.
  tests/unit/test_messageDialog.py
Due: none

Update to liblouis 3.32 (#17469)
  nvdaHelper/liblouis/strings.h
  user_docs/en/changes.md
Due: scons-source

Add new extension points for keyboard input and speech pause (#17428)
  projectDocs/dev/developerGuide/developerGuide.md
  source/inputCore.py
  source/keyboardHandler.py
  source/speech/__init__.py
  source/speech/extensions.py
  source/speech/speech.py
  tests/unit/test_speech.py
  user_docs/en/changes.md
Due: checkPot

Parameterised tests of setIcon and playSound to cover all dialog types.
  tests/unit/test_messageDialog.py
Due: none

Updated Ruff in requirements.txt
  requirements.txt
Due: licenseCheck

Updated changes
  user_docs/en/changes.md
Due: none

Address review
  source/api.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Apply suggestions from code review
  source/globalCommands.py
  user_docs/en/userGuide.md
Due: checkPot

Update CLDR to version 46.0
  projectDocs/dev/createDevEnvironment.md
  user_docs/en/changes.md
Due: none

Fixed test name
  tests/unit/test_messageDialog.py
Due: none

Added test for adding buttons with custom overrides.
  tests/unit/test_messageDialog.py
Due: none

Removed use of deprecated log.warn
  source/gui/messageDialog.py
Due: checkPot

Added test for adding buttons with non-unique IDs
  tests/unit/test_messageDialog.py
Due: none

Fixed use of FindWindowById to FindWindow(id)
  source/gui/messageDialog.py
Due: checkPot

Added tests for setting default focus.
  tests/unit/test_messageDialog.py
Due: none

Fixed other syntax error
  source/globalCommands.py
Due: checkPot

Removed unnecessary error case from _getFallbackAction
  source/gui/messageDialog.py
Due: checkPot

Fixed logic for when the default focus is not in command registry
  source/gui/messageDialog.py
Due: checkPot

Added further fallback action tests
  tests/unit/test_messageDialog.py
Due: none

Added more tests for setting button labels
  tests/unit/test_messageDialog.py
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
