Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

.pre-commit-config.yaml:

exclude: ^user_docs/(?!en/).*$

# https://pre-commit.ci/
# Configuration for Continuous Integration service
ci:
  # Can't run Windows scripts on Linux
  # These also do not apply fixes, only run tests
  skip: [scons-source, checkPot, unitTest, licenseCheck]
  autoupdate_schedule: monthly
  autoupdate_commit_msg: "Pre-commit auto-update"
  autofix_commit_msg: "Pre-commit auto-fix"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    # Prevents commits to certain branches
    - id: no-commit-to-branch
      args: ["--branch", "master", "--branch", "beta", "--branch", "rc"]
    # Checks python syntax
    - id: check-ast
      # File uses encoding not supported in Linux
      exclude: source/comInterfaces/_944DE083_8FB8_45CF_BCB7_C477ACB2F897_0_1_0.py
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: debug-statements
    - id: trailing-whitespace
      types_or: [python, c, c++, batch, markdown]
    - id: end-of-file-fixer
      types_or: [python, c, c++, batch, markdown]
    - id: fix-byte-order-marker
      types_or: [python, c, c++, batch, markdown]
    - id: check-toml
    - id: check-yaml
    - id: check-xml
    - id: check-vcs-permalinks
    - id: name-tests-test
      args: ["--unittest"]
      # Exclude Python files under `tests/` that aren't unittest files.
      # This is a Python verbose regular expression.
      # See https://docs.python.org/3/library/re.html#re.VERBOSE
      exclude: |
        (?x)^tests/(
          checkPot.py |  # Doesn't use unittest
          system |  # Uses robot
          unit/ (
            # Test helpers
            textProvider.py |
            extensionPointTestHelpers.py |
            objectProvider.py |
            test_speechManager/speechManagerTestHarness.py
          )
        )

- repo: https://github.com/asottile/add-trailing-comma
  rev: v3.1.0
  hooks:
  # Ruff preserves indent/new-line formatting of function arguments, list items, and similar iterables,
  # if a trailing comma is added.
  # This adds a trailing comma to args/iterable items in case it was missed.
  - id: add-trailing-comma

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Matches Ruff version in requirements.
  rev: v0.5.6
  hooks:
    - id: ruff
      name: lint with ruff
      args: [ --fix ]
    - id: ruff-format
      name: format with ruff

- repo: local
  hooks:
    - id: scons-source
      name: build c/c++ files
      entry: cmd.exe /c "scons source --all-cores"
      language: system
      pass_filenames: false
      types_or: [c, c++]
    - id: checkPot
      name: translation string check
      entry: cmd.exe /c "scons checkPot --all-cores"
      language: system
      pass_filenames: false
      types: [python]
      files: ^source/.*$
    - id: unitTest
      name: unit tests
      entry: ./rununittests.bat
      language: script
      pass_filenames: false
      types_or: [python, c, c++, batch]
    - id: licenseCheck
      name: Check license compatibility of pip dependencies
      files: ^(requirements\.txt|runlicensecheck\.bat)$
      entry: ./runlicensecheck.bat
      language: script
      pass_filenames: false

English user guide: add temporary string to cause xliff regeneration. (#17097)
  user_docs/en/userGuide.md
Due: none

Applying suggestions from code reviews
  source/addonStore/models/addon.py
Due: checkPot

Moved helper function down
  source/addonStore/dataManager.py
Due: checkPot

Added helpful messages
  source/addonStore/dataManager.py
Due: checkPot

Fixed case
  source/addonStore/network.py
Due: checkPot

Added change log entry
  user_docs/en/changes.md
Due: none

Renamed settings controls
  source/gui/settingsDialogs.py
Due: checkPot

Added documentation
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Renamed `BASE_URL` to `_DEFAULT_BASE_URL`
  source/addonStore/network.py
Due: checkPot

Added note to changes for developers
  user_docs/en/changes.md
Due: none

user docs github action: push to Github using an ssh deploy key
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Test string
  user_docs/en/userGuide.md
Due: none

Update source/addonStore/models/addon.py
  source/addonStore/models/addon.py
Due: checkPot

test string
  user_docs/en/userGuide.md
Due: none

user docs github action: run on this branch
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

user docs github action: fix syntx
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

remove test string
  user_docs/en/userGuide.md
Due: none

Restore userGuide.xliff to beta
  user_docs/en/userGuide.xliff
Due: none

user docs github action: remove test branch rule
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Restore userGuide.md to beta
  user_docs/en/userGuide.md
Due: none

user docs github action: fix indenting
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Apply suggestions from code review
  source/addonStore/models/addon.py
  user_docs/en/changes.md
Due: checkPot

Address review
  source/NVDAObjects/UIA/chromium.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
Due: checkPot

Fix system tests
  tests/system/nvdaSettingsFiles/standard-dontShowWelcomeDialog.ini
Due: none

Update projectDocs/dev/copyrightHeaders.md
  projectDocs/dev/copyrightHeaders.md
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Refactored the COM Registration Fixing Tool to fix bugs and improve UX.
  source/gui/__init__.py
Due: checkPot

changes
  user_docs/en/changes.md
Due: none

String reformatting
  source/gui/__init__.py
Due: checkPot

Remove old imports
  source/gui/__init__.py
Due: checkPot

User docs github action: push via ssh / deploy key (#17100)
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

English user guide: remove stest string for forcing rebuild
  user_docs/en/userGuide.md
Due: none

update ruff elsewhre
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

English user guide: remove stest string for forcing rebuild (#17103)
  user_docs/en/userGuide.md
Due: none
