Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

copilot revie
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
Due: checkPot

Github CI again tells Scons to build with all cores. This should be safe enough now.
  ci/scripts/setSconsArgs.ps1
Due: none

Remove duplicate screen curtain checks.
  source/_magnifier/fullscreenMagnifier.py
Due: checkPot

Type hint: Added `@override` annotation.
  source/_magnifier/fullscreenMagnifier.py
Due: checkPot

fix tyype hint
  source/_magnifier/commands.py
Due: checkPot

Remove redundant `return`
  source/_magnifier/commands.py
Due: checkPot

rename filter variable to currentFilter, Because it shadows a builtin functions.
  source/_magnifier/commands.py
Due: checkPot

Avoid bundling duplicate libmathcat_py.pyd
  source/setup.py
Due: checkPot

Update changes
  user_docs/en/changes.md
Due: none

Apply suggestion from @seanbudd
  user_docs/en/changes.md
Due: none

Update symbols for Finnish
  source/locale/fi/symbols.dic
Due: none

Include only assets/Rules
  source/setup.py
Due: checkPot

sconstruct: ensure that launcher and uninstaller can build when not requiring signing, by inserting the signing action only if signing is enabled.
  sconstruct
Due: none

Apply suggestion from @seanbudd
  user_docs/en/userGuide.md
Due: none

Add sequential two-flick touch gestures
  source/touchHandler.py
  source/touchTracker.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Enhance punctuation handling in segmentedText method to include additional Unicode (e.g. braille) categories
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

Don't unnecessarily repeat row and column headers when navigating ARIA grids in focus mode.
  source/browseMode.py
  source/virtualBuffers/gecko_ia2.py
Due: checkPot

Update What's New
  user_docs/en/changes.md
Due: none

move to separate packageID for RC
  .github/workflows/testAndPublish.yml
Due: none

Don't use IA2TextTextInfo on the web for object review and read line.
  source/NVDAObjects/IAccessible/ia2Web.py
  source/NVDAObjects/__init__.py
  source/globalCommands.py
  source/review.py
  user_docs/en/changes.md
Due: checkPot

When NVDA is started, display in braille if screen curtain is enabled
  source/core.py
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

Potential fix for pull request finding
  source/core.py
Due: checkPot

Reset projectDocs
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
  projectDocs/issues/readme.md
Due: none

Display the state of screen curtain regardless of playing sound configuration when NVDA is started
  source/core.py
Due: checkPot

env.copyAndSign now expects a single file node as source. All calls of this method have been changed to pass a single file, and then Install any remaining files separately.
  nvdaHelper/archBuild_sconscript
  nvdaHelper/liblouis/sconscript
  sconstruct
Due: none

Fixup merge master into Chinese Word Segmentation (#20055)
  nvdaHelper/cppjieba/cppjieba.cpp
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
  projectDocs/issues/readme.md
  source/braille.py
  source/config/configSpec.py
  source/textInfos/offsets.py
  source/textUtils/__init__.py
  source/textUtils/wordSeg/__init__.py
  source/textUtils/wordSeg/wordSegStrategy.py
  source/textUtils/wordSeg/wordSegUtils.py
  tests/unit/test_braille/test_routing.py
  tests/unit/test_textInfos.py
  tests/unit/test_textUtils.py
Due: scons-source, checkPot

Potential fix for pull request finding
  sconstruct
Due: none

Fix error when a synthesizer don't expose available languages
  source/synthDriverHandler.py
Due: checkPot

typo fixes
  source/_magnifier/config.py
  user_docs/en/userGuide.md
Due: checkPot

add table
  user_docs/en/userGuide.md
Due: none

Addition of behaviors.py and _powerTracking.py files
  source/NVDAObjects/behaviors.py
  source/winAPI/_powerTracking.py
Due: checkPot

improve initialization/termination
  source/_magnifier/__init__.py
  source/_magnifier/commands.py
  source/core.py
Due: checkPot

safer toggle
  source/gui/settingsDialogs.py
Due: checkPot

fix persistence
  source/_magnifier/__init__.py
  source/_magnifier/fullscreenMagnifier.py
Due: checkPot

Start 2026.3 release cycle
  source/buildVersion.py
  user_docs/en/changes.md
Due: checkPot

Remove reverted settings dialog debounce changes
  source/browseMode.py
  source/gui/settingsDialogs.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
