Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

.pre-commit-config.yaml:

exclude: ^user_docs/(?!en/).*$

# https://pre-commit.ci/
# Configuration for Continuous Integration service
ci:
  # Can't run Windows scripts on Linux
  # These also do not apply fixes, only run tests
  skip: [scons-source, checkPot, unitTest, licenseCheck]
  autoupdate_schedule: monthly
  autoupdate_commit_msg: "Pre-commit auto-update"
  autofix_commit_msg: "Pre-commit auto-fix"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    # Prevents commits to certain branches
    - id: no-commit-to-branch
      args: ["--branch", "master", "--branch", "beta", "--branch", "rc"]
    # Checks python syntax
    - id: check-ast
      # File uses encoding not supported in Linux
      exclude: source/comInterfaces/_944DE083_8FB8_45CF_BCB7_C477ACB2F897_0_1_0.py
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: debug-statements
    - id: trailing-whitespace
      types_or: [python, c, c++, batch, markdown]
    - id: end-of-file-fixer
      types_or: [python, c, c++, batch, markdown]
    - id: fix-byte-order-marker
      types_or: [python, c, c++, batch, markdown]
    - id: check-toml
    - id: check-yaml
    - id: check-xml
    - id: check-vcs-permalinks
    - id: name-tests-test
      args: ["--unittest"]
      # Exclude Python files under `tests/` that aren't unittest files.
      # This is a Python verbose regular expression.
      # See https://docs.python.org/3/library/re.html#re.VERBOSE
      exclude: |
        (?x)^tests/(
          checkPot.py |  # Doesn't use unittest
          system |  # Uses robot
          unit/ (
            # Test helpers
            textProvider.py |
            extensionPointTestHelpers.py |
            objectProvider.py |
            test_speechManager/speechManagerTestHarness.py
          )
        )

- repo: https://github.com/asottile/add-trailing-comma
  rev: v3.1.0
  hooks:
  # Ruff preserves indent/new-line formatting of function arguments, list items, and similar iterables,
  # if a trailing comma is added.
  # This adds a trailing comma to args/iterable items in case it was missed.
  - id: add-trailing-comma

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Matches Ruff version in requirements.
  rev: v0.5.6
  hooks:
    - id: ruff
      name: lint with ruff
      args: [ --fix ]
    - id: ruff-format
      name: format with ruff

- repo: local
  hooks:
    - id: scons-source
      name: build c/c++ files
      entry: cmd.exe /c "scons source --all-cores"
      language: system
      pass_filenames: false
      types_or: [c, c++]
    - id: checkPot
      name: translation string check
      entry: cmd.exe /c "scons checkPot --all-cores"
      language: system
      pass_filenames: false
      types: [python]
      files: ^source/.*$
    - id: unitTest
      name: unit tests
      entry: ./rununittests.bat
      language: script
      pass_filenames: false
      types_or: [python, c, c++, batch]
    - id: licenseCheck
      name: Check license compatibility of pip dependencies
      files: ^(requirements\.txt|runlicensecheck\.bat)$
      entry: ./runlicensecheck.bat
      language: script
      pass_filenames: false

Update tests/unit/test_util/test_urlUtils.py
  tests/unit/test_util/test_urlUtils.py
Due: none

Restored accidentally deleted 2024.4 changes entry
  user_docs/en/changes.md
Due: none

Add-on Store: Added the action to cancel the install of a add-on when it is being downloaded. (#16671)
  source/addonStore/models/addon.py
  source/addonStore/network.py
  source/gui/addonStoreGui/controls/actions.py
  source/gui/addonStoreGui/viewModels/addonList.py
  source/gui/addonStoreGui/viewModels/store.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Add ability to recognize links to the same page (#16994)
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
  source/NVDAObjects/IAccessible/ia2Web.py
  source/NVDAObjects/UIA/chromium.py
  source/NVDAObjects/__init__.py
  source/braille.py
  source/browseMode.py
  source/config/configSpec.py
  source/controlTypes/processAndLabelStates.py
  source/controlTypes/state.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/utils/urlUtils.py
  source/virtualBuffers/gecko_ia2.py
  tests/system/nvdaSettingsFiles/standard-dontShowWelcomeDialog.ini
  tests/unit/test_util/test_urlUtils.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: scons-source, checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Fix not being able to install incompatible add-ons after canceling them
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Handle the case where source drive and cwd drive differ
  user_docs/markdownTranslate.py
Due: none

Apply Sean's proposed language to replace the "...power user..." reference.
  source/gui/__init__.py
Due: checkPot

One more try at NVDA style method definition indenting.
  source/gui/utilityDialogs.py
Due: checkPot

Update codingStandards to remove instruction to double indent function parameters, and to note instructions for nameing scripts.
  projectDocs/dev/codingStandards.md
Due: none

Disable unicode normalization in system tests
  tests/system/nvdaSettingsFiles/standard-doShowWelcomeDialog.ini
  tests/system/nvdaSettingsFiles/standard-dontShowExitDialog.ini
  tests/system/nvdaSettingsFiles/standard-dontShowWelcomeDialog.ini
Due: none

More e.g. twists.
  projectDocs/dev/codingStandards.md
Due: none

Changes
  user_docs/en/changes.md
Due: none

Handle the case where source drive and cwd drive differ (#17125)
  user_docs/markdownTranslate.py
Due: none

Disable reporting of link type by default
  source/config/configSpec.py
Due: checkPot

Update what's new
  user_docs/en/changes.md
Due: none

Change size of fields to show date
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Improve add-on list
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Don't use self.SortItem
  source/gui/addonStoreGui/controls/addonList.py
Due: checkPot

Show indicatorwhen columns are reordered
  source/gui/addonStoreGui/controls/addonList.py
Due: checkPot

Write to log info about sort indicator
  source/gui/addonStoreGui/controls/addonList.py
Due: checkPot

Use displayName as fallback field when date isn't available
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

L10n updates for: nl From translation svn revision: 83427
  user_docs/nl/changes.md
Due: none

L10n updates for: ru From translation svn revision: 83427
  source/locale/ru/symbols.dic
Due: none

Use fallback field
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

provide a cli option to disable dictionaries processing
  source/globalVars.py
  source/gui/speechDict.py
  source/nvda.pyw
Due: checkPot

user doc
  user_docs/en/userGuide.md
Due: none

L10n updates for: nl From translation svn revision: 83469
  user_docs/nl/changes.md
Due: none

L10n updates for: ta From translation svn revision: 83469
  user_docs/ta/userGuide.md
Due: none

Use display name for defaultorder
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Improvements
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Create msbuild.yml
  .github/workflows/msbuild.yml
Due: none

Add ability to sort by column the add-ons list in the store
  source/gui/addonStoreGui/controls/storeDialog.py
Due: checkPot

Change accelerator for short by column
  source/gui/addonStoreGui/controls/storeDialog.py
Due: checkPot

Add info to the user guide
  user_docs/en/userGuide.md
Due: none

Update changelog
  user_docs/en/changes.md
Due: none

Select and sort by the first column on tab change
  source/gui/addonStoreGui/controls/storeDialog.py
Due: checkPot

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Add documentation for manual testing
  tests/manual/addonStore.md
Due: none
