Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Add a note about using markdown for changelog in the developer guide
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

NVDAObjects.IAccessible.sysListView32: update copyright header. Re #18706
  source/NVDAObjects/IAccessible/sysListView32.py
Due: checkPot

SysListView32 structures: ctypes.c_void_p -> ctypes.c_ulong. Re #18706.
  source/NVDAObjects/IAccessible/sysListView32.py
Due: checkPot

Improve readability
  source/addonStore/models/addon.py
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

type hint
  source/globalCommands.py
Due: checkPot

Fix syntax error
  source/NVDAObjects/UIA/__init__.py
  source/config/configFlags.py
Due: checkPot

Fix missing import
  source/NVDAObjects/behaviors.py
Due: checkPot

One more attempt to fix translators comment!
  source/config/configFlags.py
Due: checkPot

Init processHandle
  source/appModuleHandler.py
Due: checkPot

Fix browseable message title for changelog in Updatable add-ons dialog
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

Update user guide
  user_docs/en/userGuide.md
Due: none

Update changelog
  user_docs/en/changes.md
Due: none

Update developer changes mentioning markdown for changelog
  user_docs/en/changes.md
Due: none

winVersion: record build 26200 as Windows 11 25H2
  source/winVersion.py
Due: checkPot

winVersion: add Windows 11 25H2 constant (enablement package on top of 24H2)
  source/winVersion.py
Due: checkPot

AppX: set last tested version in the manifest to 10.0.26200.0
  appx/manifest.xml.subst
Due: none

Bind to autodetect
  source/braille.py
  user_docs/en/changes.md
Due: checkPot

Fix both reporting modes
  source/speech/speech.py
Due: checkPot

Record Windows version 10.0.26200 as Windows 11 25H2 (#18841)
  appx/manifest.xml.subst
  source/winVersion.py
Due: checkPot

Apply suggestions from code review
  source/NVDAHelper/__init__.py
  source/audioDucking.py
  source/oleacc.py
Due: checkPot

Apply suggestions from code review
  source/objbase.py
Due: checkPot

Update source/locale/tr/gestures.ini
  source/locale/tr/gestures.ini
Due: none

Turkish gestures added navigatorObject bindings (#18832)
  source/locale/tr/gestures.ini
Due: none

Update copying.txt
  copying.txt
Due: none

initialize modelConfig in _localCaptioner.initialize(); named unname anonymous thread
  source/_localCaptioner/__init__.py
  source/_localCaptioner/captioner.py
  source/_localCaptioner/imageDescriber.py
  source/_localCaptioner/modelConfig.py
  source/_localCaptioner/modelDownloader.py
  source/gui/_localCaptioner/messageDialogs.py
  tests/system/nvdaSettingsFiles/standard-doLoadMockModel.ini
  tests/unit/test_localCaptioner/test_captioner.py
  user_docs/en/changes.md
Due: checkPot

Apply suggestions from code review
  source/appModuleHandler.py
  source/oleacc.py
Due: checkPot

Update source/NVDAObjects/window/edit.py
  source/NVDAObjects/window/edit.py
Due: checkPot

Apply suggestions from code review
  nvdaHelper/archBuild_sconscript
  nvdaHelper/uwp/sconscript
Due: none

correct coding standard in test file;simplify modelDownloader and remove useless feature
  source/_localCaptioner/modelDownloader.py
  tests/system/libraries/SystemTestSpy/mockModels.py
  tests/unit/test_localCaptioner/test_captioner.py
  tests/unit/test_localCaptioner/test_downloader.py
Due: checkPot

use lowerCamelCase for variable names
  source/_localCaptioner/captioner.py
  source/_localCaptioner/imageDescriber.py
  tests/system/libraries/SystemTestSpy/configManager.py
  tests/system/libraries/SystemTestSpy/mockModels.py
Due: checkPot

Fix errors sorting add-ons
  source/gui/addonStoreGui/controls/details.py
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Update liblouis to 3.35.0
  projectDocs/dev/createDevEnvironment.md
  user_docs/en/changes.md
Due: none

Changelog
  user_docs/en/changes.md
Due: none

ART crypto
  pyproject.toml
  source/art/crypto/__init__.py
  source/art/crypto/serializers.py
  source/art/manager.py
  source/nvda_art.pyw
  uv.lock
Due: checkPot, licenseCheck

Handle bytearrays as well
  source/art/crypto/serializers.py
  source/art/manager.py
  source/nvda_art.pyw
Due: checkPot

Redact encryption key
  source/art/manager.py
Due: checkPot

Update ART design document to include the encryption we settled on
  projectDocs/design/art-design.md
Due: none

Modernize installer and reg key usage
  source/NVDAState.py
  source/addonHandler/__init__.py
  source/config/registry.py
  source/gui/addonStoreGui/controls/storeDialog.py
  source/gui/installerGui.py
  source/installer.py
  source/winBindings/advapi32.py
Due: checkPot
