Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Update copyright headers for addon handler files
  source/addonHandler/AddonBundle.py
  source/addonHandler/AddonManifest.py
  source/addonHandler/addon.py
  source/addonHandler/addonBase.py
  source/addonHandler/addonState.py
  source/addonHandler/addonVersionCheck.py
Due: checkPot

docs: Update docstrings to use Sphinx format with type annotations
  source/addonHandler/AddonBundle.py
Due: checkPot

docs: Update docstrings to use Sphinx format with type annotations
  source/addonHandler/addon.py
  source/addonHandler/addonState.py
Due: checkPot

Move AddonsState class to a dedicated module
  source/addonHandler/__init__.py
  source/addonHandler/addonState.py
  source/addonStore/models/status.py
Due: checkPot

refactor: Split addon code into separate modules
  source/addonHandler/AddonBundle.py
  source/addonHandler/AddonManifest.py
  source/addonHandler/__init__.py
  source/addonHandler/addonBase.py
  source/addonStore/install.py
  source/addonStore/models/addon.py
  source/brailleTables.py
  source/gui/addonGui.py
  source/gui/addonStoreGui/viewModels/store.py
  source/updateCheck.py
Due: checkPot

docs: Update docstrings to use Sphinx format with type annotations
  source/addonHandler/addon.py
Due: checkPot

typing
  source/addonHandler/addon.py
Due: checkPot

Types
  source/addonHandler/__init__.py
Due: checkPot

docs: Update docstrings to use Sphinx format with type annotations
  source/addonHandler/__init__.py
Due: checkPot

Clean up naming
  source/gui/addonGui.py
  source/gui/addonStoreGui/viewModels/store.py
  source/out
Due: checkPot

Sort __all__
  source/addonHandler/__init__.py
Due: checkPot

Check run scons source when requirements.txt is changed
  requirements.txt
Due: licenseCheck

Check failures for all test workflows
  pyproject.toml
  source/globalCommands.py
  tests/system/robot/symbolPronunciationTests.py
  tests/unit/test_addonHandler/test_addonsState.py
Due: checkPot

Don't run git restore in nvdaBuilder
  nvdaBuilder/action.yml
Due: none

Revert "Don't run git restore in nvdaBuilder"
  nvdaBuilder/action.yml
Due: none

Cache just virtualenv
  nvdaBuilder/action.yml
Due: none

Checkout head commit on PR
  .github/workflows/checkPot.yml
Due: none

Checkout head sha on PR
  .github/workflows/checkPot.yml
Due: none

Fix workflow
  .github/workflows/checkPot.yml
Due: none

Try to checkout modules recursively
  .github/workflows/checkPot.yml
Due: none

Test checkout all branches
  .github/workflows/checkPot.yml
Due: none

Checkout head ref
  .github/workflows/checkPot.yml
Due: none

Checkout origin/head_ref
  .github/workflows/checkPot.yml
Due: none

Try to fix checkpot workflow
  .github/workflows/checkPot.yml
Due: none

Try to fix checkout in checkpot workflow
  .github/workflows/checkPot.yml
Due: none

Try to fix checkpot workflow using condition
  .github/workflows/checkPot.yml
Due: none

Implement an extension point deprecation strategy (#17644)
  projectDocs/dev/deprecations.md
  source/braille.py
  source/brailleViewer/__init__.py
  source/extensionPoints/util.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/unit/__init__.py
  tests/unit/extensionPointTestHelpers.py
  tests/unit/test_braille/test_handlerExtensionPoints.py
Due: checkPot

Remove lint from AppVeyor (#17745)
  appveyor.yml
  appveyor/README.md
  appveyor/scripts/tests/lintCheck.ps1
Due: none

Update .github/ISSUE_TEMPLATE/developer_facing_changes.md
  .github/ISSUE_TEMPLATE/developer_facing_changes.md
Due: none

Add a developer task issue template (#17769)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/developer_facing_changes.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/special_case_issue.md
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
Due: none

Add verbose debug log for SAPI4 (#17774)
  source/synthDrivers/sapi4.py
Due: checkPot

Revert "Download without duplicates to override incompatibilities. (#17717)" (#17778)
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

L10n updates for: zh_TW From translation svn revision: 84656
  source/locale/zh_TW/characterDescriptions.dic
Due: none

Added screen curtain c++ which I apparently forgot yesterday
  nvdaHelper/local/screenCurtain.cpp
Due: scons-source

Revert "Revert "Download without duplicates to override incompatibilities. (#…"
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Update local relay server certificate
  source/remoteClient/server.py
Due: checkPot

Update changes
  user_docs/en/changes.md
Due: none

Add unit tests for AddonBundle module
  tests/unit/test_addonHandler/test_addonBundle.py
Due: none

'Styling
  source/addonHandler/AddonBundle.py
  source/addonHandler/addonState.py
  source/addonStore/models/status.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
