Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

.pre-commit-config.yaml:

exclude: ^user_docs/(?!en/).*$

# https://pre-commit.ci/
# Configuration for Continuous Integration service
ci:
  # Can't run Windows scripts on Linux
  # These also do not apply fixes, only run tests
  skip: [scons-source, checkPot, unitTest, licenseCheck]
  autoupdate_schedule: monthly
  autoupdate_commit_msg: "Pre-commit auto-update"
  autofix_commit_msg: "Pre-commit auto-fix"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    # Prevents commits to certain branches
    - id: no-commit-to-branch
      args: ["--branch", "master", "--branch", "beta", "--branch", "rc"]
    # Checks python syntax
    - id: check-ast
      # File uses encoding not supported in Linux
      exclude: source/comInterfaces/_944DE083_8FB8_45CF_BCB7_C477ACB2F897_0_1_0.py
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: debug-statements
    - id: trailing-whitespace
      types_or: [python, c, c++, batch, markdown]
    - id: end-of-file-fixer
      types_or: [python, c, c++, batch, markdown]
    - id: fix-byte-order-marker
      types_or: [python, c, c++, batch, markdown]
    - id: check-toml
    - id: check-yaml
    - id: check-xml
    - id: check-vcs-permalinks
    - id: name-tests-test
      args: ["--unittest"]
      # Exclude Python files under `tests/` that aren't unittest files.
      # This is a Python verbose regular expression.
      # See https://docs.python.org/3/library/re.html#re.VERBOSE
      exclude: |
        (?x)^tests/(
          checkPot.py |  # Doesn't use unittest
          system |  # Uses robot
          unit/ (
            # Test helpers
            textProvider.py |
            extensionPointTestHelpers.py |
            objectProvider.py |
            test_speechManager/speechManagerTestHarness.py
          )
        )

- repo: https://github.com/asottile/add-trailing-comma
  rev: v3.1.0
  hooks:
  # Ruff preserves indent/new-line formatting of function arguments, list items, and similar iterables,
  # if a trailing comma is added.
  # This adds a trailing comma to args/iterable items in case it was missed.
  - id: add-trailing-comma

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Matches Ruff version in requirements.
  rev: v0.5.6
  hooks:
    - id: ruff
      name: lint with ruff
      args: [ --fix ]
    - id: ruff-format
      name: format with ruff

- repo: local
  hooks:
    - id: scons-source
      name: build c/c++ files
      entry: cmd.exe /c "scons source --all-cores"
      language: system
      pass_filenames: false
      types_or: [c, c++]
    - id: checkPot
      name: translation string check
      entry: cmd.exe /c "scons checkPot --all-cores"
      language: system
      pass_filenames: false
      types: [python]
      files: ^source/.*$
    - id: unitTest
      name: unit tests
      entry: ./rununittests.bat
      language: script
      pass_filenames: false
      types_or: [python, c, c++, batch]
    - id: licenseCheck
      name: Check license compatibility of pip dependencies
      files: ^(requirements\.txt|runlicensecheck\.bat)$
      entry: ./runlicensecheck.bat
      language: script
      pass_filenames: false

Update comtypes
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

Update docs
  user_docs/en/changes.md
Due: none

Update UIAutomationClient wrapper
  source/comInterfaces/UIAutomationClient.py
  source/comInterfaces/_944DE083_8FB8_45CF_BCB7_C477ACB2F897_0_1_0.py
Due: checkPot

Update monkey patches
  source/monkeyPatches/comtypesMonkeyPatches.py
Due: checkPot

Update minimum requirements
  user_docs/en/userGuide.md
Due: none

Chromium: disable caret at end of line detection as Chromium does not yet implement what we need, and it is costly for no gain.
  source/NVDAObjects/IAccessible/chromium.py
  source/appModules/code.py
Due: checkPot

Report a user friendly message when the documentation is missing (#17052)
  source/documentationUtils.py
  source/gui/__init__.py
  source/gui/contextHelp.py
Due: checkPot

Created `addonStoore.network._getBaseUrl` method that currently just returns `BASE_URL`
  source/addonStore/network.py
Due: checkPot

Chromium: disable caret at end of line detection as Chromium does not yet implement what we need, and it is costly for no gain. (#17067)
  source/NVDAObjects/IAccessible/chromium.py
  source/appModules/code.py
Due: checkPot

Support IAccessible2 "mark" text attribute.
  source/NVDAObjects/IAccessible/__init__.py
  user_docs/en/changes.md
Due: checkPot

Added a new config item, `addonStore.baseURL`, to store configurable base URL for the addon store, and used it in `addonStore.network._getBaseUrl`
  source/addonStore/network.py
  source/config/configSpec.py
Due: checkPot

Update changes
  user_docs/en/changes.md
Due: none

Move reference to Microsoft Docs to class doc string
  source/appModules/powerpnt.py
Due: checkPot

Generate UIAutomationClient at build time
  source/comInterfaces/UIAutomationClient.py
  source/comInterfaces/_944DE083_8FB8_45CF_BCB7_C477ACB2F897_0_1_0.py
  source/comInterfaces/readme.md
  source/comInterfaces_sconscript
Due: checkPot

Support IAccessible2 "mark" text attribute. (#16910)
  source/NVDAObjects/IAccessible/__init__.py
  user_docs/en/changes.md
Due: checkPot

Native support for the Dot Pad tactile graphic Braille Display from Dot Inc (#17007)
  source/brailleDisplayDrivers/dotPad/__init__.py
  source/brailleDisplayDrivers/dotPad/defs.py
  source/brailleDisplayDrivers/dotPad/driver.py
  source/setup.py
  source/tactile/__init__.py
  source/tactile/braille.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

fix up changes
  user_docs/en/changes.md
Due: none

Add mirror option to settings
  source/gui/settingsDialogs.py
Due: checkPot

Start implementation of URL validator for config
  source/config/validators.py
Due: checkPot

Apply suggestions from code review
  source/braille.py
Due: checkPot

Changes update
  user_docs/en/changes.md
Due: none

Add type info
  source/braille.py
Due: checkPot

Add keyword arguments to braille test_normalizeCellArraySize.
  tests/unit/test_braille/test_normalizeCellArraySize.py
Due: none

Developer guide: list filter_displayDimensions
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

user docs github action: add comment.
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Increase required disk space
  user_docs/en/userGuide.md
Due: none

Convert markdownTranslate tests to unit tests.
  tests/unit/test_markdownTranslate.py
  user_docs/markdownTranslate.py
Due: none

Address review
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

markdownTranslate unit tests: refactor so as they stop on the first error.
  tests/unit/test_markdownTranslate.py
Due: none

Enable debug logging when restarting NVDA with add-ons (#17043)
  source/gui/exit.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

[skip ci] Don't block GUI thread on add-on updates
  source/buildVersion.py
  source/gui/addonStoreGui/__init__.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/utils/schedule.py
  user_docs/en/changes.md
Due: checkPot

Remove redundant NOQA flags
  source/utils/schedule.py
Due: checkPot

Update projectDocs/dev/developerGuide/developerGuide.md
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Remove redundant NOQA flags (#17074)
  source/utils/schedule.py
Due: checkPot

Update source/ui.py
  source/ui.py
Due: checkPot

Give ui.browseableMessage the ability to show copy and close buttons after the message, and add buttons to some instances (2nd try) (#17018)
  source/globalCommands.py
  source/message.html
  source/ui.py
  user_docs/en/changes.md
Due: checkPot

braille.py: add type info.
  source/braille.py
Due: checkPot
