Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Changes
  user_docs/en/changes.md
Due: none

Avoid runing AI image descriptions while screen curtain is enabled (#19057)
  source/globalCommands.py
  source/gui/blockAction.py
Due: checkPot

Update .github/ISSUE_TEMPLATE/15-addon_integration_request.md
  .github/ISSUE_TEMPLATE/15-addon_integration_request.md
Due: none

Rewrote addon_integration_request.yaml for focus on features
  .github/ISSUE_TEMPLATE/05-addon_integration_request.yaml
Due: none

Update 15-addon_integration_request.md to match .yaml
  .github/ISSUE_TEMPLATE/15-addon_integration_request.md
Due: none

color filter working on all type of magnifier
  source/NVDAMagnifier/__init__.py
  source/NVDAMagnifier/windowsHandler.py
  source/globalCommands.py
Due: checkPot

optimisation of the color filter, wip
  source/NVDAMagnifier/__init__.py
  source/NVDAMagnifier/windowsHandler.py
  source/globalCommands.py
Due: checkPot

Add-on store: pluralize one string
  source/gui/addonStoreGui/controls/details.py
Due: checkPot

Apply suggestions from code review
  source/_remoteClient/localMachine.py
Due: checkPot

Remove some debug code
  source/_remoteClient/localMachine.py
  source/_remoteClient/session.py
Due: checkPot

Dismiss message on input
  source/_remoteClient/client.py
  source/_remoteClient/session.py
Due: checkPot

Refactor
  source/_remoteClient/client.py
  source/_remoteClient/localMachine.py
  source/_remoteClient/session.py
Due: checkPot

Show local ui.messages in braille when controlling a remote computer (#19056)
  source/_remoteClient/client.py
  source/_remoteClient/localMachine.py
  source/_remoteClient/session.py
  source/braille.py
  user_docs/en/changes.md
Due: checkPot

Fix uninstaller
  uninstaller/uninst.nsi
Due: none

Fix 64-bit uninstaller (#19067)
  uninstaller/uninst.nsi
Due: none

Copy system config if moving NVDA from %PROGRAMFILES(x86)% to %PROGRAMFILES%
  source/config/__init__.py
  source/installer.py
Due: checkPot

Only flag x64 if AMD64 (#19052)
  source/updateCheck.py
Due: checkPot

Add a test for liblouis access violations
  source/louisHelper.py
  tests/unit/test_brailleTables.py
Due: checkPot

Fix table resolver
  source/louisHelper.py
  tests/unit/test_brailleTables.py
Due: checkPot

Copyright
  source/louisHelper.py
  tests/unit/test_brailleTables.py
Due: checkPot

Changelog
  user_docs/en/changes.md
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Fix debug statement
  source/louisHelper.py
Due: checkPot

Copy the system config when updating from 32- to 64-bit NVDA (#19068)
  source/config/__init__.py
  source/installer.py
Due: checkPot

Use root certificates when using the add-on store and NVDA remote (#18528)
  pyproject.toml
  source/_remoteClient/transport.py
  source/addonStore/dataManager.py
  source/addonStore/network.py
  source/core.py
  source/updateCheck.py
  source/utils/networking.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Use filter_displayDimensions instead of filter_displaySize
  source/_remoteClient/localMachine.py
  source/_remoteClient/session.py
Due: checkPot

Always use number of columns instead of display size
  source/_remoteClient/localMachine.py
  source/_remoteClient/session.py
Due: checkPot

Return early if message type is ping
  source/_remoteClient/transport.py
Due: checkPot

Update pyright to use [nodejs]
  .pre-commit-config.yaml
  pyproject.toml
  user_docs/en/changes.md
  uv.lock
Due: licenseCheck

Update wxPython to 4.2.3
  pyproject.toml
  source/gui/nvdaControls.py
  source/gui/settingsDialogs.py
  uv.lock
Due: checkPot, licenseCheck

Add changelog
  user_docs/en/changes.md
Due: none

Clarify release process and milestone handling
  projectDocs/community/releaseProcess.md
Due: none

Apply suggestions from code review
  projectDocs/community/releaseProcess.md
Due: none

Update projectDocs/community/releaseProcess.md
  projectDocs/community/releaseProcess.md
Due: none

Improvements to battery reporting script (#9003)
  source/winAPI/_powerTracking.py
  user_docs/en/changes.md
Due: checkPot

improve the input help message and gesture for the recognise image script
  source/globalCommands.py
  tests/system/robot/automatedImageDescriptions.py
  user_docs/en/userGuide.md
Due: checkPot

improve translator string
  source/globalCommands.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
