Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

disable releases
  .github/workflows/testAndPublish.yml
Due: none

Update projectDocs/issues/triage.md
  projectDocs/issues/triage.md
Due: none

Update to latest pyright
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: licenseCheck

QuickstartLinks
  user_docs/en/userGuide.md
Due: none

Update ruff
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: licenseCheck

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Update uv-precommit
  .pre-commit-config.yaml
Due: none

Deploy with GitHub actions (#18244)
  .github/workflows/testAndPublish.yml
  ci/README.md
  ci/scripts/setBuildVersionVars.ps1
Due: none

Update changes file
  user_docs/en/changes.md
Due: none

fix spaces
  .github/workflows/testAndPublish.yml
Due: none

disable automerge for snapshot deployments
  .github/workflows/testAndPublish.yml
Due: none

Disable auto merge for snapshot deployments (#18553)
  .github/workflows/testAndPublish.yml
Due: none

Add links to the start of the Quick Start Guide (#18550)
  user_docs/en/userGuide.md
Due: none

integrate model manager witch can be called by global command or tools menu in gui
  source/_localCaptioner/__init__.py
  source/globalCommands.py
  source/gui/__init__.py
  source/gui/modelManager.py
Due: checkPot

Solve the problem of not finding numpy dependency during runtime; correct some translate comment in GUI related to local image recognition
  source/gui/modelManager.py
  source/gui/settingsDialogs.py
  source/setup.py
Due: checkPot

add unit test for local image captioner and model downloader
  source/_localCaptioner/__init__.py
  source/_localCaptioner/modelDownloader.py
  source/gui/modelManager.py
  tests/unit/test_localCaptioner/__init__.py
  tests/unit/test_localCaptioner/test_captioner.py
  tests/unit/test_localCaptioner/test_modelDownloader.py
Due: checkPot

add user guide and change log for local captioner
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

User Guide: Clarify paragraph on "Use modern audio output system (WASAPI)" (#18546)
  user_docs/en/userGuide.md
Due: none

Check if all tests pass as an action
  .github/workflows/testAndPublish.yml
Due: none

Add empty job
  .github/workflows/testAndPublish.yml
Due: none

simplify job structure
  .github/workflows/testAndPublish.yml
Due: none

Update .github/workflows/testAndPublish.yml
  .github/workflows/testAndPublish.yml
Due: none

Disable AppVeyor for PRs/snapshots
  appveyor.yml
Due: none

Remove AppVeyor entirely
  .github/workflows/regenerate_english_userDocs_translation_source.yml
  .github/workflows/testAndPublish.yml
  .gitignore
  appveyor.yml
  appveyor/README.md
  appveyor/authenticode.pfx.enc
  appveyor/scripts/buildSymbolStore.ps1
  appveyor/scripts/decryptFilesForSigning.ps1
  appveyor/scripts/installNVDA.ps1
  appveyor/scripts/logCiTiming.ps1
  appveyor/scripts/pushPackagingInfo.ps1
  appveyor/scripts/setBuildVersionVars.ps1
  appveyor/scripts/setSconsArgs.ps1
  appveyor/scripts/tests/beforeTests.ps1
  appveyor/scripts/tests/checkTestFailure.ps1
  appveyor/scripts/tests/licenseCheck.ps1
  appveyor/scripts/tests/systemTests.ps1
  appveyor/scripts/tests/translationCheck.ps1
  appveyor/scripts/tests/unitTests.ps1
  appveyor/scripts/uploadArtifacts.ps1
  appveyor/scripts/webhookSetup.ps1
  appveyor/ssh_id_rsa.enc
  appveyor/ssh_known_hosts
  ci/README.md
  ci/scripts/crowdinSync.py
  ci/scripts/mozillaSyms.py
  ci/scripts/sign.ps1
  extras/controllerClient/readme.md
  projectDocs/dev/buildingNVDAOnAppVeyor.md
  projectDocs/dev/contributing.md
  projectDocs/dev/createDevEnvironment.md
  projectDocs/dev/readme.md
  readme.md
  sconstruct
  site_scons/site_tools/listModules.py
  source/buildVersion.py
  source/comInterfaces_sconscript
  tests/system/libraries/ChromeLib.py
  tests/system/libraries/_chromeArgs.py
  tests/system/robot/chromeTests.robot
Due: checkPot

improve error handling for local captioner
  source/_localCaptioner/__init__.py
Due: checkPot

improve description for updated components
  user_docs/en/changes.md
Due: none

Manually addressed linting issues that couldn't be auto-fixed.
  source/_localCaptioner/__init__.py
  source/_localCaptioner/modelDownloader.py
  tests/unit/test_localCaptioner/test_modelDownloader.py
Due: checkPot

Create symbols.dic for Amharic language.
  source/locale/am/symbols.dic
Due: none

Fix date display
  source/addonStore/models/addon.py
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Return to installDate field name
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Display install date in details also for external add-ons
  source/gui/addonStoreGui/controls/details.py
Due: checkPot

Change log
  user_docs/en/changes.md
Due: none

Improve documentation in doc string
  source/utils/ctypesUtils.py
Due: checkPot

Enhance outparam
  projectDocs/dev/codingStandards.md
  source/utils/ctypesUtils.py
  source/visionEnhancementProviders/screenCurtain.py
  tests/unit/test_util/test_ctypesUtils.py
Due: checkPot

Finish documentation
  projectDocs/dev/codingStandards.md
Due: none

Typo and test fixes
  source/utils/ctypesUtils.py
  tests/unit/test_util/test_ctypesUtils.py
Due: checkPot
