Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Build the synthDriverHost32 runtime on Github CI
  .github/workflows/testAndPublish.yml
Due: none

Add package -_init__.py to source\synthDrivers32
  source/synthDrivers32/__init__.py
Due: checkPot

chore: refactor link destination tests based on PR review feedback
  tests/system/robot/chromeTests.py
Due: none

Ignore some copeid python files for 32 bit.
  .gitignore
Due: none

Automatically copy parts of the speech package for the 32 bit synthDriver host runtime, rather than having them committed twice.
  .gitignore
  sconstruct
  source/_bridge/runtimes/synthDriverHost/speech/commands.py
  source/_bridge/runtimes/synthDriverHost/speech/types.py
Due: checkPot

Github ci script: correct Python version back to 3.13.11.
  .github/workflows/testAndPublish.yml
Due: none

wasapi.cpp: uncomment log calls again.
  nvdaHelper/local/wasapi.cpp
Due: scons-source

_bridge.base.Connection: remove unused method.
  source/_bridge/base.py
Due: checkPot

_bridge.base.Proxy.__del__: call the base __del__ if available. May or may not be there depending on how Proxy might be used as a minxin.
  source/_bridge/base.py
Due: checkPot

Remove duplicate import
  source/_bridge/base.py
Due: checkPot

_bridge.components.proxies: don't import synthDriverHandler twice.
  source/_bridge/components/proxies/synthDriver.py
Due: checkPot

Apply suggestions from code review
  source/_bridge/runtimes/synthDriverHost/globalVars.py
  source/_bridge/runtimes/synthDriverHost/main.pyw
  source/synthDrivers32/sapi5.py
Due: checkPot

Remove duplicate import
  source/jobObject.py
Due: checkPot

Remove commented out code and fix type import.
  source/_bridge/runtimes/synthDriverHost/logHandler.py
Due: checkPot

espeak sconscript: Ensure espeak.dll can find sonic.dll when espeak.dll is loaded by scons for compiling dictionaries etc.
  nvdaHelper/espeak/sconscript
Due: none

Linting
  runtime-builders/synthDriverHost32/buildVersionLoader.py
  runtime-builders/synthDriverHost32/setup-runtime.py
  source/synthDrivers32/_sapi4.py
  source/synthDrivers32/sapi5.py
Due: checkPot

Linting
  source/_bridge/runtimes/synthDriverHost/speech/__init__.py
Due: checkPot

locked uv
  uv.lock
Due: none

Apply suggestions from code review
  source/speechDictHandler/__init__.py
  source/speechDictHandler/types.py
Due: checkPot

class for test and file for spotlight
  .pre-commit-config.yaml
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
  tests/unit/test_magnifier/test_spotlightManager.py
Due: none

revert pre commit
  .pre-commit-config.yaml
Due: none

magnifier tests modification
  .pre-commit-config.yaml
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
Due: none

Fix index iteration
  source/speechDictHandler/types.py
Due: checkPot

Update globalCommands
  source/globalCommands.py
Due: checkPot

Pin rpyc to exact version.
  pyproject.toml
  runtime-builders/synthDriverHost32/pyproject.toml
  runtime-builders/synthDriverHost32/uv.lock
  uv.lock
Due: licenseCheck

Missing EOL at EOF
  runtime-builders/synthDriverHost32/.python-version
Due: none

use os.path.join
  runtime-builders/synthDriverHost32/setup-runtime.py
Due: none

Correct product name / description for synthDriverHost32 runtime
  runtime-builders/synthDriverHost32/setup-runtime.py
Due: none

Revert "Remove SAPI4 (#19290)"
  projectDocs/design/synthesizers.md
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/synthDrivers/_sapi4.py
  source/synthDrivers/sapi4.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fix changes.md
  user_docs/en/changes.md
Due: none

Output type check results to stdout and GitHub step summary
  ci/scripts/tests/typeCheck.ps1
Due: none

Instruct pyright to ignore synthDriverHost32 runtime's .venv directory
  pyproject.toml
Due: licenseCheck

Fix Pyright errors
  source/_bridge/runtimes/synthDriverHost/core.py
Due: checkPot

Fixup MathCAT settings (#19227)
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

Output type check results to stdout and GitHub step summary (#19437)
  ci/scripts/tests/typeCheck.ps1
Due: none

Minor consistency fixes in MathCAT preferences
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Try fixing builds
  source/_magnifier/config.py
  source/globalCommands.py
  source/setup.py
Due: checkPot

Improve string formatting
  source/speechDictHandler/types.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
