Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Move Toggle Screen Curtain command to Misc category (#19452)
  source/globalCommands.py
Due: checkPot

Apply suggestions from code review
  runtime-builders/synthDriverHost32/buildVersionLoader.py
  source/_bridge/clients/synthDriverHost32/launcher.py
  source/_bridge/runtimes/synthDriverHost/speech/__init__.py
  source/_synthDrivers32/sapi5.py
  source/synthDrivers/sapi4_32.py
Due: checkPot

fixup cambodian
  source/languageHandler.py
Due: checkPot

document support for cambodian #19450
  source/languageHandler.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Magnifier implementation (#19228)
  projectDocs/dev/developerGuide/developerGuide.md
  source/_magnifier/__init__.py
  source/_magnifier/commands.py
  source/_magnifier/config.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/__init__.py
  source/_magnifier/utils/filterHandler.py
  source/_magnifier/utils/spotlightManager.py
  source/_magnifier/utils/types.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/__init__.py
  source/gui/settingsDialogs.py
  source/screenCurtain/_screenCurtain.py
  source/winAPI/_displayTracking.py
  source/winBindings/magnification.py
  tests/unit/test_magnifier/__init__.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
  tests/unit/test_magnifier/test_spotlightManager.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

add gestures for cycling magnifier full screen focus mode and color filters
  source/globalCommands.py
  user_docs/en/userGuide.md
Due: checkPot

Fix: notify user when connecting as follower fails (#19103)
  source/_remoteClient/client.py
Due: checkPot

Add change log entry
  user_docs/en/changes.md
Due: none

reduce interval for mouse, fixed spotlight zooms
  .pre-commit-config.yaml
  source/_magnifier/magnifier.py
  source/_magnifier/utils/spotlightManager.py
Due: checkPot

pre-commit
  .pre-commit-config.yaml
Due: none

Link with cetCompat flag
  nvdaHelper/archBuild_sconscript
Due: none

placeholder and option for magnifier types
  .pre-commit-config.yaml
  source/_magnifier/__init__.py
  source/_magnifier/commands.py
  source/_magnifier/config.py
  source/_magnifier/dockedMagnifier.py
  source/_magnifier/fixedMagnifier.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/lensMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/types.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

Type hint
  source/_bridge/base.py
Due: checkPot

Type hints, remove old code, comments.
  source/_bridge/components/proxies/synthDriver.py
Due: checkPot

Type hints
  source/_bridge/components/services/synthDriver.py
Due: checkPot

Clarify a comment
  source/_bridge/runtimes/synthDriverHost/audioDucking.py
Due: checkPot

type hints. Name thread.
  source/_bridge/runtimes/synthDriverHost/core.py
Due: checkPot

Remove unneeded import
  source/_bridge/runtimes/synthDriverHost/logHandler.py
Due: checkPot

Add copyright. change function name
  source/_bridge/runtimes/synthDriverHost/main.pyw
Due: none

Remove accidental tab
  source/_bridge/runtimes/synthDriverHost/synthDriverHost.py
Due: checkPot

Improve Magnifier error messages
  source/_magnifier/commands.py
  source/_magnifier/utils/types.py
Due: checkPot

Start dev cycle for 2026.2 (#19354)
  source/buildVersion.py
  user_docs/en/changes.md
Due: checkPot

A command to repeat last spoken information (#19173)
  source/globalCommands.py
  source/speech/__init__.py
  source/speech/speech.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Added a new unassigned gesture to toggle keyboard layout (#19349)
  source/globalCommands.py
  user_docs/en/changes.md
Due: checkPot

Move markdown lint disabling instruction below 2026.2 change log (#19357)
  user_docs/en/changes.md
Due: none

Fixed an error that occurred when enabling visual highlighter for elements with a height less than 0. #19384
  source/visionEnhancementProviders/NVDAHighlighter.py
Due: checkPot

Word with UIA: Retrieve Page Numbers from Custom Attributes API (#19386) (#19394)
  source/NVDAObjects/UIA/wordDocument.py
  user_docs/en/changes.md
Due: checkPot

Fix skim reading issue (#19397)
  source/speech/speech.py
Due: checkPot

GitHub action: update upload artifact and download artifact (#19378)
  .github/workflows/testAndPublish.yml
Due: none

GitHub action-cache v4 to cache v5 (#19374)
  .github/workflows/testAndPublish.yml
Due: none

NVDA+F1 now opens the log viewer even when logging is disabled (#19347)
  source/globalCommands.py
  user_docs/en/changes.md
Due: checkPot

Optimize Highlighter performance using dirty rectangles. (#19344)
  source/autoSettingsUtils/autoSettings.py
  source/mouseHandler.py
  source/visionEnhancementProviders/NVDAHighlighter.py
  user_docs/en/changes.md
Due: checkPot

Add slider support for browse mode navigation (#19398)
  source/UIAHandler/browseMode.py
  source/browseMode.py
  source/virtualBuffers/MSHTML.py
  source/virtualBuffers/gecko_ia2.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update Bosnian character descriptions file
  source/locale/bs/characterDescriptions.dic
Due: none

Fix Firefox browse mode not announcing aria-label when label element contains only hidden content (#19409)
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
  user_docs/en/changes.md
Due: scons-source

UI Automation in Microsoft Word: Use move by sentence custom pattern when available instead of the legacy model (#19367)
  source/NVDAObjects/UIA/wordDocument.py
  source/UIAHandler/remote.py
Due: checkPot

Fixup #19394: Prevent Word with UIA reporting "page -1" on final line of page (#19424)
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot
