Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Fix NVDAObjects.window.excel.ExcelCellInfo
  source/NVDAObjects/window/excel.py
  user_docs/en/changes.md
Due: checkPot

Only send bookmarks when speaking
  source/synthDrivers/sapi5.py
Due: checkPot

Fix
  source/synthDrivers/sapi5.py
Due: checkPot

Adjusted rules path
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Fix braille word wrap (#18219)
  source/braille.py
  tests/unit/test_braille/test_calculateWindowRowBufferOffsets.py
  user_docs/en/changes.md
Due: checkPot

adjusted rules dir path for launcher build
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/__init__.py
Due: checkPot

Add launcher validation step
  .github/workflows/testAndPublish.yml
  ci/scripts/validateLauncher.ps1
Due: none

Excel: update the braille display when typing in a cell.
  source/NVDAObjects/UIA/excel.py
Due: checkPot

Update what's new
  user_docs/en/changes.md
Due: none

Update source/NVDAObjects/UIA/excel.py
  source/NVDAObjects/UIA/excel.py
Due: checkPot

Added pyyaml dependency
  pyproject.toml
Due: licenseCheck

Removed yaml subdirectory of source/mathPres/MathCAT
  source/mathPres/MathCAT/yaml/__init__.py
  source/mathPres/MathCAT/yaml/composer.py
  source/mathPres/MathCAT/yaml/constructor.py
  source/mathPres/MathCAT/yaml/cyaml.py
  source/mathPres/MathCAT/yaml/dumper.py
  source/mathPres/MathCAT/yaml/emitter.py
  source/mathPres/MathCAT/yaml/error.py
  source/mathPres/MathCAT/yaml/events.py
  source/mathPres/MathCAT/yaml/loader.py
  source/mathPres/MathCAT/yaml/nodes.py
  source/mathPres/MathCAT/yaml/parser.py
  source/mathPres/MathCAT/yaml/reader.py
  source/mathPres/MathCAT/yaml/representer.py
  source/mathPres/MathCAT/yaml/resolver.py
  source/mathPres/MathCAT/yaml/scanner.py
  source/mathPres/MathCAT/yaml/serializer.py
  source/mathPres/MathCAT/yaml/tokens.py
Due: checkPot

Excel: update the braille display when typing in a cell. (#18391)
  source/NVDAObjects/UIA/excel.py
  user_docs/en/changes.md
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Improve launcher validation outputs
  ci/scripts/validateLauncher.ps1
Due: none

Minor fixups to projectDocs (#18379)
  projectDocs/issues/triage.md
  projectDocs/translating/github.md
Due: none

Fix deprecation warning
  source/brailleDisplayDrivers/nlseReaderZoomax.py
Due: checkPot

Fixed yaml import
  source/mathPres/MathCAT/MathCATPreferences.py
Due: checkPot

Fix deprecation warning for bdDetect.DeviceType
  source/brailleDisplayDrivers/nlseReaderZoomax.py
Due: checkPot

User Guide - Add condition to use UIA in Word (#18337)
  user_docs/en/userGuide.md
Due: none

Update source/utils/networking.py
  source/utils/networking.py
Due: checkPot

Fix root certificate issues for add-on store (#18354)
  source/addonStore/dataManager.py
  source/updateCheck.py
  source/utils/networking.py
  user_docs/en/changes.md
Due: checkPot

Removed use of addonHandler in MathCATgui and MathCATPreferences
  source/mathPres/MathCAT/MathCATPreferences.py
  source/mathPres/MathCAT/MathCATgui.py
  source/mathPres/MathCAT/__init__.py
Due: checkPot

Only automatically assign milestone on merge of PRs
  .github/workflows/assign-milestone-on-close.yml
Due: none

Intentionally don't sign
  appveyor/scripts/sign.ps1
Due: none

Add copious output
  ci/scripts/validateLauncher.ps1
Due: none

Use a flag to signal expectation of signing
  .github/workflows/testAndPublish.yml
  ci/scripts/validateLauncher.ps1
Due: none

Create a confirmation dialog to update root certificates when downloading add-ons
  source/addonStore/network.py
Due: checkPot

add else conditions
  source/addonStore/network.py
Due: checkPot

Update mailing list links
  projectDocs/community/readme.md
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
  projectDocs/testing/readme.md
  user_docs/en/userGuide.md
Due: none

Apply suggestion from @seanbudd
  source/addonStore/network.py
Due: checkPot

Add missing translator comment
  source/addonStore/network.py
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

Use system certs
  pyproject.toml
  source/addonStore/dataManager.py
  source/core.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Use UIATextInfo more conservatively
  source/NVDAObjects/UIA/__init__.py
Due: checkPot

Don't patch TextInfo, but restrict apllying EditableText instead
  source/NVDAObjects/UIA/__init__.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
