Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

use field
  source/utils/debounce.py
Due: checkPot

changed to native win32 for window handling
  source/_magnifier/fixedMagnifier.py
  source/_magnifier/utils/types.py
  source/_magnifier/utils/windowCreator.py
  tests/unit/test_magnifier/test_fixedMagnifier.py
  tests/unit/test_magnifier/test_windowCreator.py
Due: checkPot

Toggle settings for magnifier focus
  source/_magnifier/commands.py
  source/_magnifier/config.py
  source/_magnifier/utils/focusManager.py
  source/_magnifier/utils/types.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  tests/unit/test_magnifier/test_focusManager.py
Due: checkPot

copilot review changes
  source/_magnifier/utils/focusManager.py
Due: checkPot

copilot review
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/utils/focusManager.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
Due: checkPot

Changed if to match statements, and updated exit labels to have better description
  source/gui/installerGui.py
Due: checkPot

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: none

copilot review fix
  source/_magnifier/commands.py
  source/_magnifier/config.py
  source/_magnifier/utils/focusManager.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  tests/unit/test_magnifier/test_focusManager.py
  user_docs/en/userGuide.md
Due: checkPot

handle disabling last focus
  source/_magnifier/utils/focusManager.py
  source/_magnifier/utils/types.py
  tests/unit/test_magnifier/test_focusManager.py
Due: checkPot

Added the _getUIACacheablePropertyValue_handlesCOMErrors function
  source/NVDAObjects/UIA/__init__.py
Due: checkPot

sentence split onto two lines in user docs and remove unnecessary imports
  source/touchHandler.py
  user_docs/en/userGuide.md
Due: checkPot

improve behaviour and docs for mathcat speech style
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/preferences.py
  user_docs/en/userGuide.md
Due: checkPot

Update source/mathPres/MathCAT/preferences.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Revise add-ons documentation links and text
  projectDocs/dev/addons.md
Due: none

Update projectDocs/dev/addons.md
  projectDocs/dev/addons.md
Due: none

Update symbols.dic for zh_TW (#19725)
  source/locale/zh_TW/symbols.dic
Due: none

move migration code to its own module
  source/addonHandler/__init__.py
  source/addonHandler/_pickleToJsonMigration.py
  source/installer.py
  tests/unit/test_addonHandler/test_addonsState.py
Due: checkPot

Move functions to the ConfigManager class
  source/config/__init__.py
Due: checkPot

Use function from config.conf
  source/globalCommands.py
Due: checkPot

Remove functions from globalCommands
  source/globalCommands.py
Due: checkPot

triggerNVDAExit return value now checked and logged in the YES case
  source/gui/installerGui.py
Due: checkPot

Start NVDA now notes it's not available when running elevated in user docs
  user_docs/en/userGuide.md
Due: none

Added documentation explaining browse mode in touch is only active when browse mode is.
  user_docs/en/userGuide.md
Due: none

Remove extra blank line in config module
  source/config/__init__.py
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

setup.py: when copying _synthDrivers32, only include .py and .dll files, excluding lib exp and pdb files which are not needed.
  source/setup.py
Due: checkPot

scons dist now signs the synthDriverHost32 runtime executable if it exists.
  sconstruct
Due: none

Revise add-ons documentation links and text (#19742)
  projectDocs/dev/addons.md
Due: none

Add debouncer (#19702)
  source/browseMode.py
  source/utils/debounce.py
  tests/unit/test_util/test_debounce.py
  user_docs/en/changes.md
Due: checkPot

Apply suggestions from code review
  sconstruct
Due: none

Update source/addonHandler/_pickleToJsonMigration.py
  source/addonHandler/_pickleToJsonMigration.py
Due: checkPot

use new debouncer wow
  source/gui/settingsDialogs.py
Due: checkPot

Apply suggestions from code review
  .github/copilot-instructions.md
Due: none

hard increase in bounce time
  source/gui/settingsDialogs.py
Due: checkPot

Allow OCR to work with Screen Curtain via Windows Graphics Capture (#19164)
  nvdaHelper/localWin10/sconscript
  nvdaHelper/localWin10/wgcCapture.cpp
  nvdaHelper/localWin10/wgcCapture.h
  source/NVDAHelper/localWin10.py
  source/config/configSpec.py
  source/contentRecog/recogUi.py
  source/contentRecog/wgcCapture.py
  source/globalCommands.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: scons-source, checkPot

Add-on Store: label update action as 'Enable and update' for disabled add-ons
  source/gui/addonStoreGui/viewModels/action.py
  source/gui/addonStoreGui/viewModels/store.py
  user_docs/en/changes.md
Due: checkPot

Made the Orbit Reader 40 support Orbit HID mode
  source/brailleDisplayDrivers/baum.py
Due: checkPot

updated readme.md
  user_docs/en/changes.md
Due: none

Update Liblouis to 3.37.0
  projectDocs/dev/createDevEnvironment.md
  source/brailleTables/__tables.py
  user_docs/en/changes.md
Due: checkPot
