Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Apply suggestions from code review
  source/gui/settingsDialogs.py
  source/speech/speech.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Add type hint for script, addressing code review
  source/globalCommands.py
  source/gui/settingsDialogs.py
Due: checkPot

Fix syntax
  source/speech/speech.py
Due: checkPot

Address review: move function to SynthDriver
  source/speech/speech.py
  source/synthDriverHandler.py
Due: checkPot

Fix SAPI4 IBM TTS Chinese
  source/synthDrivers/sapi4.py
Due: checkPot

Update synthDriverHandler
  source/synthDriverHandler.py
Due: checkPot

Add return type
  source/speech/languageHandling.py
  source/synthDriverHandler.py
Due: checkPot

Add copyrigh header
  source/speech/languageHandling.py
Due: checkPot

Report not supported languages with speech or beep
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/speech/languageHandling.py
Due: checkPot

Lint
  source/config/configFlags.py
  source/gui/settingsDialogs.py
  source/speech/__init__.py
  source/speech/languageHandling.py
  source/speech/speech.py
Due: checkPot

UIA handler: add WinUI 3 top-level window class name (Microsoft.UI.Content.DesktopChildSiteBridge) to good UIA window class names. Re #17771, #17407.
  source/UIAHandler/__init__.py
Due: checkPot

Changelog: add WinUI 3 mouse/touc interaction fix in NVDA 2025.2/bug fixes section. Re #17407, #17771
  user_docs/en/changes.md
Due: none

UIA handler: update copyright year
  source/UIAHandler/__init__.py
Due: checkPot

Use ReportNotSupportedLanguage enum
  source/speech/languageHandling.py
Due: checkPot

Report not supported language also if report language is disabled
  source/speech/languageHandling.py
Due: checkPot

Format languageHandling
  source/speech/languageHandling.py
Due: checkPot

Better handling of reporting languages
  source/speech/languageHandling.py
Due: checkPot

Better handling of report language
  source/speech/languageHandling.py
Due: checkPot

Speak typed characters in Calculator when echo mode is 'Only in edit controls'.
  source/appModules/calculator.py
Due: checkPot

Apply suggestions from code review
  user_docs/en/changes.md
Due: none

Merge pull request #17904 from josephsl/winUIGoodUIAWindowClassNames
  source/UIAHandler/__init__.py
  user_docs/en/changes.md
Due: checkPot

Fix SAPI4 IBM TTS Chinese (#17903)
  source/synthDrivers/sapi4.py
Due: checkPot

Translate French gestures for 2025.1 (#17835)
  source/locale/fr/gestures.ini
Due: none

Verify screen curtain at runtime (#17894)
  nvdaHelper/local/nvdaHelperLocal.def
  nvdaHelper/local/sconscript
  nvdaHelper/local/screenCurtain.cpp
  source/visionEnhancementProviders/screenCurtain.py
Due: scons-source, checkPot

Use GitHub Actions to build and test NVDA (#17728)
  .github/workflows/testAndPublish.yml
  .pre-commit-config.yaml
  ci/README.md
  ci/scripts/installNVDA.ps1
  ci/scripts/setBuildVersionVars.ps1
  ci/scripts/setSconsArgs.ps1
  ci/scripts/tests/beforeTests.ps1
  ci/scripts/tests/licenseCheck.ps1
  ci/scripts/tests/systemTests.ps1
  ci/scripts/tests/translationCheck.ps1
  ci/scripts/tests/unitTests.ps1
  pyproject.toml
  tests/checkPot.py
  tests/unit/test_checkPot/__init__.py
Due: none

Move GetProcessToken declaration to winBindings.advapi32
  source/systemUtils.py
  source/winBindings/advapi32.py
Due: checkPot

Fix unit tests
  source/winBindings/kernel32.py
  source/winBindings/user32.py
  source/winInputHook.py
  tests/unit/__init__.py
  tests/unit/test_braille/test_brailleDisplayDrivers.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Review 2025.1 changelog documentation changes (#17895)
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Disable GH Actions releases
  .github/workflows/testAndPublish.yml
Due: none

Move changed declarations out of windowUtils.py
  source/winBindings/user32.py
  source/windowUtils.py
Due: checkPot

Move changed ctypes declarations out of displayModel.py
  source/NVDAHelper/localLib.py
  source/displayModel.py
Due: checkPot

Add type hints.
  source/appModules/calculator.py
Due: checkPot

Disable GH Actions releases (#17907)
  .github/workflows/testAndPublish.yml
Due: none

Merge pull request #17901 from CyrilleB79/wordCollExpGestures
  source/appModules/winword.py
Due: checkPot

Speak typed characters in Calculator when echo mode is 'Only in edit controls'. (#17905)
  source/appModules/calculator.py
Due: checkPot

Regenerate english user docs workflow: correct path to markdownTranslate.py
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Update changelog
  user_docs/en/changes.md
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
