Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Use NVDA+g to describe image to avoid using windows key in gesture
  source/globalCommands.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Add translator comments
  source/winAPI/_powerTracking.py
Due: checkPot

update system test for new gesture
  tests/system/robot/automatedImageDescriptions.py
Due: none

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

improve the input help message and gesture for the image descriptions (#19088)
  source/globalCommands.py
  tests/system/robot/automatedImageDescriptions.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Reformatted GPL-3 to markdown, other minor changes
  copying.txt
Due: none

Update wxPython to 4.2.3 #19080
  pyproject.toml
  source/gui/nvdaControls.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Improvements to battery reporting script (#19087)
  source/winAPI/_powerTracking.py
  user_docs/en/changes.md
Due: checkPot

Apply suggestions from code review
  .pre-commit-config.yaml
  user_docs/en/changes.md
Due: none

Update pyright to use [nodejs] (#19078)
  .pre-commit-config.yaml
  pyproject.toml
  user_docs/en/changes.md
  uv.lock
Due: licenseCheck

Fixed missing gpl 3 again
  copying.txt
Due: none

Removing extra whitespace
  copying.txt
Due: none

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Gobal class NVDAMagnifier added to the logic
  source/NVDAMagnifier/__init__.py
  source/globalCommands.py
Due: checkPot

some clean up
  source/NVDAMagnifier/__init__.py
  source/NVDAMagnifier/windowsHandler.py
Due: checkPot

diffHandler: revert back to master. diffMatchPatch is now run within NVDA so no need for handling separate processes.
  source/diffHandler.py
Due: checkPot

Harmonise GPL license to GPL-2 or later (#19003)
  copying.txt
  pyproject.toml
  readme.md
  source/versionInfo.py
  user_docs/en/changes.md
Due: checkPot, licenseCheck

Add ftdi2 to source
  source/ftdi2/ftdi2.py
Due: checkPot

Revert "Use root certificates when using the add-on store and NVDA remote (#18528)"
  pyproject.toml
  source/_remoteClient/transport.py
  source/addonStore/dataManager.py
  source/addonStore/network.py
  source/core.py
  source/updateCheck.py
  source/utils/networking.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Start adding ctypes definitions
  source/ftdi2/ftdi2.py
Due: checkPot

Pressing key twice will shows Ai image description result in a browseable message.
  source/_localCaptioner/imageDescriber.py
  source/globalCommands.py
  user_docs/en/userGuide.md
Due: checkPot

Update gesture descriptions
  source/globalCommands.py
  user_docs/en/userGuide.md
Due: checkPot

Fix unexpected changes for navigator object and wrong updates in braille when navigating messages in Outlook Classic
  source/appModules/outlook.py
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

Fix issue number in changelog
  user_docs/en/changes.md
Due: none

Add ctypes prototypes for all bindings
  source/ftdi2/__init__.py
  source/ftdi2/ftdi2.py
Due: checkPot

Struct fix
  source/ftdi2/ftdi2.py
Due: checkPot

Modernise some ctypes stuff
  source/ftdi2/ftdi2.py
Due: checkPot

Fix language reporting as not supported
  source/synthDriverHandler.py
Due: checkPot

Organise
  source/ftdi2/ftdi2.py
  source/ftdi2/ftdi2xx.py
Due: checkPot

MOre reorganisation and naming
  source/brailleDisplayDrivers/papenmeier.py
  source/ftdi2/__init__.py
  source/ftdi2/ftdi2.py
Due: checkPot

Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

Explicit key press logic
  source/_localCaptioner/imageDescriber.py
Due: checkPot

Correct gesture table
  user_docs/en/userGuide.md
Due: none

Update to Python 3.13.9
  .github/workflows/testAndPublish.yml
  .python-versions
  projectDocs/dev/buildingNVDA.md
  projectDocs/dev/createDevEnvironment.md
Due: none

Update projectDocs/dev/createDevEnvironment.md
  projectDocs/dev/createDevEnvironment.md
Due: none

Fix name of ftd2xx.py
  source/ftdi2/__init__.py
  source/ftdi2/ftd2xx.py
Due: checkPot
