Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Update source/installer.py
  source/installer.py
Due: checkPot

Update GitHub username references to tareh7z
  user_docs/en/changes.md
Due: none

Remove change log entries for 2026.2
  user_docs/en/changes.md
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Don't save mathCAT settings to yaml
  pyproject.toml
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/preferences.py
  uv.lock
Due: checkPot, licenseCheck

polish up
  source/gui/installerGui.py
  source/installer.py
  tests/unit/test_installer.py
  user_docs/en/changes.md
Due: checkPot

Add warning text
  source/gui/installerGui.py
Due: checkPot

fix import
  source/installer.py
Due: checkPot

fix up issues
  source/gui/installerGui.py
  source/installer.py
Due: checkPot

use lambda
  source/installer.py
Due: checkPot

Apply suggestions from code review
  source/_bridge/clients/synthDriverHost32/launcher.py
  source/_bridge/components/proxies/nvwave.py
  source/_bridge/components/services/nvwave.py
  source/_bridge/runtimes/synthDriverHost/synthDriverHost.py
  source/raiiUtils.py
Due: checkPot

Fix type hints and imports
  source/_bridge/components/proxies/nvwave.py
  source/_bridge/components/services/nvwave.py
Due: checkPot

fix portable copies
  source/gui/installerGui.py
  source/installer.py
Due: checkPot

use diff messages
  source/gui/installerGui.py
Due: checkPot

Moved to 2026.2 in changes.md
  user_docs/en/changes.md
Due: none

Fixed typos
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Removed extra whitespace
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Added wx exception to developerGuide.md
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

use remoteService.WavePlayer directly.
  source/_bridge/runtimes/synthDriverHost/synthDriverHost.py
Due: checkPot

fix prevcopyexists
  source/installer.py
Due: checkPot

pass in state
  source/gui/installerGui.py
Due: checkPot

Move web touch navigation into BrowseModeTreeInterceptor with dynamic element registration and settings
  source/browseMode.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/touchHandler.py
Due: checkPot

fix git attributes eol
  .gitattributes
Due: none

Apply suggestions from code review
  source/gui/installerGui.py
  source/installer.py
  user_docs/en/changes.md
Due: checkPot

Focus highlighter now follows the focused cell in Excel
  source/NVDAObjects/window/excel.py
Due: checkPot

Exclude emoji codepoints and regional indicators from supplementary normalization
  source/textUtils/__init__.py
Due: checkPot

Fix zoom
  source/NVDAObjects/window/excel.py
Due: checkPot

Change log
  user_docs/en/changes.md
Due: none

modernaise usage of AccessibleObjectFromWindow in rich edit
  source/NVDAObjects/window/edit.py
Due: checkPot

Move raiiUtils to utils.raii
  source/_bridge/base.py
  source/utils/raii.py
Due: checkPot

Revert erroneous changes.
  nvdaHelper/archBuild_sconscript
  nvdaHelper/espeak/sconscript
  nvdaHelper/javaAccessBridge/sconscript
  nvdaHelper/sonic/sconscript
  sconstruct
  source/_bridge/runtimes/synthDriverHost/main.pyw
Due: none

Responding to Luke's feedback
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Restore syntax with asterisks in typing
  source/globalCommands.py
Due: checkPot

restore screen curtain state on settings cancel
  source/gui/settingsDialogs.py
Due: checkPot

onDiscard fixup
  source/gui/settingsDialogs.py
Due: checkPot

fix restore logic
  source/gui/settingsDialogs.py
Due: checkPot

improve readability
  source/gui/settingsDialogs.py
Due: checkPot

Fix merged cells
  source/NVDAObjects/window/excel.py
Due: checkPot

Move list function
  source/speechDictHandler/__init__.py
  source/speechDictHandler/definitions.py
Due: checkPot
