Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

Update source/appModules/powerpnt.py
  source/appModules/powerpnt.py
Due: checkPot

Fix type hint
  source/appModules/powerpnt.py
Due: checkPot

Migrate gestures out of script decorator
  source/locale/en/gestures.ini
  source/scriptHandler.py
Due: checkPot

add copyright headers
  source/locale/en/gestures.ini
Due: none

check for conflicts
  source/scriptHandler.py
Due: checkPot

register fallback gesture dict
  source/core.py
  source/inputCore.py
  source/scriptHandler.py
Due: checkPot

minor fixups
  source/languageHandler.py
  source/scriptHandler.py
Due: checkPot

Add an unassigned command to toggle periodical refresh of the Windows OCR result
  source/globalCommands.py
  user_docs/en/changes.md
Due: checkPot

use warnings
  source/scriptHandler.py
Due: checkPot

Add an unassigned command to toggle periodical refresh of the Windows OCR result (#17740)
  source/globalCommands.py
  user_docs/en/changes.md
Due: checkPot

Avoid error in PowerPoint slideshows when focus highlighting is on (#17724)
  source/appModules/powerpnt.py
Due: checkPot

Some more struct fixes
  user_docs/en/changes.md
Due: none

set up pyright
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  runlint.bat
  source/__builtins__.pyi
  typings/_buildVersion/__init__.pyi
Due: licenseCheck

Various typing fixups
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/IAccessible/adobeAcrobat.py
  source/NVDAObjects/IAccessible/ia2Web.py
  source/NVDAObjects/UIA/winConsoleUIA.py
  source/UIAHandler/_remoteOps/instructions/_base.py
  source/UIAHandler/_remoteOps/instructions/textRange.py
  source/UIAHandler/_remoteOps/remoteAPI.py
  source/addonStore/settings.py
  source/annotation.py
  source/appModules/poedit.py
  source/baseObject.py
  source/browseMode.py
  source/buildVersion.py
  source/config/__init__.py
  source/config/featureFlagEnums.py
  source/extensionPoints/util.py
  source/gui/addonStoreGui/controls/actions.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/gui/addonStoreGui/controls/storeDialog.py
  source/gui/message.py
  source/gui/nvdaControls.py
  source/gui/settingsDialogs.py
  source/hwPortUtils.py
  source/mathPres/mathPlayer.py
  source/oleacc.py
  source/speech/commands.py
  source/synthDrivers/oneCore.py
  source/synthDrivers/sapi5.py
  source/updateCheck.py
  source/utils/urlUtils.py
  source/virtualBuffers/gecko_ia2.py
  source/winAPI/_wtsApi32.py
  source/winAPI/messageWindow.py
  source/winUser.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/unit/__init__.py
  tests/unit/test_UIARemoteOps/test_highLevel/test_errorHandling.py
  tests/unit/test_addonHandler/test_addonsState.py
  tests/unit/test_baseObject.py
Due: checkPot

add api breaking change notice
  user_docs/en/changes.md
Due: none

try fixing pre-commit
  .pre-commit-config.yaml
Due: none

fix CI pre-commit
  .pre-commit-config.yaml
Due: none

Remove lint from AppVeyor
  appveyor.yml
  appveyor/scripts/tests/lintCheck.ps1
Due: none

fix up docs, add stricter checks
  projectDocs/testing/automated.md
  pyproject.toml
  source/synthDriverHandler.py
Due: checkPot

rem line from readme
  appveyor/README.md
Due: none

Excel: fix comments/formulas listing (`NVDA+f7`) on some non-English systems
  source/NVDAObjects/window/excel.py
  user_docs/en/changes.md
Due: checkPot

Excel: fix comments/formulas listing (`NVDA+f7`) on some non-English systems (#17720)
  source/NVDAObjects/window/excel.py
  user_docs/en/changes.md
Due: checkPot

Apply suggestions from code review
  pyproject.toml
Due: none

Fix-up #17720 for sheets containing comma
  source/NVDAObjects/window/excel.py
Due: checkPot

Check if _player is None in IAudio_LevelSet
  source/synthDrivers/sapi4.py
Due: checkPot

Update files
  .github/workflows/runChecks.yml
  ci/README.md
  ci/authenticode.pfx.enc
  ci/crowdinSync.py
  ci/mozillaSyms.py
  ci/scripts/buildSymbolStore.ps1
  ci/scripts/decryptFilesForSigning.ps1
  ci/scripts/deployScript.ps1
  ci/scripts/installNVDA.ps1
  ci/scripts/logCiTiming.ps1
  ci/scripts/pushPackagingInfo.ps1
  ci/scripts/setBuildVersionVars.ps1
  ci/scripts/setSconsArgs.ps1
  ci/scripts/sign.ps1
  ci/scripts/tests/beforeTests.ps1
  ci/scripts/tests/checkTestFailure.ps1
  ci/scripts/tests/licenseCheck.ps1
  ci/scripts/tests/systemTests.ps1
  ci/scripts/tests/translationCheck.ps1
  ci/scripts/tests/unitTests.ps1
  ci/scripts/uploadArtifacts.ps1
  ci/scripts/webhookSetup.ps1
  ci/ssh_id_rsa.enc
  ci/ssh_known_hosts
Due: none

Update readme
  ci/README.md
  ci/authenticode.pfx.enc
  ci/crowdinSync.py
  ci/mozillaSyms.py
  ci/scripts/buildSymbolStore.ps1
  ci/scripts/decryptFilesForSigning.ps1
  ci/scripts/deployScript.ps1
  ci/scripts/logCiTiming.ps1
  ci/scripts/pushPackagingInfo.ps1
  ci/scripts/sign.ps1
  ci/scripts/uploadArtifacts.ps1
  ci/scripts/webhookSetup.ps1
  ci/ssh_id_rsa.enc
  ci/ssh_known_hosts
Due: none

Permissions for pull requests
  .github/workflows/runChecks.yml
Due: none

Update readme
  ci/README.md
Due: none

To revert: test failure
  source/globalCommands.py
  tests/unit/test_addonHandler/test_addonsState.py
Due: checkPot

Revert "To revert: test failure"
  source/globalCommands.py
  tests/unit/test_addonHandler/test_addonsState.py
Due: checkPot

refactor: Improve transport run method
  source/remoteClient/transport.py
Due: checkPot

refactor: narrow type annotation for transport.send() to only accept RemoteMessageType
  source/remoteClient/transport.py
Due: checkPot

Remove early return in cues preventing message
  source/remoteClient/cues.py
Due: checkPot

rename and camel-case
  source/gui/settingsDialogs.py
  source/remoteClient/client.py
  source/remoteClient/configuration.py
  source/remoteClient/cues.py
  source/remoteClient/dialogs.py
  source/remoteClient/server.py
  source/remoteClient/session.py
  source/remoteClient/transport.py
Due: checkPot

Remove unused local_beep
  source/remoteClient/cues.py
Due: checkPot

Improve handleCertificateFailed method documentation and error handling
  source/remoteClient/dialogs.py
Due: checkPot

Fix parsing error in simplified Chinese characterDescriptions
  source/locale/zh_CN/characterDescriptions.dic
Due: none
