Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Start dev cycle for 2027.1 (#20787)
  source/addonAPIVersion.py
  source/buildVersion.py
  user_docs/en/changes.md
Due: checkPot

Subprocess host controller: HostController implementation based on subprocess.Popen, helpers, and tests
  source/_art/session/hostController.py
  source/_art/winHandles.py
  source/winKernel.py
  tests/unit/test_art/test_artHost.py
Due: checkPot

Apply suggestions from code review
  source/_art/session/hostController.py
Due: checkPot

Add defensive close of duplicated handle
  source/_art/session/hostController.py
  source/winKernel.py
Due: checkPot

Tighten up the stderr drain
  source/_art/session/hostController.py
  tests/unit/test_art/test_artHost.py
Due: checkPot

Remove except; let the thread's except hook handle it
  source/_art/session/hostController.py
Due: checkPot

Boundary contract regression tests: exception hierarchy preservation, and log shim isolation
  tests/unit/test_art/probes/exceptionTaxonomy.py
  tests/unit/test_art/probes/logIsolation.py
  tests/unit/test_art/test_artHost.py
Due: none

Move changelog entry to 2027.1
  user_docs/en/changes.md
Due: none

Move speech changelog entry to 2027.1
  user_docs/en/changes.md
Due: none

Magnifier: preserve active session and viewport on configuration reload
  source/_magnifier/__init__.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/core.py
Due: checkPot

build: remove AppX packaging targets and sconscript
  appx/appx_images/nvda_150x150.png
  appx/appx_images/nvda_44x44.png
  appx/manifest.xml.subst
  appx/sconscript
  sconstruct
Due: none

refactor: remove AppX runtime detection and session restart handling
  source/core.py
  source/nvda.pyw
Due: checkPot

refactor: remove isAppX checks from config and subsystems
  source/NVDAHelper/__init__.py
  source/addonHandler/__init__.py
  source/addonHandler/packaging.py
  source/addonStore/dataManager.py
  source/brailleTables/__init__.py
  source/config/__init__.py
  source/core.py
  source/nvda.pyw
  source/touchHandler.py
  source/updateCheck.py
Due: checkPot

refactor: remove AppX checks from GUI and blockAction context
  source/NVDAObjects/IAccessible/sysListView32.py
  source/globalCommands.py
  source/gui/__init__.py
  source/gui/addonGui.py
  source/gui/blockAction.py
  source/gui/exit.py
  source/gui/settingsDialogs.py
  source/gui/startupDialogs.py
Due: checkPot

docs: add changelog entry for AppX removal and API breaking changes (#18799, #20681)
  user_docs/en/changes.md
Due: none

Sanitize attribute names at insertion and guard leading characters
  nvdaHelper/common/xml.h
  nvdaHelper/vbufBase/storage.cpp
  nvdaHelper/vbufBase/storage.h
  tests/unit/test_XMLFormatting.py
Due: scons-source

Sanitize invalid XML characters in virtual buffer attribute names
  nvdaHelper/common/xml.h
  nvdaHelper/vbufBase/storage.cpp
  user_docs/en/changes.md
Due: scons-source

Drop invalid virtual buffer XML attributes
  nvdaHelper/common/xml.h
  nvdaHelper/vbufBase/storage.cpp
  nvdaHelper/vbufBase/storage.h
  tests/unit/test_XMLFormatting.py
Due: scons-source

Add nvdaL10n as a submodule
  .gitmodules
Due: none

Update sconstruct
  sconstruct
Due: none

Update script to check po
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Update changelog
  user_docs/en/changes.md
Due: none

Fix what's new attribution
  user_docs/en/changes.md
Due: none

Apply suggestion from @seanbudd
  user_docs/en/changes.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Apply suggestion from @seanbudd
  .pre-commit-config.yaml
Due: none

Apply suggestion from @seanbudd
  tests/unit/test_NVDAObjects_IAccessible_ia2Web.py
Due: none

Auto-fix: apply prek fixes
  tests/unit/test_NVDAObjects_IAccessible_ia2Web.py
Due: none

Fix magnifier spotlight for relative tracking mode
  source/_magnifier/utils/spotlightManager.py
  user_docs/en/changes.md
Due: checkPot

fix up
  source/_magnifier/utils/spotlightManager.py
  tests/unit/test_magnifier/test_spotlightManager.py
Due: checkPot

fix test
  tests/unit/test_magnifier/test_spotlightManager.py
Due: none

NVDA correctly populates the elements list with notes and formulas when multiple cells are selected in the sheet
  source/NVDAObjects/window/excel.py
  user_docs/en/changes.md
Due: checkPot

Remove submodule
  .gitmodules
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
