Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

remove global import from versionInfo
  source/appModules/nvda.py
  source/core.py
  source/gui/__init__.py
  source/gui/startupDialogs.py
  source/installer.py
  source/setup.py
  source/updateCheck.py
  source/versionInfo.py
Due: checkPot

Update source/gui/__init__.py
  source/gui/__init__.py
Due: checkPot

SConscript: set Windows subsystem version to Windows 10 (for NVDA helper and friends).
  nvdaHelper/archBuild_sconscript
Due: none

update scons
  appx/sconscript
  projectDocs/dev/developerGuide/conf.py
  projectDocs/dev/developerGuide/developerGuide.md
  sconstruct
Due: none

NVDA helper readme: WINBLUE -> WIN10 (consistency with arch build sconscript)
  nvdaHelper/readme.md
Due: none

winVersion: minimum Windows version -> Windows 10 (RTM/1507)
  source/winVersion.py
Due: checkPot

winVersion: deprecate Windows 8.1 attribute (the attribute will be removed in a future NVDA release)
  source/winVersion.py
Due: checkPot

winVersion: remove Windows 8.1 (6.3) detection and attribute and edit comments
  source/winVersion.py
Due: checkPot

Synth drivers: set Windows OneCore as default synthesizer and say 'true' when chekcing for synth availability
  source/synthDriverHandler.py
  source/synthDrivers/oneCore.py
Due: checkPot

UIA handler: unconditionally add text change and auto-selection detection to evnet handler group map
  source/UIAHandler/__init__.py
Due: checkPot

UIA handler: remove text change event check.
  source/UIAHandler/__init__.py
Due: checkPot

appModules/excel: remove richedit60/Windows version check.
  source/appModules/excel.py
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

Update appx/sconscript
  appx/sconscript
Due: none

appModules/outlook: remove richedit60/Windows version check.
  source/appModules/outlook.py
Due: checkPot

winAPI/session tracking: remove Windows 10 check when determining secure desktop activation.
  source/winAPI/sessionTracking.py
Due: checkPot

User guide: drop Windows 8.1 content (system requirements, eSpeak NG, braille displays, OneCore voices)
  user_docs/en/userGuide.md
Due: none

Update copyright headers
  nvdaHelper/archBuild_sconscript
  source/appModules/excel.py
  source/appModules/outlook.py
  source/synthDriverHandler.py
  source/synthDrivers/oneCore.py
  source/winAPI/sessionTracking.py
Due: checkPot

add dialog to download default model
  source/_localCaptioner/__init__.py
  source/_localCaptioner/captioner.py
  source/_localCaptioner/imageDescriber.py
  source/_localCaptioner/modelDownloader.py
  source/gui/settingsDialogs.py
  tests/system/libraries/SystemTestSpy/mockModels.py
  tests/system/robot/automatedImageDescriptions.py
  tests/unit/test_localCaptioner/test_downloader.py
Due: checkPot

Update to python 3.13
  .github/workflows/add-new-language.yml
  .github/workflows/fetch-crowdin-translations.yml
  .github/workflows/regenerate_english_userDocs_translation_source.yml
  .github/workflows/testAndPublish.yml
  .pre-commit-config.yaml
  .python-versions
  projectDocs/dev/createDevEnvironment.md
  pyproject.toml
  source/setup.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
  uv.lock
Due: checkPot, licenseCheck

Changes: document Windows 10 requirement and winVErsion.WIN81 constant deprecation
  user_docs/en/changes.md
Due: none

remove test case handling
  tests/unit/test_baseObject.py
Due: none

remove TypeAlias
  source/gui/message.py
  source/keyboardHandler.py
Due: checkPot

remove ParamSpec
  source/UIAHandler/_remoteOps/remoteFuncWrapper.py
  source/UIAHandler/_remoteOps/remoteTypes/__init__.py
  source/gui/guiHelper.py
Due: checkPot

misc fixes
  source/gui/addonStoreGui/viewModels/addonList.py
  source/pythonConsole.py
  source/setup.py
  source/systemUtils.py
  source/textUtils/__init__.py
Due: checkPot

update changes
  user_docs/en/changes.md
Due: none

remove typing_extensions
  pyproject.toml
  user_docs/en/changes.md
  uv.lock
Due: licenseCheck

revert changes to cryptography
  pyproject.toml
  source/setup.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

winVersoin: add type hints.
  source/winVersion.py
Due: checkPot

User guide: update system requirements.
  user_docs/en/userGuide.md
Due: none

What's new: declare Windows 10 (Version 1507) as minimum version under 'important notes' section
  user_docs/en/changes.md
Due: none

Synth drivers/OneCore: remove Windows 10 comment as it is unnecessary.
  source/synthDriverHandler.py
Due: checkPot

Support multi select
  source/IAccessibleHandler/__init__.py
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/UIA/__init__.py
  source/braille.py
  source/config/configSpec.py
  source/controlTypes/processAndLabelStates.py
  source/controlTypes/state.py
  source/gui/settingsDialogs.py
  source/winUser.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fixed bindHelpEvent IDs
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Removed MathCAT logo
  source/mathPres/MathCAT/logo.png
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Review 2025.3 changelog documentation changes
  user_docs/en/changes.md
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
