Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Properly set provider in DeviceMatch.deviceInfo for BLE devices
  source/bdDetect.py
  source/braille.py
Due: checkPot

Remove BLE availability check since the scanner is always working on Win 10/11, even if no Bluetooth adapter is present
  source/brailleDisplayDrivers/dotPad/driver.py
  source/hwIo/ble/__init__.py
Due: checkPot

Update BLE imports to use _asyncioEventLoop package
  source/asyncioEventLoop.py
  source/hwIo/ble/_io.py
  source/hwIo/ble/_scanner.py
Due: checkPot

Document supplementary normalization of decorative Unicode letters in user guide
  user_docs/en/userGuide.md
Due: none

Bump bleak from 1.1.0 to 3.0.0
  pyproject.toml
  uv.lock
Due: licenseCheck

Rename COM Registration Fixing Tool to Accessibility registration repair tool
  .github/ISSUE_TEMPLATE/01-bug_report.yaml
  .github/ISSUE_TEMPLATE/11-bug_report.md
  source/gui/__init__.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Updated symbols.dic for Finnish
  source/locale/fi/symbols.dic
Due: none

fixup comment
  source/locale/tr/symbols.dic
Due: none

Revert "Invert to "suppress pause""
  nvdaHelper/localWin10/oneCoreSpeech.cpp
  nvdaHelper/localWin10/oneCoreSpeech.h
  source/synthDriverHandler.py
  source/synthDrivers/oneCore.py
Due: scons-source, checkPot

Type hints and fix
  source/synthDrivers/oneCore.py
Due: checkPot

Change docs
  source/synthDriverHandler.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

fix regexp and cleanup
  source/locale/tr/symbols.dic
Due: none

include unimathsymbols.txt in library.zip
  source/setup.py
Due: checkPot

POC fix
  source/setup.py
Due: checkPot

docs: Explicitly states the element type is remembered per document
  user_docs/en/userGuide.md
Due: none

translator comment now says browse mode touch navigation element types
  source/gui/settingsDialogs.py
Due: checkPot

clarifying comment added above the setting
  source/config/configSpec.py
Due: checkPot

addQuickNav docstring converted fully to Sphinx style
  source/browseMode.py
Due: checkPot

Cleanup
  source/setup.py
Due: checkPot

Docstrings and comments
  source/setup.py
Due: checkPot

Track whether we have rewritten so we can fail if we don't rewrite
  source/setup.py
Due: checkPot

Update source/locale/tr/symbols.dic
  source/locale/tr/symbols.dic
Due: none

Use a modification bool to control whether to persist screen curtain
  source/gui/settingsDialogs.py
Due: checkPot

Revert "Rate limiting against gui crash (#19686)"
  source/gui/settingsDialogs.py
Due: checkPot

Reapply typing fixes from "Rate limiting against gui crash (#19686)"
  source/gui/settingsDialogs.py
Due: checkPot

Exclude math panel when running on secure desktop
  source/gui/settingsDialogs.py
Due: checkPot

Move transformer out of py2exe hook, mark internal, mark hook as internal, and don't delete hook func
  source/setup.py
Due: checkPot

l10n: Update Swedish (sv) documentation
  user_docs/sv/changes.md
  user_docs/sv/userGuide.md
Due: none

Update source/setup.py
  source/setup.py
Due: checkPot

Update symbols.dic
  source/locale/tr/symbols.dic
Due: none

appModules/explorer: update copyright year and intro comment. Re #19802
  source/appModules/explorer.py
Due: checkPot

appModules/explorer: define a custom 'set product info' method to report actual Windows build.revision for File Explorer product version. Re #19802.
  source/appModules/explorer.py
Due: checkPot

Whats' new: add 'changes' entry for improved File Explorer product version reporting. Re #19802
  user_docs/en/changes.md
Due: none

Start of the new Braille APIs
  source/braille.py
  source/braillePipeServer.py
Due: checkPot

Port _remoteClient to use the braille mirror.
  source/_remoteClient/localMachine.py
  source/_remoteClient/session.py
Due: checkPot

Add unit tests for all the new braille APIs
  source/braillePipeServer.py
  tests/unit/test_braille/test_mirrorAndDirectWindow.py
Due: checkPot

Implement secure screen handling for the pipe IPC
  source/braillePipeServer.py
Due: checkPot

Add end-to-end encryption and extensibility support to Remote Access
  pyproject.toml
  source/_remoteClient/client.py
  source/_remoteClient/dialogs.py
  source/_remoteClient/e2e.py
  source/_remoteClient/protocol.py
  source/_remoteClient/server.py
  source/_remoteClient/session.py
  source/config/configSpec.py
  uv.lock
Due: checkPot, licenseCheck

Document Remote Access protocol v3 with E2E and extensibility
  projectDocs/design/remoteProtocol.md
Due: none
