Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Apply suggestions from code review
  projectDocs/dev/codingStandards.md
  tests/unit/test_util/test_ctypesUtils.py
Due: none

Apply suggestions from code review
  source/utils/ctypesUtils.py
Due: checkPot

Use typing.Annotated and typing.Annotated directly, clarify IN_OUT
  source/utils/ctypesUtils.py
Due: checkPot

Additional docs, add windowsErrCheck
  source/utils/ctypesUtils.py
Due: checkPot

Fixed the saving of settings in the Math panel.
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Sorted imports
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
  source/mathPres/MathCAT/rulesUtils.py
Due: checkPot

ruff format
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Set _remoteClient.connecting in more places
  source/_remoteClient/client.py
Due: checkPot

Set connecting in yet more places
  source/_remoteClient/client.py
Due: checkPot

Mark connecting as internal
  source/_remoteClient/client.py
Due: checkPot

Add a more accurate way of determining whether connecting
  source/_remoteClient/client.py
  source/globalCommands.py
Due: checkPot

Update projectDocs/dev/createDevEnvironment.md
  projectDocs/dev/createDevEnvironment.md
Due: none

Update include/readme.md
  include/readme.md
Due: none

Update GUI in more places
  source/_remoteClient/client.py
  tests/unit/test_remote/test_remoteClient.py
Due: checkPot

disconnect if connecting or connected
  source/globalCommands.py
Due: checkPot

Changes
  user_docs/en/changes.md
Due: none

Remove changes in sconscript for localLIb
  nvdaHelper/local/sconscript
Due: none

Improve decorator type hints
  source/utils/ctypesUtils.py
Due: checkPot

annotateOriginalCFunc=False by default
  source/utils/ctypesUtils.py
  tests/unit/test_util/test_ctypesUtils.py
Due: checkPot

Support None as restype because it is valid in ctypes, similar to c void
  source/utils/ctypesUtils.py
Due: checkPot

Remember last selected connection mode
  source/_remoteClient/dialogs.py
  source/config/configSpec.py
Due: checkPot

Change log
  user_docs/en/changes.md
Due: none

Improve Remote Access's consistency regarding connections (#18600)
  source/_remoteClient/client.py
  source/globalCommands.py
  tests/unit/test_remote/test_remoteClient.py
  user_docs/en/changes.md
Due: checkPot

Hopefully satisfy type checkers for byref
  source/utils/ctypesUtils.py
Due: checkPot

Just duplicate access bridge for now
  sconstruct
Due: none

Docmentation
  projectDocs/dev/codingStandards.md
Due: none

Improved doc string formatting
  source/utils/ctypesUtils.py
Due: checkPot

Apply Copilot suggestion and remove unneeded if statement
  source/brailleDisplayDrivers/dotPad/driver.py
Due: checkPot

Made it store memory display models via bitmaps, instead of memory DCs
  nvdaHelper/remote/gdiHooks.cpp
Due: scons-source

removed the IAccessible._get_TextInfo method
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

Create symbols.dic for Amharic language
  source/locale/am/symbols.dic
Due: none

Improve types
  source/utils/ctypesUtils.py
Due: checkPot

Revert "Made it store memory display models via bitmaps, instead of memory DCs"
  nvdaHelper/remote/gdiHooks.cpp
Due: scons-source

add system test for local captioner
  pyproject.toml
  source/_localCaptioner/__init__.py
  source/_localCaptioner/captioner.py
  tests/system/libraries/SystemTestSpy/configManager.py
  tests/system/libraries/SystemTestSpy/mockModels.py
  tests/system/nvdaSettingsFiles/standard-doLoadMockModel.ini
  tests/system/robot/runLocalCaptioner.py
  tests/system/robot/runLocalCaptioner.robot
  user_docs/en/changes.md
Due: checkPot, licenseCheck

Add instructions for setting indentation mode to tabs when translating on github
  projectDocs/translating/github.md
Due: none

create matrix dynamically
  .github/workflows/testAndPublish.yml
Due: none

Add instructions for setting indentation mode to tabs when translating on github (#18605)
  projectDocs/translating/github.md
Due: none

Added temporary notice on license change to readme.md
  readme.md
Due: none

add building script for cppjieba
  nvdaHelper/archBuild_sconscript
  nvdaHelper/cppjieba/sconscript
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
