Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Add ty as type checker alongside pyright (#20474)
  .github/workflows/autofix.yml
  .github/workflows/testAndPublish.yml
  .pre-commit-config.yaml
  ci/scripts/tests/typeCheckPyright.ps1
  ci/scripts/tests/typeCheckTy.ps1
  projectDocs/testing/automated.md
  pyproject.toml
  runlint.bat
  uv.lock
Due: licenseCheck

Update comments about ia2Web import
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/navNodeMapping.py
Due: checkPot

Apply suggestion from @seanbudd
  user_docs/en/changes.md
Due: none

Add-on Store: relabel update actions to "Update (and enable)" (#20513)
  source/gui/addonStoreGui/controls/actions.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/gui/addonStoreGui/viewModels/store.py
  user_docs/en/userGuide.md
Due: checkPot

message change
  source/touchHandler.py
Due: checkPot

removed None
  source/_magnifier/fullscreenMagnifier.py
Due: checkPot

Review actions
  source/braille/input/__init__.py
  source/braille/input/gesture.py
Due: checkPot

Strip extraneous XML and register namespace
  source/mathPres/MathCAT/navNodeMapping.py
Due: checkPot

rename private symbols with underscore prefix
  source/NVDAObjects/IAccessible/ia2Web.py
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/_navNodeMapping.py
  source/mathPres/_mathMlNode.py
  tests/unit/test_mathPres/test_mathCatNavNodeMapping.py
Due: checkPot

Fix bug where math was not being highlighted on initial focus
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

IA2 cleanup
  source/NVDAObjects/IAccessible/ia2Web.py
Due: checkPot

Add manual test for rapid Add-on Store list navigation
  tests/manual/nvdaUI/addonStore.md
Due: none

Add copyright attribution for Add-on Store details changes
  source/gui/addonStoreGui/controls/details.py
Due: checkPot

Debounce the Add-on Store details view refresh (#17351)
  source/gui/addonStoreGui/controls/details.py
Due: checkPot

Add changelog entry for Add-on Store freeze fix (#17351)
  user_docs/en/changes.md
Due: none

Fix documentation, formatting, exception types
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/_navNodeMapping.py
  source/mathPres/__init__.py
  source/vision/visionHandlerExtensionPoints.py
  user_docs/en/changes.md
Due: checkPot

Clean up docstrings and annotations
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/__init__.py
  source/vision/visionHandler.py
  source/visionEnhancementProviders/NVDAHighlighter.py
Due: checkPot

Speech history feature
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/speech/__init__.py
  source/speech/history.py
  source/speech/speech.py
  user_docs/en/userGuide.md
Due: checkPot

Create synthetic IDs without overwriting existing ones
  source/mathPres/MathCAT/_navNodeMapping.py
  source/mathPres/_mathMlNode.py
  tests/unit/test_mathPres/test_mathCatNavNodeMapping.py
Due: checkPot

Magnifier checkbox fix (#20503)
  source/_magnifier/__init__.py
  source/_magnifier/commands.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/errorHandling.py
  source/gui/settingsDialogs.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
  tests/unit/test_magnifier/test_magnifierCommands.py
Due: checkPot

Bump uv in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Block touch input while the magnifier is running (#20357)
  source/_magnifier/magnifier.py
  source/touchHandler.py
  tests/unit/test_magnifier/test_magnifier.py
  tests/unit/test_magnifier/test_magnifierTouchscreen.py
Due: checkPot

Fix Add-on Store freeze when navigating the list quickly (#20519)
  source/gui/addonStoreGui/controls/details.py
  tests/manual/nvdaUI/addonStore.md
  user_docs/en/changes.md
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Clean up IA2 fallback handling
  source/mathPres/MathCAT/_navNodeMapping.py
Due: checkPot

Add more tests
  tests/unit/test_mathPres/test_mathCatNavNodeMapping.py
Due: none

Narrow type annotations to IAccessible when possible
  source/NVDAObjects/IAccessible/ia2Web.py
Due: checkPot

Update developer guide
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Try just sending email to me
  .github/workflows/fetch-crowdin-translations.yml
Due: none

Try sending attachments
  .github/workflows/fetch-crowdin-translations.yml
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Json?
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Fix Windows OCR word order for RTL languages
  nvdaHelper/localWin10/uwpOcr.cpp
  user_docs/en/changes.md
Due: scons-source

Update actions
  .github/workflows/fetch-crowdin-translations.yml
Due: none

Use system date format in Add-on Store
  source/addonStore/models/addon.py
  source/gui/addonStoreGui/controls/details.py
  source/gui/addonStoreGui/viewModels/addonList.py
  source/utils/localisation.py
  tests/unit/test_util/test_localisation.py
  user_docs/en/changes.md
Due: checkPot

Verbose output for testing
  .github/workflows/fetch-crowdin-translations.yml
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Change base branch
  .github/workflows/fetch-crowdin-translations.yml
Due: none

Fix Chromium word expansion for malformed boundaries
  source/NVDAObjects/IAccessible/chromium.py
  tests/unit/test_chromium.py
  tests/unit/test_chromiumRtlWordNavigation.py
Due: checkPot

Add explicit submodule imports flagged by ty's possibly-missing-submodule rule
  runtime-builders/synthDriverHost32/setup-runtime.py
  site_scons/site_tools/listModules.py
  source/NVDAObjects/IAccessible/sysListView32.py
  source/NVDAObjects/__init__.py
  source/NVDAObjects/window/edit.py
  source/NVDAObjects/window/excel.py
  source/addonHandler/__init__.py
  source/api.py
  source/appModules/devenv.py
  source/appModules/powerpnt.py
  source/config/configFlags.py
  source/core.py
  source/eventHandler.py
  source/hwIo/base.py
  source/textInfos/offsets.py
  source/winConsoleHandler.py
Due: checkPot

Add missing None to parameter annotations with None defaults (ty invalid-parameter-default)
  source/_bridge/base.py
  source/_magnifier/magnifier.py
  source/_remoteClient/client.py
  source/bdDetect.py
  source/documentNavigation/paragraphHelper.py
  source/gui/addonStoreGui/controls/actions.py
  source/logHandler.py
  source/speech/speech.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
