Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

New handleKeyPress code in JS, as proposed by the AI.
  source/message.html
Due: none

AI proposed more modern copy code. AI isn't sure if it will work.
  source/message.html
Due: none

Revert "AI proposed more modern copy code. AI wasn't sure if it worked, and it doesn't.
  source/message.html
Due: none

AI suggested improvement to error logging detail.
  source/ui.py
Due: checkPot

Do not complete add-on installation or removal from the launcher (#17024)
  source/addonHandler/__init__.py
  user_docs/en/changes.md
Due: checkPot

Hello
  hello.txt
Due: none

Bye
  hello.txt
Due: none

Apply suggestions from code review
  user_docs/en/changes.md
Due: none

Add doc strings
  source/appModules/powerpnt.py
Due: checkPot

Fixup
  source/appModules/powerpnt.py
Due: checkPot

Add unit tests for braille.handler._normalizeCellArraySize
  tests/unit/test_braille/test_normalizeCellArraySize.py
Due: none

Fix most linting issues
  projectDocs/dev/buildingNVDA.md
Due: none

Changed second "Building NVDA" heading
  projectDocs/dev/buildingNVDA.md
Due: none

Added subheading for building without archiving
  projectDocs/dev/buildingNVDA.md
Due: none

Add note on disabling parallel builds when experiencing problems
  projectDocs/dev/buildingNVDA.md
Due: none

nvdaHelperLocal's beeps.cpp: make sure to specifically include <algorithm> so we get std::min and std::max
  nvdaHelper/local/beeps.cpp
Due: scons-source

Apply suggestions from code review
  projectDocs/dev/buildingNVDA.md
Due: none

Support compiling with VS 2022 V17.11 (#17028)
  nvdaHelper/local/beeps.cpp
Due: scons-source

Format lists in unit tests for braille.handler._normalizeCellArraySize so that they are one row per line, and telling Ruff to not touch them.
  tests/unit/test_braille/test_normalizeCellArraySize.py
Due: none

Small formatting, grammar, clarity and spelling changes to the developer guide.
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Apply suggestions from code review
  source/appModules/powerpnt.py
  user_docs/en/changes.md
Due: checkPot

Style fixes to changes.md.
  user_docs/en/changes.md
Due: none

Minor style changes and clarifications to the user guide.
  user_docs/en/userGuide.md
Due: none

Fixed a couple of stray double-spaces
  projectDocs/dev/developerGuide/developerGuide.md
  user_docs/en/changes.md
Due: none

Some rethinking of the braille display size filters:
  source/braille.py
Due: checkPot

Braille unit tests that check the old internal _displaySize variable should now use _displayDimensions.
  tests/unit/test_braille/test_handlerExtensionPoints.py
Due: none

braille: improve syntax of DisplayDimensions namedtuple and add displaySize helper property.
  source/braille.py
Due: checkPot

Braille unit test now uses DisplayDimension.displaySize.
  tests/unit/test_braille/test_handlerExtensionPoints.py
Due: none

Apply suggestions from code review
  projectDocs/dev/developerGuide/developerGuide.md
  user_docs/en/changes.md
Due: none

Grouped items in change log.
  user_docs/en/changes.md
Due: none

Added release blurb.
  user_docs/en/changes.md
Due: none

Slight regrouping.
  user_docs/en/changes.md
Due: none

Fix typo in recommended requirements.
  user_docs/en/userGuide.md
Due: none

Add 2025.1 changes section
  user_docs/en/changes.md
Due: none

Incremented build version
  source/buildVersion.py
  source/versionInfo.py
Due: checkPot

Updated add-on API backcompat
  source/addonAPIVersion.py
Due: checkPot

Removed unit tests for linking code
  tests/unit/test_config.py
Due: none

Add type hints
  source/appModules/powerpnt.py
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
