Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Changelog update GPL-2 or later
  user_docs/en/changes.md
Due: none

improve logging
  source/installer.py
Due: checkPot

handle install
  source/installer.py
Due: checkPot

apply review comments
  source/installer.py
Due: checkPot

fix up x86 cleanup
  source/installer.py
Due: checkPot

remove X86 dir
  source/installer.py
Due: checkPot

Restored missing GPL-3 heading
  copying.txt
Due: none

Update pyproject.toml to GPL2+
  pyproject.toml
Due: licenseCheck

Update versionInfo.py to GPL-2 or later
  source/versionInfo.py
Due: checkPot

always clean up program files
  source/NVDAState.py
  source/installer.py
Due: checkPot

rename lastContextToRectMap to _lastContextToRectMap
  source/visionEnhancementProviders/NVDAHighlighter.py
Due: checkPot

Earlier discard of MULTISELECTABLE state (#18977)
  source/controlTypes/processAndLabelStates.py
Due: checkPot

Fix secure desktop handling
  source/IAccessibleHandler/__init__.py
  source/IAccessibleHandler/internalWinEventHandler.py
  source/IAccessibleHandler/orderedWinEventLimiter.py
  source/winConsoleHandler.py
Due: checkPot

revert `Initialize Word Segmenters for Unused Languages:` checkbox and fixup the initialization logic
  source/gui/settingsDialogs.py
  source/textUtils/__init__.py
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

fixup unittests
  source/config/featureFlagEnums.py
  tests/unit/test_textUtils.py
Due: checkPot

Update source/installer.py
  source/installer.py
Due: checkPot

simplify the logic for 'Auto' option in Word Segmentation Standard settings
  source/textUtils/__init__.py
Due: checkPot

Update change log and user guide to reflect 64bit changes
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

fixup
  source/gui/settingsDialogs.py
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

fixup
  source/textUtils/wordSeg/wordSegUtils.py
Due: checkPot

Apply suggestions from code review
  source/config/configFlags.py
  user_docs/en/userGuide.md
Due: checkPot

Address review: remove unused function
  source/globalCommands.py
Due: checkPot

Address review: simplify script, needs to be tested
  source/globalCommands.py
Due: checkPot

Apply suggestions from code review
  source/IAccessibleHandler/__init__.py
Due: checkPot

Apply review suggestion, to be tested later
  source/globalCommands.py
Due: checkPot

Fix script
  source/globalCommands.py
Due: checkPot

Revert "always clean up program files"
  source/NVDAState.py
  source/installer.py
Due: checkPot

Clean x86 dir safer
  source/installer.py
Due: checkPot

add return types
  source/installer.py
Due: checkPot

fix check prev install
  source/installer.py
Due: checkPot

fix runlint output dir
  runlint.bat
Due: none

Update runlint.bat
  runlint.bat
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update change log and user guide to reflect 64bit ARM Windows 10 support (#19008)
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

fix runlint output dir (#19010)
  runlint.bat
Due: none

remove _RegistryKeyX86 in favour of access views
  source/NVDAState.py
  source/config/registry.py
  source/installer.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
