Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Add Uninstallation section to userGuide.md
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Removed MathCATPreferences and MathCATgui
  source/mathPres/MathCAT/MathCATPreferences.py
  source/mathPres/MathCAT/MathCATgui.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Add Uninstallation section to userGuide.md (#18643)
  user_docs/en/userGuide.md
Due: none

restore old templates
  .github/ISSUE_TEMPLATE/5-bug_report.md
  .github/ISSUE_TEMPLATE/6-feature_request.md
  .github/ISSUE_TEMPLATE/7-special_case_issue.md
  .github/ISSUE_TEMPLATE/8-developer_facing_changes.md
Due: none

Fix up name
  .github/ISSUE_TEMPLATE/8-developer_facing_changes.md
Due: none

preserve tabs in codefences (#18638)
  pyproject.toml
  source/md2html.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

A portable copy launched immediately after creation now correctly uses its own configuration (#18443)
  source/gui/installerGui.py
  user_docs/en/changes.md
Due: checkPot

Fix tests: "NVDA restarts on quit" and first time opening notepad failing (#18631)
  tests/system/libraries/NotepadLib.py
  tests/system/robot/startupShutdownNVDA.py
Due: none

Added/changed copyright headers
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/__init__.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
  source/mathPres/MathCAT/rulesUtils.py
Due: checkPot

Fix failing tests
  pyproject.toml
Due: licenseCheck

Add a callable to decide if formatting markers should be added in braille
  source/braille.py
Due: checkPot

fix up uv.lock
  uv.lock
Due: none

fix up order
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
Due: none

simplify structure
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
Due: none

Fix failing tests (#18645)
  pyproject.toml
  uv.lock
Due: licenseCheck

fix pre-commit
  .github/ISSUE_TEMPLATE/1-bug_report.yaml
  .github/ISSUE_TEMPLATE/2-feature_request.yaml
Due: none

Fix tip order
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
Due: none

move extra template info
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
Due: none

Add a key param to shouldBeUsed method
  source/braille.py
Due: checkPot

Use key param
  source/braille.py
Due: checkPot

Fixed docstrings in localization.py
  source/mathPres/MathCAT/localization.py
Due: checkPot

Removed unnecessary comments and unused variables from MathCAT.py
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Remove stragglers
  source/_remoteClient/dialogs.py
  source/config/configSpec.py
Due: checkPot

Removed espeak patches from MathCAT.py
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Persist remote connect dialog options (#18601)
  source/NVDAState.py
  source/_remoteClient/dialogs.py
  source/gui/__init__.py
  user_docs/en/changes.md
Due: checkPot

fix template links
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
Due: none

Apply suggestions from code review
  ci/README.md
  projectDocs/dev/createDevEnvironment.md
Due: none

update ruff in changes and pyproject.toml
  pyproject.toml
  user_docs/en/changes.md
Due: licenseCheck

update lock file
  uv.lock
Due: none

Improve checkPo step
  .github/workflows/testAndPublish.yml
Due: none

fix comment
  .github/workflows/testAndPublish.yml
Due: none

Apply suggestions from code review
  source/_localCaptioner/captioner.py
Due: checkPot

Build with python 3.13 in parallel (#18611)
  .github/workflows/testAndPublish.yml
  .python-versions
  pyproject.toml
  source/logHandler.py
  tests/unit/extensionPointTestHelpers.py
  tests/unit/test_baseObject.py
  tests/unit/test_braille/test_brailleDisplayDrivers.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Update to python 3.13.6
  .github/workflows/testAndPublish.yml
  .python-versions
Due: none

Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

disable branch builds, only builds PRs
  .github/workflows/testAndPublish.yml
Due: none

Apply suggestions from code review
  source/_localCaptioner/__init__.py
Due: checkPot

Update windows-sdk version
  .github/workflows/testAndPublish.yml
Due: none

Improve checkPo step (#18646)
  .github/workflows/testAndPublish.yml
Due: none
