Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Increase timeout for CI/CD jobs (#19221)
  .github/workflows/testAndPublish.yml
Due: none

Update CodeQL security analysis badge link in README
  readme.md
Due: none

Update CodeQL security analysis badge link in README (#19223)
  readme.md
Due: none

Updated actions/upload-artifact from v4 to v5.
  .github/workflows/testAndPublish.yml
Due: none

Updated actions/download-artifact from 4 to 6
  .github/workflows/testAndPublish.yml
Due: none

Update SCons to 4.10.1
  pyproject.toml
  uv.lock
Due: licenseCheck

Mention VS2026 build support
  projectDocs/dev/createDevEnvironment.md
  user_docs/en/changes.md
Due: none

Changelog
  user_docs/en/changes.md
Due: none

Fix LibreOffice braille scrolling (#19204)
  source/appModules/soffice.py
  source/compoundDocuments.py
  source/textInfos/offsets.py
  source/virtualBuffers/__init__.py
  tests/unit/objectProvider.py
  tests/unit/test_compoundDocuments.py
  user_docs/en/changes.md
Due: checkPot

Add new screenCurtain module and start initial development
  source/config/configSpec.py
  source/screenCurtain.py
Due: checkPot

Einitializer and deleter
  source/screenCurtain.py
Due: checkPot

Improve OCR and screen curtain scripts
  source/globalCommands.py
Due: checkPot

Update script
  source/globalCommands.py
  source/screenCurtain.py
Due: checkPot

Initialize and terminate wit NVDA
  source/core.py
  source/screenCurtain.py
Due: checkPot

Remove winVersion.isFullScreenMagnificationAvailable
  source/winVersion.py
  user_docs/en/changes.md
Due: checkPot

Fix block action
  source/gui/blockAction.py
Due: checkPot

Settings dialog
  source/gui/settingsDialogs.py
Due: checkPot

Tidy API
  source/gui/settingsDialogs.py
  source/screenCurtain.py
  source/vision/visionHandler.py
  source/visionEnhancementProviders/screenCurtain.py
  tests/unit/test_visionEnhancementProviders/test_magnificationAPI.py
  user_docs/en/changes.md
Due: checkPot

Fix settings
  source/gui/settingsDialogs.py
Due: checkPot

Actually make profile independent, and rename settings category
  source/config/__init__.py
  source/gui/settingsDialogs.py
  source/screenCurtain.py
Due: checkPot

Add unassigned gesture to jump directly to privacy and security settings
  source/globalCommands.py
  source/gui/__init__.py
Due: checkPot

Add profile update steps
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
Due: checkPot

Update changes with PR number
  user_docs/en/changes.md
Due: none

Restart screen curtain when resetting config
  source/core.py
Due: checkPot

Update changes
  user_docs/en/changes.md
Due: none

Add to changes
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  source/core.py
  source/globalCommands.py
  source/screenCurtain.py
Due: checkPot

Don't treat visionEnhancementProviders.screenCurtain as a vision enhancement provider
  source/vision/visionHandler.py
Due: checkPot

Misc fixups
  source/core.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/screenCurtain.py
  user_docs/en/userGuide.md
Due: checkPot

mend
  source/config/profileUpgradeSteps.py
Due: checkPot

Add some docstrings
  source/gui/settingsDialogs.py
  source/screenCurtain.py
Due: checkPot

Update references to screen curtain
  source/visionEnhancementProviders/_exampleProvider_autoGui.py
  source/visionEnhancementProviders/readme.md
Due: checkPot

Update documentation
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Refactor screenCurtain to be a package with an internal _screenCurtain module containing all internal API
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/screenCurtain/__init__.py
  source/screenCurtain/_screenCurtain.py
  tests/unit/test_visionEnhancementProviders/test_magnificationAPI.py
  user_docs/en/changes.md
Due: checkPot

Rename to be constant
  source/gui/settingsDialogs.py
  source/screenCurtain/_screenCurtain.py
Due: checkPot

Fix toggle command
  source/globalCommands.py
Due: checkPot

Make duplicated message an internal constant
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/screenCurtain/_screenCurtain.py
Due: checkPot

Add more thorough type hints
  source/screenCurtain/_screenCurtain.py
Due: checkPot

Make imports global
  source/gui/settingsDialogs.py
Due: checkPot

Remove visionEnhancementProviders.screenCurtain altogether
  source/vision/visionHandler.py
  source/visionEnhancementProviders/screenCurtain.py
  user_docs/en/changes.md
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
