Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Fix logging port
  source/remoteClient/server.py
Due: checkPot

vbuf_getTextInRange should be called from localLib.
  source/virtualBuffers/__init__.py
Due: checkPot

declare calculateCharacterOffsets in nvdaHelper localLib
  source/NVDAHelper/localLib.py
Due: checkPot

helperLocalBindingHandle should be tracked as a real HANDLE object so that it can be byrefed later.
  source/NVDAHelper/__init__.py
Due: checkPot

localLib.cancellableSendMessageTimeout: use c_void_p for WPARAM and LPARAM as this gives us the greatest flexibility of accepting various argument types while still ensuring the right size.
  source/NVDAHelper/localLib.py
Due: checkPot

Track virtaulBuffer handle as a real ctypes VBufRemote_buffer_Handle_t object rather than an int.
  source/virtualBuffers/__init__.py
Due: checkPot

localLib: declare calculateWordOffsets
  source/NVDAHelper/localLib.py
Due: checkPot

Improve NVDA's coding standards (#17666)
  projectDocs/dev/codingStandards.md
Due: none

Make free space bigger (2 seconds)
  source/synthDrivers/sapi4.py
Due: checkPot

Ignore failure HRESULTs from notify sink
  source/synthDrivers/sapi4.py
Due: checkPot

Add trailing comma
  source/synthDrivers/sapi4.py
Due: checkPot

Fix SAPI4 WASAPI implementation (#17762)
  source/synthDrivers/sapi4.py
Due: checkPot

Fix-up #17720 for sheets containing comma (#17754)
  source/NVDAObjects/window/excel.py
Due: checkPot

update pyright
  .pre-commit-config.yaml
  requirements.txt
Due: licenseCheck

Update Liblouis to 3.33.0
  projectDocs/dev/createDevEnvironment.md
  source/brailleTables.py
  user_docs/en/changes.md
Due: checkPot

Always re-enable audio ducking when starting a new utterance
  source/audioDucking.py
Due: checkPot

Update Liblouis to 3.33.0 (#17768)
  projectDocs/dev/createDevEnvironment.md
  source/brailleTables.py
  user_docs/en/changes.md
Due: checkPot

Add a developer task issue template
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/developer_facing_changes.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/special_case_issue.md
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
Due: none

Add changelog entry
  user_docs/en/changes.md
Due: none

refactor(server): clarify socket listen backlog parameter
  source/remoteClient/server.py
Due: checkPot

Improve code clarity and documentation in remote client code
  source/remoteClient/secureDesktop.py
  source/remoteClient/server.py
Due: checkPot

Remove unused logging from url handler
  source/remoteClient/urlHandler.py
Due: checkPot

Add check for _audioDuckingMode
  source/audioDucking.py
Due: checkPot

Add verbose debug log for SAPI4
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/synthDrivers/sapi4.py
Due: checkPot

Always re-enable audio ducking when starting a new utterance (#17770)
  source/audioDucking.py
  user_docs/en/changes.md
Due: checkPot

Update .github/ISSUE_TEMPLATE/developer_facing_changes.md
  .github/ISSUE_TEMPLATE/developer_facing_changes.md
Due: none

Fix-up runtime component updates in what's new for 2025.1
  user_docs/en/changes.md
Due: none

Fix-up runtime component updates in what's new for 2025.1 (#17777)
  user_docs/en/changes.md
Due: none

Replace SAPI4 category with existing synthDriver category
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/synthDrivers/sapi4.py
Due: checkPot

Fixed several instances of snake_case
  source/gui/guiHelper.py
  source/gui/settingsDialogs.py
  source/remoteClient/client.py
  source/remoteClient/configuration.py
  source/remoteClient/connectionInfo.py
  source/remoteClient/cues.py
  source/remoteClient/localMachine.py
  source/remoteClient/menu.py
  source/remoteClient/serializer.py
  source/remoteClient/server.py
  source/remoteClient/session.py
  source/remoteClient/transport.py
  source/remoteClient/urlHandler.py
Due: checkPot

Change to disconnected
  source/remoteClient/client.py
Due: checkPot

Made select timeout a constant
  source/remoteClient/server.py
Due: checkPot

Test composite action
  .github/workflows/buildNvda.yml
Due: none

Check comments for translators
  .github/workflows/potCheck.yml
  .github/workflows/runChecks.yml
Due: none

Fix checkPot workflow
  .github/workflows/checkPot.yml
Due: none

License check
  .github/workflows/licenseCheck.yml
Due: none

Add more workflows
  .github/workflows/buildNvda.yml
  .github/workflows/systemTests.yml
  .github/workflows/unitTests.yml
Due: none

Run prepare for system tests
  .github/workflows/systemTests.yml
Due: none

Prepare for system tests again
  .github/workflows/systemTests.yml
Due: none

Fix parsing error in simplified Chinese characterDescriptions (#17757)
  source/locale/zh_CN/characterDescriptions.dic
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
