Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Remove SAPI4 from user guide
  user_docs/en/userGuide.md
Due: none

Update changes
  user_docs/en/changes.md
Due: none

Optimize continuous recognition logic
  source/_localCaptioner/captioner/vitGpt2.py
  source/_localCaptioner/imageDescriber.py
Due: checkPot

Address review
  source/utils/urlUtils.py
Due: checkPot

Optimize continuous recognition logic (#19291)
  source/_localCaptioner/captioner/vitGpt2.py
  source/_localCaptioner/imageDescriber.py
Due: checkPot

Remove now empty file
  projectDocs/design/synthesizers.md
Due: none

Update onnyx versions in changelog
  user_docs/en/changes.md
Due: none

Update dependencies for 2026.1 (#19196)
  pyproject.toml
  source/addonHandler/__init__.py
  source/core.py
  source/fileUtils.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Updated to CLDR 48
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/05-addon_integration_request.yaml
  .github/ISSUE_TEMPLATE/15-addon_integration_request.md
Due: none

Added new template to docs
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
Due: none

Update eSpeak NG to commit b0b605c8
  projectDocs/dev/createDevEnvironment.md
  user_docs/en/changes.md
Due: none

Remove SAPI4 (#19290)
  projectDocs/design/synthesizers.md
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/synthDrivers/_sapi4.py
  source/synthDrivers/sapi4.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update eSpeak NG and Unicode CLDR (#19293)
  projectDocs/dev/createDevEnvironment.md
  user_docs/en/changes.md
Due: none

Created issue type for addon integration request (#18980)
  .github/ISSUE_TEMPLATE/05-addon_integration_request.yaml
  .github/ISSUE_TEMPLATE/15-addon_integration_request.md
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
Due: none

Update user guide
  user_docs/en/userGuide.md
Due: none

Update UG
  user_docs/en/userGuide.md
Due: none

Move allow usage stats to privacy and security panel
  source/gui/settingsDialogs.py
Due: checkPot

Slight refactor
  source/gui/settingsDialogs.py
Due: checkPot

Move log level setting to privacy and security
  source/gui/settingsDialogs.py
Due: checkPot

Fix error when trying to read documents with malformed URL in links (#19289)
  source/utils/urlUtils.py
  user_docs/en/changes.md
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

Add type hintes
  source/gui/settingsDialogs.py
Due: checkPot

Remove references to 32-bit Windows from the user guide
  user_docs/en/userGuide.md
Due: none

Update MSSP information
  user_docs/en/userGuide.md
Due: none

Add script to toggle mouse audio coordinates (#19026)
  source/globalCommands.py
Due: checkPot

Update user guide and changes for mouse audio coordinates toogle (#19026)
  user_docs/en/changes.t2t
  user_docs/en/userGuide.t2t
Due: none

Document mouse audio coordinates toogle gesture
  user_docs/en/changes.md
  user_docs/en/changes.t2t
  user_docs/en/userGuide.md
  user_docs/en/userGuide.t2t
Due: none

Tweak changelog entry for mouse audi coordinates
  user_docs/en/changes.md
Due: none

Move mouse audio coordinates command to mouse navigation section
  user_docs/en/userGuide.md
Due: none

Update uv.lock
  uv.lock
Due: none

ART manager: remove old import
  source/art/manager.py
Due: checkPot

secureProcess: implement maximum UI restrictions via the job object.
  source/secureProcess/__init__.py
  source/secureProcess/job.py
  source/winBindings/jobapi2.py
Due: checkPot

Remove references to 32-bit Windows from the user guide (#19297)
  user_docs/en/userGuide.md
Due: none

Update commit refs
  projectDocs/dev/createDevEnvironment.md
Due: none

Update brlApi and JAB notes, and fix full name of WIL
  projectDocs/dev/createDevEnvironment.md
Due: none

Fix CLDR version and remove reference to NVDA images and sounds
  projectDocs/dev/createDevEnvironment.md
Due: none

Parse LaTeX in the user guide to MathML
  pyproject.toml
  source/md2html.py
  uv.lock
Due: checkPot, licenseCheck
