Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Add recommended fixes/changes
  extras/controllerClient/readme.md
  nvdaHelper/client/client.cpp
  nvdaHelper/local/rpcSrv.cpp
  source/NVDAHelper/__init__.py
  source/speech/speech.py
Due: scons-source, checkPot

Add system tests for controlFieldReadingOrder setting
  tests/system/robot/chromeTests.py
  tests/system/robot/chromeTests.robot
Due: none

Add User Guide documentation for controlFieldReadingOrder setting
  user_docs/en/userGuide.md
Due: none

Address review: remove unused presCat param from _makeAttrs, clarify label mentions Say All
  source/gui/settingsDialogs.py
  tests/unit/test_speech.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Review fixes: improve type hints, add clickable deferral test, clean up test names
  source/speech/speech.py
  tests/system/robot/chromeTests.py
  tests/system/robot/chromeTests.robot
  tests/unit/test_speech.py
Due: checkPot

Fix race in nvdaController_speakSsml where speechCanceled could be missed
  source/NVDAHelper/__init__.py
  user_docs/en/changes.md
Due: checkPot

Fix race in nvdaController_speakSsml where speechCanceled could be missed (#20220)
  source/NVDAHelper/__init__.py
  user_docs/en/changes.md
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Address review feedback
  .github/workflows/testAndPublish.yml
  ci/scripts/submitWinGet.ps1
Due: none

Fix generating skeleton
  source/markdownTranslate.py
  tests/markdownTranslate/markdownlint_inlineComments.md
  tests/unit/test_markdownTranslate.py
Due: checkPot

add missing test
  tests/unit/test_markdownTranslate.py
Due: none

Fix the heading level error for the magnifier option in the user guide
  user_docs/en/userGuide.md
Due: none

Fix the heading level error for the magnifier option in the user guide (#20225)
  user_docs/en/userGuide.md
Due: none

Format code
  source/NVDAHelper/__init__.py
Due: checkPot

adding animation manager
  source/_magnifier/utils/animationManager.py
  source/_magnifier/utils/spotlightManager.py
  source/_magnifier/utils/types.py
  tests/unit/test_magnifier/test_animationManager.py
  tests/unit/test_magnifier/test_spotlightManager.py
Due: checkPot

adding animation to magnifier
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/animationManager.py
  tests/unit/test_magnifier/test_animationManager.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
Due: checkPot

simplified tests
  tests/unit/test_magnifier/test_animationManager.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
Due: none

Fix identifiers
  source/braille.py
  source/brailleDisplayDrivers/freedomScientific.py
Due: checkPot

invalid value fix
  source/_magnifier/utils/animationManager.py
  tests/unit/test_magnifier/test_animationManager.py
Due: checkPot

enforce start before set target
  source/_magnifier/utils/animationManager.py
  tests/unit/test_magnifier/test_animationManager.py
Due: checkPot

last copilot
  source/_magnifier/utils/spotlightManager.py
  tests/unit/test_magnifier/test_spotlightManager.py
Due: checkPot

use checkout instead of cache restore
  .github/workflows/testAndPublish.yml
Due: none

Rename setting label to 'Control announcement order when reading'
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fix identifier order
  source/braille.py
Due: checkPot

Update headers
  source/_remoteClient/input.py
  source/_remoteClient/session.py
  source/brailleDisplayDrivers/alva.py
  source/brailleDisplayDrivers/baum.py
  source/brailleDisplayDrivers/brailliantB.py
  source/brailleDisplayDrivers/freedomScientific.py
  source/brailleDisplayDrivers/handyTech.py
  source/brailleDisplayDrivers/hidBrailleStandard.py
  source/brailleDisplayDrivers/hims.py
  source/brailleDisplayDrivers/nlseReaderZoomax.py
  source/brailleDisplayDrivers/seikantk.py
  source/globalCommands.py
Due: checkPot

Updated Python to 3.13.13 - update pinned Python versions for local and CI environments - update developer documentation - note the Python update in the 2026.3 changelog
  .github/workflows/fetch-crowdin-translations.yml
  .github/workflows/testAndPublish.yml
  .python-versions
  projectDocs/dev/createDevEnvironment.md
  runtime-builders/synthDriverHost32/.python-version
  user_docs/en/changes.md
Due: none

Move Python changelog entry to 2026.2
  user_docs/en/changes.md
Due: none

Persist magnifier zoom, filter, full screen mode (#20050)
  source/_magnifier/commands.py
  source/_magnifier/config.py
  source/_magnifier/magnifier.py
  source/gui/settingsDialogs.py
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

Updated Python to 3.13.13 (#20231)
  .github/workflows/fetch-crowdin-translations.yml
  .github/workflows/testAndPublish.yml
  .python-versions
  projectDocs/dev/createDevEnvironment.md
  runtime-builders/synthDriverHost32/.python-version
  user_docs/en/changes.md
Due: none

fix: announce all content inside `role="alert"`
  source/NVDAObjects/IAccessible/__init__.py
  user_docs/en/changes.md
Due: checkPot

fix: pass proper child name and role to braille.handler.message
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

fix: guard child.parent and remove the change of braille properties
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

fix: announce some role text
  source/NVDAObjects/IAccessible/__init__.py
  user_docs/en/changes.md
Due: checkPot

fix: speak only focusable elements when alert has description
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

Address code review feedback
  source/_remoteClient/session.py
  source/braille.py
  source/brailleDisplayDrivers/hims.py
  source/globalCommands.py
  tests/unit/test_braille/test_brailleDisplayDrivers.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Extend tests
  tests/unit/test_braille/test_brailleDisplayDrivers.py
Due: none

Update .github/workflows/testAndPublish.yml
  .github/workflows/testAndPublish.yml
Due: none

Keep word segmentation helpers private
  source/braille.py
  source/core.py
  source/gui/settingsDialogs.py
  source/textInfos/offsets.py
  source/textUtils/_braille.py
  source/textUtils/_wordSeg/__init__.py
  source/textUtils/_wordSeg/wordSegStrategy.py
  source/textUtils/_wordSeg/wordSegUtils.py
  source/textUtils/_wordSeg/wordSegmenter.py
  tests/unit/test_braille/test_routing.py
  tests/unit/test_wordSeg.py
Due: checkPot

docs: move to 2026.3 from 2026.1
  user_docs/en/changes.md
Due: none
