Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

fixup revert
  source/audio/soundSplit.py
Due: checkPot

Download add-ons in the BG for automatic update notifications
  source/addonStore/dataManager.py
  source/addonStore/models/addon.py
  source/addonStore/network.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Add test plan
  source/gui/addonStoreGui/controls/messageDialogs.py
  tests/manual/addonStore.md
Due: checkPot

linearize build on debug
  .github/workflows/testAndPublish.yml
  ci/scripts/tests/systemTests.ps1
  ci/scripts/tests/translationCheck.ps1
Due: none

add else option for proper ternary
  .github/workflows/testAndPublish.yml
Due: none

Safer cache deletion
  .github/workflows/testAndPublish.yml
Due: none

lower start build number
  .github/workflows/testAndPublish.yml
Due: none

fix up job count (duh)
  .github/workflows/testAndPublish.yml
Due: none

publish test reports
  .github/workflows/testAndPublish.yml
Due: none

reorder cmd
  .github/workflows/testAndPublish.yml
Due: none

use repo owner
  .github/workflows/testAndPublish.yml
Due: none

mark junit as annotate only
  .github/workflows/testAndPublish.yml
Due: none

Address review: add comment for translators
  source/speech/speech.py
Due: checkPot

improve check for changes to license requirements
  .github/workflows/testAndPublish.yml
  .pre-commit-config.yaml
Due: none

use specific cache actions
  .github/workflows/testAndPublish.yml
Due: none

test failures
  pyproject.toml
  source/gui/blockAction.py
  tests/system/robot/chromeTests.py
  tests/unit/test_textInfos.py
Due: checkPot

Convert to use RAII
  nvdaHelper/local/screenCurtain.cpp
Due: scons-source

Tidy code
  nvdaHelper/local/screenCurtain.cpp
Due: scons-source

fix up junit reporting
  .github/workflows/testAndPublish.yml
Due: none

Variable names
  nvdaHelper/local/screenCurtain.cpp
Due: scons-source

fix up always checks
  .github/workflows/testAndPublish.yml
Due: none

Clean up code a it
  nvdaHelper/local/screenCurtain.cpp
Due: scons-source

Add documentation and fix name
  nvdaHelper/local/nvdaHelperLocal.def
  nvdaHelper/local/screenCurtain.cpp
Due: scons-source

improve reporting of translator comments and translation check
  .github/workflows/testAndPublish.yml
  ci/scripts/tests/licenseCheck.ps1
  ci/scripts/tests/translationCheck.ps1
  tests/checkPot.py
Due: none

add extra failing test
  source/controlTypes/role.py
Due: checkPot

fix up checkPot unit tests
  tests/unit/test_checkPot/__init__.py
Due: none

fix logging
  ci/scripts/tests/licenseCheck.ps1
  ci/scripts/tests/translationCheck.ps1
Due: none

fix logging
  ci/scripts/tests/licenseCheck.ps1
Due: none

make summaries collapsable
  ci/scripts/tests/licenseCheck.ps1
  ci/scripts/tests/translationCheck.ps1
Due: none

tidy up pyproject.toml
  pyproject.toml
Due: none

introduce license failure
  pyproject.toml
Due: none

fix lint
  ci/scripts/setBuildVersionVars.ps1
  ci/scripts/tests/licenseCheck.ps1
  ci/scripts/tests/systemTests.ps1
  ci/scripts/tests/translationCheck.ps1
Due: none

fix lint
  ci/scripts/setBuildVersionVars.ps1
  ci/scripts/setSconsArgs.ps1
  ci/scripts/tests/licenseCheck.ps1
  ci/scripts/tests/systemTests.ps1
  ci/scripts/tests/translationCheck.ps1
  ci/scripts/tests/unitTests.ps1
Due: none

fix lint
  ci/scripts/tests/translationCheck.ps1
Due: none

upload build artifacts
  .github/workflows/testAndPublish.yml
  ci/scripts/tests/translationCheck.ps1
Due: none

add install artifacts
  .github/workflows/testAndPublish.yml
  ci/scripts/installNVDA.ps1
  ci/scripts/tests/beforeTests.ps1
Due: none

add install artifacts
  ci/scripts/installNVDA.ps1
Due: none

add install artifacts
  .github/workflows/testAndPublish.yml
Due: none

fix up install proc
  .github/workflows/testAndPublish.yml
  ci/scripts/installNVDA.ps1
Due: none

touch file dest
  ci/scripts/installNVDA.ps1
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
