Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

braille.regions.properties.{getControlFieldBraille, getPropertiesBraille}
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/UIA/VisualStudio.py
  source/NVDAObjects/UIA/__init__.py
  source/NVDAObjects/__init__.py
  source/NVDAObjects/behaviors.py
  source/appModules/eclipse.py
  source/appModules/explorer.py
  source/appModules/notepad.py
  source/appModules/windowsinternal_composableshell_experiences_textinput_inputapp.py
  source/braille/__init__.py
  source/textInfos/__init__.py
Due: checkPot

braille.regions.NVDAObject.NVDAObjectRegion
  source/braille/__init__.py
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

braille.regions.focus.invalidateCachedFocusAncestors
  source/api.py
  source/appModules/logonui.py
  source/braille/__init__.py
  source/globalCommands.py
  tests/unit/test_braille/test_focusContextPresentation.py
Due: checkPot

braille.labels.{landmarkLabels, roleLabels}
  source/NVDAObjects/__init__.py
  source/braille/__init__.py
Due: checkPot

braille.regions.textInfo.TextInfoRegion
  source/braille/__init__.py
  source/brailleInput.py
  tests/unit/test_braille/test_regionLanguageIndexes.py
  tests/unit/test_braille/test_routing.py
Due: checkPot

braille.regions.base.Region
  source/braille/__init__.py
  source/mathPres/MathCAT/MathCAT.py
  tests/unit/test_braille/test_regionLanguageIndexes.py
  tests/unit/test_braille/test_routing.py
Due: checkPot

braille.constants.{AUTO_DISPLAY_NAME, AUTOMATIC_PORT, CONTEXTPRES_CHANGEDCONTEXT, CONTEXTPRES_FILL, CONTEXTPRES_SCROLL, CONTINUATION_SHAPE, CURSOR_SHAPES, TEXT_SEPARATOR, focusContextPresentations}
  source/braille/__init__.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  tests/unit/test_braille/test_focusContextPresentation.py
  tests/unit/test_braille/test_regionLanguageIndexes.py
  tests/unit/test_braille/test_windowBrailleCells.py
Due: checkPot

config.configFlags.{BrailleMode, TetherTo}
  source/braille/__init__.py
  source/gui/settingsDialogs.py
  tests/unit/test_braille/test_routing.py
Due: checkPot

braille.extensions.{decide_enabled, displayChanged, displaySizeChanged, filter_displayDimensions, filter_displaySize, pre_writeCells}
  source/_remoteClient/localMachine.py
  source/_remoteClient/session.py
  source/braille/__init__.py
  source/brailleViewer/__init__.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/unit/__init__.py
  tests/unit/test_braille/test_calculateWindowRowBufferOffsets.py
  tests/unit/test_braille/test_handlerExtensionPoints.py
  tests/unit/test_braille/test_windowBrailleCells.py
Due: checkPot

Replace backcompat shim and tests
  source/braille/__init__.py
  tests/unit/test_braille/test_publicSurface.py
Due: checkPot

Applyed all requested changes
  source/gui/inputGestures.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Add ty side to side with pyright
  .github/workflows/testAndPublish.yml
  .pre-commit-config.yaml
  ci/scripts/tests/typeCheckTy.ps1
  projectDocs/testing/automated.md
  pyproject.toml
  runlint.bat
  uv.lock
Due: licenseCheck

Update Python from 3.13.13 to 3.13.14
  .github/workflows/autofix.yml
  .github/workflows/fetch-crowdin-translations.yml
  .github/workflows/testAndPublish.yml
  .python-versions
  projectDocs/dev/createDevEnvironment.md
  runtime-builders/synthDriverHost32/.python-version
Due: none

feat(cursorManager): add in-memory search history for browse mode find dialog (#8482)
  source/config/configSpec.py
  source/cursorManager.py
  tests/unit/test_cursorManager.py
Due: checkPot

Fix copyright attribution in non-authored files (#8482)
  source/config/configSpec.py
  tests/unit/test_cursorManager.py
Due: checkPot

feat(gui): add search history combo to browse mode settings (#8482)
  source/gui/settingsDialogs.py
Due: checkPot

docs: document browse mode search history feature (#8482)
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Update Braille Reading and Automatic Scroll Rate in User Guide
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Apply suggestion from @Qchristensen
  user_docs/en/userGuide.md
Due: none

Apply suggestion from @seanbudd
  user_docs/en/changes.md
Due: none

API breaking changes managemente
  projectDocs/dev/contributing.md
Due: none

Apply suggestions from code review
  projectDocs/dev/contributing.md
Due: none

Apply suggestion from @seanbudd
  projectDocs/dev/contributing.md
Due: none

Simplify
  source/cursorManager.py
Due: checkPot

feat(sayAll): add paragraph option to sayAllReadingUnit
  source/NVDAObjects/window/edit.py
  source/NVDAObjects/window/winword.py
  source/config/featureFlagEnums.py
  source/textInfos/__init__.py
  source/textInfos/offsets.py
  tests/unit/test_textInfos.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

refactor(sayAll): reword reading unit option labels
  source/config/featureFlagEnums.py
  user_docs/en/userGuide.md
Due: checkPot
