Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

Add config item speech.trimLeadingSilence in advanced settings
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Allow disabling by user
  source/nvwave.py
Due: checkPot

Before scrolling in browse mode, check if the caret is in the first line of the object to be placed
  source/browseMode.py
Due: checkPot

Use Sphinx style to describe parameters
  source/browseMode.py
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

Remove contributors file from NVDA, read license as HTML (#17600)
  contributors.txt
  copying.txt
  source/documentationUtils.py
  source/gui/__init__.py
  source/gui/startupDialogs.py
  source/setup.py
  source/systemUtils.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fix nvwave.outputDeviceIDToName
  source/nvwave.py
Due: checkPot

Remove unused code
  nvdaHelper/local/silenceDetect.h
Due: scons-source

Remove GUI structure from name "AdvancedSettingsTrimLeadingSilence"
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Reload synth when settings changes
  source/gui/settingsDialogs.py
  source/nvwave.py
Due: checkPot

Add copyright header for silenceDetect.h
  nvdaHelper/local/silenceDetect.h
Due: scons-source

Add username in copyright headers
  nvdaHelper/espeak/sonic.def
  source/synthDrivers/_sonic.py
  source/synthDrivers/sapi5.py
Due: checkPot

Add ability to customize automatic update channels for add-ons (#17597)
  source/addonStore/dataManager.py
  source/addonStore/models/channel.py
  source/addonStore/network.py
  source/addonStore/settings.py
  source/config/configSpec.py
  source/gui/addonStoreGui/controls/actions.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/gui/addonStoreGui/controls/storeDialog.py
  source/gui/addonStoreGui/viewModels/action.py
  source/gui/settingsDialogs.py
  tests/unit/test_config.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Add rate boost support for SAPI5 voices (#17610)
  nvdaHelper/espeak/sconscript
  nvdaHelper/espeak/sonic.def
  source/synthDrivers/_sonic.py
  source/synthDrivers/sapi5.py
  user_docs/en/changes.md
Due: checkPot

clarification to changes
  user_docs/en/changes.md
Due: none

Renamed WasapiWavePlayer to WavePlayer and removed now redundant proxy variable
  source/nvwave.py
  user_docs/en/changes.md
Due: checkPot

Remove getOutputDeviceNames, outputDeviceIdToName and outputDeviceNameToId from nvwave
  source/nvwave.py
  user_docs/en/changes.md
Due: checkPot

Change anchor
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Mark the global `RemoteClient` reference as private
  source/NVDAHelper.py
  source/globalCommands.py
  source/remoteClient/__init__.py
Due: checkPot

Remove wasapiComboBox from advanced settings
  source/gui/settingsDialogs.py
Due: checkPot

Apply suggestions from code review
  source/appModules/winword.py
Due: checkPot

Move enum to common Winword file
  source/NVDAObjects/window/winword.py
  source/appModules/winword.py
Due: checkPot

Remove wasapiComboBox from advanced settings (#17679)
  source/gui/settingsDialogs.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update updateCheck and addonStore URLs to use new NV Access endpoints
  source/addonStore/network.py
  source/updateCheck.py
Due: checkPot

Move speech queue checking into WavePlayer class
  source/nvwave.py
Due: checkPot

Update updateCheck and addonStore URLs to use new NV Access endpoints (#17680)
  source/addonStore/network.py
  source/updateCheck.py
Due: checkPot

Make mmdevice utils public
  source/config/profileUpgradeSteps.py
  source/gui/settingsDialogs.py
  source/utils/mmdevice.py
  tests/unit/test_config.py
  user_docs/en/changes.md
Due: checkPot

Add fully automatic add-on updates
  source/addonStore/dataManager.py
  source/addonStore/models/status.py
  source/config/configFlags.py
  source/config/configSpec.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/gui/message.py
  source/gui/settingsDialogs.py
  source/utils/schedule.py
  tests/unit/test_util/test_schedule.py
  user_docs/en/userGuide.md
Due: checkPot

add sound
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

add changelog
  user_docs/en/changes.md
Due: none

fix up comments
  source/addonStore/dataManager.py
Due: checkPot

Remove unused function `WaveFormat::convertFrom`
  nvdaHelper/local/silenceDetect.h
Due: scons-source

Rename option
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/inputCore.py
  source/speech/sayAll.py
  source/systemUtils.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Remove system group
  source/gui/settingsDialogs.py
Due: checkPot

Add ability to report the current language when detecting languages is enabled
  source/speech/speech.py
Due: checkPot

Added a command to report the language of the character at the caret
  source/globalCommands.py
Due: checkPot

Apply suggestions from code review
  source/globalCommands.py
Due: checkPot

Address review and minor improvements
  source/globalCommands.py
  source/speech/speech.py
Due: checkPot
