Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Update experts list (#20326)
  projectDocs/community/expertsList.md
Due: none

Review actions
  .github/workflows/add-new-language.yml
  .github/workflows/prekAutoUpdate.yml
Due: none

Update source/NVDAObjects/window/edit.py
  source/NVDAObjects/window/edit.py
Due: checkPot

Move yaml import out function
  tests/unit/test_config.py
Due: none

Bump action deps
  .github/workflows/add-new-language.yml
  .github/workflows/autofix.yml
  .github/workflows/prekAutoUpdate.yml
Due: none

Add ICU word segmentation backend
  source/config/featureFlagEnums.py
  source/textInfos/offsets.py
  source/textUtils/_wordSeg/wordSegStrategy.py
  source/textUtils/_wordSeg/wordSegmenter.py
  source/textUtils/icu.py
  source/textUtils/segFlag.py
  source/winBindings/icu.py
  tests/unit/test_textUtils_backendComparison.py
  tests/unit/test_wordSegIcu.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

revert to magnifier
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

Add emoji test
  tests/unit/test_textUtils_backendComparison.py
Due: none

Fixed gestures for croatian keyboard layout: left and right mouse buttons for laptop, and increasing the magnifier zoom
  source/locale/hr/gestures.ini
Due: none

removed trailing tab
  source/locale/hr/gestures.ini
Due: none

revert unecessery changes
  source/_magnifier/magnifier.py
  source/screenCurtain/_screenCurtain.py
Due: checkPot

minor fix
  source/_magnifier/magnifier.py
Due: checkPot

changed approach
  source/_magnifier/magnifier.py
  source/touchHandler.py
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

Simplification
  source/textUtils/_wordSeg/wordSegStrategy.py
  source/textUtils/icu.py
  source/winBindings/icu.py
Due: checkPot

Fix copyright
  source/config/featureFlagEnums.py
  source/textInfos/offsets.py
  source/textUtils/_wordSeg/wordSegmenter.py
  source/textUtils/segFlag.py
  tests/unit/test_textUtils_backendComparison.py
  tests/unit/test_wordSegIcu.py
Due: checkPot

Cleanup
  tests/unit/test_textUtils_backendComparison.py
  tests/unit/test_wordSegIcu.py
Due: none

Update changes
  user_docs/en/changes.md
Due: none

Fold math context into browse mode context
  source/vision/constants.py
  source/vision/visionHandlerExtensionPoints.py
  source/visionEnhancementProviders/NVDAHighlighter.py
Due: checkPot

Fix user guide
  user_docs/en/userGuide.md
Due: none

Changelog entry and user docs update
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Copilot review actions
  source/textUtils/icu.py
  user_docs/en/changes.md
Due: checkPot

Clean up log messages and docstrings
  source/NVDAObjects/IAccessible/ia2Web.py
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

comProxyRegistration: add further debugging. unregister interface proxy entires in their registration thread.
  nvdaHelper/remote/COMProxyRegistration.cpp
  nvdaHelper/remote/COMProxyRegistration.h
  nvdaHelper/remote/IA2Support.cpp
Due: scons-source

Gestures/keyboard shortcuts for croatian (#20380)
  source/locale/hr/gestures.ini
Due: none

Fix AttributeError when instantiating ITextDocumentTextInfo without a selection object (#20362)
  source/NVDAObjects/window/edit.py
  user_docs/en/changes.md
Due: checkPot

Update source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Update source/mathPres/__init__.py
  source/mathPres/__init__.py
Due: checkPot

Apply suggestions
  user_docs/en/changes.md
Due: none

Potential fix for pull request finding
  source/_magnifier/fullscreenMagnifier.py
Due: checkPot

Fix copyright header
  tests/unit/test_mathPres/test_mathCatNavNodeMapping.py
Due: none

Back to .pre-commit-config.yaml
  .pre-commit-config.yaml
  prek.toml
Due: none

Formatting and docs
  source/_art/transport/config.py
  source/_art/transport/connection.py
  source/_art/transport/proxy.py
  source/_art/transport/service.py
Due: checkPot

tests
  tests/unit/test_art/__init__.py
  tests/unit/test_art/test_artTransport.py
Due: none

Initial commit
  source/_art/__init__.py
  source/_art/transport/__init__.py
  source/_art/transport/config.py
  source/_art/transport/connection.py
  source/_art/transport/proxy.py
  source/_art/transport/service.py
  tests/unit/test_artTransport.py
Due: checkPot

Minor naming and doc fixes
  source/_art/__init__.py
  source/_art/transport/__init__.py
  source/_art/transport/config.py
  source/_art/transport/connection.py
  source/_art/transport/proxy.py
  source/_art/transport/service.py
  tests/unit/test_art/__init__.py
  tests/unit/test_art/test_artTransport.py
Due: checkPot

simplification
  source/_magnifier/config.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/utils/spotlightManager.py
  source/_magnifier/utils/types.py
  source/gui/settingsDialogs.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
Due: checkPot

simplification
  source/_magnifier/commands.py
  source/globalCommands.py
  tests/unit/test_magnifier/test_spotlightManager.py
Due: checkPot

simplification
  source/_magnifier/commands.py
  source/_magnifier/config.py
Due: checkPot
