Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Move _getOutputDevices from nvwave to utils.mmdevice
  source/config/profileUpgradeSteps.py
  source/utils/mmdevice.py
  tests/unit/test_config.py
Due: checkPot

remove _getOutputDevices and _AudioOutputDevice from nvwave
  source/gui/settingsDialogs.py
  source/nvwave.py
  tests/unit/test_config.py
Due: checkPot

Apply suggestions from code review
  tests/unit/test_config.py
Due: none

Update source/utils/mmdevice.py
  source/utils/mmdevice.py
Due: checkPot

Update devGuide for translating symbols, gestures, character descriptions
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Make SAPI5 voices use WavePlayer
  source/synthDrivers/mssp.py
  source/synthDrivers/sapi5.py
Due: checkPot

add validation function for update mirror urls and use it in the UI and the updateCheck function. #17205
  source/gui/settingsDialogs.py
  source/updateCheck.py
Due: checkPot

Apply code review changes.
  source/NVDAObjects/behaviors.py
  source/NVDAObjects/inputComposition.py
  source/config/profileUpgradeSteps.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/speech/speech.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

New option is now default
  source/config/configSpec.py
Due: checkPot

Add type hints
  tests/unit/test_bdDetect.py
Due: none

Apply code review changes
  source/config/profileUpgradeSteps.py
  source/gui/settingsDialogs.py
  source/speech/speech.py
  user_docs/en/userGuide.md
Due: checkPot

Fix name error
  source/speech/speech.py
Due: checkPot

Fix lint
  source/config/profileUpgradeSteps.py
  source/gui/settingsDialogs.py
  source/speech/speech.py
Due: checkPot

Updated symbols for fi
  source/locale/fi/symbols.dic
Due: none

Fix profile upgrade from 13 to 14 (#17589)
  source/config/profileUpgradeSteps.py
  source/gui/settingsDialogs.py
  source/nvwave.py
  source/utils/mmdevice.py
  tests/unit/test_config.py
Due: checkPot

Updated symbols for fi (#17595)
  source/locale/fi/symbols.dic
Due: none

Fix bug in bdDetect device registration affecting Albatross (#17585)
  source/bdDetect.py
  source/brailleDisplayDrivers/albatross/driver.py
  tests/unit/test_bdDetect.py
Due: checkPot

Create options for updating add-ons by channel
  source/addonStore/dataManager.py
  source/addonStore/models/channel.py
  source/addonStore/settings.py
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  source/gui/addonStoreGui/controls/actions.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/gui/addonStoreGui/controls/storeDialog.py
  source/gui/addonStoreGui/viewModels/action.py
  source/gui/settingsDialogs.py
  tests/unit/test_config.py
Due: checkPot

add docs
  source/gui/addonStoreGui/controls/actions.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

remove misleading comment
  source/addonStore/dataManager.py
Due: checkPot

wip
  l10nUtil/l10nUtil.py
Due: none

Initial implementation of translation between mmDevice endpoint ID strings and WaveOut device IDs.
  source/synthDrivers/_sapi4.py
  source/synthDrivers/sapi4.py
Due: checkPot

Slight improvements to typing
  source/synthDrivers/_sapi4.py
Due: checkPot

Fix incorrect config path
  source/synthDrivers/sapi4.py
Due: checkPot

Uasof 'Everywhere, Update translator comments'e 'Always' insted
  source/config/configFlags.py
  source/config/configSpec.py
  source/globalCommands.py
  source/speech/speech.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Use 'always' instead of 'everywhere, update translator comments'
  source/config/configFlags.py
  source/config/configSpec.py
  source/globalCommands.py
  source/speech/speech.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Message Dialog API take 2 (#17582)
  projectDocs/dev/developerGuide/developerGuide.md
  requirements.txt
  source/documentationUtils.py
  source/gui/__init__.py
  source/gui/blockAction.py
  source/gui/exit.py
  source/gui/guiHelper.py
  source/gui/message.py
  source/gui/nvdaControls.py
  source/updateCheck.py
  source/visionEnhancementProviders/screenCurtain.py
  tests/system/robot/startupShutdownNVDA.robot
  tests/unit/test_messageDialog.py
  user_docs/en/changes.md
Due: checkPot, licenseCheck

Remove 'Automatically set system focus to focusable elements'
  source/browseMode.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

update changes
  user_docs/en/changes.md
Due: none

Fix issue with certain SECTION elements not being recognized as editable controls in Visual Studio Code
  source/appModules/code.py
Due: checkPot

Update changes.
  user_docs/en/changes.md
Due: none

Added a warning when SAPI4 is in use.
  source/config/configSpec.py
  source/speech/speech.py
Due: checkPot

Changelog
  user_docs/en/changes.md
Due: none

Use high-level implementation when implementing COM interfaces
  source/synthDrivers/sapi5.py
Due: checkPot

Remove contributors file from NVDA, read license as HTML
  source/documentationUtils.py
  source/gui/__init__.py
  source/gui/startupDialogs.py
  source/setup.py
  user_docs/en/userGuide.md
Due: checkPot

update docs
  contributors.txt
  source/gui/__init__.py
  user_docs/en/changes.md
Due: checkPot

fix changes
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  source/documentationUtils.py
  user_docs/en/userGuide.md
Due: checkPot

fix markdown readibility
  copying.txt
Due: none

fix changes
  copying.txt
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
