Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

Revert "Add multiple lines to workflow to run system tests again"
  .github/workflows/systemTests.yml
Due: none

Improve function to filter sequences with language descriptions
  source/speech/__init__.py
Due: checkPot

Remove unused import
  source/speech/__init__.py
Due: checkPot

Improve readability of function
  source/speech/__init__.py
Due: checkPot

Move functions to speech module2
  source/speech/__init__.py
  source/speech/speech.py
Due: checkPot

Return original speech sequence if report language setting is False
  source/speech/speech.py
Due: checkPot

Switch to using gui.blockAction
  source/globalCommands.py
  source/gui/blockAction.py
Due: checkPot

Switch to using timezone aware objects when setting and checking certificate validity (#17810)
  source/remoteClient/server.py
Due: checkPot

images with role=math but no actual mathMl should be treated as normal images. (#16007)
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
  source/NVDAObjects/IAccessible/ia2Web.py
Due: scons-source, checkPot

Update what's new
  user_docs/en/changes.md
Due: none

Translation of French gestures for NVDA 2025.1
  source/locale/fr/gestures.ini
Due: none

Collapse headings (#17545)
  source/locale/fr/gestures.ini
Due: none

Add name for SAPI4 audio thread
  source/synthDrivers/sapi4.py
Due: checkPot

Use a dedicated thread to run all SAPI4 COM-related code
  source/synthDrivers/sapi4.py
Due: checkPot

Restore control+B in French since both control+G and control+B toggle bold
  source/locale/fr/gestures.ini
Due: none

LO: Fix German heading formatting commands
  source/appModules/soffice.py
Due: checkPot

Images with role=math but no actual mathml should be treated as normal images (#17832)
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
  source/NVDAObjects/IAccessible/ia2Web.py
  user_docs/en/changes.md
Due: scons-source, checkPot

GUI message when the configuration cannot be saved (#17827)
  source/config/__init__.py
  source/gui/__init__.py
Due: checkPot

Fix misplaced quote in user guide (#17819)
  user_docs/en/userGuide.md
Due: none

Fix typo in quickstart guide: add missing to (#17818)
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Changelog (2025.1): remove duplicate add-on store entries (#17807)
  user_docs/en/changes.md
Due: none

Release COM objects on the COM thread
  source/synthDrivers/sapi4.py
Due: checkPot

Add comments
  source/synthDrivers/sapi4.py
Due: checkPot

Allow browse mode's native selection mode in Chromium-based browsers that can support it. (#17838)
  source/NVDAObjects/IAccessible/chromium.py
  source/browseMode.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fix multiple sentences per line in documentation
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Bring back the older WinMM-based SAPI4 implementation (#17801)
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/synthDrivers/_sapi4.py
  source/synthDrivers/sapi4.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Address review: don't use run id in version names
  ci/scripts/setBuildVersionVars.ps1
Due: none

Fix WinMM switch
  source/synthDrivers/sapi4.py
Due: checkPot

Put WinMM on ComThread
  source/synthDrivers/sapi4.py
Due: checkPot

Change bookmark handling
  source/synthDrivers/sapi4.py
Due: checkPot

Upload nvda.pot artifact
  .github/workflows/checkPot.yml
Due: none

Overrite uploaded artifacts
  .github/workflows/checkPot.yml
  .github/workflows/licenseCheck.yml
  .github/workflows/systemTests.yml
  .github/workflows/unitTests.yml
Due: none

Update readme for GitHub Actions
  ci/README.md
Due: none

Fix installing a downloaded update (#17812)
  source/updateCheck.py
Due: checkPot

Refactor: Cleanup and organize add-on related imports
  source/addonHandler/addon.py
  source/addonStore/dataManager.py
  source/addonStore/models/addon.py
  source/addonStore/models/status.py
Due: checkPot

addonHandler: Simplify import paths and standardize import style
  source/addonStore/install.py
  source/addonStore/models/addon.py
  source/addonStore/models/status.py
  source/gui/addonGui.py
Due: checkPot

Modified to use entire desktop
  nvdaHelper/local/screenCurtain.cpp
Due: scons-source

Commented out old code
  nvdaHelper/local/screenCurtain.cpp
Due: scons-source
