Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

English changes file: remove test string
  user_docs/en/changes.md
Due: none

Removed unused showTip option
  source/addonStore/dataManager.py
Due: checkPot

Fix urlUtils
  source/utils/urlUtils.py
Due: checkPot

User docs github action: remove rule for this branch
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Fix variable
  source/utils/urlUtils.py
Due: checkPot

Replaced custom logic with logic from url_normalize
  source/gui/settingsDialogs.py
Due: checkPot

Simplified generation of Add-on Store URLs now that we have more certainty about the base URL
  source/addonStore/network.py
Due: checkPot

setup.py: exclude xliff files.
  source/setup.py
Due: checkPot

Update source/gui/addonStoreGui/controls/actions.py
  source/gui/addonStoreGui/controls/actions.py
Due: checkPot

Update source/gui/addonStoreGui/viewModels/store.py
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Keystrokes to adjust applications volume and mute [take 2] (#16591)
  source/audio/__init__.py
  source/audio/appsVolume.py
  source/audio/soundSplit.py
  source/audio/utils.py
  source/config/configSpec.py
  source/config/featureFlagEnums.py
  source/core.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Add toggleBooleanValue function
  source/globalCommands.py
Due: checkPot

Fix changes for developers
  user_docs/en/changes.md
Due: none

Fix various things the AI did wrong.
  source/gui/__init__.py
  source/gui/utilityDialogs.py
Due: checkPot

Remove warning icon and ding.
  source/gui/__init__.py
Due: checkPot

Fix title and message ordering in ContinueCancelDialog.__init__
  source/gui/utilityDialogs.py
Due: checkPot

English changes.xliff + Initial set of user docs translated xliff files from Crowdin (#17106)
  .github/workflows/regenerate_english_userDocs_translation_source.yml
  source/setup.py
  user_docs/bg/userGuide.xliff
  user_docs/da/userGuide.xliff
  user_docs/de/changes.xliff
  user_docs/de/userGuide.xliff
  user_docs/en/changes.xliff
  user_docs/es/userGuide.xliff
  user_docs/fa/userGuide.xliff
  user_docs/fi/userGuide.xliff
  user_docs/fr/changes.xliff
  user_docs/fr/userGuide.xliff
  user_docs/gl/userGuide.xliff
  user_docs/hr/userGuide.xliff
  user_docs/it/userGuide.xliff
  user_docs/pl/userGuide.xliff
  user_docs/pt_PT/userGuide.xliff
  user_docs/ru/changes.xliff
  user_docs/ru/userGuide.xliff
  user_docs/sk/userGuide.xliff
  user_docs/sr/changes.xliff
  user_docs/sr/userGuide.xliff
  user_docs/tr/changes.xliff
  user_docs/tr/userGuide.xliff
  user_docs/uk/changes.xliff
  user_docs/uk/userGuide.xliff
  user_docs/vi/userGuide.xliff
  user_docs/zh_CN/changes.xliff
  user_docs/zh_CN/userGuide.xliff
  user_docs/zh_TW/userGuide.xliff
Due: checkPot

Remove unnecessary UTF-8 header line
  source/gui/utilityDialogs.py
Due: checkPot

Update changes for developers
  user_docs/en/changes.md
Due: none

Fix instruction from "Press OK" to "Press Continue".
  source/gui/__init__.py
Due: checkPot

Add docstring.
  source/gui/utilityDialogs.py
Due: checkPot

Remove % from invalidChars
  source/utils/urlUtils.py
Due: checkPot

Fix-up some indenting.
  source/gui/utilityDialogs.py
Due: checkPot

Added a note to changes for devs.
  user_docs/en/changes.md
Due: none

Fix script and function to toggle boolean values
  source/globalCommands.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update projectDocs/dev/copyrightHeaders.md
  projectDocs/dev/copyrightHeaders.md
Due: none

Apply suggestions from code review
  source/addonStore/dataManager.py
Due: checkPot

Moved _stripAccelleratorFromLabel to guiHelper
  source/gui/__init__.py
  source/gui/guiHelper.py
Due: checkPot

Update liblouis to 3.31 (#17080)
  projectDocs/dev/createDevEnvironment.md
  source/brailleTables.py
  user_docs/en/changes.md
Due: checkPot

turn off auto reviews from coderabbit
  .coderabbit.yml
  projectDocs/dev/contributing.md
Due: none

allow manual draft reviews
  .coderabbit.yml
Due: none

fix 9524 Clean up outdated zh directories under locales (#17105)
  source/locale/zh/characterDescriptions.dic
  source/locale/zh/symbols.dic
Due: none

Added explicit dependency on url-normalize
  requirements.txt
Due: licenseCheck

Apply suggestions from code review
  source/globalCommands.py
  user_docs/en/changes.md
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
