Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

removed completely KeepMouseCentered
  source/_magnifier/config.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
  user_docs/en/userGuide.md
Due: checkPot

removed dead code
  source/_magnifier/fullscreenMagnifier.py
Due: checkPot

Update LibLouis to 3.38.0
  projectDocs/dev/createDevEnvironment.md
  source/brailleTables/__tables.py
  user_docs/en/changes.md
Due: checkPot

Updated symbols for Finnish
  source/locale/fi/symbols.dic
Due: none

Restructure
  source/braille/__init__.py
  source/braille/brailleHandler.py
  source/braille/buffers.py
  source/braille/display.py
  source/braille/extensions.py
  source/braille/formatting.py
  source/braille/regions.py
Due: checkPot

Sort improts
  source/braille/__init__.py
  source/braille/brailleHandler.py
  source/braille/buffers.py
  source/braille/display.py
  source/braille/extensions.py
  source/braille/regions.py
Due: checkPot

No longer export internals in braille/__init__
  source/_remoteClient/localMachine.py
  source/bdDetect.py
  source/braille/__init__.py
  source/brailleDisplayDrivers/albatross/__init__.py
  source/brailleDisplayDrivers/dotPad/__init__.py
  source/brailleDisplayDrivers/eurobraille/__init__.py
  source/gui/settingsDialogs.py
  tests/unit/test_braille/test_brailleDisplayDrivers.py
  tests/unit/test_braille/test_calculateWindowRowBufferOffsets.py
  tests/unit/test_braille/test_publicSurface.py
  tests/unit/test_braille/test_windowBrailleCells.py
Due: checkPot

Updated gestures for Finnish
  source/locale/fi/gestures.ini
Due: none

Further address review comments on sequential two-flick gestures
  source/touchHandler.py
  source/touchTracker.py
Due: checkPot

Updated gestures for Finnish (#20271)
  source/locale/fi/gestures.ini
Due: none

Updated symbols for Finnish (#20270)
  source/locale/fi/symbols.dic
Due: none

Remove keep mouse centered (#20268)
  source/_magnifier/config.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
  user_docs/en/userGuide.md
Due: checkPot

fix user guide standards table lint (#20264)
  projectDocs/dev/userGuideStandards.md
Due: none

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

Apply suggestion from @seanbudd
  user_docs/en/userGuide.md
Due: none

Preserve word segmentation compatibility and documentation (#20227)
  include/readme.md
  nvdaHelper/cppjieba/cppjieba.hpp
  source/textInfos/offsets.py
  source/textUtils/__init__.py
  tests/unit/test_textInfos.py
  tests/unit/test_textUtils.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: scons-source, checkPot

Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

commands not IDs anymore
  user_docs/en/userGuide.md
Due: none

add period
  user_docs/en/userGuide.md
Due: none

Support multi routing on Freedom Scientific displays (#20250)
  source/brailleDisplayDrivers/freedomScientific.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Automate winget package submission (#20029)
  .github/workflows/testAndPublish.yml
  ci/README.md
  ci/scripts/submitWinGet.ps1
  user_docs/en/userGuide.md
Due: none

Address word segmentation review suggestions
  source/textUtils/_wordSeg/wordSegStrategy.py
Due: checkPot

Add mouse to view magnifier command (#20238)
  source/_magnifier/commands.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/types.py
  source/globalCommands.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
  tests/unit/test_magnifier/test_magnifierCommands.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Suggest changes to beta phase
  projectDocs/community/releaseProcess.md
Due: none

copilot review
  source/_magnifier/fullscreenMagnifier.py
Due: checkPot

Apply suggestion from @seanbudd
  projectDocs/community/releaseProcess.md
Due: none

Apply suggestions from code review
  projectDocs/community/releaseProcess.md
Due: none

drop dead line
  projectDocs/community/releaseProcess.md
Due: none

Address word segmentation review suggestions (#20278)
  source/textUtils/_wordSeg/wordSegStrategy.py
Due: checkPot

review
  source/_magnifier/fullscreenMagnifier.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
Due: checkPot

userdoc update
  user_docs/en/userGuide.md
Due: none

rewritting userdoc
  user_docs/en/userGuide.md
Due: none

changed magnifier uninitialize (#20069)
  source/_magnifier/fullscreenMagnifier.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
Due: checkPot

Update replacement for sentence ending dot
  source/locale/bn/symbols.dic
Due: none

Add Italian keyboard shortcut for magnifier zoom in
  source/locale/it/gestures.ini
Due: none
