Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Update source/_magnifier/config.py
  source/_magnifier/config.py
Due: checkPot

Update source/_magnifier/commands.py
  source/_magnifier/commands.py
Due: checkPot

Update source/gui/settingsDialogs.py
  source/gui/settingsDialogs.py
Due: checkPot

Apply suggestions from code review
  tests/unit/test_magnifier/test_spotlightManager.py
Due: none

merge beta fixes
  uv.lock
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Fix reference to ZoomLevel in onSave method
  source/gui/settingsDialogs.py
Due: checkPot

bump identify
  .pre-commit-config.yaml
Due: none

fixup xliff
  .pre-commit-config.yaml
Due: none

revert uv.lock changes
  uv.lock
Due: none

update transitive dependencies to fix security warnings
  uv.lock
Due: none

document support for cambodian
  user_docs/en/userGuide.md
Due: none

update changes
  user_docs/en/changes.md
Due: none

Factor out legacy move by sentence
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot

Update source/NVDAObjects/UIA/wordDocument.py
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot

UI Automation in Microsoft Word: Use move by sentence custom pattern when available instead of the legacy model (#19367)
  source/NVDAObjects/UIA/wordDocument.py
  source/UIAHandler/remote.py
Due: checkPot

fix lang ref count
  user_docs/en/userGuide.md
Due: none

Revert "Revert AI image description work (#19425)"
  .github/workflows/testAndPublish.yml
  pyproject.toml
  source/NVDAState.py
  source/_localCaptioner/__init__.py
  source/_localCaptioner/captioner/__init__.py
  source/_localCaptioner/captioner/base.py
  source/_localCaptioner/captioner/vitGpt2.py
  source/_localCaptioner/imageDescriber.py
  source/_localCaptioner/modelConfig.py
  source/_localCaptioner/modelDownloader.py
  source/config/__init__.py
  source/config/configSpec.py
  source/core.py
  source/globalCommands.py
  source/gui/__init__.py
  source/gui/_localCaptioner/__init__.py
  source/gui/_localCaptioner/messageDialogs.py
  source/gui/blockAction.py
  source/gui/settingsDialogs.py
  source/setup.py
  tests/system/libraries/SystemTestSpy/configManager.py
  tests/system/libraries/SystemTestSpy/mockModels.py
  tests/system/nvdaSettingsFiles/standard-doLoadMockModel.ini
  tests/system/robot/automatedImageDescriptions.py
  tests/system/robot/automatedImageDescriptions.robot
  tests/unit/test_localCaptioner/__init__.py
  tests/unit/test_localCaptioner/test_captioner.py
  tests/unit/test_localCaptioner/test_downloader.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
  uv.lock
Due: checkPot, licenseCheck

Apply suggestions from code review
  source/gui/speechDict.py
Due: checkPot

Update deprecation in changelog
  user_docs/en/changes.md
Due: none

remoteClient: prevent multiple disconnection confirmation dialogs
  source/_remoteClient/client.py
Due: checkPot

Remote Access: Add change log entry for multiple dialogs fix
  user_docs/en/changes.md
Due: none

Remote Access: prevent duplicate disconnection dialogs by tracking the active dialog instance
  source/_remoteClient/client.py
  user_docs/en/changes.md
Due: checkPot

Move Toggle Screen Curtain command to Misc category
  source/globalCommands.py
Due: checkPot

Address review comments: update type hint and add error logging
  source/_remoteClient/client.py
Due: checkPot

Copyright year
  source/globalCommands.py
Due: checkPot

Notify user when connecting as follower fails (#19103)
  source/_remoteClient/client.py
  user_docs/en/changes.md
Due: checkPot

Delete source/locale/bs/characterDescriptions.dic
  source/locale/bs/characterDescriptions.dic
Due: none

Removed redundant tab for letter U
  source/locale/bs/characterDescriptions.dic
Due: none

Delete source/_remoteClient/client.py
  source/_remoteClient/client.py
Due: checkPot

Delete user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Kill OneDrive
  .github/workflows/testAndPublish.yml
Due: none

Kill more stuff
  .github/workflows/testAndPublish.yml
Due: none

Update changes for developers mentioning wasapi* functions being moved
  user_docs/en/changes.md
Due: none

fix up pre-commit for xliff files (#19426)
  .pre-commit-config.yaml
Due: none

update transitive dependencies to fix security warnings (#19449)
  uv.lock
Due: none

Add new language km from Crowdin
  source/locale/km/LC_MESSAGES/nvda.po
  user_docs/km/changes.xliff
  user_docs/km/userGuide.xliff
Due: none
