Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Add changes entries
  user_docs/en/changes.md
Due: none

Lazy load bleak and BLE initialisation
  source/hwIo/__init__.py
  source/hwIo/ble/__init__.py
  source/hwIo/ble/_io.py
  source/hwIo/ble/_scanner.py
Due: checkPot

Delay loading JAB
  source/core.py
Due: checkPot

fix lint
  source/hwIo/__init__.py
  source/hwIo/ble/__init__.py
  source/hwIo/ble/_io.py
  source/hwIo/ble/_scanner.py
Due: checkPot

Load add-on store cache files in bg thread
  source/addonStore/dataManager.py
Due: checkPot

add locking
  source/addonStore/dataManager.py
Due: checkPot

Fix up system tests
  tests/system/robot/startupShutdownNVDA.py
Due: none

Remove most uses of winKernel from _art
  source/_art/session/hostController.py
  source/_art/winHandles.py
Due: checkPot

Move the process access rights from winKernel to winBindings.kernel32
  source/winBindings/kernel32.py
  source/winKernel.py
Due: checkPot

Remove internal uses of deprecated symbols
  source/appModuleHandler.py
  source/appModules/wwahost.py
  source/nvda.pyw
Due: checkPot

Add changes entry
  user_docs/en/changes.md
Due: none

Prevent 3hz flashing from shifting magnifier colour filters (#20812)
  source/_magnifier/config.py
  source/_magnifier/fullscreenMagnifier.py
  source/utils/debounce.py
  user_docs/en/changes.md
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Add PROCESS_DUP_HANDLE access right
  source/winBindings/kernel32.py
Due: checkPot

Auto-fix pushes to nvaccess/nvda branches
  .github/workflows/autofix.yml
  projectDocs/dev/contributing.md
Due: none

Keep the push token out of prek hooks and surface hook failures
  .github/workflows/autofix.yml
Due: none

Handle unavailable optional APIs in WinPE
  source/_magnifier/commands.py
  source/_magnifier/fullscreenMagnifier.py
  source/_remoteClient/__init__.py
  source/audio/__init__.py
  source/audio/soundSplit.py
  source/audio/soundSplitState.py
  source/brailleDisplayDrivers/hims.py
  source/core.py
  source/gui/settingsDialogs.py
  source/hwPortUtils.py
  source/mathPres/__init__.py
  source/screenCurtain/__init__.py
  source/utils/mmdevice.py
  source/winBindings/bthprops.py
  source/winBindings/magnification.py
  source/winBindings/winusb.py
  tests/unit/test_audioFallback.py
  tests/unit/test_braille/test_hims.py
  tests/unit/test_core.py
  tests/unit/test_hwPortUtils.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_remote/test_remoteClient.py
  tests/unit/test_visionEnhancementProviders/test_magnificationAPI.py
  tests/unit/test_winBindings.py
  user_docs/en/changes.md
Due: checkPot

Tolerate remote loader and session query failures at startup
  source/NVDAHelper/__init__.py
  source/winAPI/sessionTracking.py
  tests/unit/test_NVDAHelper.py
  tests/unit/test_winAPI/test_sessionTracking.py
Due: checkPot

Handle unavailable WTS and MathCAT settings
  source/gui/settingsDialogs.py
  source/mathPres/__init__.py
  source/winAPI/sessionTracking.py
  source/winBindings/wtsapi32.py
  tests/unit/test_mathPres/test_mathAvailability.py
  tests/unit/test_winAPI/test_sessionTracking.py
  tests/unit/test_winBindings.py
  user_docs/en/changes.md
Due: checkPot

Fix English documentation wording
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Change log fixes
  user_docs/en/changes.md
Due: none

Limit beta documentation fixes to 2026.3
  user_docs/en/userGuide.md
Due: none

Reduce intermittent system test failures (#20756)
  ci/scripts/tests/systemTests.ps1
  tests/system/libraries/NvdaLib.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
Due: none

Drop virtual buffer attributes with invalid XML names (#20629)
  nvdaHelper/common/xml.h
  nvdaHelper/vbufBase/storage.cpp
  nvdaHelper/vbufBase/storage.h
  user_docs/en/changes.md
Due: scons-source

Add sync repo step before submitting WinGet PR
  ci/scripts/submitWinGet.ps1
Due: none

Update dev doc for submodules management
  projectDocs/dev/createDevEnvironment.md
Due: none

Remove unused constants
  source/winBindings/kernel32.py
  source/winKernel.py
  user_docs/en/changes.md
Due: checkPot

Report browse mode ancestors when focus leaves the document
  source/browseMode.py
Due: checkPot

Resolve lint in browse mode ancestor handling
  source/browseMode.py
Due: checkPot

Document web application ancestor announcement fix
  user_docs/en/changes.md
Due: none

One more simplification
  user_docs/en/changes.md
Due: none

add unit tests for browse mode focus entered defer depending on focus treeInterceptor.
  tests/unit/test_browseModeFocusEntered.py
Due: none

Fix English pronunciation of Unicode braille characters (#20632)
  source/locale/en/symbols.dic
  user_docs/en/changes.md
Due: none

Fix English descriptions of mathematical symbols
  source/locale/en/symbols.dic
  user_docs/en/changes.md
Due: none

Drop the strict equivalence terminology change
  source/locale/en/symbols.dic
Due: none

Magnifier follows when reading math
  source/_magnifier/utils/focusManager.py
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/__init__.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Auto-fix: apply prek fixes
  source/_magnifier/utils/focusManager.py
  source/mathPres/__init__.py
Due: checkPot

Mark winHandles internal
  source/_art/__init__.py
  source/_art/_winHandles.py
  source/_art/host/entrypoint.py
  source/_art/session/hostController.py
  tests/unit/test_art/test_artHost.py
Due: checkPot

Move process access rights from winKernel to winBindings.kernel32 (#20836)
  source/appModuleHandler.py
  source/appModules/wwahost.py
  source/nvda.pyw
  source/winBindings/kernel32.py
  source/winKernel.py
  user_docs/en/changes.md
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
