Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Make change API breaking
  source/visionEnhancementProviders/screenCurtain.py
  user_docs/en/changes.md
Due: checkPot

Fix report time (#18960)
  source/winKernel.py
Due: checkPot

Test attempt
  source/_remoteClient/client.py
  source/extensionPoints/__init__.py
  tests/unit/test_remote/test_remoteClient.py
Due: checkPot

Add csrss app module (#18975)
  source/appModules/csrss.py
Due: checkPot

Don't maximize notification dialog
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

Update source/winBindings/mmeapi.py
  source/winBindings/mmeapi.py
Due: checkPot

Working unit test
  source/_remoteClient/client.py
  tests/unit/test_remote/test_remoteClient.py
Due: checkPot

Create 05-addon_integration_request.yaml
  .github/ISSUE_TEMPLATE/05-addon_integration_request.yaml
Due: none

Remove debug code
  source/_remoteClient/client.py
  source/extensionPoints/__init__.py
  tests/unit/test_remote/test_remoteClient.py
Due: checkPot

Minor corrections to 05-addon_integration_request.yaml
  .github/ISSUE_TEMPLATE/05-addon_integration_request.yaml
Due: none

Create 15-addon_integration_request.md
  .github/ISSUE_TEMPLATE/15-addon_integration_request.md
Due: none

Isolate winBindings ctypes definitions (#18978)
  source/winBindings/advapi32.py
  source/winBindings/bthprops.py
  source/winBindings/cfgmgr32.py
  source/winBindings/crypt32.py
  source/winBindings/dbgHelp.py
  source/winBindings/gdi32.py
  source/winBindings/gdiplus.py
  source/winBindings/hid.py
  source/winBindings/kernel32.py
  source/winBindings/mshtml.py
  source/winBindings/ole32.py
  source/winBindings/oleacc.py
  source/winBindings/oleaut32.py
  source/winBindings/rpcrt4.py
  source/winBindings/sas.py
  source/winBindings/setupapi.py
  source/winBindings/shcore.py
  source/winBindings/shell32.py
  source/winBindings/shlwapi.py
  source/winBindings/uiAutomationCore.py
  source/winBindings/urlmon.py
  source/winBindings/user32.py
  source/winBindings/version.py
  source/winBindings/winmm.py
  source/winBindings/wtsapi32.py
Due: checkPot

Improve unit test
  tests/unit/test_remote/test_remoteClient.py
Due: none

Restore accidentally touched files
  pyproject.toml
  uv.lock
Due: licenseCheck

More tidy
  tests/unit/test_remote/test_remoteClient.py
Due: none

Clean up 32-bit installed copies safely
  source/NVDAState.py
  source/installer.py
Due: checkPot

Explisitly handle None case
  source/_remoteClient/client.py
Due: checkPot

close keys safely
  source/NVDAState.py
  source/config/__init__.py
Due: checkPot

Don't expand the add-ons list
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

close keys safely
  source/easeOfAccess.py
Due: checkPot

fix sizing
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

Update changes for developers with breaking changes
  user_docs/en/changes.md
Due: none

Update source/_remoteClient/client.py
  source/_remoteClient/client.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Move definitions for magnification.dll to winBindings (#18958)
  source/NVDAHelper/localLib.py
  source/visionEnhancementProviders/screenCurtain.py
  source/winBindings/magnification.py
  tests/unit/test_visionEnhancementProviders/test_magnificationAPI.py
  user_docs/en/changes.md
Due: checkPot

winConsolehandler: import SMALL_RECT from ctypes.wintypes instead of indirectly through wincon.py
  source/winConsoleHandler.py
Due: checkPot

wincon: correct types for getconsoleProcessList and readConsoleOutputCharacter.
  source/wincon.py
Due: checkPot

simplify ease of access checks
  source/config/registry.py
  source/installer.py
Due: checkPot

Apply suggestions from code review
  source/gui/addonStoreGui/controls/details.py
  user_docs/en/userGuide.md
Due: checkPot

Added ability to see changelog from the add-on store and Updatable add-ons dialog (#18816)
  projectDocs/dev/developerGuide/developerGuide.md
  source/addonStore/models/addon.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/gui/addonStoreGui/viewModels/store.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

improve key access for more accurate log messages
  source/installer.py
Due: checkPot

fix premature close
  source/_remoteClient/urlHandler.py
  source/config/__init__.py
Due: checkPot

Add VirusTotal scan results to add-on details (#18974)
  source/addonStore/models/addon.py
  source/addonStore/models/scanResults.py
  source/gui/addonStoreGui/controls/details.py
  source/gui/addonStoreGui/viewModels/store.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Return local control when local machine locks (#18973)
  source/_remoteClient/client.py
  source/buildVersion.py
  tests/unit/test_remote/test_remoteClient.py
  user_docs/en/changes.md
Due: checkPot

wincon.py: remove unneeded f405 comments.
  source/wincon.py
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
