Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

add github action to assign milestone automatically (#16779)
  .github/workflows/assign-milestone-on-close.yml
Due: none

Updated to use simpler data structures and function more similarly to `core.restart`
  source/updateCheck.py
Due: checkPot

ruff format beta
  tests/unit/test_speech.py
Due: none

Swap min and recommended requirements
  user_docs/en/userGuide.md
Due: none

ruff format beta changes (#16957)
  tests/unit/test_speech.py
Due: none

Swap minimum and recommended system requirements in user guide (#16959)
  user_docs/en/userGuide.md
Due: none

Implement a translatable accessibility label for the copy accelerator key.
  source/message.html
  source/ui.py
Due: checkPot

Updated the installer to propagate -c and --disable-addons
  source/gui/installerGui.py
Due: checkPot

Solve for MSHTML bug in the use of aria-labelledby.
  source/message.html
Due: none

Removed unnecessary comment
  source/message.html
Due: none

added and double checked suggested additional type information
  source/NVDAObjects/JAB/__init__.py
Due: checkPot

fixed missing import statement
  source/NVDAObjects/JAB/__init__.py
Due: checkPot

Update Ruff elsewhere
  .pre-commit-config.yaml
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

Various rewordings, punctuation additions, and light fixes to the Developer Guide.
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

changed type to RectLTRB; fixed JABHandler.JABContext type using forward reference
  source/NVDAObjects/JAB/__init__.py
Due: checkPot

Add return types for hwIo.hid.Hid's inputButtonCaps, inputValueCaps and outputValueCaps properties.
  source/hwIo/hid.py
Due: checkPot

Created remote debugging docs
  projectDocs/dev/remote debugging.md
Due: none

prevent commits to branches
  .pre-commit-config.yaml
Due: none

Added further resources
  projectDocs/dev/remote debugging.md
Due: none

HID braille display driver: handle case where a display has no input values in hits HID descriptor (#16969)
  source/hwIo/hid.py
Due: checkPot

Propagate CLI arguments when updating (#16937)
  source/gui/installerGui.py
  source/updateCheck.py
  user_docs/en/changes.md
Due: checkPot

Fix a misspelling, and use some better wording, in the description of API changes.
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Update projectDocs/dev/developerGuide/developerGuide.md
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Apply suggestions from code review
  source/globalCommands.py
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Fixed a bunch of errors
  projectDocs/dev/remote debugging.md
Due: none

Fixed name of remote debugging doc
  projectDocs/dev/remoteDebugging.md
Due: none

Added a link to the new docs to the dev readme
  projectDocs/dev/readme.md
Due: none

Apply suggestions from code review
  source/globalCommands.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

pre-commit prevent commits to protected branches (#16970)
  .pre-commit-config.yaml
Due: none

Update source/NVDAObjects/JAB/__init__.py
  source/NVDAObjects/JAB/__init__.py
Due: checkPot

Add function type information to functions in NVDAObjects/JAB/init.py (#16953)
  source/NVDAObjects/JAB/__init__.py
Due: checkPot

app modules: update copyright header, add ap architecture to dev info. Re #16488.
  source/appModuleHandler.py
Due: checkPot

Changelog: add app architecture entry (changes for devleopers). Re #16488
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  projectDocs/dev/remoteDebugging.md
Due: none

Fixed up some wording, spelling and grammar
  projectDocs/dev/remoteDebugging.md
Due: none

Add ability to speak character when cursor routing (#16947)
  source/braille.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

App modules: log app architecture as part of dev info (#16972)
  source/appModuleHandler.py
  user_docs/en/changes.md
Due: checkPot

Various rewordings, punctuation additions, and light fixes to the Developer Guide. (#16967)
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
