Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Replace deprecated types
  source/remoteClient/dialogs.py
Due: checkPot

Always use lowercase 'remote' for category to pgettext
  source/config/configFlags.py
  source/remoteClient/dialogs.py
Due: checkPot

Type hint
  source/gui/settingsDialogs.py
  source/remoteClient/dialogs.py
Due: checkPot

Comment fixes
  source/gui/settingsDialogs.py
  source/remoteClient/dialogs.py
Due: checkPot

Update some strings, and use pgettext on translatable strings that have changed
  source/gui/settingsDialogs.py
  source/remoteClient/client.py
  source/remoteClient/dialogs.py
Due: checkPot

Docs fixes
  user_docs/en/userGuide.md
Due: none

Add option tables
  user_docs/en/userGuide.md
Due: none

fix up names and examples in user guide
  user_docs/en/userGuide.md
Due: none

Fix disabling
  source/remoteClient/menu.py
Due: checkPot

Update dialogs
  source/gui/settingsDialogs.py
Due: checkPot

Fix error when saving config with remote disabled, autoconnect enabled and invalid combination of host key and port
  source/gui/settingsDialogs.py
Due: checkPot

Update user guide
  user_docs/en/userGuide.md
Due: none

Bind context help
  source/gui/settingsDialogs.py
Due: checkPot

Change log
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  .github/workflows/checkPot.yml
Due: none

Address reviews: use a unique workflow with parallel jobs
  .github/workflows/checkPot.yml
  .github/workflows/licenseCheck.yml
  .github/workflows/systemTests.yml
  .github/workflows/testAndPublish.yml
  .github/workflows/unitTests.yml
Due: none

Fix syntax
  .github/workflows/testAndPublish.yml
Due: none

Add acceleration key to remote menu
  source/remoteClient/menu.py
Due: checkPot

Add release job
  .github/workflows/testAndPublish.yml
Due: none

Declare dependencies for release job
  .github/workflows/testAndPublish.yml
Due: none

Handling uncaught exceptions
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Add github.run_attempt to version
  ci/scripts/setBuildVersionVars.ps1
Due: none

Update ci/scripts/setBuildVersionVars.ps1
  ci/scripts/setBuildVersionVars.ps1
Due: none

Update ci/scripts/setSconsArgs.ps1
  ci/scripts/setSconsArgs.ps1
Due: none

Try to fix release launcher
  ci/scripts/setBuildVersionVars.ps1
Due: none

Improve release job
  .github/workflows/testAndPublish.yml
Due: none

Improve set version script
  ci/scripts/setBuildVersionVars.ps1
Due: none

Fix script
  ci/scripts/setBuildVersionVars.ps1
Due: none

Document target arch config
  projectDocs/dev/createDevEnvironment.md
Due: none

Create winBindings package
  source/winBindings/__init__.py
Due: checkPot

Move some ctypes declarations from hwPortUtils to winBindings
  source/hwPortUtils.py
  source/winBindings/cfgmgr32.py
  source/winBindings/setupapi.py
Due: checkPot

Fix the structure of sublists in `changes.md` (#17741)
  user_docs/en/changes.md
Due: none

better caching and release
  .github/workflows/testAndPublish.yml
  nvdaBuilder/action.yml
Due: none

Revert "Fix speech delay caused by audio ducking (#17806)"
  source/audioDucking.py
Due: checkPot

Revert "Always re-enable audio ducking when starting a new utterance (#17770)"
  source/audioDucking.py
  user_docs/en/changes.md
Due: checkPot

fix scons launcher
  .github/workflows/testAndPublish.yml
  ci/README.md
  ci/nvdaBuilder/action.yml
  requirements.txt
Due: licenseCheck

minor fixups
  .github/workflows/testAndPublish.yml
  ci/nvdaBuilder/action.yml
  ci/scripts/setSconsArgs.ps1
  ci/scripts/tests/checkTestFailure.ps1
  ci/scripts/tests/systemTests.ps1
  ci/scripts/tests/translationCheck.ps1
  ci/scripts/tests/unitTests.ps1
Due: none

fix sys tests
  .github/workflows/testAndPublish.yml
  ci/scripts/installNVDA.ps1
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
