Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

add comment
  source/_magnifier/fullscreenMagnifier.py
Due: checkPot

Revert "V2 of LiveText: pumped generator follow-up (#20649)"
  source/NVDAObjects/behaviors.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Revert "LiveText: announce large bursts via a pumped generator (#20177)"
  source/NVDAObjects/behaviors.py
Due: checkPot

Update wxPython to 4.3.1 (#20882)
  pyproject.toml
  source/gui/message.py
  source/gui/nvdaControls.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Remove AppX packaging and runtime dead code (#20681)
  appx/appx_images/nvda_150x150.png
  appx/appx_images/nvda_44x44.png
  appx/manifest.xml.subst
  appx/sconscript
  sconstruct
  source/NVDAHelper/__init__.py
  source/NVDAObjects/IAccessible/sysListView32.py
  source/addonHandler/__init__.py
  source/addonHandler/packaging.py
  source/addonStore/dataManager.py
  source/brailleTables/__init__.py
  source/config/__init__.py
  source/core.py
  source/globalCommands.py
  source/gui/__init__.py
  source/gui/addonGui.py
  source/gui/blockAction.py
  source/gui/exit.py
  source/gui/settingsDialogs.py
  source/gui/startupDialogs.py
  source/nvda.pyw
  source/touchHandler.py
  source/updateCheck.py
  user_docs/en/changes.md
Due: checkPot

code review suggestions
  source/easeOfAccess.py
  source/gui/settingsDialogs.py
  source/gui/startupDialogs.py
  tests/unit/test_easeOfAccess.py
  user_docs/en/changes.md
Due: checkPot

review addresses
  source/gui/settingsDialogs.py
Due: checkPot

update changes
  user_docs/en/changes.md
Due: none

Revert Terminal pumped generator PRs (#20649, #20177) (#20898)
  source/NVDAObjects/behaviors.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

Limit magnifier max recovery attempts to 1 (#20897)
  source/_magnifier/fullscreenMagnifier.py
Due: checkPot

Make _reenterPending a method on InputGesturesDialog
  source/gui/inputGestures.py
Due: checkPot

Avoid protected-state queries when both typing echoes are off
  source/speech/speech.py
  tests/unit/test_speechTypedCharacters.py
  user_docs/en/changes.md
Due: checkPot

Fix up release blurb
  user_docs/en/changes.md
Due: none

Fix up release blurb (#20905)
  user_docs/en/changes.md
Due: none

Fix registry handling for NVDA automatic startup settings (#20864)
  source/config/__init__.py
  source/easeOfAccess.py
  source/gui/settingsDialogs.py
  source/gui/startupDialogs.py
  source/installer.py
  tests/checkPot.py
  tests/unit/test_easeOfAccess.py
  user_docs/en/changes.md
Due: checkPot

winVersion: recognize build 26300 as Windows 11 Version 26H2 (2026 update) (#20648)
  source/winVersion.py
Due: checkPot

Add changes entries for comment threads in Word via UIA
  user_docs/en/changes.md
Due: none

List a comment once in the Word elements list
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot

Added context menu and keyboard shortcut to symbols list
  source/gui/settingsDialogs.py
Due: checkPot

Fix the import block
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot

Backport add-on store search fix (#20887)
  source/gui/addonStoreGui/viewModels/addonList.py
  tests/unit/test_addonStoreSearch.py
  user_docs/en/changes.md
Due: checkPot

Support Python 3.14.7 in NVDA build and test pipelines
  .github/workflows/testAndPublish.yml
  .pre-commit-config.yaml
  .python-versions
  projectDocs/dev/createDevEnvironment.md
  pyproject.toml
  runtime-builders/synthDriverHost32/.python-version
  runtime-builders/synthDriverHost32/pyproject.toml
  runtime-builders/synthDriverHost32/uv.lock
  source/brailleDisplayDrivers/seikantk.py
  source/globalCommands.py
  source/keyboardHandler.py
  source/speechDictHandler/types.py
  tests/unit/test_python314Compatibility.py
  tests/unit/test_speechDictHandler.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Small caps implementation assisted by OAI
  nvdaHelper/remote/WinWord/Constants.h
  nvdaHelper/remote/winword.cpp
  source/NVDAObjects/UIA/__init__.py
  source/NVDAObjects/window/winword.py
  source/browseMode.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/speech/speech.py
  tests/unit/test_speech.py
Due: scons-source, checkPot

Fix Modern Word comment reporting with NVDA+alt+c and Elements List (#20894)
  source/NVDAObjects/UIA/wordDocument.py
  user_docs/en/changes.md
Due: checkPot

Apply batched suggestions from code review
  nvdaHelper/remote/winword.cpp
  source/NVDAObjects/UIA/__init__.py
Due: scons-source, checkPot

Resolve comments for #20922 excluding C++ linting.
  source/NVDAObjects/UIA/__init__.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Proposed update for adding spacing and lines between items
  nvdaHelper/remote/winword.cpp
Due: scons-source

Move NVDA Object tests
  tests/unit/test_NVDAObjects/__init__.py
  tests/unit/test_NVDAObjects/test_IAccessible_ia2Web.py
  tests/unit/test_NVDAObjects/test_UIA.py
Due: none

Add unit tests for comment threads in Word via UIA
  tests/unit/test_NVDAObjects/test_UIA_wordDocument.py
Due: none

Check that comment replies are fetched when iterating past the comment
  tests/unit/test_NVDAObjects/test_UIA_wordDocument.py
Due: none

User Guide - Remove unneeded sentence
  user_docs/en/userGuide.md
Due: none

Clarify scope of change to apply to Word with UIA and fix linting errors
  source/NVDAObjects/UIA/__init__.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Resolve ruff linter error
  source/NVDAObjects/UIA/__init__.py
Due: checkPot

Update Python to 3.13.16
  .github/workflows/autofix.yml
  .github/workflows/fetch-crowdin-translations.yml
  .github/workflows/testAndPublish.yml
  .python-versions
  projectDocs/dev/createDevEnvironment.md
  runtime-builders/synthDriverHost32/.python-version
Due: none

Update changes.md
  user_docs/en/changes.md
Due: none

Fix redundant table start markers in braille in Word with UIA enabled
  source/NVDAObjects/UIA/__init__.py
  user_docs/en/changes.md
Due: checkPot

Make repeated symbol count threshold configurable
  source/characterProcessing.py
  source/config/configSpec.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
