Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Revert "Create a `MessageDialog` API (#17304)" (#17561)
  projectDocs/dev/developerGuide/developerGuide.md
  requirements.txt
  source/documentationUtils.py
  source/gui/__init__.py
  source/gui/blockAction.py
  source/gui/guiHelper.py
  source/gui/message.py
  source/gui/nvdaControls.py
  source/visionEnhancementProviders/screenCurtain.py
  tests/system/robot/startupShutdownNVDA.robot
  tests/unit/test_messageDialog.py
  user_docs/en/changes.md
Due: checkPot, licenseCheck

Fixup typos
  source/bdDetect.py
Due: checkPot

Use constant in Albatros
  source/brailleDisplayDrivers/albatross/driver.py
Due: checkPot

Uniform yield
  source/bdDetect.py
Due: checkPot

Fix unbound local error when braille tables are in scratchpad manifest and running with debug logging
  source/brailleTables.py
Due: checkPot

Changelog
  user_docs/en/changes.md
Due: none

use cache for HID device info
  source/hwPortUtils.py
  source/winAPI/constants.py
  user_docs/en/changes.md
Due: checkPot

Fix typo
  source/bdDetect.py
Due: checkPot

L10n updates for: zh_TW From translation svn revision: 84219
  source/locale/zh_TW/characterDescriptions.dic
Due: none

Deprecations
  source/bdDetect.py
  source/braille.py
  source/brailleDisplayDrivers/albatross/driver.py
  source/brailleDisplayDrivers/alva.py
  source/brailleDisplayDrivers/baum.py
  source/brailleDisplayDrivers/brailleNote.py
  source/brailleDisplayDrivers/brailliantB.py
  source/brailleDisplayDrivers/eurobraille/driver.py
  source/brailleDisplayDrivers/eurobraille/gestures.py
  source/brailleDisplayDrivers/freedomScientific.py
  source/brailleDisplayDrivers/handyTech.py
  source/brailleDisplayDrivers/hidBrailleStandard.py
  source/brailleDisplayDrivers/hims.py
  source/brailleDisplayDrivers/nattiqbraille.py
  source/brailleDisplayDrivers/seikantk.py
  source/brailleDisplayDrivers/superBrl.py
  tests/unit/test_bdDetect.py
  user_docs/en/changes.md
Due: checkPot

Use communication types
  source/bdDetect.py
Due: checkPot

Renames
  source/bdDetect.py
Due: checkPot

Fix braille table loading with debug logging enabled and/or add-ons disabled (#17565)
  source/brailleTables.py
  user_docs/en/changes.md
Due: checkPot

Remove winsound.PlaySound from NVDA (#17543)
  pyproject.toml
  source/NVDAObjects/window/excel.py
  source/browseMode.py
  source/logHandler.py
Due: checkPot

Update source/brailleDisplayDrivers/eurobraille/driver.py
  source/brailleDisplayDrivers/eurobraille/driver.py
Due: checkPot

Fix issue with certain SECTION elements not being recognized as editable controls in Visual Studio Code
  source/appModules/code.py
Due: checkPot

Update changes.
  user_docs/en/changes.md
Due: none

Update source/brailleDisplayDrivers/brailliantB.py
  source/brailleDisplayDrivers/brailliantB.py
Due: checkPot

Add doc string
  source/bdDetect.py
Due: checkPot

Use StrEnum again
  source/bdDetect.py
Due: checkPot

Fix eurobraille mistakes due to coderabbit suggestions
  source/brailleDisplayDrivers/eurobraille/driver.py
Due: checkPot

Undo more unrelated/faulty changes
  source/brailleDisplayDrivers/eurobraille/gestures.py
  tests/unit/test_bdDetect.py
Due: checkPot

L10n updates for: fi From translation svn revision: 84304
  source/locale/fi/symbols.dic
Due: none

Add ability to add more constraints to bdDetect USB device registration (#17537)
  source/bdDetect.py
  source/braille.py
  source/brailleDisplayDrivers/albatross/driver.py
  source/brailleDisplayDrivers/alva.py
  source/brailleDisplayDrivers/baum.py
  source/brailleDisplayDrivers/brailleNote.py
  source/brailleDisplayDrivers/brailliantB.py
  source/brailleDisplayDrivers/eurobraille/driver.py
  source/brailleDisplayDrivers/freedomScientific.py
  source/brailleDisplayDrivers/handyTech.py
  source/brailleDisplayDrivers/hidBrailleStandard.py
  source/brailleDisplayDrivers/hims.py
  source/brailleDisplayDrivers/nattiqbraille.py
  source/brailleDisplayDrivers/seikantk.py
  source/brailleDisplayDrivers/superBrl.py
  source/hwPortUtils.py
  source/winAPI/constants.py
  user_docs/en/changes.md
Due: checkPot

Remove problematic euro symbol in fi
  source/locale/fi/symbols.dic
Due: none

Move l10nUtil out of user_docs into its own directory as it does more than just documentation.
  l10nUtil/l10nUtil.py
  sconstruct
Due: none

Sanitize browseable message html
  source/ui.py
  user_docs/en/changes.md
Due: checkPot

Slightly refactor `UpdateAskInstallDialog` not to take any action on button press, but to have a callback property which is a callable suitable for passing to `runScriptModalDialog`.
  source/updateCheck.py
Due: checkPot

Documentation
  source/updateCheck.py
Due: checkPot

Updated other instances to use new call style
  source/gui/__init__.py
  source/gui/exit.py
Due: checkPot

Update changes
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  nvdaHelper/local/wasapi.cpp
  tests/unit/test_config.py
Due: scons-source

Apply suggestions from code review
  source/ui.py
  user_docs/en/changes.md
Due: checkPot

Update eSpeak to 1.52.0 stable
  include/espeak.md
  nvdaHelper/espeak/sconscript
  projectDocs/dev/createDevEnvironment.md
  user_docs/en/changes.md
Due: none

Use endpoint IDs instead of device friendly names to store user's preferred output device (#17547)
  nvdaHelper/local/wasapi.cpp
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  source/gui/settingsDialogs.py
  source/nvwave.py
  source/synthDriverHandler.py
  source/synthDrivers/_espeak.py
  source/synthDrivers/oneCore.py
  source/synthDrivers/sapi4.py
  source/synthDrivers/sapi5.py
  source/tones.py
  tests/unit/test_config.py
  user_docs/en/changes.md
Due: scons-source, checkPot

Fix bug in bdDetect device registration affecting Albatross
  source/bdDetect.py
  source/brailleDisplayDrivers/albatross/driver.py
  tests/unit/test_bdDetect.py
Due: checkPot

Update source/updateCheck.py
  source/updateCheck.py
Due: checkPot

Remove problematic euro symbol in fi (#17578)
  source/locale/fi/symbols.dic
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
