Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Add a pofile syntax checker
  .pre-commit-config.yaml
  ci/scripts/poChecker.py
Due: none

Try to fix test
  pyproject.toml
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/system/robot/chromeTests.py
Due: licenseCheck

Add docstring
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
Due: none

Change uv.lock
  uv.lock
Due: none

Try to fix tests
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/system/robot/chromeTests.py
Due: none

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Update source/brailleDisplayDrivers/nlseReaderZoomax.py
  source/brailleDisplayDrivers/nlseReaderZoomax.py
Due: checkPot

Test report language without dialects
  tests/system/robot/chromeTests.py
  tests/system/robot/chromeTests.robot
Due: none

Report not supported language
  tests/system/libraries/SystemTestSpy/speechSpySynthDriver.py
  tests/system/robot/chromeTests.py
  tests/system/robot/chromeTests.robot
Due: none

Fix test
  tests/system/libraries/SystemTestSpy/speechSpySynthDriver.py
Due: none

Fix test
  tests/system/robot/chromeTests.py
Due: none

Small changes, mostly type hints.
  source/brailleDisplayDrivers/nlseReaderZoomax.py
  user_docs/en/changes.md
Due: checkPot

Add alex19EP to community experts for eSpeak
  projectDocs/community/expertsList.md
Due: none

MS Word with UIA: only fetch expandCollapseState for headings on Word version 16.0.18226 or higher.
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot

Update source/NVDAObjects/UIA/wordDocument.py
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot

Update what's new
  user_docs/en/changes.md
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

MS Word with UIA: only fetch expandCollapseState for headings on Word version 16.0.18226 or higher. (#18280)
  source/NVDAObjects/UIA/wordDocument.py
  user_docs/en/changes.md
Due: checkPot

Update build version for 2025.1.2
  source/buildVersion.py
Due: checkPot

Update build version for 2025.1.2 (#18284)
  source/buildVersion.py
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

2nd attempt: use original IAudioMultiMediaDevice object
  source/synthDrivers/sapi4.py
Due: checkPot

If the text of a control is not navigable, use NVDAObjectTextInfo for object review and read line.
  source/globalCommands.py
  source/review.py
  user_docs/en/changes.md
Due: checkPot

Fix item 16 of guiding principles (#18267)
  projectDocs/product_vision.md
Due: none

Slight clarity improvements
  user_docs/en/changes.md
Due: none

Remove uneeded sections
  user_docs/en/changes.md
Due: none

Move Monarch routing to new features
  user_docs/en/changes.md
Due: none

Add release blurb
  user_docs/en/changes.md
Due: none

Remove PR reference on item that linked to issue linked to PR
  user_docs/en/changes.md
Due: none

Revert all previous commits
  source/synthDrivers/sapi4.py
Due: checkPot

Implement IAudioMultiMediaDevice and IAttributesW interfaces for SAPI4
  source/synthDrivers/_sapi4.py
  source/synthDrivers/sapi4.py
Due: checkPot

Skip processing in EndStream handler when already cancelled
  source/synthDrivers/sapi5.py
Due: checkPot

Fixed slovenian characters description file
  source/locale/sl/characterDescriptions.dic
Due: none

Fix for the slovenian characters description file (#18304)
  source/locale/sl/characterDescriptions.dic
Due: none

winVersion: update copyright year
  source/winVersion.py
Due: checkPot

winVersion.WinVersion: add 'revisoin' to WinVersion attribute and et it to 0 by defualt. Re #18266.
  source/winVersion.py
Due: checkPot
