Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Update .github/workflows/autofix.yml
  .github/workflows/autofix.yml
Due: none

Report checked state for .NET Framework WinForms ToolStrip menu items using UIA (#20485)
  source/NVDAObjects/UIA/__init__.py
  tests/unit/test_NVDAObjects_UIA.py
  user_docs/en/changes.md
Due: checkPot

Relabel Add-on Store update actions to clarify that updating re-enables disabled add-ons
  source/gui/addonStoreGui/controls/actions.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/gui/addonStoreGui/viewModels/store.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

heading fix
  user_docs/en/userGuide.md
Due: none

Apply suggestions from code review & earlier unapplied corrections
  user_docs/en/userGuide.md
Due: none

Review actions.
  .pre-commit-config.yaml
Due: none

Bump ty to 0.0.60.
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: licenseCheck

Fixup uv.lock
  uv.lock
Due: none

Fix type annotation error
  source/NVDAHelper/__init__.py
Due: checkPot

fix: raise DisplayableError instead of making GUI calls in _validatePortableDirectory
  source/gui/installerGui.py
  tests/unit/test_installer.py
Due: checkPot

move changelog entri to the end of the list
  user_docs/en/changes.md
Due: none

Change labels back to their original names same as the buttons names
  source/gui/configProfiles.py
Due: checkPot

Use new interactWithMathMlFromSource and leave interactWithMathMl method for compatibility with addons
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/__init__.py
Due: checkPot

fix interactWithMathMlFromSource default implementation
  source/mathPres/__init__.py
Due: checkPot

Apply suggestion from @Qchristensen
  user_docs/en/userGuide.md
Due: none

Update source/brailleDisplayDrivers/handyTech.py
  source/brailleDisplayDrivers/handyTech.py
Due: checkPot

HandyTech: Interpret reading position packets from Active Tactile Control (#20353)
  source/brailleDisplayDrivers/handyTech.py
Due: checkPot

Remapped ZoomIn gesture for Swedish locale, sv
  source/locale/sv/gestures.ini
Due: none

Update source/locale/sv/gestures.ini
  source/locale/sv/gestures.ini
Due: none

newlines
  user_docs/en/userGuide.md
Due: none

Add command to copy last spoken information
  source/globalCommands.py
  tests/unit/test_globalCommands.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

Only show the 'Update (and enable)' labels when disabled add-ons are included, per review
  source/gui/addonStoreGui/controls/actions.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  user_docs/en/changes.md
Due: checkPot

Bump lxml to 6.1.1
  pyproject.toml
  uv.lock
Due: licenseCheck

Bump cryptography to 49.0.0
  pyproject.toml
  uv.lock
Due: licenseCheck

mend
  pyproject.toml
  uv.lock
Due: licenseCheck

Bump pymdown-extensions to 10.21.3
  pyproject.toml
  uv.lock
Due: licenseCheck

Bump uv to 0.11.29
  pyproject.toml
  uv.lock
Due: licenseCheck

Strip added MathCAT IDs so they don't leak to clipboard
  source/mathPres/MathCAT/navNodeMapping.py
Due: checkPot

Update uv version in ensureuv.ps1
  ensureuv.ps1
Due: none

Remove alpha updates
  source/browseMode.py
  source/buildVersion.py
  source/virtualBuffers/gecko_ia2.py
  user_docs/en/changes.md
Due: checkPot

Docs
  user_docs/en/changes.md
Due: none

Update changelog and fix header comment
  tests/unit/test_mathPres/__init__.py
  user_docs/en/changes.md
Due: none

Also use the 'Update (and enable)' label for blocked add-ons with a compatible update, matching the bulk logic
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Remapped ZoomIn gesture for Swedish locale, sv (#20517)
  source/locale/sv/gestures.ini
Due: none

Add isSpeaking function to NVDA controller client (#20179)
  extras/controllerClient/readme.md
  nvdaHelper/client/client.cpp
  nvdaHelper/client/nvdaControllerClient.def
  nvdaHelper/interfaces/nvdaController/nvdaController.acf
  nvdaHelper/interfaces/nvdaController/nvdaController.idl
  nvdaHelper/local/nvdaController.cpp
  nvdaHelper/local/nvdaHelperLocal.def
  nvdaHelper/local/rpcSrv.cpp
  source/NVDAHelper/__init__.py
  source/speech/__init__.py
  source/speech/speech.py
Due: scons-source, checkPot

configuration profiles dialog. Added context menu and shortcuts for profiles (#20435)
  source/gui/configProfiles.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

input gestures dialog improvements (#20443)
  source/gui/inputGestures.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
