Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Add user documentation for Remote Access connection protection
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Add unit tests for E2E encryption module
  tests/unit/test_remote/test_e2e.py
Due: none

Document relay server requirements for protocol v3
  user_docs/en/changes.md
Due: none

Fix lint: remove unused variable and reformat session.py
  source/_remoteClient/session.py
  tests/unit/test_remote/test_e2e.py
Due: checkPot

Address review feedback from Copilot
  projectDocs/design/remoteProtocol.md
  pyproject.toml
  source/_remoteClient/e2e.py
  source/_remoteClient/session.py
  user_docs/en/changes.md
Due: checkPot, licenseCheck

Add e2eEstablished and e2eTornDown extension points
  source/_remoteClient/session.py
  user_docs/en/changes.md
Due: checkPot

Fix markdown lint issues in remote protocol specification
  projectDocs/design/remoteProtocol.md
Due: none

What's new: split product version line to separate lines
  user_docs/en/changes.md
Due: none

appModules/explorer: use updated copyright header text. Re #19802
  source/appModules/explorer.py
Due: checkPot

Remove 'script_' prefix from 'script_navigate', and replace its docstring at runtime
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

fix: initialize WavePlayer attributes before registering in _instances
  source/nvwave.py
Due: checkPot

Fix restype of CancellableSendMessage
  source/NVDAHelper/localLib.py
Due: checkPot

Disable the Copy version number button in secure mode
  source/gui/__init__.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update source/NVDAObjects/UIA/__init__.py
  source/NVDAObjects/UIA/__init__.py
Due: checkPot

Imports any from typing
  source/NVDAObjects/UIA/__init__.py
Due: checkPot

Handle shutil.rmtree failures in addon store download directory cleanup (#19202)
  source/addonStore/network.py
  tests/unit/test_addonStoreNetwork.py
  user_docs/en/changes.md
Due: checkPot

Update copyright header format in addonStore/network.py
  source/addonStore/network.py
Due: checkPot

Change to generic pipe names
  source/braillePipeServer.py
Due: checkPot

Add scripts for MathCAT commands
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/navCommands.py
Due: checkPot

Use named MathCAT commands instead of key codes
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/navCommands.py
Due: checkPot

Add changelog entry
  user_docs/en/changes.md
Due: none

Update actions/cache from v4 to v5
  .github/workflows/testAndPublish.yml
Due: none

bump dependencies
  pyproject.toml
  uv.lock
Due: licenseCheck

update changes
  user_docs/en/changes.md
Due: none

undo charset update
  uv.lock
Due: none

Apply suggestions from code review
  source/browseMode.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Make NavCommand a frozen dataclass
  source/mathPres/MathCAT/navCommands.py
Due: checkPot

Change 'Math navigation' to MathCAT navigation' in input gestures dialog
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Moved call to _createNavScripts into mathPres.initialize
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/__init__.py
Due: checkPot

Rephrased translator comments per review feedback
  source/mathPres/MathCAT/navCommands.py
Due: checkPot

Fixed reviewers suggestions
  source/browseMode.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Fix straggler
  .github/workflows/testAndPublish.yml
Due: none

Fix SetWindowLongPtr binding in 32-bit synth host
  source/winBindings/user32.py
Due: checkPot
