Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

Added means of changing button labels.
  source/gui/messageDialog.py
Due: checkPot

Added the ability to set the message text independent of the __init__
  source/gui/messageDialog.py
Due: checkPot

Add comment why import is needed
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

UPdate schedule to 1.2.2
  requirements.txt
Due: licenseCheck

Update markdown to 3.7
  requirements.txt
Due: licenseCheck

UPdate nh3 to 0.2.19
  requirements.txt
Due: licenseCheck

Update requests to 2.32.3
  requirements.txt
Due: licenseCheck

Update nuitka to 2.5.4
  requirements.txt
Due: licenseCheck

feat: Add drawing module with line and rectangle drawing functions
  source/tactile/drawing.py
Due: checkPot

feat: Improve readability of tactile drawing functions
  source/tactile/drawing.py
Due: checkPot

style: Convert drawing.py indentation from spaces to tabs
  source/tactile/drawing.py
Due: checkPot

refactor: Extract common utility functions to utils.py
  source/tactile/braille.py
  source/tactile/drawing.py
  source/tactile/utils.py
Due: checkPot

refactor: Move utility functions to utils.py and update imports
  source/tactile/drawing.py
Due: checkPot

feat: Add unit tests for tactile utils and drawing modules
  tests/unit/test_tactileDrawing.py
  tests/unit/test_tactileUtils.py
Due: none

fix: Ensure consistent yDirection for horizontal lines in getLineDirections
  source/tactile/utils.py
Due: checkPot

fix: Correct xDirection logic for vertical lines in getLineDirections
  source/tactile/utils.py
Due: checkPot

fix: Correct xDirection calculation for vertical lines in getLineDirections
  source/tactile/utils.py
Due: checkPot

(docs) Update changes
  user_docs/en/changes.md
Due: none

Add new extension points for keyboard input and speech pause
  projectDocs/dev/developerGuide/developerGuide.md
  source/inputCore.py
  source/keyboardHandler.py
  source/speech/__init__.py
  source/speech/extensions.py
  source/speech/speech.py
  tests/unit/test_speech.py
  user_docs/en/changes.md
Due: checkPot

Address feedback
  projectDocs/dev/developerGuide/developerGuide.md
  source/inputCore.py
  source/speech/__init__.py
  source/speech/extensions.py
  source/speech/speech.py
  tests/unit/test_speech.py
  user_docs/en/changes.md
Due: checkPot

Apply suggestions from code review
  source/inputCore.py
  source/speech/extensions.py
Due: checkPot

Changelog: add schedule 1.2.2 entry
  user_docs/en/changes.md
Due: none

Changelog: add requests 2.32.3 entry
  user_docs/en/changes.md
Due: none

Changelog: add nuitka 2.5.4 upgrade entry
  user_docs/en/changes.md
Due: none

Changelog: add markdown 3.7 upgrade entry
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

Update source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

Update requests to 2.32.3 (#17463)
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update schedule to 1.2.2 (#17462)
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

Update nuitka to 2.5.4 (#17464)
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

Skip Screen Curtain unit test if active
  tests/unit/test_visionEnhancementProviders/test_magnificationAPI.py
Due: none

Update tests/unit/test_visionEnhancementProviders/test_magnificationAPI.py
  tests/unit/test_visionEnhancementProviders/test_magnificationAPI.py
Due: none

Update markdown to 3.7 (#17465)
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

Support IAccessible2 labelled-by relation (#17437)
  source/IAccessibleHandler/types.py
  source/NVDAObjects/IAccessible/__init__.py
  user_docs/en/changes.md
Due: checkPot

Skip Screen Curtain unit test if active (#17467)
  tests/unit/test_visionEnhancementProviders/test_magnificationAPI.py
Due: none

Attribute change
  user_docs/en/changes.md
Due: none

Improve logic of alert, confirm and ask classmethods.
  source/gui/messageDialog.py
Due: checkPot
