Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Apply suggestions from code review
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Switch back to plain gettext for unchanged strings
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/screenCurtain/_screenCurtain.py
Due: checkPot

Use pgettext
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/screenCurtain/_screenCurtain.py
Due: checkPot

Update copyright headers
  source/screenCurtain/__init__.py
  source/screenCurtain/_screenCurtain.py
Due: checkPot

Update user guide
  user_docs/en/userGuide.md
Due: none

first draft of magnifier, simple with only fullscreen
  source/NVDAMagnifier/__init__.py
  source/NVDAMagnifier/windowsHandler.py
  source/globalCommands.py
  source/magnifier/__init__.py
  source/magnifier/commands.py
  source/magnifier/fullscreenMagnifier.py
  source/magnifier/magnifier.py
  source/magnifier/utils/mouseHandler.py
  tests/unit/test_NVDAMagnifier/test_dockedMagnifier.py
  tests/unit/test_NVDAMagnifier/test_fullscreenMagnifier.py
  tests/unit/test_NVDAMagnifier/test_lensMagnifier.py
  tests/unit/test_NVDAMagnifier/test_magnifier.py
  tests/unit/test_NVDAMagnifier/test_spotlightManager.py
  tests/unit/test_NVDAMagnifier/test_window.py
Due: checkPot

github-workflows-Part3: Update actions/setup-python@v5 to actions/setup-python@v6 This is the final PR for github-workflows updates.
  .github/workflows/testAndPublish.yml
Due: none

github-workflows-Part3: Updated actions/setup-python@v5 to actions/setup-python@v6 (#19229)
  .github/workflows/testAndPublish.yml
Due: none

Update SCons to 4.10.1, introducing VS2026 support (#19226)
  projectDocs/dev/createDevEnvironment.md
  pyproject.toml
  user_docs/en/changes.md
  uv.lock
Due: licenseCheck

Update actions/upload-artifact and actions/download-artifact (#19224)
  .github/workflows/testAndPublish.yml
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Bugfix for displayed gesture identifier containing numlock modifier (#19213)
  source/keyboardHandler.py
  user_docs/en/changes.md
Due: checkPot

Fix when running from source
  source/NVDAState.py
Due: checkPot

Allow the mathematics settings panel to load for NVDA languages without defined speech styles
  source/mathPres/MathCAT/localization.py
Due: checkPot

Allow the mathematics settings panel to load for NVDA languages without defined speech styles (#19231)
  source/mathPres/MathCAT/localization.py
Due: checkPot

Load MathCAT relative to the app directory (#19230)
  source/NVDAState.py
Due: checkPot

Set the default Braille code to AsciiMATH
  source/config/configSpec.py
Due: checkPot

Update source/config/configSpec.py
  source/config/configSpec.py
Due: checkPot

Fixup what's new, userguide, settings, and UI messages
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/__init__.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

User guide: MathCAT edits.
  user_docs/en/userGuide.md
Due: none

User guide: Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

resolved bug where magnifier could only launch once
  source/magnifier/commands.py
Due: checkPot

added setting and logic to make it persistent
  source/gui/settingsDialogs.py
  source/magnifier/__init__.py
  source/magnifier/commands.py
  source/magnifier/magnifier.py
Due: checkPot

Update braille.py
  source/braille.py
Due: checkPot

Use autoScrollRate and timeout when appropriate
  source/braille.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
Due: checkPot

Update variables in globalCommands
  source/globalCommands.py
Due: checkPot

Update braille
  source/braille.py
Due: checkPot

Fixes
  source/globalCommands.py
  source/gui/settingsDialogs.py
Due: checkPot

User guide: MathCAT edits (#19234)
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Revert "setup.py: no longer build nvda_art as part of NVDA itself. The runtime should be always used fully externally."
  source/setup.py
Due: checkPot

shlobj: add LOCAL_APP_DATA_LOW to FolderID constants, required by processmanager.
  source/shlobj.py
Due: checkPot

Don't attempt crash loop detection or automatic restarting on crash when running in secure mode
  source/utils/_crashHandler.py
  source/watchdog.py
Due: checkPot

Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

Don't attempt crash loop detection or automatic restarting on crash when running in secure mode (#19238)
  source/utils/_crashHandler.py
  source/watchdog.py
Due: checkPot

Symbols and character descriptions file for the luxembourgish langauge..
  source/locale/lb/characterDescriptions.dic
  source/locale/lb/symbols.dic
Due: none

Make Screen Curtain profile independent (#19177)
  source/config/__init__.py
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  source/core.py
  source/globalCommands.py
  source/gui/__init__.py
  source/gui/blockAction.py
  source/gui/settingsDialogs.py
  source/screenCurtain/__init__.py
  source/screenCurtain/_screenCurtain.py
  source/vision/visionHandler.py
  source/visionEnhancementProviders/_exampleProvider_autoGui.py
  source/visionEnhancementProviders/readme.md
  source/visionEnhancementProviders/screenCurtain.py
  source/winVersion.py
  tests/unit/test_visionEnhancementProviders/test_magnificationAPI.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Remove references to mathPlayer in code
  source/NVDAObjects/UIA/wordDocument.py
  source/core.py
Due: checkPot

Remove mathPlayer from build system
  nvdaHelper/archBuild_sconscript
  nvdaHelper/mathPlayer_sconscript
  source/comInterfaces_sconscript
Due: none
