Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Add Pyright to GitHub Actions CI (#18345)
  .github/workflows/testAndPublish.yml
  .pre-commit-config.yaml
  ci/scripts/tests/typeCheck.ps1
  pyproject.toml
  source/synthDrivers/sapi4.py
Due: checkPot, licenseCheck

Update .github/workflows/testAndPublish.yml
  .github/workflows/testAndPublish.yml
Due: none

Add `useWasapi` setting to SAPI4 and SAPI5
  source/synthDriverHandler.py
  source/synthDrivers/sapi4.py
  source/synthDrivers/sapi5.py
Due: checkPot

Remove old `useWASAPIForSAPI4` config and update user guide help message
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Fix root certificate issues for add-on store
  source/addonStore/dataManager.py
  source/updateCheck.py
  source/utils/networking.py
Due: checkPot

update changes
  source/updateCheck.py
  source/utils/networking.py
  user_docs/en/changes.md
Due: checkPot

Update source/updateCheck.py
  source/updateCheck.py
Due: checkPot

Fix naming of snapshot builds (#18353)
  ci/scripts/setBuildVersionVars.ps1
Due: none

handle review feedback
  source/utils/networking.py
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Address comment
  source/textInfos/offsets.py
Due: checkPot

Fixed support for paragraph mouse text unit in Java applications. (#18232)
  source/NVDAObjects/JAB/__init__.py
  user_docs/en/changes.md
Due: checkPot

Fix API compatibility break.
  source/NVDAHelper.py
  source/virtualBuffers/__init__.py
Due: checkPot

Apply code review
  nvdaHelper/local/nvdaControllerInternal.c
Due: scons-source

Fixed type annotation error in MathCAT.py
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Fixed libmathcat_py import in MathCAT.py
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Fixed broken ProsodyCommand import
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Removed use of addonHandler in MathCAT
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/__init__.py
  source/mathPres/__init__.py
Due: checkPot

Fixed MathCAT initialization
  source/mathPres/__init__.py
Due: checkPot

Fixed Rules path
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Update source/textInfos/offsets.py
  source/textInfos/offsets.py
Due: checkPot

Update symbols.dic for Finnish
  source/locale/fi/symbols.dic
Due: none

Only call idle() when the last stream closes
  source/synthDrivers/sapi5.py
Due: checkPot

Update symbols.dic for bulgarian
  source/locale/bg/symbols.dic
Due: none

Guard SAPI4 IAudio implementations from excessive Release calls
  source/synthDrivers/sapi4.py
Due: checkPot

Fix NVDAHelper.generateBeep
  source/NVDAHelper/__init__.py
  source/tones.py
  user_docs/en/changes.md
Due: checkPot

Only join audio thread when thread has been started
  source/synthDrivers/sapi4.py
Due: checkPot

Fixed NVDAHelper.VBuf_GetTextInRange
  source/NVDAHelper/__init__.py
  user_docs/en/changes.md
Due: checkPot

Fix NVDAHelper.onSsmlMarkReached
  source/NVDAHelper/__init__.py
  user_docs/en/changes.md
Due: checkPot

Move changes to the right section
  user_docs/en/changes.md
Due: none

fix up casing
  .github/workflows/testAndPublish.yml
Due: none

Minor fixups to projectDocs
  projectDocs/issues/triage.md
  projectDocs/translating/github.md
Due: none

Update symbols.dic for Finnish #18373
  source/locale/fi/symbols.dic
Due: none

fix name
  .github/workflows/testAndPublish.yml
Due: none

Add note about terminal profiles
  projectDocs/dev/buildingNVDA.md
Due: none

Fix type hints in excel
  source/NVDAObjects/window/excel.py
Due: checkPot

Update source/UIAHandler/__init__.py
  source/UIAHandler/__init__.py
Due: checkPot
