Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

docs: move Screen Curtain under privacy and security
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Fix up references to full-screen modes (#20655)
  source/_magnifier/commands.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/utils/types.py
  source/gui/settingsDialogs.py
Due: checkPot

Cherry-pick #20646 "Clear the braille display on system shutdown" to beta (#20663)
  source/braille.py
  source/core.py
  user_docs/en/changes.md
Due: checkPot

Add missing changelog ref (#20662)
  user_docs/en/changes.md
Due: none

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Apply copilot review actions and make typeform annotations use the new intflag end to end
  source/louisHelper.py
  source/textUtils/_braille.py
Due: checkPot

Handle tree interceptors in objectBelowLockScreenAndWindowsIsLocked (#18861)
  source/utils/security.py
  tests/unit/test_util/test_security.py
  user_docs/en/changes.md
Due: checkPot

Fix translator comment placement
  source/contentRecog/recogUi.py
Due: checkPot

Updated spanish gestures.ini
  source/locale/es/gestures.ini
Due: none

Updated catalan gestures.ini
  source/locale/ca/gestures.ini
Due: none

Updated galician gestures.ini
  source/locale/gl/gestures.ini
Due: none

build: remove AppX packaging targets and sconscript
  appx/appx_images/nvda_150x150.png
  appx/appx_images/nvda_44x44.png
  appx/manifest.xml.subst
  appx/sconscript
  sconstruct
Due: none

refactor: remove AppX runtime detection and session restart handling
  source/core.py
  source/nvda.pyw
Due: checkPot

refactor: remove isAppX checks from config and subsystems
  source/NVDAHelper/__init__.py
  source/addonHandler/__init__.py
  source/addonHandler/packaging.py
  source/addonStore/dataManager.py
  source/brailleTables/__init__.py
  source/config/__init__.py
  source/core.py
  source/nvda.pyw
  source/touchHandler.py
  source/updateCheck.py
Due: checkPot

Address review: Sphinx docstring, widen obj type, gate debug log
  source/utils/security.py
Due: checkPot

Fix typos in 2026.2 Changes for Developers
  user_docs/en/changes.md
Due: none

Update catalan, galician and spanish gestures.ini (#20680)
  source/locale/ca/gestures.ini
  source/locale/es/gestures.ini
  source/locale/gl/gestures.ini
Due: none

Fix typos in 2026.2 Changes for Developers (#20682)
  user_docs/en/changes.md
Due: none

Fix #20619: Feature: CLI argument to start after I sign in
  source/argsParsing.py
  source/globalVars.py
  source/gui/installerGui.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Exclude Taiwanese braille from Chinese word segmentation
  source/braille/regions/base.py
  tests/unit/test_braille/test_routing.py
  user_docs/en/userGuide.md
Due: checkPot

Converge Chinese braille segmentation tests
  tests/unit/test_braille/test_routing.py
Due: none

Apply code review suggestions
  source/contentRecog/__init__.py
  source/contentRecog/recogUi.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  tests/unit/contentRecog/test_recogUi.py
  user_docs/en/changes.md
Due: checkPot

review actions
  source/braille/__init__.py
  tests/unit/test_brailleTables.py
Due: checkPot

Address review: restore try/except around the lock screen check
  source/utils/security.py
Due: checkPot

Handle tree interceptors in objectBelowLockScreenAndWindowsIsLocked (#20678)
  source/utils/security.py
  tests/unit/test_util/test_security.py
  user_docs/en/changes.md
Due: checkPot

Add --start-after-signin command line option
  source/argsParsing.py
  source/core.py
  source/globalVars.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update espeak to 56f2e9c73
  include/espeak.md
  nvdaHelper/espeak/config.h
  nvdaHelper/espeak/sconscript
  tests/unit/test_synthDrivers/test_espeak.py
Due: scons-source

Update docs
  include/espeak.md
  projectDocs/dev/createDevEnvironment.md
  source/synthDrivers/espeak.py
  user_docs/en/changes.md
Due: checkPot

Fix lint
  tests/unit/test_synthDrivers/test_espeak.py
Due: none

Apply suggestions from code review
  include/espeak.md
  nvdaHelper/espeak/sconscript
  tests/unit/test_synthDrivers/test_espeak.py
Due: none

Use Windows Graphics Capture for content recognition with Screen Curtain and Magnifier (#20664)
  source/contentRecog/__init__.py
  source/contentRecog/_wgcCapture.py
  source/contentRecog/recogUi.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  tests/unit/contentRecog/test_contentRecog.py
  tests/unit/contentRecog/test_recogUi.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Export extra symbols
  source/louisHelper.py
Due: checkPot

Make louisHelper the single point of liblouis interaction (#20666)
  source/braille/__init__.py
  source/braille/input/constants.py
  source/braille/input/inputHandler.py
  source/braille/regions/base.py
  source/braille/regions/textInfo.py
  source/brailleInput.py
  source/louisHelper.py
  source/textUtils/_braille.py
  tests/unit/test_braille/test_publicSurface.py
  tests/unit/test_brailleTables.py
  tests/unit/test_louisHelper.py
  user_docs/en/changes.md
Due: checkPot

refactor: remove AppX checks from GUI and blockAction context
  source/NVDAObjects/IAccessible/sysListView32.py
  source/globalCommands.py
  source/gui/__init__.py
  source/gui/addonGui.py
  source/gui/blockAction.py
  source/gui/exit.py
  source/gui/settingsDialogs.py
  source/gui/startupDialogs.py
Due: checkPot

Resolve the typed character protected state lazily
  source/speech/speech.py
  tests/unit/test_speechTypedCharacters.py
  user_docs/en/changes.md
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
