Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

fix add-on store
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

fix add-on store merge conflicts between #18816 and #18974
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Review actions
  source/controlTypes/processAndLabelStates.py
Due: checkPot

correct method naming
  source/textUtils/__init__.py
Due: checkPot

update UI text for Uniscribe
  source/config/featureFlagEnums.py
Due: checkPot

make `cppjieba` only available when NVDA's language is set to Chinese
  source/textUtils/__init__.py
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

Address review comments
  source/wincon.py
Due: checkPot

Fix legacy Windows console support (#18990)
  source/winConsoleHandler.py
  source/wincon.py
Due: checkPot

update `wordSegSegmenter.py` to handle offsets at the end of the string
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

make initialization of word segmenters conditional on language
  source/config/configSpec.py
  source/config/featureFlagEnums.py
  source/gui/settingsDialogs.py
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

add unittest cases for `WordSegmenter`
  tests/unit/test_textUtils.py
Due: none

fixup
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

extract punctuation from `wordSegStrategy.py` to `wordSegUtils.py`
  source/textUtils/wordSeg/wordSegStrategy.py
  source/textUtils/wordSeg/wordSegUtils.py
Due: checkPot

Log to show encryption happening
  source/art/crypto/serializers.py
  source/art/manager.py
  source/nvda_art.pyw
Due: checkPot

correct gui text
  source/gui/settingsDialogs.py
Due: checkPot

update changelog
  user_docs/en/changes.md
Due: none

fix up
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

Add ability to report editing profile name when siwtching profiles
  source/config/__init__.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
Due: checkPot

Restore comment
  source/gui/settingsDialogs.py
Due: checkPot

fix up
  source/gui/settingsDialogs.py
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

correct and simplify the offset calculations
  source/textUtils/wordSeg/wordSegUtils.py
Due: checkPot

feat(vision): migrate NVDAHighlighter to use modern typing and override decorators
  source/visionEnhancementProviders/NVDAHighlighter.py
Due: checkPot

fix(NVDAHighlighter): update context rect mapping and refresh logic
  source/visionEnhancementProviders/NVDAHighlighter.py
Due: checkPot

fix(visionEnhancementProviders): remove unnecessary super().terminate() call
  source/visionEnhancementProviders/NVDAHighlighter.py
Due: checkPot

added changes
  user_docs/en/changes.md
Due: none

Fix incorrect type hints
  source/visionEnhancementProviders/NVDAHighlighter.py
Due: checkPot

Compile nvdaHelper\local\nvdaControllerInternal.c as c++ so that function pointers successfully get thunked for ARM64EC and NVDA can correctly start on ARM64 again.
  nvdaHelper/local/nvdaControllerInternal.cpp
  nvdaHelper/local/sconscript
Due: scons-source

add comment
  source/NVDAHelper/__init__.py
Due: checkPot

Correcting typos
  .github/ISSUE_TEMPLATE/05-addon_integration_request.yaml
Due: none

NVDA again functions on ARM64 (#19001)
  nvdaHelper/local/nvdaControllerInternal.cpp
  nvdaHelper/local/sconscript
  source/NVDAHelper/__init__.py
Due: scons-source, checkPot

Rephrased licensing question
  .github/ISSUE_TEMPLATE/05-addon_integration_request.yaml
Due: none

Responding to code review feedback
  .github/ISSUE_TEMPLATE/15-addon_integration_request.md
Due: none

fix close
  source/easeOfAccess.py
Due: checkPot

Removing temporary notice on gpl consultation
  readme.md
Due: none

Update copying.txt to GPL-2 or later
  copying.txt
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
