Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

.pre-commit-config.yaml:

exclude: ^user_docs/(?!en/).*$

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    # Checks python syntax
    - id: check-ast
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: trailing-whitespace
      types_or: [python, c, c++, batch, markdown]
    - id: end-of-file-fixer
      types_or: [python, c, c++, batch, markdown]

- repo: https://github.com/asottile/add-trailing-comma
  rev: v3.1.0
  hooks:
  # Ruff preserves indent/new-line formatting of function arguments, list items, and similar iterables,
  # if a trailing comma is added.
  # This adds a trailing comma to args/iterable items in case it was missed.
  - id: add-trailing-comma

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Matches Ruff version in requirements.
  rev: v0.5.2
  hooks:
    - id: ruff
      name: lint with ruff
      args: [ --fix ]
    - id: ruff-format
      name: format with ruff

- repo: local
  hooks:
    - id: scons-source
      name: build c/c++ files
      entry: cmd.exe /c "scons source -j 0"
      language: system
      pass_filenames: false
      types_or: [c, c++]
    - id: checkPot
      name: translation string check
      entry: cmd.exe /c "scons checkPot -j 0"
      language: system
      pass_filenames: false
      types: [python]
      files: ^source/.*$
    - id: unitTest
      name: unit tests
      entry: ./rununittests.bat
      language: script
      pass_filenames: false
      types_or: [python, c, c++, batch]
    - id: licenseCheck
      name: Check license compatibility of pip dependencies
      files: ^(requirements\.txt|runlicensecheck\.bat)$
      entry: ./runlicensecheck.bat
      language: script
      pass_filenames: false

Use static ids in Poedit 3.5+
  source/appModules/poedit.py
Due: checkPot

Fix order for needs work reporting with beeps
  source/appModules/poedit.py
Due: checkPot

first draft at dark mode support for settings dialog
  source/gui/settingsDialogs.py
Due: checkPot

respect custom themes that have bg darker than fg, even if they aren't officially "dark"
  source/gui/settingsDialogs.py
Due: checkPot

generalize dark mode beyond the settings dialogs to several other dialogs
  source/gui/configProfiles.py
  source/gui/exit.py
  source/gui/guiHelper.py
  source/gui/logViewer.py
  source/gui/settingsDialogs.py
  source/gui/speechDict.py
  source/gui/startupDialogs.py
Due: checkPot

tidy up the diff
  source/gui/logViewer.py
  source/gui/settingsDialogs.py
  source/gui/speechDict.py
  source/gui/startupDialogs.py
Due: checkPot

lint
  source/gui/guiHelper.py
  source/gui/settingsDialogs.py
Due: checkPot

docs
  user_docs/en/userGuide.md
Due: none

BrailleBuffer: abstract conversion of a window pos to a buffer pos into its own windowPosToBufferPos method.
  source/braille.py
Due: checkPot

BrailleBuffer: for displays with multiple rows of cells, word wrap each row, if word wrapping is enabled.
  source/braille.py
Due: checkPot

Makes the maximum delay for key repetition configurable
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/scriptHandler.py
  user_docs/en/userGuide.md
Due: checkPot

Change log
  user_docs/en/changes.md
Due: none

Fix lint
  source/gui/settingsDialogs.py
Due: checkPot

Gecko_ia2 vbufBackend: ensure we release the document root accessible when terminating the backend in the UI thread, and if this does not occur, leak the COM object rather than crashing the browser.
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
Due: scons-source

Apply suggestions from code review
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Removed types and erroneous formatting from docstrings
  source/braille.py
Due: checkPot

Disable formatting display option when braille mode is set to display speech output
  source/gui/settingsDialogs.py
Due: checkPot

Linted
  source/gui/settingsDialogs.py
Due: checkPot

Gecko vbufBackend: add assertion
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
Due: scons-source

Clarify comment
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
Due: scons-source

Update what's new
  user_docs/en/changes.md
Due: none

Fix typo
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

Moved "Formatting display" to approximately the right place in the user guide
  user_docs/en/userGuide.md
Due: none

Added latin-script translation of formatting tag symbols
  user_docs/en/userGuide.md
Due: none

Reordered the braille section of the NVDA settings of the user guide to reflect the settings GUI
  user_docs/en/userGuide.md
Due: none

Apply suggestions from code review
  source/config/configSpec.py
  user_docs/en/userGuide.md
Due: checkPot

Address review comments
  source/gui/settingsDialogs.py
  source/scriptHandler.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Add ability to report start of paragraphs in braille
  source/braille.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update py2exe to 0.13.0.2 The following is the changelog for 0.13.0.2: https://github.com/py2exe/py2exe/releases/tag/v0.13.0.2
  requirements.txt
Due: licenseCheck

Added darkmode to changes.md.
  user_docs/en/changes.md
Due: none

Catch and log exceptions from wasPlay_idle.
  source/nvwave.py
Due: checkPot

Reformat files
  source/gui/settingsDialogs.py
Due: checkPot

Improve translators comment
  source/gui/settingsDialogs.py
Due: checkPot

Fix help event for show paragrahph start in braille
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Reformat file
  source/gui/settingsDialogs.py
Due: checkPot

Support IAccessible2 "mark" text attribute.
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

Improve documentation, suggested by coderabbitai
  user_docs/en/userGuide.md
Due: none

Apply suggestions from code review
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot
