Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Build Liblouis as 64-bit
  nvdaHelper/archBuild_sconscript
  nvdaHelper/liblouis/sconscript
Due: none

Convert NVDAHelper.py into a package. Create localLib.py which contains explicit ctypes declarations for all nvdaHelperLocal functions.
  source/NVDAHelper/__init__.py
  source/NVDAHelper/localLib.py
  source/NVDAObjects/window/excel.py
  source/nvwave.py
Due: checkPot

sconstruct: rename lib dirs to be lib/arch which standardises them a little bit more.
  sconstruct
Due: none

nvdahelper.py: Handle executing on both 32 bit and 64 bit Python.
  source/NVDAHelper.py
Due: checkPot

nvdaHelper archBuild_sconscript: choose to build the various compoents based on whether or not the target archetecture is the NvDA core archetecture or not, rathr than hardcoding x86 or x86_64 etc.
  nvdaHelper/archBuild_sconscript
Due: none

wip - initial speech!
  source/NVDAHelper/__init__.py
  source/NVDAHelper/localLib.py
  source/UIAHandler/_remoteOps/lowLevel.py
  source/displayModel.py
  source/hwPortUtils.py
  source/nvwave.py
  source/synthDrivers/oneCore.py
  source/watchdog.py
  source/winInputHook.py
  source/windowUtils.py
Due: checkPot

more wip
  source/NVDAHelper/localLib.py
  source/virtualBuffers/__init__.py
  source/watchdog.py
  source/winInputHook.py
Due: checkPot

Fix typo
  source/winInputHook.py
Due: checkPot

More wip
  source/NVDAHelper/localLib.py
  source/UIAHandler/__init__.py
  source/displayModel.py
  source/watchdog.py
  source/winInputHook.py
Due: checkPot

declare calculateCharacterOffsets in nvdaHelper localLib
  source/NVDAHelper/localLib.py
Due: checkPot

localLib.cancellableSendMessageTimeout: use c_void_p for WPARAM and LPARAM as this gives us the greatest flexibility of accepting various argument types while still ensuring the right size.
  source/NVDAHelper/localLib.py
Due: checkPot

vbuf_getTextInRange should be called from localLib.
  source/virtualBuffers/__init__.py
Due: checkPot

More wip
  source/fileUtils.py
  source/systemUtils.py
  source/textUtils/uniscribe.py
Due: checkPot

localLib: declare calculateWordOffsets
  source/NVDAHelper/localLib.py
Due: checkPot

Made building Liblouis architecture aware
  nvdaHelper/liblouis/sconscript
Due: none

Track virtaulBuffer handle as a real ctypes VBufRemote_buffer_Handle_t object rather than an int.
  source/virtualBuffers/__init__.py
Due: checkPot

helperLocalBindingHandle should be tracked as a real HANDLE object so that it can be byrefed later.
  source/NVDAHelper/__init__.py
Due: checkPot

Move GetProcessToken declaration to winBindings.advapi32
  source/systemUtils.py
  source/winBindings/advapi32.py
Due: checkPot

Fix unit tests
  source/winBindings/kernel32.py
  source/winBindings/user32.py
  source/winInputHook.py
  tests/unit/__init__.py
  tests/unit/test_braille/test_brailleDisplayDrivers.py
Due: checkPot

Move changed ctypes declarations out of displayModel.py
  source/NVDAHelper/localLib.py
  source/displayModel.py
Due: checkPot

Move changed declarations out of windowUtils.py
  source/winBindings/user32.py
  source/windowUtils.py
Due: checkPot

Create winBindings package
  source/winBindings/__init__.py
Due: checkPot

Fix new declarations
  source/NVDAHelper/localLib.py
  source/_remoteClient/secureDesktop.py
  source/winBindings/kernel32.py
Due: checkPot

Apply suggestions from code review
  source/browseMode.py
Due: checkPot

Log an error when wrong heading level
  source/browseMode.py
Due: checkPot

(possibly bad) fix for type incompatibility in silence trimming
  nvdaHelper/local/wasapi.cpp
Due: scons-source

Update .github/workflows/testAndPublish.yml
  .github/workflows/testAndPublish.yml
Due: none

Rename _dll to dll and add __all__ in winBindings
  source/_remoteClient/secureDesktop.py
  source/winBindings/advapi32.py
  source/winBindings/kernel32.py
  source/winBindings/user32.py
Due: checkPot

Add comments
  .github/workflows/testAndPublish.yml
Due: none

Add trailing comma
  source/browseMode.py
Due: checkPot

Strategy for building 64-bit and 32-bit
  .nvdaX64.env
  projectDocs/dev/buildingNVDA.md
Due: none

Apply suggestions from code review
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/speech/speech.py
Due: checkPot

Remove debug comments
  source/speech/speech.py
Due: checkPot

Change anchor name
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Use MathML attributes for PDFs read in Adobe Acrobat (#17984)
  source/NVDAObjects/IAccessible/adobeAcrobat.py
  user_docs/en/changes.md
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Adobe Acrobat: support MS Office mathml custom attribute.
  source/NVDAObjects/IAccessible/adobeAcrobat.py
Due: checkPot

Update what's new
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  .github/workflows/testAndPublish.yml
Due: none

Force configobj to realise that the lastConnections list has been mutated
  source/_remoteClient/configuration.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
