Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Don't copy universal C Runtime as it will never be used on Windows 10/11 (#19513)
  sconstruct
  user_docs/en/changes.md
Due: none

Fix copying add-ons to the system profile (#19511)
  source/gui/settingsDialogs.py
Due: checkPot

Fix translatable string in copy add-ons feature (#19512)
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Fix updating windows root certificates in update check (#19448)
  source/updateCheck.py
Due: checkPot

Update source/_magnifier/utils/focusManager.py
  source/_magnifier/utils/focusManager.py
Due: checkPot

translator removed
  source/_magnifier/utils/focusManager.py
Due: checkPot

fixed panning, changed to %
  .pre-commit-config.yaml
  source/_magnifier/magnifier.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  tests/unit/nvda.ini.corrupted.bak
  tests/unit/test_magnifier/test_magnifier.py
  user_docs/en/userGuide.md
Due: checkPot

pre-commit
  .pre-commit-config.yaml
Due: none

Add extra matching modes
  source/gui/speechDict.py
  source/speechDictHandler/types.py
Due: checkPot

Expand tests
  tests/unit/test_speechDictHandler.py
Due: none

Add tests
  source/speechDictHandler/types.py
  tests/unit/test_speechDictHandler.py
Due: checkPot

Even more patterns
  source/gui/speechDict.py
  source/speechDictHandler/types.py
Due: checkPot

added 2026 in descriptions
  source/_magnifier/__init__.py
  source/_magnifier/config.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/filterHandler.py
  source/_magnifier/utils/spotlightManager.py
  source/_magnifier/utils/types.py
Due: checkPot

added 2026 in descriptions
  .pre-commit-config.yaml
Due: none

Add new types to the user guide
  user_docs/en/userGuide.md
Due: none

Update changes
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  source/speechDictHandler/types.py
  tests/unit/test_speechDictHandler.py
  user_docs/en/changes.md
Due: checkPot

Apply suggestions from code review
  source/speechDictHandler/types.py
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

when upgrading config from schema 20 to 21, gracefully handle when a key or value does not exist E.g. for a config profile.
  source/config/profileUpgradeSteps.py
Due: checkPot

Apply suggestion from @SaschaCowley
  source/config/profileUpgradeSteps.py
Due: checkPot

when upgrading config from schema 20 to 21, gracefully handle when a key or value does not exist E.g. for a config profile. (#19519)
  source/config/profileUpgradeSteps.py
Due: checkPot

Update to latest versions
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: licenseCheck

Revert "Pre-commit auto-update (#19311)"
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: licenseCheck

fix com registration fixing tool for ARM
  source/COMRegistrationFixes/__init__.py
Due: checkPot

Revert "Pre-commit auto-update" (#19522)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: licenseCheck

restore unused code
  source/COMRegistrationFixes/__init__.py
Due: checkPot

add changes
  user_docs/en/changes.md
Due: none

update setuptools
  runtime-builders/synthDriverHost32/pyproject.toml
  runtime-builders/synthDriverHost32/uv.lock
  user_docs/en/changes.md
  uv.lock
Due: none

update setuptools
  pyproject.toml
Due: licenseCheck

Add more patterns
  tests/unit/test_speechDictHandler.py
Due: none

Undderscore
  user_docs/en/userGuide.md
Due: none

Apply suggestions from code review
  source/speechDictHandler/types.py
  user_docs/en/userGuide.md
Due: checkPot

Replace the default model with Mozilla's distilvit
  source/_localCaptioner/modelDownloader.py
  source/config/configSpec.py
  source/gui/_localCaptioner/messageDialogs.py
Due: checkPot

No longer allow moving to offset past end for NVDAObjectTextInfo
  source/NVDAObjects/__init__.py
  tests/unit/test_compoundDocuments.py
Due: checkPot

Fix copyright
  source/NVDAObjects/__init__.py
  tests/unit/test_compoundDocuments.py
Due: checkPot
