Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Simplify ty configuration and CI wiring
  .github/workflows/testAndPublish.yml
  .pre-commit-config.yaml
  ci/scripts/tests/typeCheckPyright.ps1
  pyproject.toml
Due: licenseCheck

Skip ty hook in autofix lint gate, mirroring pyright
  .github/workflows/autofix.yml
Due: none

rename manual activate and manual deactivate to activate and deactivate
  source/gui/configProfiles.py
Due: checkPot

apply suggestion
  user_docs/en/userGuide.md
Due: none

Update source/brailleDisplayDrivers/handyTech.py
  source/brailleDisplayDrivers/handyTech.py
Due: checkPot

fix comment
  source/gui/speechDict.py
Due: checkPot

fix user gide
  user_docs/en/userGuide.md
Due: none

Changed User Guide to uniformly refer to Help Tech rather than Handy Tech, and to reflect the reality that some older models are no longer supported.
  user_docs/en/userGuide.md
Due: none

Update runtime-builders/synthDriverHost32/.python-version
  runtime-builders/synthDriverHost32/.python-version
Due: none

Updated user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update .python-versions
  .python-versions
Due: none

Review action
  source/brailleDisplayDrivers/handyTech.py
Due: checkPot

Apply suggestion from @CyrilleB79
  user_docs/en/userGuide.md
Due: none

Ty to 0.58
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: licenseCheck

Report .NET Framework WinForms combo box selection changes
  source/NVDAObjects/UIA/__init__.py
  tests/unit/test_NVDAObjects_UIA.py
  user_docs/en/changes.md
Due: checkPot

Report .NET Framework WinForms menu item checked states
  source/NVDAObjects/UIA/__init__.py
  tests/unit/test_NVDAObjects_UIA.py
  user_docs/en/changes.md
Due: checkPot

Report descriptions for WinForms ToolStrip menu items
  source/NVDAObjects/UIA/__init__.py
  tests/unit/test_NVDAObjects_UIA.py
  user_docs/en/changes.md
Due: checkPot

Limit WinForms menu item description fallback
  source/NVDAObjects/UIA/__init__.py
  tests/unit/test_NVDAObjects_UIA.py
Due: checkPot

Verify WinForms combo box selection event ownership
  source/NVDAObjects/UIA/__init__.py
  source/winBindings/user32.py
  tests/unit/test_NVDAObjects_UIA.py
Due: checkPot

Add parallel
  .github/workflows/testAndPublish.yml
Due: none

Restore changes
  .github/workflows/testAndPublish.yml
Due: none

Add more parallel
  .github/workflows/testAndPublish.yml
Due: none

Ignore 'step must run script with "run" section or run action with "uses" section' errors
  .github/actionlint.yml
Due: none

Restore incorrectly modified variables
  .github/workflows/testAndPublish.yml
Due: none

Add contribution guide for dark mode implementation
  CONTRIBUTION.md
Due: none

fix: lower ITextDocument error log to debugWarning for UnidentifiedEdit controls (#20449)
  source/NVDAObjects/window/edit.py
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Speech dictionaries dialog. Added a context menu to the dicts list (#20424)
  source/gui/speechDict.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fixup
  source/cursorManager.py
Due: checkPot

Added clear explaning comments to all place of the code
  source/gui/inputGestures.py
Due: checkPot

Concatonate runs of spaces
  source/textUtils/icu.py
Due: checkPot

Unit tests
  tests/unit/test_textUtils_backendComparison.py
Due: none

Normalize bare drive letters in portable copy directory (#20159)
  source/gui/installerGui.py
  tests/unit/test_installer.py
Due: checkPot
