Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

Update pillow pip requirements constraint
  constraints.txt
Due: none

Remove 'Automatically set system focus to focusable elements' (#17598)
  source/browseMode.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Unbind application volume adjustment gestures (#17634)
  source/globalCommands.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Add "Only in edit controls" mode for typing echo (#17505)
  source/NVDAObjects/behaviors.py
  source/NVDAObjects/inputComposition.py
  source/config/configFlags.py
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/speech/speech.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update source/braille.py
  source/braille.py
Due: checkPot

IAccessible2: Evaluate "text-indent" attr for first line indent
  source/NVDAObjects/IAccessible/__init__.py
  user_docs/en/changes.md
Due: checkPot

Add numpad gestures
  source/appModules/winword.py
Due: checkPot

Apply suggestions from code review
  source/NVDAObjects/IAccessible/__init__.py
  user_docs/en/changes.md
Due: checkPot

IAccessible2: Evaluate "text-indent" attr for first line indent (#17638)
  source/NVDAObjects/IAccessible/__init__.py
  user_docs/en/changes.md
Due: checkPot

Update pillow pip requirements constraint (#17636)
  constraints.txt
Due: none

revert from embedded view
  source/documentationUtils.py
  source/gui/startupDialogs.py
Due: checkPot

Apply suggestions from code review
  source/synthDrivers/_sonic.py
  source/synthDrivers/sapi5.py
Due: checkPot

Add & update copyright headers
  nvdaHelper/espeak/sconscript
  nvdaHelper/espeak/sonic.def
  source/synthDrivers/_sonic.py
  source/synthDrivers/sapi5.py
Due: checkPot

update config testing
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  tests/unit/test_config.py
Due: checkPot

safer loading of config
  source/addonStore/settings.py
  source/config/profileUpgradeSteps.py
Due: checkPot

address review comments
  source/addonStore/settings.py
  user_docs/en/userGuide.md
Due: checkPot

Add LIBRARY to sonic.def
  nvdaHelper/espeak/sonic.def
Due: none

address review comments
  source/addonStore/settings.py
Due: checkPot

remove config upgrade
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  tests/unit/test_config.py
Due: checkPot

Add type hints
  source/synthDrivers/_sonic.py
  source/synthDrivers/sapi5.py
Due: checkPot

Update characterDescriptions.dic
  source/locale/en/characterDescriptions.dic
Due: none

Initialize Sonic only when needed
  source/speech/__init__.py
  source/synthDrivers/_sonic.py
  source/synthDrivers/sapi5.py
Due: checkPot

create detailed github documentation
  projectDocs/dev/developerGuide/developerGuide.md
  projectDocs/translating/github.md
  projectDocs/translating/readme.md
Due: none

Delete entry if not bool, and convert true to always
  source/config/profileUpgradeSteps.py
Due: checkPot

simplify translating gestures
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Delete outdated translated copies of developer guide
  user_docs/de/developerGuide.md
  user_docs/pt_BR/developerGuide.md
Due: none

No longer use filter_displaySize in system tests
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
Due: none

Update doc string
  source/braille.py
Due: checkPot

`windowPosToBufferPos` may never go less than 0
  source/braille.py
Due: checkPot

Return type
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
Due: none

Implement deprecation for extension points
  projectDocs/dev/deprecations.md
  source/braille.py
  source/extensionPoints/util.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
Due: checkPot

Tests
  source/brailleViewer/__init__.py
  tests/unit/__init__.py
  tests/unit/extensionPointTestHelpers.py
  tests/unit/test_braille/test_handlerExtensionPoints.py
Due: checkPot

undo test changes
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
Due: none

Rename
  source/brailleViewer/__init__.py
Due: checkPot

Apply suggestions from code review
  source/braille.py
Due: checkPot

Fix SAPI 4 driver (#17599)
  source/autoSettingsUtils/driverSetting.py
  source/gui/settingsDialogs.py
  source/synthDrivers/_sapi4.py
  source/synthDrivers/sapi4.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Restore mapping
  source/config/profileUpgradeSteps.py
Due: checkPot

Log value when handling ValueError
  source/config/profileUpgradeSteps.py
Due: checkPot

Fix up config upgrade steps from schema version 14 to 15 (#17642)
  source/config/profileUpgradeSteps.py
Due: checkPot

Add leading silence detection and removal logic
  nvdaHelper/local/nvdaHelperLocal.def
  nvdaHelper/local/silenceDetect.h
  nvdaHelper/local/wasapi.cpp
  source/nvwave.py
Due: scons-source, checkPot
