Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Encapsulate registry keys more consistently
  source/_remoteClient/localMachine.py
  source/config/__init__.py
  source/easeOfAccess.py
  source/installer.py
  source/systemUtils.py
  source/winVersion.py
Due: checkPot

Add changes
  user_docs/en/changes.md
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Automatically detect Dot Pad displays over USB (#18444)
  source/brailleDisplayDrivers/dotPad/driver.py
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  tests/unit/test_config.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

correct local captioner config specification
  source/_localCaptioner/__init__.py
  source/config/configSpec.py
  tests/unit/test_localCaptioner/test_captioner.py
Due: checkPot

Added temporary notice on license change to readme.md (#18607)
  readme.md
Due: none

fix imports
  source/config/__init__.py
  source/easeOfAccess.py
Due: checkPot

Parallelize GitHub actions builds for 32/64 bit (#18596)
  .github/workflows/testAndPublish.yml
  .python-versions
Due: none

Apply suggestions from code review
  source/_localCaptioner/__init__.py
Due: checkPot

tidy up imports, remove magic constant
  sconstruct
  site_scons/site_tools/doxygen.py
  source/NVDAState.py
  source/_remoteClient/localMachine.py
  source/_remoteClient/urlHandler.py
  source/config/__init__.py
  source/config/registry.py
  source/easeOfAccess.py
  source/installer.py
  source/mathType.py
  source/systemUtils.py
  source/winVersion.py
  user_docs/en/changes.md
Due: checkPot

screenshot navigator object for image caption, by default it follows focus object
  source/_localCaptioner/__init__.py
Due: checkPot

Update source/installer.py
  source/installer.py
Due: checkPot

Update source/easeOfAccess.py
  source/easeOfAccess.py
Due: checkPot

Build python 3.13
  .github/workflows/testAndPublish.yml
  .python-versions
  pyproject.toml
  source/logHandler.py
  uv.lock
Due: checkPot, licenseCheck

add definition for freeLibrry to winBindings.kernel32 and use in jabHandler.terminate.
  source/JABHandler.py
  source/winBindings/kernel32.py
Due: checkPot

Remove unused import
  source/_localCaptioner/__init__.py
Due: checkPot

Update source/systemUtils.py
  source/systemUtils.py
Due: checkPot

fix log handler
  source/logHandler.py
Due: checkPot

Apply suggestions from code review
  source/_localCaptioner/__init__.py
  tests/system/libraries/SystemTestSpy/configManager.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Apply suggestions from code review
  source/_localCaptioner/captioner.py
  source/gui/settingsDialogs.py
Due: checkPot

fixing for copilot's suggestions
  tests/system/libraries/SystemTestSpy/configManager.py
  user_docs/en/changes.md
Due: none

Many more definitions added to winBindings in order to get the Starts NvDA system test passing.
  source/appModuleHandler.py
  source/nvda.pyw
  source/oleacc.py
  source/synthDrivers/sapi4.py
  source/touchHandler.py
  source/watchdog.py
  source/winBindings/kernel32.py
  source/winBindings/oleacc.py
  source/winBindings/user32.py
  source/winInputHook.py
  source/winKernel.py
  source/winUser.py
  source/windowUtils.py
Due: checkPot

Add back missing imports
  source/winUser.py
Due: checkPot

winKernel.openProcess: should still return 0 not raise.
  source/winKernel.py
Due: checkPot

winuser: make sure that WNDPROC and WNDCLASSEXW are exported
  source/winUser.py
Due: checkPot

re-enable restarts on crash
  source/watchdog.py
Due: checkPot

Added nvda-mathcat submodule
  .gitmodules
Due: none

setup.py: ensure to copy nvdaHelperRemoteLoader.exe in the lib dirs by including *.exe. No longer include *.manifest -- not needed for many years anyway.
  source/setup.py
Due: checkPot

nvdaHelper: when cor archetecture is not x86, run the x86 build of nvdaHelperRemoteLoader.exe so we can inject into x86 processes. Add definition for DuplicateHandle
  source/NVDAHelper/__init__.py
  source/winBindings/kernel32.py
  source/winKernel.py
Due: checkPot

Create symbols.dic for Amharic language.
  source/locale/am/symbols.dic
Due: none

Update symbols.dic for zh_TW
  source/locale/zh_TW/symbols.dic
Due: none

Update symbols.dic for zh_TW (#18612)
  source/locale/zh_TW/symbols.dic
Due: none

Update characterDescriptions.dic
  source/locale/am/characterDescriptions.dic
Due: none

Update source/locale/am/characterDescriptions.dic
  source/locale/am/characterDescriptions.dic
Due: none

add JiebaSingleton wrapper and C API for NVDA segmentation
  nvdaHelper/cppjieba/cppjieba.cpp
  nvdaHelper/cppjieba/cppjieba.def
  nvdaHelper/cppjieba/cppjieba.hpp
Due: scons-source

Update characterDescriptions.dic for Aramaic
  source/locale/am/characterDescriptions.dic
Due: none

coding standard
  source/_localCaptioner/__init__.py
  source/_localCaptioner/captioner.py
  tests/unit/test_localCaptioner/test_captioner.py
Due: checkPot

Fix config latest after merge
  source/config/configSpec.py
Due: checkPot

Update characterDescriptions.dic for zh_TW
  source/locale/zh_TW/characterDescriptions.dic
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
