Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

L10n updates for: nl From translation svn revision: 83952
  source/locale/nl/symbols.dic
Due: none

L10n updates for: pt_BR From translation svn revision: 83952
  user_docs/pt_BR/changes.md
Due: none

L10n updates for: bg From translation svn revision: 83941
  source/locale/bg/symbols.dic
Due: none

L10n updates for: sr From translation svn revision: 83941
  source/locale/sr/symbols.dic
Due: none

L10n updates for: nl From translation svn revision: 83956
  source/locale/nl/symbols.dic
Due: none

L10n updates for: ru From translation svn revision: 83956
  user_docs/ru/changes.md
  user_docs/ru/userGuide.md
Due: none

Better handling of modal dialogs (still not woroking properly as blockingInstancesExist tries to access destroyed instances)
  source/gui/messageDialog.py
Due: checkPot

Restore user docs from nvda/beta (#31)
  user_docs/ar/changes.md
  user_docs/ar/userGuide.md
  user_docs/bg/changes.md
  user_docs/da/changes.md
  user_docs/fa/changes.md
  user_docs/fi/changes.md
  user_docs/hr/changes.md
  user_docs/it/changes.md
  user_docs/ja/changes.md
  user_docs/nl/changes.md
  user_docs/nl/userGuide.md
  user_docs/pl/changes.md
  user_docs/pt_BR/changes.md
  user_docs/pt_BR/userGuide.md
  user_docs/pt_PT/changes.md
  user_docs/ru/changes.md
  user_docs/ru/userGuide.md
  user_docs/sk/changes.md
  user_docs/ta/userGuide.md
Due: none

Fixed problem with blocking instances exist
  source/gui/messageDialog.py
Due: checkPot

Update Add-on Store mirror to use new UX (#17228)
  source/gui/_SetURLDialog.py
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

WIP better performance tracing and layout encapsulation
  source/gui/messageDialog.py
Due: checkPot

Remove unneeded and unused TermControl2 class name
  source/NVDAObjects/UIA/__init__.py
  source/UIAHandler/__init__.py
Due: checkPot

Various fix-ups for the application volume adjustment feature
  source/audio/appsVolume.py
  source/config/featureFlagEnums.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Remove unneeded and unused TermControl2 class name (#17269)
  source/NVDAObjects/UIA/__init__.py
  source/UIAHandler/__init__.py
Due: checkPot

Reorganised MessageDialog code
  source/gui/messageDialog.py
Due: checkPot

Fixed return codes not working
  source/gui/messageDialog.py
Due: checkPot

Explicitly hide dialog when closing
  source/gui/messageDialog.py
Due: checkPot

Added escape code enum to support ID_NONE and ID_ANY
  source/gui/messageDialog.py
Due: checkPot

Changed MessageDialogButton.default to MessageDialogButton.default_focus, and added a MessageDialogButton.default_action field.
  source/gui/messageDialog.py
Due: checkPot

Corrected variable names
  source/gui/messageDialog.py
Due: checkPot

Removed staticmethods to classmethods
  source/gui/messageDialog.py
Due: checkPot

Added check for whether a return code is for a standard button
  source/gui/messageDialog.py
Due: checkPot

WIP using stddialogbuttonsizer
  source/gui/messageDialog.py
Due: checkPot

Mostly revert commit #fbfcd14b5f14609fba7a919c67431a1912b0da51 ("Adobe Reader: support alternative text on formulas in PDFs (#16067)")
  nvdaHelper/vbufBackends/adobeAcrobat/adobeAcrobat.cpp
  source/NVDAObjects/IAccessible/adobeAcrobat.py
Due: scons-source, checkPot

L10n updates for: ar From translation svn revision: 83957
  user_docs/ar/changes.md
  user_docs/ar/userGuide.md
Due: none

L10n updates for: bg From translation svn revision: 83957
  user_docs/bg/changes.md
Due: none

L10n updates for: da From translation svn revision: 83957
  user_docs/da/changes.md
Due: none

L10n updates for: fa From translation svn revision: 83957
  user_docs/fa/changes.md
Due: none

L10n updates for: fi From translation svn revision: 83957
  user_docs/fi/changes.md
Due: none

L10n updates for: hr From translation svn revision: 83957
  user_docs/hr/changes.md
Due: none

L10n updates for: it From translation svn revision: 83957
  user_docs/it/changes.md
Due: none

L10n updates for: ja From translation svn revision: 83957
  user_docs/ja/changes.md
Due: none

L10n updates for: nl From translation svn revision: 83957
  user_docs/nl/changes.md
  user_docs/nl/userGuide.md
Due: none

L10n updates for: pl From translation svn revision: 83957
  user_docs/pl/changes.md
Due: none

L10n updates for: pt_BR From translation svn revision: 83957
  user_docs/pt_BR/changes.md
  user_docs/pt_BR/userGuide.md
Due: none

L10n updates for: pt_PT From translation svn revision: 83957
  user_docs/pt_PT/changes.md
Due: none

L10n updates for: ru From translation svn revision: 83957
  user_docs/ru/changes.md
  user_docs/ru/userGuide.md
Due: none

L10n updates for: sk From translation svn revision: 83957
  user_docs/sk/changes.md
Due: none
