Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

Added short version for most commonly used command line options
  source/core.py
  source/globalVars.py
  source/gui/settingsDialogs.py
  source/languageHandler.py
  source/nvda.pyw
  tests/unit/test_synthDriverHandler.py
  user_docs/en/changes.md
Due: checkPot

Respect 'Say all on page load' in PowerPoint slide shows
  source/appModules/powerpnt.py
Due: checkPot

Update changes
  user_docs/en/changes.md
Due: none

Rewrote device enumeration to use mmdevice
  source/nvwave.py
Due: checkPot

Removed un used methods classes and attributes
  source/nvwave.py
Due: checkPot

Respect 'Say all on page load' in PowerPoint slide shows (#17488)
  source/appModules/powerpnt.py
  user_docs/en/changes.md
Due: checkPot

use overload
  source/gui/guiHelper.py
Due: checkPot

Removed old commented winmm code
  source/nvwave.py
Due: checkPot

Added a default value to the GUI
  source/gui/settingsDialogs.py
Due: checkPot

Removed 'Use WASAPI' setting from settings and UG
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Added change log entries
  user_docs/en/changes.md
Due: none

Update source/NVDAObjects/__init__.py
  source/NVDAObjects/__init__.py
Due: checkPot

Only filter exception where really expected
  source/globalCommands.py
Due: checkPot

Refine no destination case
  source/globalCommands.py
Due: checkPot

Disable prefix matching
  source/nvda.pyw
  user_docs/en/changes.md
Due: none

Fix Powerpoint say all on new slide
  source/appModules/powerpnt.py
Due: checkPot

Fix Powerpoint say all on new slide (#17498)
  source/appModules/powerpnt.py
Due: checkPot

Apply suggestions from code review
  source/gui/guiHelper.py
Due: checkPot

Made delay before block message a constant
  source/gui/blockAction.py
Due: checkPot

Fixed misspelling
  source/gui/nvdaControls.py
Due: checkPot

Added explicit import to first example in developer guide for clarity
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Made thread safety warning more prominant
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Added note on custom button IDs
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Move crowdinSync to l10n
  .github/workflows/regenerate_english_userDocs_translation_source.yml
  appveyor/scripts/deployScript.ps1
  l10n/crowdinSync.py
  l10n/l10nUtil.py
  l10n/markdownTranslate.py
  sconstruct
Due: none

Fixed outdated docstring
  source/gui/message.py
Due: checkPot

l10n -> l10nUtils
  .github/workflows/regenerate_english_userDocs_translation_source.yml
  appveyor/scripts/deployScript.ps1
  l10nUtils/crowdinSync.py
  l10nUtils/l10nUtil.py
  l10nUtils/markdownTranslate.py
  sconstruct
Due: none

Added error checking to _onCloseEvent
  source/gui/message.py
Due: checkPot

Renamed event handlers to be more consistant
  source/gui/message.py
  source/visionEnhancementProviders/screenCurtain.py
  tests/unit/test_messageDialog.py
Due: checkPot

Update requirements.txt
  requirements.txt
Due: licenseCheck

Update source/gui/blockAction.py
  source/gui/blockAction.py
Due: checkPot

add changelog entry
  user_docs/en/changes.md
Due: none

Rewrote wxCallOnMain to use nonlocal rather than helper class
  source/gui/guiHelper.py
Due: checkPot

Update source/gui/guiHelper.py
  source/gui/guiHelper.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

MS Word documents: report when headings are collapsed in both speech and braille.
  source/NVDAObjects/UIA/wordDocument.py
  source/braille.py
  source/speech/speech.py
Due: checkPot

Update what's new
  user_docs/en/changes.md
Due: none

Made dialog destruction and deletion more robust
  source/gui/message.py
Due: checkPot

Fixed incorrect call to warn
  source/gui/message.py
Due: checkPot

Made runScriptModal safer, and marked it for removal
  source/gui/__init__.py
  user_docs/en/changes.md
Due: checkPot
