Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Update changes
  user_docs/en/changes.md
Due: none

Add ability to run commands pressing space bar from items
  source/gui/inputGestures.py
Due: checkPot

Update SCons (#17278)
  nvdaHelper/liblouis/sconscript
  nvdaHelper/localWin10/sconscript
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

Update beforeTests.ps1 (#17293)
  appveyor/scripts/tests/beforeTests.ps1
Due: none

Apply suggestions from code review
  source/braille.py
Due: checkPot

Apply review suggestions
  source/braille.py
Due: checkPot

Apply some suggestions
  source/brailleTables.py
Due: checkPot

Fix comment placement
  source/gui/settingsDialogs.py
Due: checkPot

Update systemTests.ps1 (#17294)
  appveyor/scripts/tests/systemTests.ps1
Due: none

Apply suggestions from code review
  source/NVDAObjects/IAccessible/adobeAcrobat.py
  user_docs/en/changes.md
Due: checkPot

Update the documentation of the snapshot variables in the Python Console (#17291)
  .gitignore
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Review action
  user_docs/en/userGuide.md
Due: none

Mark message constants private
  source/audio/appsVolume.py
Due: checkPot

Appy review suggestions
  source/braille.py
Due: checkPot

Set input table in brailleInput handler
  source/brailleInput.py
  source/brailleTables.py
Due: checkPot

Clean up comments and log.debug statements
  source/NVDAObjects/IAccessible/adobeAcrobat.py
Due: checkPot

Improve the change comment
  user_docs/en/changes.md
Due: none

Made each sentence be on its own line as requested by @codeofdusk.
  user_docs/en/changes.md
Due: none

Apply review suggestions handling configuration for braille output table from braille module
  source/braille.py
Due: checkPot

Aply review suggestion handling braille tables configuration if language is changed
  source/gui/settingsDialogs.py
Due: checkPot

Fix case as reported by @CyrilleB79
  source/speech/speech.py
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

Fix multiline debug "fix" -- actually tested the code this time...
  source/NVDAObjects/IAccessible/adobeAcrobat.py
Due: checkPot

Add initial support for app modules and store variables in the input gestures dialog, similar to Python console
  source/gui/__init__.py
  source/gui/inputGestures.py
Due: checkPot

Update source/NVDAObjects/window/winword.py
  source/NVDAObjects/window/winword.py
Due: checkPot

Addressing review
  source/NVDAObjects/window/winword.py
  source/textInfos/__init__.py
  source/treeInterceptorHandler.py
Due: checkPot

Various fix-ups for the application volume adjustment feature (#17271)
  source/audio/appsVolume.py
  source/config/featureFlagEnums.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fixup what's new
  user_docs/en/changes.md
Due: none

When spelling by line, ensure that only normalized characters report as such (#17295)
  source/speech/speech.py
  user_docs/en/changes.md
Due: checkPot

Fixup what's new (#17302)
  user_docs/en/changes.md
Due: none

Updated ruff and pre-commit to 0.7.0 and 4.0.1 respectively.
  requirements.txt
Due: licenseCheck

Made isBlocking a property
  source/gui/messageDialog.py
Due: checkPot

Improved type annotations
  source/gui/messageDialog.py
Due: checkPot

Documentation improvements
  source/gui/messageDialog.py
Due: checkPot

Made Show and ShowModal work in line with wx.Dialog expectations
  source/gui/messageDialog.py
Due: checkPot

Apply suggestions from code review
  source/brailleTables.py
  user_docs/en/changes.md
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
