Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Restore globalCommands, modified to force failure of checkPot
  source/globalCommands.py
Due: checkPot

Git restore for all jobs
  nvdaBuilder/action.yml
Due: none

Try to update submodules
  nvdaBuilder/action.yml
Due: none

Use submodule update init
  nvdaBuilder/action.yml
Due: none

Try to checkout submodules
  nvdaBuilder/action.yml
Due: none

Reformat builder to run all tests after deleting bad cache
  nvdaBuilder/action.yml
Due: none

Test to be deleted, forcing scons source
  requirements.txt
Due: licenseCheck

Use inputs in builder, instead of job names
  .github/workflows/checkPot.yml
  .github/workflows/licenseCheck.yml
  nvdaBuilder/action.yml
Due: none

Add shell in step
  nvdaBuilder/action.yml
Due: none

Test checking out from builder
  .github/workflows/unitTests.yml
  nvdaBuilder/action.yml
Due: none

Fix path
  .github/workflows/unitTests.yml
Due: none

Test unit tests workflow
  .github/workflows/nvdaBuilder/action.yml
  .github/workflows/unitTests.yml
Due: none

Test
  .github/workflows/nvdaBuilder/action.yml
  nvdaBuilder/action.yml
Due: none

Checkout in unit tests workflow
  .github/workflows/unitTests.yml
Due: none

Run unit test by removing line
  .github/workflows/unitTests.yml
Due: none

Fix speech delay caused by audio ducking
  source/audioDucking.py
Due: checkPot

Cache just pipenv, run scons source by default
  nvdaBuilder/action.yml
Due: none

Reset requirements.txt
  requirements.txt
Due: licenseCheck

Remove duplicate line
  nvdaBuilder/action.yml
  requirements.txt
Due: licenseCheck

Changelog: remove duplicate add-on store entries
  user_docs/en/changes.md
Due: none

server: Rename PING_TIME to PING_TIME_SECONDS to match usage
  source/remoteClient/server.py
Due: checkPot

fix #17800 recression of #17310
  source/updateCheck.py
Due: checkPot

Update source/updateCheck.py
  source/updateCheck.py
Due: checkPot

Update changes
  user_docs/en/changes.md
Due: none

Add _logTrace wrapper to log method calls
  source/synthDrivers/sapi4.py
Due: checkPot

Add note in changelog
  user_docs/en/changes.md
Due: none

fix typing in baseObject.ScriptableType
  source/baseObject.py
Due: checkPot

Switch to using timezone aware objects when setting and checking certificate validity
  source/remoteClient/server.py
Due: checkPot

Upload artifacts
  .github/workflows/licenseCheck.yml
  .github/workflows/systemTests.yml
  .github/workflows/unitTests.yml
Due: none

Update licenseCheck.yml
  .github/workflows/licenseCheck.yml
Due: none

Update systemTests.yml
  .github/workflows/systemTests.yml
Due: none

Update unitTests.yml
  .github/workflows/unitTests.yml
Due: none

Gave Remote settings a lick of paint
  source/config/configFlags.py
  source/gui/settingsDialogs.py
Due: checkPot

Fix spelling of UpdateInfo properties
  source/updateCheck.py
Due: checkPot

Prevent SAPI4 objects from being released prematurely; Release audio after ITTSCentral
  source/synthDrivers/sapi4.py
Due: checkPot

Improve job summary
  .github/workflows/licenseCheck.yml
  .github/workflows/systemTests.yml
  .github/workflows/unitTests.yml
  ci/scripts/tests/translationCheck.ps1
Due: none

Revert "Improve job summary"
  .github/workflows/licenseCheck.yml
  .github/workflows/systemTests.yml
  .github/workflows/unitTests.yml
  ci/scripts/tests/translationCheck.ps1
Due: none

Fix server and remote panels to use BoxSizerHelper
  source/remoteClient/dialogs.py
Due: checkPot

Apply suggestions from code review
  source/globalCommands.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
