Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Update source/NVDAObjects/__init__.py
  source/NVDAObjects/__init__.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Apply suggestion from @SaschaCowley
  pyproject.toml
Due: licenseCheck

Add new language vi from Crowdin
  source/locale/vi/LC_MESSAGES/nvda.po
  user_docs/vi/changes.xliff
Due: none

replace the default model with Mozilla's distilvit (#19530)
  source/_localCaptioner/modelDownloader.py
  source/config/configSpec.py
  source/gui/_localCaptioner/messageDialogs.py
Due: checkPot

No longer allow moving to offset past end for NVDAObjectTextInfo (#19531)
  source/NVDAObjects/__init__.py
  tests/unit/test_compoundDocuments.py
Due: checkPot

Delete user_docs/vi/changes.md
  user_docs/vi/changes.md
Due: none

fix unit test for image description
  tests/unit/test_localCaptioner/test_downloader.py
Due: none

fix unit test for image description (#19535)
  tests/unit/test_localCaptioner/test_downloader.py
Due: none

Add a third value for the 'Play a sound for logged errors:' option
  source/config/configFlags.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/logHandler.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fix translators comment and formatting
  source/config/configFlags.py
Due: checkPot

Apply suggestions from code review
  source/speechDictHandler/types.py
Due: checkPot

Input Help: Refactor gesture names to sequences and fix character detection
  source/inputCore.py
  source/keyboardHandler.py
  source/winUser.py
Due: checkPot

Apply suggestion from @Copilot
  source/_bridge/components/services/synthDriver.py
Due: checkPot

changed value to step, simplified voice
  .pre-commit-config.yaml
  source/_magnifier/commands.py
  source/_magnifier/config.py
  source/_magnifier/magnifier.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  tests/unit/nvda.ini.corrupted.bak
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

userGuide formating fix
  .pre-commit-config.yaml
  user_docs/en/userGuide.md
Due: none

userGuide formating fix2
  user_docs/en/userGuide.md
Due: none

synthDriver proxy: support getting and setting rateBoost.
  source/_bridge/components/proxies/synthDriver.py
Due: checkPot

Fix tracking issues with the magnifier (#19483)
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/focusManager.py
  source/_magnifier/utils/spotlightManager.py
  source/_magnifier/utils/types.py
  tests/unit/test_magnifier/test_focusManager.py
  tests/unit/test_magnifier/test_magnifier.py
  tests/unit/test_magnifier/test_spotlightManager.py
Due: checkPot

Support pitch change for capitals and rate boost (SAPI5 only) for 32 bit SAPI synths (#19541)
  source/_bridge/components/proxies/synthDriver.py
  source/_bridge/components/services/synthDriver.py
  source/_bridge/runtimes/synthDriverHost/synthDriverHost.py
  source/_synthDrivers32/sapi4.py
Due: checkPot

Apply suggestions from code review
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Split up lines in user guide
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Address review: use match ... case
  source/logHandler.py
Due: checkPot

removed verbose, updated readme
  .pre-commit-config.yaml
  source/_magnifier/commands.py
  tests/unit/test_magnifier/test_magnifier.py
  user_docs/en/userGuide.md
Due: checkPot

pre-commit
  .pre-commit-config.yaml
Due: none

user guide magnifier settings gesture fixed
  user_docs/en/userGuide.md
Due: none

Refactor selection speech to support SpeechSequence and improve localization
  source/speech/speech.py
Due: checkPot

changing MagnifierPosition to MagnifierParameters prepare for window handling
  .pre-commit-config.yaml
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/types.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

Add more speech dictionary entry types (#19517)
  source/gui/speechDict.py
  source/speechDictHandler/types.py
  tests/unit/test_speechDictHandler.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

fixup uv lock
  uv.lock
Due: none

remove 32bit OS handling for COM reg
  source/COMRegistrationFixes/__init__.py
Due: checkPot

fix space in changes file
  user_docs/en/changes.md
Due: none

remove NVDA+shift+u
  source/globalCommands.py
  user_docs/en/userGuide.md
Due: checkPot

update setuptools (#19524)
  pyproject.toml
  runtime-builders/synthDriverHost32/pyproject.toml
  runtime-builders/synthDriverHost32/uv.lock
  user_docs/en/changes.md
  uv.lock
Due: licenseCheck

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Fix space in changes file (#19552)
  user_docs/en/changes.md
Due: none

remove 32bit OS handling for com registration fixing tool (#19523)
  source/COMRegistrationFixes/__init__.py
Due: checkPot

add filter time out
  source/gui/addonStoreGui/controls/addonList.py
  source/gui/addonStoreGui/controls/storeDialog.py
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot
