Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Update changes for devs
  user_docs/en/changes.md
Due: none

Make name of SAPI5 translateable
  source/synthDrivers/sapi5.py
Due: checkPot

Fix up split import
  source/nvwave.py
Due: checkPot

use fuzzy search library
  pyproject.toml
  source/gui/addonStoreGui/viewModels/addonList.py
  uv.lock
Due: checkPot, licenseCheck

Add end-user changes
  user_docs/en/changes.md
Due: none

Add info about audio ducking and 32- and 64-bit SAPI 5 to UG
  user_docs/en/userGuide.md
Due: none

changed paning message, some logic
  source/_magnifier/commands.py
  source/_magnifier/magnifier.py
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Address review comments: replace always/never with yes/no
  source/config/configFlags.py
  source/config/configSpec.py
  source/logHandler.py
  user_docs/en/userGuide.md
Due: checkPot

fixed window creation, first draft
  source/_magnifier/fixedMagnifier.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/types.py
  source/_magnifier/utils/windowCreator.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

updated setting dialog for clearer options
  source/gui/settingsDialogs.py
Due: checkPot

changed typing, wip
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/types.py
  source/gui/settingsDialogs.py
Due: checkPot

fix tests
  source/_magnifier/utils/types.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

Add the ability to store speech dictionaries in add-ons
  source/addonHandler/__init__.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/speechDictHandler/__init__.py
  source/speechDictHandler/types.py
  source/utils/_deprecate.py
Due: checkPot

Add a symbol dict section
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Add information on the file format
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Fix copyright years
  source/config/configFlags.py
  source/logHandler.py
Due: checkPot

review feedback
  source/gui/addonStoreGui/controls/storeDialog.py
  source/gui/addonStoreGui/viewModels/addonList.py
  user_docs/en/changes.md
Due: checkPot

Add type annotations
  source/_bridge/clients/synthDriverHost32/launcher.py
Due: checkPot

Use translated strings for driver settings in 32 bit sapi synthDrivers (#19562)
  source/_bridge/clients/synthDriverHost32/launcher.py
  source/_bridge/runtimes/synthDriverHost/globalVars.py
  source/_bridge/runtimes/synthDriverHost/synthDriverHost.py
Due: checkPot

Update tests
  tests/unit/test_addonHandler/test_addonsState.py
Due: none

Fix erroring tests
  source/addonHandler/__init__.py
Due: checkPot

Fix deserialisation tests
  source/addonHandler/__init__.py
Due: checkPot

Apply suggestions from code review
  projectDocs/dev/developerGuide/developerGuide.md
  source/speechDictHandler/__init__.py
  source/speechDictHandler/types.py
Due: checkPot

Fix up remaining failing tests
  source/addonHandler/__init__.py
Due: checkPot

DotPad: Add multi-button combinations and long press support
  source/brailleDisplayDrivers/dotPad/defs.py
  source/brailleDisplayDrivers/dotPad/driver.py
  user_docs/en/changes.md
Due: checkPot

Add the missing `GetClientRect` function binding.
  source/winBindings/user32.py
Due: checkPot

add fuzzy trigram searching to add-on store (#19309)
  pyproject.toml
  source/gui/addonStoreGui/controls/addonList.py
  source/gui/addonStoreGui/controls/storeDialog.py
  source/gui/addonStoreGui/viewModels/addonList.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Apply review suggestions: Fix character mode not closing and add endsUtterance parameter.
  source/speech/speech.py
Due: checkPot

Update source/braille.py
  source/braille.py
Due: checkPot

Update source/globalCommands.py
  source/globalCommands.py
Due: checkPot

Apply suggestion from code review
  source/globalCommands.py
Due: checkPot

Fix syntax for type annotation
  source/globalCommands.py
Due: checkPot

fix VS code tests
  tests/system/libraries/VSCodeLib.py
  tests/system/robot/vscodeTests.py
Due: none

Documentation and minor code fix-ups to 32-bit SAPI support (#19555)
  source/nvwave.py
  source/synthDrivers/sapi5.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fixed missing attributes when calling `GetClientRect` in winUser. (#19566)
  source/winBindings/user32.py
Due: checkPot
