Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Update
  .github/workflows/testAndPublish.yml
Due: none

Cleanup
  .github/workflows/testAndPublish.yml
Due: none

Add windows-2022
  .github/workflows/testAndPublish.yml
Due: none

Type info
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

Try without enableCrossOsArchive
  .github/workflows/testAndPublish.yml
Due: none

Initial prototype
  source/_remoteClient/__init__.py
  source/gui/__init__.py
  source/gui/exit.py
Due: checkPot

Remove redundant ui.message
  source/_remoteClient/client.py
Due: checkPot

Elements list comments to notes in userGuide.md
  user_docs/en/userGuide.md
Due: none

raise NotImplementedError when model architectures is not supported
  source/_localCaptioner/captioner.py
Due: checkPot

Fix double speaking "disconnected" when leader #18710
  source/_remoteClient/client.py
Due: checkPot

update changes
  user_docs/en/changes.md
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Add copy version number button to the about dialog (#18667)
  source/gui/__init__.py
  user_docs/en/changes.md
Due: checkPot

n Update to Python 3.13 for 2026.1 #18689
  .github/workflows/add-new-language.yml
  .github/workflows/fetch-crowdin-translations.yml
  .github/workflows/regenerate_english_userDocs_translation_source.yml
  .github/workflows/testAndPublish.yml
  .pre-commit-config.yaml
  .python-versions
  projectDocs/dev/createDevEnvironment.md
  pyproject.toml
  source/UIAHandler/_remoteOps/remoteFuncWrapper.py
  source/UIAHandler/_remoteOps/remoteTypes/__init__.py
  source/gui/addonStoreGui/viewModels/addonList.py
  source/gui/guiHelper.py
  source/gui/message.py
  source/keyboardHandler.py
  source/pythonConsole.py
  source/setup.py
  source/systemUtils.py
  source/textUtils/__init__.py
  tests/unit/test_baseObject.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
  uv.lock
Due: checkPot, licenseCheck

Change reference from "Comments" to "Notes" in the Elements list for Excel in the userGuide.md (#18715)
  user_docs/en/userGuide.md
Due: none

move copyrightYears and url
  sconstruct
  source/buildVersion.py
  source/gui/__init__.py
  source/installer.py
  source/versionInfo.py
  user_docs/en/changes.md
Due: checkPot

simplify encoding standards
  projectDocs/dev/codingStandards.md
Due: none

remove glob import from versionInfo (#18682)
  appx/sconscript
  projectDocs/dev/developerGuide/conf.py
  projectDocs/dev/developerGuide/developerGuide.md
  sconstruct
  source/appModules/nvda.py
  source/buildVersion.py
  source/core.py
  source/gui/__init__.py
  source/gui/startupDialogs.py
  source/installer.py
  source/setup.py
  source/updateCheck.py
  source/versionInfo.py
  user_docs/en/changes.md
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Report multi select on list boxes that support it (#18409)
  source/IAccessibleHandler/__init__.py
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/UIA/__init__.py
  source/braille.py
  source/config/configSpec.py
  source/controlTypes/processAndLabelStates.py
  source/controlTypes/state.py
  source/gui/settingsDialogs.py
  source/winUser.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fix type quoting for _SupportsLessThan
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Fix type quoting for _SupportsLessThan (#18719)
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Apply suggestions from code review
  source/_localCaptioner/captioner.py
  source/_localCaptioner/imageDescriber.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  tests/unit/test_localCaptioner/test_downloader.py
  user_docs/en/userGuide.md
Due: checkPot

Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

Revert "Try without enableCrossOsArchive"
  .github/workflows/testAndPublish.yml
Due: none

First round of review
  .github/workflows/testAndPublish.yml
Due: none

Final fixes, hopefully
  .github/workflows/testAndPublish.yml
Due: none

windows-2022 can restore cache, so this is ready
  .github/workflows/testAndPublish.yml
Due: none

Python 3.13 type hints
  source/utils/ctypesUtils.py
  tests/unit/test_util/test_ctypesUtils.py
Due: checkPot

Update changes
  user_docs/en/changes.md
Due: none

Apply isort
  source/utils/ctypesUtils.py
  tests/unit/test_util/test_ctypesUtils.py
Due: checkPot

Use uv run instead of uvx for pre-commit
  .github/workflows/testAndPublish.yml
Due: none

Moved font to general settings
  source/gui/settingsDialogs.py
Due: checkPot

Moved enums and constants into MathCAT/preferences
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Removed translation from helpid
  source/gui/settingsDialogs.py
Due: checkPot

Updated Math panel description
  source/gui/settingsDialogs.py
Due: checkPot

Simplified exception logging in MathCAT.py
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Removed commented out lines from MathCAT.py
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Update Licensecheck to 2025.1
  pyproject.toml
  uv.lock
Due: licenseCheck

Added changes entry
  user_docs/en/changes.md
Due: none
