Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Prevent unnecessary memory copying in nvwave
  source/nvwave.py
Due: checkPot

use toXmlLang more consistently
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/speech.py
  source/synthDrivers/_espeak.py
  source/synthDrivers/espeak.py
  source/synthDrivers/oneCore.py
Due: checkPot

rework Auto
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

fix types/exception
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Potential fix for pull request finding
  source/mathPres/MathCAT/localization.py
Due: checkPot

undo lowering
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

undo lowering
  source/mathPres/MathCAT/localization.py
Due: checkPot

Potential fix for pull request finding
  source/mathPres/MathCAT/speech.py
Due: checkPot

fix sytnax
  source/gui/settingsDialogs.py
Due: checkPot

fix up on language change
  source/gui/settingsDialogs.py
Due: checkPot

Improve speech XML function usage
  source/mathPres/MathCAT/speech.py
  source/synthDrivers/_espeak.py
  source/synthDrivers/espeak.py
  source/synthDrivers/oneCore.py
Due: checkPot

Add translation for Norwegian for MathCAT speech languages
  source/localesData.py
Due: checkPot

fixup settings imports
  source/gui/settingsDialogs.py
Due: checkPot

Fix up case compare
  source/mathPres/MathCAT/speech.py
Due: checkPot

rem typo
  source/synthDrivers/espeak.py
Due: checkPot

Separate casting to another line
  source/nvwave.py
Due: checkPot

Add punctuation pause setting for OneCore voices
  nvdaHelper/localWin10/oneCoreSpeech.cpp
  nvdaHelper/localWin10/oneCoreSpeech.h
  source/synthDriverHandler.py
  source/synthDrivers/oneCore.py
Due: scons-source, checkPot

Add changelog entry
  user_docs/en/changes.md
Due: none

Add new language ca from Crowdin
  source/locale/ca/LC_MESSAGES/nvda.po
  user_docs/ca/changes.xliff
  user_docs/ca/userGuide.xliff
Due: none

Remove Catalan markdown files
  user_docs/ca/changes.md
  user_docs/ca/userGuide.md
Due: none

separate create/get/update
  source/gui/settingsDialogs.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Narrow and fix typing for getLanguageDescription
  source/languageHandler.py
Due: checkPot

Update source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/localization.py
Due: checkPot

Potential fix for pull request finding
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Update source/localesData.py
  source/localesData.py
Due: checkPot

Improve speech XML function usage (#19793)
  source/mathPres/MathCAT/speech.py
  source/synthDrivers/_espeak.py
  source/synthDrivers/espeak.py
  source/synthDrivers/oneCore.py
Due: checkPot

restore userGuide
  user_docs/en/userGuide.md
Due: none

disable MD060 for user guide
  user_docs/en/userGuide.md
Due: none

fixup settings imports (#19794)
  source/gui/settingsDialogs.py
Due: checkPot

Invert to "suppress pause"
  nvdaHelper/localWin10/oneCoreSpeech.cpp
  nvdaHelper/localWin10/oneCoreSpeech.h
  source/synthDriverHandler.py
  source/synthDrivers/oneCore.py
Due: scons-source, checkPot

Add type hints
  source/synthDrivers/oneCore.py
Due: checkPot

Fix invert
  source/synthDrivers/oneCore.py
Due: checkPot

Overhaul guide for non-trivial contributions
  .github/ISSUE_TEMPLATE/06-adr_major_project.yaml
  .github/ISSUE_TEMPLATE/16-adr_major_project.md
  projectDocs/dev/contributing.md
  projectDocs/dev/proposingMajorChanges.md
  projectDocs/issues/triage.md
Due: none

Potential fix for pull request finding
  projectDocs/dev/contributing.md
Due: none

Apply suggestions from code review
  projectDocs/dev/contributing.md
  projectDocs/issues/triage.md
Due: none

Apply suggestion from @seanbudd
  projectDocs/dev/contributing.md
Due: none

Add docs
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none
