Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Update release blurb to add report text language features
  user_docs/en/changes.md
Due: none

UIA handler/notification event: handle elements without window handle property set such as window visual state announcements from File Explorer/Windows shell (#18229)
  source/UIAHandler/__init__.py
  source/appModuleHandler.py
  source/appModules/explorer.py
  user_docs/en/changes.md
Due: checkPot

Updated release blurb to note window state announcements
  user_docs/en/changes.md
Due: none

apModules.explorer: NotificationKind -> notificationKind, NotificationProcessing -> notificationProcessing (argumetn name/resolving TypeError)
  source/appModules/explorer.py
Due: checkPot

apModules.shouldProcessUIANotificationEvent: NotificationKind -> notificationKind, NotificationProcessing -> notificationProcessing (argument name consistency with UIA object version)
  source/UIAHandler/__init__.py
  source/appModuleHandler.py
  source/appModules/explorer.py
Due: checkPot

appModlues/Explorer/should process UIA notification event: call super with correctly spelled argument names (cauht with Ruff)
  source/appModules/explorer.py
Due: checkPot

Undo changes.md
  source/appModules/code.py
Due: checkPot

Windows 11 Voice Access: initial app module commit with UIA notificatoin processing accepted. Re #16862.
  source/appModules/voiceaccess.py
Due: checkPot

Windows 11 Voice Access: allow notifications to be announced from everywhere. Re #16862, #17384.
  source/appModules/voiceaccess.py
Due: checkPot

Windows 11 Voice Access: allow mouse and touch interaction in Voice Access. Re #16862.
  source/appModules/voiceaccess.py
Due: checkPot

What's new: document Windows 11 Voice Access support in 'new features' section. Re #16862, #17384
  user_docs/en/changes.md
Due: none

User guide: add Windows 11 Voice Access as an example of an application with admin privileges and thus requiring NVDA to be installed. Re #16862, #17384
  user_docs/en/userGuide.md
Due: none

UIA notification event handler: NotificationKind -> notificationKind, NotificationProcessing -> notificationProcessing (argument name consistency) (#18319)
  source/UIAHandler/__init__.py
  source/appModuleHandler.py
  source/appModules/explorer.py
Due: checkPot

Revert #17573 and #16248 (#18318)
  source/appModules/code.py
Due: checkPot

Update eSp[eak to e93d3a9
  nvdaHelper/espeak/sconscript
Due: none

Update docs
  projectDocs/dev/createDevEnvironment.md
  user_docs/en/changes.md
Due: none

Change normalizes to hat
  source/locale/en/symbols.dic
Due: none

Voice Access: remove code comment on installed copy requirement. Re #16862.
  source/appModules/voiceaccess.py
Due: checkPot

Voice Access: announce notificaitons if there are thins to be announced. Re #16862.
  source/appModules/voiceaccess.py
Due: checkPot

User guide: separate admin rights apps examples to a separate list.
  user_docs/en/userGuide.md
Due: none

Apply suggestions from code review
  projectDocs/dev/createDevEnvironment.md
  user_docs/en/changes.md
Due: none

If a virtual buffer caret moves due to a buffer update, update the review cursor if appropriate.
  nvdaHelper/interfaces/nvdaControllerInternal/nvdaControllerInternal.idl
  nvdaHelper/local/nvdaControllerInternal.c
  nvdaHelper/vbufBase/backend.cpp
  source/NVDAHelper.py
  source/virtualBuffers/__init__.py
  user_docs/en/changes.md
Due: scons-source, checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Update signing API token
  appveyor.yml
Due: none

Update ci/scripts/setSconsArgs.ps1
  ci/scripts/setSconsArgs.ps1
Due: none

Update eSpeak to version 1.52.0 commit e93d3a9 (#18324)
  nvdaHelper/espeak/sconscript
  projectDocs/dev/createDevEnvironment.md
  user_docs/en/changes.md
Due: none

Windows 11: introduce support for Voice Access (NVDA installed on Windows 11 Version 22H2 and later) (#18322)
  source/appModules/voiceaccess.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fix pronunciation of combining circumflex (#18325)
  source/locale/en/symbols.dic
Due: none

fix up features for github actions (#18243)
  .github/workflows/testAndPublish.yml
  ci/scripts/tests/systemTests.ps1
Due: none

Added entry in changes.md.
  user_docs/en/changes.md
Due: none

Enable code signing on GH Actions (#18034)
  .github/workflows/testAndPublish.yml
  ci/scripts/setSconsArgs.ps1
  sconstruct
Due: none

Add documentation for CI/CD set up
  .github/workflows/testAndPublish.yml
  ci/README.md
  ci/scripts/setSconsArgs.ps1
Due: none

Add NLS eReader
  source/brailleDisplayDrivers/nlseReaderZoomax.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

NLS eReader Zoomax braille driver (#18332)
  source/brailleDisplayDrivers/nlseReaderZoomax.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update ci/README.md
  ci/README.md
Due: none

User Guide - Add condition to use UIA in Word
  user_docs/en/userGuide.md
Due: none

Fix TextInfo.collapse()
  source/NVDAObjects/window/scintilla.py
  source/braille.py
  source/textInfos/__init__.py
  user_docs/en/changes.md
Due: checkPot

Potential fix for code scanning alert no. 12: Bad HTML filtering regexp
  source/markdownTranslate.py
Due: checkPot

Cover review feedback
  .github/workflows/testAndPublish.yml
  ci/README.md
Due: none
