Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

update magnifier state
  user_docs/en/userGuide.md
Due: none

Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

fix: announce all content inside `role="alert"`
  source/NVDAObjects/IAccessible/__init__.py
  user_docs/en/changes.md
Due: checkPot

fix: pass proper child name and role to braille.handler.message
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

fix: guard child.parent and remove the change of braille properties
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

fix: announce some role text
  source/NVDAObjects/IAccessible/__init__.py
  user_docs/en/changes.md
Due: checkPot

Update Sonic to latest commit
  projectDocs/dev/createDevEnvironment.md
Due: none

Reorder the dropdown options in the issue template so that the default value is no longer considered the default.
  .github/ISSUE_TEMPLATE/01-bug_report.yaml
  .github/ISSUE_TEMPLATE/04-developer_facing_changes.yaml
  .github/ISSUE_TEMPLATE/05-addon_integration_request.yaml
Due: none

Github CI: if running CI for debugging, force SCons to only use a single core. Similarly, if building a release also do the same as release builds can not be re-run safely.
  ci/scripts/setSconsArgs.ps1
Due: none

fix up RC changes
  user_docs/en/changes.md
Due: none

Update Sonic (#20154)
  projectDocs/dev/createDevEnvironment.md
Due: none

Reorder the dropdown options in the issue template so that the default value is no longer considered the default. (#20156)
  .github/ISSUE_TEMPLATE/01-bug_report.yaml
  .github/ISSUE_TEMPLATE/04-developer_facing_changes.yaml
  .github/ISSUE_TEMPLATE/05-addon_integration_request.yaml
Due: none

Fix line endings
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
  projectDocs/issues/readme.md
Due: none

Replace accidental CRLF with LF. (#20157)
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
  projectDocs/issues/readme.md
Due: none

fix up RC changes (#20160)
  user_docs/en/changes.md
Due: none

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Refactor dicts installation to always execute, removing conditional checks
  nvdaHelper/cppjieba/sconscript
Due: none

Refactor Dicts Installation Logic in cppjieba's sconscript (#20162)
  nvdaHelper/cppjieba/sconscript
Due: none

Potential fix for pull request finding
  pyproject.toml
Due: licenseCheck

fix: allow bare drive letter as portable copy destination path
  source/gui/installerGui.py
Due: checkPot

changed magnifier uninitalize, rebased from beta
  source/_magnifier/__init__.py
  source/_magnifier/fullscreenMagnifier.py
Due: checkPot

Start 2026.3 release cycle (#20102)
  source/buildVersion.py
  user_docs/en/changes.md
Due: checkPot

Don't unnecessarily repeat row and column headers when navigating ARIA grids in focus mode. (#20091)
  source/browseMode.py
  source/virtualBuffers/gecko_ia2.py
  user_docs/en/changes.md
Due: checkPot

Fix BAUM_ROUTING_KEY press/release detection and multi-key combos
  source/brailleDisplayDrivers/baum.py
Due: checkPot

Add better display names for routing
  source/braille.py
Due: checkPot

Keep NVDA responsive when a UIA or MSAA application stops responding
  source/IAccessibleHandler/__init__.py
  source/NVDAObjects/window/__init__.py
  source/UIAHandler/__init__.py
  source/UIAHandler/utils.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/winBindings/user32.py
  source/winUser.py
  tests/unit/test_UIAHandler.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fixup
  projectDocs/issues/githubIssueTemplateExplanationAndExamples.md
  projectDocs/issues/readme.md
Due: none

Address review comments for pyphen py2exe hook
  source/setup.py
  uv.lock
Due: checkPot

Ensure textUtils is bundled, otherwise pyphen will be ignored
  source/setup.py
Due: checkPot

Address review: scope down to the core fix
  source/IAccessibleHandler/__init__.py
  source/UIAHandler/__init__.py
  source/UIAHandler/utils.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  tests/unit/test_UIAHandler.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Make NVDA resilient to a hung application (Orca-like)
  source/IAccessibleHandler/__init__.py
  source/NVDAObjects/UIA/__init__.py
  source/NVDAObjects/__init__.py
  source/NVDAObjects/window/winword.py
  source/UIAHandler/__init__.py
  source/coreThreadProtection.py
  source/watchdog.py
Due: checkPot

Bound MSAA AccessibleObjectFromEvent so a hung UIA app cannot freeze it
  source/IAccessibleHandler/__init__.py
Due: checkPot

Apply code-review findings
  source/NVDAObjects/__init__.py
  source/UIAHandler/__init__.py
Due: checkPot

Fix regression: never treat NVDA's own windows as a hung app
  source/IAccessibleHandler/__init__.py
  source/NVDAObjects/__init__.py
  source/NVDAObjects/window/__init__.py
  source/UIAHandler/utils.py
  source/winUser.py
Due: checkPot

Revert offloading AccessibleObjectFromEvent to a worker thread
  source/IAccessibleHandler/__init__.py
Due: checkPot

github CI: actually sign files in scons source so that scons launcher doesn't do it, causing uploaded symbols to mismatch (#20129)
  .github/workflows/testAndPublish.yml
  ci/scripts/setSconsArgs.ps1
Due: none

Add pyphen-based hyphenation abstraction layer (#20145)
  pyproject.toml
  source/setup.py
  source/textUtils/hyphenation.py
  tests/unit/test_hyphenation.py
  uv.lock
Due: checkPot, licenseCheck
