Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Add general grouping
  source/gui/settingsDialogs.py
Due: checkPot

secureProcess.token.restrictedToken: disable some more dangerous SIDs, including domain ones.
  source/secureProcess/token.py
Due: checkPot

Parse LaTeX in the user guide to MathML (#19304)
  pyproject.toml
  source/md2html.py
  uv.lock
Due: checkPot, licenseCheck

Update art-sandbox design document to talk about secureProcess.
  projectDocs/design/art-sandbox.md
Due: none

Update commit refs (#19294)
  projectDocs/dev/createDevEnvironment.md
Due: none

Update ART design document to reflect switch to secureProcess.
  projectDocs/design/art-design.md
Due: none

Add the `GH_REPO` environment variable for the early exit action step. Make the gh command find the repository.
  .github/workflows/assign-milestone-on-close.yml
  .github/workflows/fetch-crowdin-translations.yml
  .github/workflows/monitor-localisation-file-changes.yml
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Fork repository CI does not fail when exiting early. (#19307)
  .github/workflows/assign-milestone-on-close.yml
  .github/workflows/fetch-crowdin-translations.yml
  .github/workflows/monitor-localisation-file-changes.yml
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

add trigram searching to add-on store
  source/gui/addonStoreGui/controls/addonList.py
  source/gui/addonStoreGui/controls/storeDialog.py
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

markdownTranslate.preprocessMarkdownLines: add typing and docstring.
  source/markdownTranslate.py
Due: checkPot

update test_secureProcess.py to support reworked SecureProcess keyword arguments. Including support for ui restrictions.
  source/test_secureProcess.py
Due: checkPot

Add support for Word foot note navigation
  source/NVDAObjects/UIA/wordDocument.py
  source/NVDAObjects/window/winword.py
  source/browseMode.py
  user_docs/en/changes.md
Due: checkPot

Update user guide
  user_docs/en/userGuide.md
Due: none

Typo
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot

Last fixup
  source/NVDAObjects/window/winword.py
  source/browseMode.py
Due: checkPot

Also add the text of the footnote
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot

Add endnotes
  source/NVDAObjects/UIA/wordDocument.py
  source/NVDAObjects/window/winword.py
  user_docs/en/changes.md
Due: checkPot

Update source/NVDAObjects/window/winword.py
  source/NVDAObjects/window/winword.py
Due: checkPot

Filter out markdown linter comments from translations (#19308)
  source/markdownTranslate.py
  user_docs/en/userGuide.xliff
Due: checkPot

Add LoggingLevel as a DisplayStringIntEnum
  source/config/configFlags.py
Due: checkPot

Use new enum in the settings dialog
  source/gui/settingsDialogs.py
Due: checkPot

Merged changes items
  user_docs/en/changes.md
Due: none

Remove PrivacyAndSecurityPanel._LOG_LEVELS
  source/gui/settingsDialogs.py
Due: checkPot

Improve changes for devs
  user_docs/en/changes.md
Due: none

Add translator comments for several missing strings
  source/controlTypes/role.py
Due: checkPot

use strxfrm
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Update source/gui/addonStoreGui/viewModels/addonList.py
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

copilot review fixes
  source/gui/addonStoreGui/controls/storeDialog.py
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

copilot review fixes
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Add padding
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Apply suggestions from code review
  source/NVDAObjects/UIA/wordDocument.py
  source/NVDAObjects/window/winword.py
Due: checkPot

Update to liblouis 3.36
  nvdaHelper/liblouis/config.h
  projectDocs/dev/createDevEnvironment.md
  source/brailleTables/__tables.py
  user_docs/en/changes.md
Due: scons-source, checkPot

Docs
  nvdaHelper/liblouis/config.h
  user_docs/en/changes.md
Due: scons-source

Update source/brailleTables/__tables.py
  source/brailleTables/__tables.py
Due: checkPot

changed the test to latest verion, updated spotlight, lint
  source/globalCommands.py
  source/magnifier/commands.py
  source/magnifier/fullscreenMagnifier.py
  source/magnifier/magnifier.py
  source/magnifier/utils/filterHandler.py
  tests/unit/test_NVDAMagnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/__init__.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

spotlight zoomback on focus instead of mouse, minor typo
  source/magnifier/__init__.py
  source/magnifier/fullscreenMagnifier.py
  source/magnifier/magnifier.py
Due: checkPot

added an option to keep mouse in the center of the screen while moving with nvda
  source/gui/settingsDialogs.py
  source/magnifier/__init__.py
  source/magnifier/commands.py
  source/magnifier/fullscreenMagnifier.py
Due: checkPot

Update reference in changelog
  user_docs/en/changes.md
Due: none
