Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

fix comment
  .github/workflows/testAndPublish.yml
Due: none

Update source/NVDAObjects/IAccessible/wx.py
  source/NVDAObjects/IAccessible/wx.py
Due: checkPot

Move GetSystemMetrics
  source/mouseHandler.py
  source/touchHandler.py
  source/winAPI/_displayTracking.py
  source/winAPI/winUser/constants.py
  source/winBindings/user32.py
  user_docs/en/changes.md
Due: checkPot

separate build steps
  .github/workflows/testAndPublish.yml
Due: none

Move ChangeWindowMessageFilter to winBindings
  source/JABHandler.py
  source/nvda.pyw
  source/winBindings/user32.py
Due: checkPot

Add GetKeyState to winBindings.user32
  source/keyboardHandler.py
  source/winBindings/user32.py
Due: checkPot

Added missing navigation options
  user_docs/en/userGuide.md
Due: none

Fixed formatting of user docs
  user_docs/en/userGuide.md
Due: none

Added link to math settings panel
  user_docs/en/userGuide.md
Due: none

Linearize release builds (#18880)
  .github/workflows/testAndPublish.yml
  ci/scripts/setSconsArgs.ps1
Due: none

Add pymdownx to l10nUtil.exe (#18882)
  source/setup.py
Due: checkPot

group scons out target better
  .github/workflows/testAndPublish.yml
  ci/scripts/setSconsArgs.ps1
Due: none

build all lang docs together
  ci/scripts/setSconsArgs.ps1
Due: none

Group scons targets better (#18885)
  .github/workflows/testAndPublish.yml
  ci/scripts/setSconsArgs.ps1
Due: none

Limit SAPI4 Vol tag value to 0~65535
  source/synthDrivers/sapi4.py
Due: checkPot

(broken) WIP
  source/winBindings/user32.py
  source/winUser.py
Due: checkPot

Add all remaining winBindings.kernel32 definitions. Actual calls not replaced yet.
  source/winBindings/kernel32.py
Due: checkPot

Add changelog entry
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  source/braille.py
  source/config/configSpec.py
Due: checkPot

Bunch of moves (not working)
  source/winBindings/user32.py
  source/winUser.py
Due: checkPot

Fix unit tests
  source/keyboardHandler.py
  source/winUser.py
Due: checkPot

Get rid of winUser.user32
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/IAccessible/winword.py
  source/eventHandler.py
  source/gui/nvdaControls.py
  source/keyboardHandler.py
  source/systemUtils.py
  source/visionEnhancementProviders/NVDAHighlighter.py
  source/winBindings/user32.py
  source/winUser.py
  user_docs/en/changes.md
Due: checkPot

update helper of `coojieba`
  nvdaHelper/cppjieba/cppjieba.cpp
  nvdaHelper/cppjieba/cppjieba.def
  nvdaHelper/cppjieba/cppjieba.hpp
Due: scons-source

update `wordSegStrategy.py`
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

Address review fixing script to toggle audio options to report spelling errors
  source/globalCommands.py
Due: checkPot

Address review
  source/config/configSpec.py
  user_docs/en/userGuide.md
Due: checkPot

Remove direct windll.user32 calls from keyboardHandler
  source/keyboardHandler.py
  source/winBindings/user32.py
Due: checkPot

More simple moves
  source/nvda.pyw
  source/oleacc.py
  source/systemUtils.py
  source/touchHandler.py
  source/winAPI/dpiAwareness.py
  source/winBindings/user32.py
  source/winInputHook.py
  source/winUser.py
  source/windowUtils.py
Due: checkPot

More simple moves
  source/IAccessibleHandler/__init__.py
  source/NVDAHelper/__init__.py
  source/NVDAObjects/IAccessible/MSHTML.py
  source/NVDAObjects/window/__init__.py
  source/NVDAObjects/window/excel.py
  source/NVDAObjects/window/winword.py
  source/UIAHandler/__init__.py
  source/_remoteClient/input.py
  source/brailleDisplayDrivers/handyTech.py
  source/synthDrivers/sapi4.py
  source/winBindings/user32.py
Due: checkPot

Move GhostWindowFromHungWindow to winBindings.user32, and remove from the public API since it's an undocumented paart of the Windows ABI
  source/NVDAObjects/window/__init__.py
  source/winBindings/user32.py
  user_docs/en/changes.md
Due: checkPot

Get rid of screenBitmap.user32
  source/screenBitmap.py
  user_docs/en/changes.md
Due: checkPot

Get rid of winGDI.user32
  source/winGDI.py
  user_docs/en/changes.md
Due: checkPot

Get rid of winAPI.winUser.functions.user32
  source/winAPI/winUser/functions.py
  source/winBindings/user32.py
  user_docs/en/changes.md
Due: checkPot

Move GetWindowFromPhysicalPoint binding to winBindings.user32 and drop GetWindowFromPoint as it's only needed on Windows < Vista
  source/NVDAObjects/window/__init__.py
  source/winBindings/user32.py
Due: checkPot

Final removals from windowUtils
  source/winBindings/user32.py
  source/windowUtils.py
Due: checkPot

Deprecations
  source/brailleInput.py
  source/easeOfAccess.py
  source/winConsoleHandler.py
  source/winUser.py
  user_docs/en/changes.md
Due: checkPot

Update copyrights
  source/IAccessibleHandler/__init__.py
  source/NVDAObjects/IAccessible/MSHTML.py
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/IAccessible/winword.py
  source/NVDAObjects/window/__init__.py
  source/brailleDisplayDrivers/handyTech.py
  source/brailleInput.py
  source/eventHandler.py
  source/gui/nvdaControls.py
  source/mouseHandler.py
  source/winAPI/_displayTracking.py
  source/winAPI/dpiAwareness.py
  source/winAPI/winUser/constants.py
  source/winAPI/winUser/functions.py
  source/winConsoleHandler.py
  source/winGDI.py
Due: checkPot

Fix IA2 issue
  source/IAccessibleHandler/internalWinEventHandler.py
  source/winUser.py
Due: checkPot

Fix ghost window bug
  source/IAccessibleHandler/__init__.py
Due: checkPot
