Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Removed the PROTOCOL_ONOFF infotype to ensure compatibility with all device firmwares.
  source/brailleDisplayDrivers/nlseReaderZoomax.py
Due: checkPot

Added entry in the changes.md file.
  user_docs/en/changes.md
Due: none

Multi select reporting prototype
  source/IAccessibleHandler/__init__.py
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/UIA/__init__.py
  source/braille.py
  source/controlTypes/processAndLabelStates.py
  source/controlTypes/state.py
  source/winUser.py
Due: checkPot

Documentation
  source/config/configSpec.py
  source/controlTypes/processAndLabelStates.py
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

fix tests
  pyproject.toml
  tests/unit/test_remote/test_transport.py
Due: licenseCheck

More conservatively add EditableText support to UIA objects (#18404)
  source/NVDAObjects/UIA/__init__.py
Due: checkPot

report fingerprint
  source/addonStore/network.py
  source/utils/networking.py
Due: checkPot

add teardown
  tests/unit/test_remote/test_transport.py
Due: none

tidy
  source/addonStore/network.py
  source/core.py
Due: checkPot

Added protocol type.
  source/brailleDisplayDrivers/nlseReaderZoomax.py
Due: checkPot

Fix for NLS eReader Zoomax driver
  source/brailleDisplayDrivers/nlseReaderZoomax.py
  user_docs/en/changes.md
Due: checkPot

Put new bookmark lists in a queue
  source/synthDrivers/sapi5.py
Due: checkPot

Fix for NLS eReader Zoomax driver.
  source/brailleDisplayDrivers/nlseReaderZoomax.py
  user_docs/en/changes.md
Due: checkPot

Reverted to PROTOCOL_ONOFF name.
  source/brailleDisplayDrivers/nlseReaderZoomax.py
Due: checkPot

Force stop the WavePlayer to prevent deadlock
  source/synthDrivers/sapi5.py
Due: checkPot

Assign SpMMAudioOut object to reset audio output format
  source/synthDrivers/mssp.py
  source/synthDrivers/sapi5.py
Due: checkPot

Only call `_getIA2RelationFirstTarget` for IA2 objects
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

Changelog
  user_docs/en/changes.md
Due: none

Updated submodule reference
  .gitmodules
Due: none

Fixed indentation in pyproject.toml
  pyproject.toml
Due: licenseCheck

Make the report language command consistent across settings
  source/globalCommands.py
Due: checkPot

Revert "Force stop the WavePlayer to prevent deadlock"
  source/synthDrivers/sapi5.py
Due: checkPot

Create a crash dump when frozen for 30 seconds
  source/watchdog.py
Due: checkPot

In report language script, return if no caret is found, and log this at debug warning level
  source/globalCommands.py
Due: checkPot

Rename report language changes to report language changes while reading
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

refactored languagesDict into languagesSet
  source/mathPres/MathCAT/MathCATPreferences.py
Due: checkPot

Report not deffined when language is None
  source/globalCommands.py
Due: checkPot

_getCurrentLanguageForTextInfo can return None
  source/globalCommands.py
Due: checkPot

Update command to review current symbol
  source/globalCommands.py
Due: checkPot

Changed previous uses of languagesDict to languagesSet
  source/mathPres/MathCAT/MathCATPreferences.py
Due: checkPot

Add smoke tests for MS Office, Libre OFfice and Web Browsers
  tests/manual/applications/libreOffice.md
  tests/manual/applications/msOffice.md
  tests/manual/applications/webBrowsers.md
Due: none

Create better structure for manual test plans
  projectDocs/design/startupShutdown.md
  tests/manual/README.md
  tests/manual/hardware/hardwareSupport.md
  tests/manual/hardware/updatingTo64bit.md
  tests/manual/nvdaUI/addonStore.md
  tests/manual/nvdaUI/createUpdatableAddons.ps1
  tests/manual/nvdaUI/remote.md
  tests/manual/nvdaUI/startupShutdown.md
Due: none

Apply suggestion from @seanbudd
  user_docs/en/changes.md
Due: none

Fix for issue #18406 - NLS eReader Zoomax driver does not work with all units (#18414)
  source/brailleDisplayDrivers/nlseReaderZoomax.py
  user_docs/en/changes.md
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

fix heading
  tests/manual/applications/libreOffice.md
  tests/manual/applications/msOffice.md
  tests/manual/applications/webBrowsers.md
Due: none

Update source/globalCommands.py
  source/globalCommands.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
