Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Apply suggestions from code review
  source/hidpi.py
  source/winBindings/hid.py
Due: checkPot

Add missing imports
  source/winBindings/hid.py
Due: checkPot

Update what's new
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  source/appModuleHandler.py
  source/brailleDisplayDrivers/albatross/_threading.py
  source/logHandler.py
  source/nvda.pyw
  source/winAPI/_powerTracking.py
  source/winKernel.py
Due: checkPot

Move _PROCESS_MACHINE_INFORMATION from appModuleHandler to winBindings.kernel32.
  source/appModuleHandler.py
  source/winBindings/kernel32.py
Due: checkPot

Update copyright year
  tests/unit/test_languageHandler.py
Due: none

Apply suggestions from code review
  source/winBindings/kernel32.py
Due: checkPot

Add mising imports
  source/winBindings/kernel32.py
Due: checkPot

Add LPSECURITY_ATTRIBUTES and use instead of POINTER(SECURITY_ATTRIBUTES)
  source/winBindings/kernel32.py
Due: checkPot

_powerTracking.py: enable lazy annotations as POWERSTATE is referrenced from within itself.
  source/winAPI/_powerTracking.py
Due: checkPot

Correct size.
  source/appModuleHandler.py
Due: checkPot

Update source/winKernel.py
  source/winKernel.py
Due: checkPot

winKernel: fix imports, add deprecations. Fix type checking error.
  source/winKernel.py
Due: checkPot

winKernel: make SYSTEM_POWER_STATUS deprecation more direct
  source/winKernel.py
Due: checkPot

Update source/mathPres/MathCAT/preferences.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Fix some mouse gestures (#18906)
  source/mouseHandler.py
Due: checkPot

logHandler: SYSTEMTIME has moved from winKernel to winBindings.kernel32.
  source/logHandler.py
Due: checkPot

winBindings.kernel32.SetWaitableTimer: take the correct WINFUNCTYPE. watchdog: change calls to SetWaitableTimer to use the correct null function pointer
  source/watchdog.py
  source/winBindings/kernel32.py
Due: checkPot

Fix PR status checks (#18895)
  .github/workflows/testAndPublish.yml
Due: none

Update pyproject.toml
  pyproject.toml
Due: licenseCheck

Only build 64bit
  .github/workflows/testAndPublish.yml
  .python-versions
Due: none

build PRs against try branches
  .github/workflows/testAndPublish.yml
Due: none

winUser.WinTimer: ensure timerFunc is correctly wrapped as a TIMERPROC even when None.
  source/winUser.py
Due: checkPot

Update tests/system/robot/automatedImageDescriptions.py
  tests/system/robot/automatedImageDescriptions.py
Due: none

winUser.WinTimer: can't do match case with isinstance cleanly. Just use a standard if/elif/else
  source/winUser.py
Due: checkPot

access symbols directly from winBindings.gdi32 and winBindings.user32
  source/visionEnhancementProviders/NVDAHighlighter.py
  source/windowUtils.py
Due: checkPot

Update source/winUser.py
  source/winUser.py
Due: checkPot

winUser.WinTimer: ensure timerFunc is correctly wrapped as a TIMERPROC even when None. (#18925)
  source/winUser.py
Due: checkPot

minor fixes
  tests/system/robot/automatedImageDescriptions.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Treat more syslistview32 controls as multi select
  source/NVDAObjects/IAccessible/sysListView32.py
Due: checkPot

fix up sys test
  tests/system/robot/automatedImageDescriptions.py
Due: none
