Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Create 'General' grouping and move native math support there
  source/gui/settingsDialogs.py
Due: checkPot

Update user guide
  user_docs/en/userGuide.md
Due: none

Rename general section to app support
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

User guide
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Minor fixes to UG
  user_docs/en/userGuide.md
Due: none

Fix parenthetical on manually zooming out
  user_docs/en/userGuide.md
Due: none

Add missing option
  user_docs/en/userGuide.md
Due: none

Changes
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  user_docs/en/changes.md
Due: none

Fix word expansion without flowsTo
  source/textInfos/offsets.py
  tests/unit/test_textInfos.py
Due: checkPot

Fix remaining Title Case instances for System Accessibility Repair Tool
  .github/ISSUE_TEMPLATE/01-bug_report.yaml
  .github/ISSUE_TEMPLATE/11-bug_report.md
  source/gui/__init__.py
Due: checkPot

Add hwIo.ble module with unit tests
  pyproject.toml
  source/hwIo/ble/__init__.py
  source/hwIo/ble/_io.py
  source/hwIo/ble/_scanner.py
  tests/unit/brailleDisplayDrivers/__init__.py
  tests/unit/brailleDisplayDrivers/test_dotPad.py
  tests/unit/test_bdDetect.py
  tests/unit/test_hwIo_ble.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Don't speak out of error if NVDA is not configured to report errors while reading via speech output
  source/speech/speech.py
Due: checkPot

Fix condition
  source/speech/speech.py
Due: checkPot

Fix indentation
  source/speech/speech.py
Due: checkPot

Address review feedback on hwIo.ble module
  source/hwIo/ble/__init__.py
  source/hwIo/ble/_io.py
  tests/unit/test_hwIo_ble.py
Due: checkPot

Rename Ble.read parameter num_bytes to size
  source/hwIo/ble/_io.py
Due: checkPot

Queue JAB property change callbacks via internalQueueFunction (#16741)
  source/JABHandler.py
Due: checkPot

Avoid recursive parent traversal in JAB findOverlayClasses (#16741)
  source/NVDAObjects/JAB/__init__.py
Due: checkPot

Deregister all JAB event callbacks in terminate (#16741)
  source/JABHandler.py
Due: checkPot

Fix newDescendant handle leak in activeDescendantChange (#16741)
  source/JABHandler.py
Due: checkPot

Update copyright years and add changelog entry (#16741)
  source/JABHandler.py
  source/NVDAObjects/JAB/__init__.py
  user_docs/en/changes.md
Due: checkPot

Added a private function to determine if out of error should be reported
  source/speech/speech.py
Due: checkPot

Add DotPad buffered-receive implementation with unit tests
  source/brailleDisplayDrivers/dotPad/defs.py
  source/brailleDisplayDrivers/dotPad/driver.py
  tests/unit/brailleDisplayDrivers/__init__.py
  tests/unit/brailleDisplayDrivers/test_dotPad.py
Due: checkPot

Bundle manifest schema
  source/config/archive/__init__.py
  source/config/archive/manifest.py
  source/config/archive/manifest.schema.json
Due: checkPot

Draft explanatory document
  configPort.md
Due: none

settings dialog + dataclass for follow state
  source/_magnifier/config.py
  source/gui/settingsDialogs.py
Due: checkPot

sugestions review
  source/_magnifier/utils/focusManager.py
Due: checkPot

start magnifier if zoom in attempted and magnifier not already active
  source/_magnifier/commands.py
  tests/unit/test_magnifier/test_magnifierCommands.py
Due: checkPot

implementation of pinch gestures
  source/touchTracker.py
Due: checkPot

Added documentation and what's new
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Catch key, index and type error when getting scan results
  source/addonStore/models/scanResults.py
Due: checkPot

Clean up config logging
  source/config/__init__.py
Due: checkPot

Update source/config/__init__.py
  source/config/__init__.py
Due: checkPot

Modernise types for config
  source/config/__init__.py
Due: checkPot

Fix deprecated usage of getLevelName
  source/logHandler.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
