Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Add localization for ARIA role descriptions
  source/NVDAObjects/IAccessible/MSHTML.py
  source/NVDAObjects/IAccessible/ia2Web.py
  source/NVDAObjects/UIA/web.py
  source/aria.py
  source/virtualBuffers/MSHTML.py
  source/virtualBuffers/gecko_ia2.py
  tests/unit/test_aria.py
Due: checkPot

Auto-fix: apply prek fixes
  source/aria.py
Due: checkPot

Update Python to 3.13.15
  .github/workflows/autofix.yml
  .github/workflows/fetch-crowdin-translations.yml
  .github/workflows/testAndPublish.yml
  .python-versions
  projectDocs/dev/createDevEnvironment.md
  runtime-builders/synthDriverHost32/.python-version
  user_docs/en/changes.md
Due: none

Update changelog issue number
  user_docs/en/changes.md
Due: none

Retry copying a file while its source is briefly in use
  source/installer.py
  tests/unit/test_installer.py
  user_docs/en/changes.md
Due: checkPot

Add type annotations to JABHandler (#13835)
  source/JABHandler.py
Due: checkPot

Add type annotations to NVDAObjects/JAB (#13835)
  source/NVDAObjects/JAB/__init__.py
Due: checkPot

Append log text via TOM with a time-budgeted adaptive chunk size
  source/gui/logViewer.py
Due: checkPot

Add WinUSB fallback for HIMS Braille Sense/EDGE displays blocked by Windows 11 driver signing (#20555)
  source/brailleDisplayDrivers/hims.py
  source/hwIo/base.py
  source/winAPI/constants.py
  source/winBindings/winusb.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Keep the log viewer responsive to user input while content loads
  source/appModules/nvda.py
  source/gui/logViewer.py
Due: checkPot

Address independent review findings
  source/appModules/nvda.py
  source/gui/logViewer.py
Due: checkPot

Fix native selection breaking caret navigation in focus mode editable content (#20581)
  source/browseMode.py
  source/virtualBuffers/gecko_ia2.py
  tests/system/robot/chromeTests.py
  tests/system/robot/chromeTests.robot
  user_docs/en/changes.md
Due: checkPot

Update changeLog item.
  user_docs/en/changes.md
Due: none

Changelog entry
  user_docs/en/changes.md
Due: none

Increase max characters per line in Browse Mode settings
  user_docs/en/changes.md
Due: none

Add Chinese word segmentation toggle for braille
  source/braille/regions/base.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  tests/unit/test_braille/test_routing.py
  user_docs/en/userGuide.md
Due: checkPot

Add Quick Navigation commands for clickable elements (#20628)
  source/UIAHandler/browseMode.py
  source/browseMode.py
  source/virtualBuffers/MSHTML.py
  source/virtualBuffers/gecko_ia2.py
  tests/system/robot/chromeTests.py
  tests/system/robot/chromeTests.robot
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Add pgettext
  source/config/featureFlagEnums.py
Due: checkPot

Rename
  source/config/featureFlagEnums.py
Due: checkPot

Change max line length from 4000 to 1000
  source/gui/settingsDialogs.py
Due: checkPot

Increase maximum characters per line in Browse Mode settings
  user_docs/en/changes.md
Due: none

KeyboardInputGesture.fromName: treat the non modifier key as the main key
  source/keyboardHandler.py
  tests/unit/test_keyboardHandler.py
  user_docs/en/changes.md
Due: checkPot

Changes entry
  user_docs/en/changes.md
Due: none

Remove epytext markup from test_keyboardHandler docstring
  tests/unit/test_keyboardHandler.py
Due: none

Apply code review suggestions
  nvdaHelper/localWin10/wgcCapture.cpp
Due: scons-source

Clarify WGC capture pixel format
  nvdaHelper/localWin10/wgcCapture.h
Due: scons-source

winVersion: update copyright year
  source/winVersion.py
Due: checkPot

winVErsion: recognize build 26300 as Windows 11 Version 26H2 (enablement package)
  source/winVersion.py
Due: checkPot

Increase character limit for Browse Mode settings
  user_docs/en/changes.md
Due: none

Adjust min value for max line length setting
  source/gui/settingsDialogs.py
Due: checkPot

Fixup attribution, add a skip-lines beep, and hidden config flags for the new LiveText speech generator
  source/NVDAObjects/behaviors.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Review action
  user_docs/en/userGuide.md
Due: none

Remove the remaining hidden config options
  source/NVDAObjects/behaviors.py
  source/config/configSpec.py
Due: checkPot

Remove hidden beep config settings
  source/NVDAObjects/behaviors.py
  source/config/configSpec.py
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Update source/gui/settingsDialogs.py
  source/gui/settingsDialogs.py
Due: checkPot

Fix anchor
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Review action
  source/gui/settingsDialogs.py
Due: checkPot

Auto-fix: apply prek fixes
  source/gui/settingsDialogs.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
