Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

Apply suggestions from code review
  source/NVDAObjects/window/_msOffice.py
  user_docs/en/changes.md
Due: checkPot

No more focus event issue after reloading appModules (#17322)
  source/virtualBuffers/MSHTML.py
  user_docs/en/changes.md
Due: checkPot

Restored behaviour of having an OK button as default
  source/gui/messageDialog.py
  tests/unit/test_messageDialog.py
Due: checkPot

Windows 11 clipboard history: NVDA no longer announces history items when closing clipboard history interface (#17361)
  source/appModules/windowsinternal_composableshell_experiences_textinput_inputapp.py
  user_docs/en/changes.md
Due: checkPot

Fixed label not being applied to buttons.
  source/gui/messageDialog.py
Due: checkPot

Made id and button positional-only
  source/gui/messageDialog.py
Due: checkPot

Use _getGestureClsForIdentifier to determine if gesture should be created from KeyboardInputGesture
  source/gui/inputGestures.py
Due: checkPot

Check that the update is a breaking update before warning of add-on incompatibility
  source/updateCheck.py
Due: checkPot

Change log entry
  user_docs/en/changes.md
Due: none

Update configobj
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

Only warn about add-on compatibility when updating to an incompatible API (#17370)
  source/updateCheck.py
  user_docs/en/changes.md
Due: checkPot

Update projectDocs/issues/triage.md
  projectDocs/issues/triage.md
Due: none

Make espeak tests when using WASAPI
  tests/unit/test_synthDrivers/test_espeak.py
Due: none

Make WavePlayer point to WasapiWavePlayer, and remove logic for handling WinMM from nvwave.initialize
  source/nvwave.py
Due: checkPot

Removed nvwave.WinmmWavePlayer
  source/nvwave.py
  user_docs/en/changes.md
Due: checkPot

Add ability to save and run the last script in globalCommands for certain scripts
  source/globalCommands.py
  source/gui/inputGestures.py
Due: checkPot

L10n updates for: ro From translation svn revision: 83977
  user_docs/ro/userGuide.md
Due: none

L10n updates for: zh_TW From translation svn revision: 83977
  source/locale/zh_TW/characterDescriptions.dic
Due: none

Fix link URL reporting in Excel cells (#17362)
  source/NVDAObjects/window/_msOffice.py
  source/NVDAObjects/window/excel.py
  source/NVDAObjects/window/winword.py
  user_docs/en/changes.md
Due: checkPot

Update configobj (#17371)
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

Commented out idl hacks
  nvdaHelper/ISimpleDOM_sconscript
  nvdaHelper/mathPlayer_sconscript
Due: none

update ruff and pre-commit
  .pre-commit-config.yaml
  requirements.txt
  user_docs/en/changes.md
Due: licenseCheck

Apply suggestions from code review
  projectDocs/issues/triage.md
Due: none

Add variable to determine if commands should be saved or run inmediately, and support for configuration profile activation commands
  source/gui/inputGestures.py
Due: checkPot

WASAPI: Disable default communication ducking for all NVDA audio streams.
  nvdaHelper/local/wasapi.cpp
  user_docs/en/changes.md
Due: scons-source

Make Python console opening more robust
  source/pythonConsole.py
Due: checkPot

Determine if commands will be run inmediately according to categories
  source/gui/inputGestures.py
Due: checkPot

WASAPI: Disable default communication ducking for all NVDA audio streams. (#17374)
  nvdaHelper/local/wasapi.cpp
  user_docs/en/changes.md
Due: scons-source

Add support to save commands for browse mode documents
  source/gui/inputGestures.py
Due: checkPot

Project docs: Winows 11 SDK -> 10.0.26100 (24H2)
  projectDocs/dev/createDevEnvironment.md
Due: none

Add support for text review category
  source/gui/inputGestures.py
Due: checkPot

Fix conflict marks
  source/gui/inputGestures.py
Due: checkPot

Revert support for review text category from input gestures dialog
  source/gui/inputGestures.py
Due: checkPot

Add support for review text category, except for next and previous mode
  source/gui/inputGestures.py
Due: checkPot

Return for command to run last script if it's run from the dialog
  source/gui/inputGestures.py
Due: checkPot

Make scriptstof system category to be run inmediately
  source/gui/inputGestures.py
Due: checkPot

Project docs: Winows 11 SDK -> 10.0.26100 (24H2) (#17378)
  projectDocs/dev/createDevEnvironment.md
Due: none
