Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

DisplayStringStrEnum -> DisplayStringEnum
  source/gui/settingsDialogs.py
Due: checkPot

Update the FTDI interface to be 64-bit compatible (#19105)
  source/brailleDisplayDrivers/papenmeier.py
  source/ftdi2/__init__.py
  source/ftdi2/ftd2xx.py
  user_docs/en/changes.md
Due: checkPot

Fix unexpected changes for navigator object and wrong updates in braille when navigating messages in Outlook Classic
  source/appModules/outlook.py
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

Fix issue number in changelog
  user_docs/en/changes.md
Due: none

Try to restore navigator object when autoComplete list is closed
  source/appModules/outlook.py
Due: checkPot

Set navigator object with isFocus set to True
  source/appModules/outlook.py
Due: checkPot

In setNavigatorObject, use True just for event_valueChange, to avoid errors writen in NVDA log with braille positions
  source/appModules/outlook.py
Due: checkPot

Reword changes entry
  user_docs/en/changes.md
Due: none

gecko_ia2 vbuf: Don't treat controls with 0 width or height as invisible. (#19146)
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
  user_docs/en/changes.md
Due: scons-source

Apply suggestions from code review
  source/contentRecog/__init__.py
  source/contentRecog/uwpOcr.py
Due: checkPot

In Outlook Classic, when navigating messages, ensure that wrong info is not displayed in braille (#19109)
  source/appModules/outlook.py
  user_docs/en/changes.md
Due: checkPot

Modify string
  source/gui/addonStoreGui/controls/details.py
Due: checkPot

Fix checkPot
  tests/checkPot.py
Due: none

Revert "Fix checkPot"
  tests/checkPot.py
Due: none

Fix checkPot for plural (#19158)
  tests/checkPot.py
Due: none

Add-on store: pluralize one string (#19059)
  source/gui/addonStoreGui/controls/details.py
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Added an option to automatically read the entire result after a successful recognition (#19150)
  source/config/configSpec.py
  source/contentRecog/__init__.py
  source/contentRecog/recogUi.py
  source/contentRecog/uwpOcr.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Add an isolated uv / py2exe sub-project (art-runtime-builder-x86) which can build an x86 version of the ART runtime, placing it in dist\art-runtime-x86.
  art-runtime-builder-x86/.python-version
  art-runtime-builder-x86/buildVersionLoader.py
  art-runtime-builder-x86/pyproject.toml
  art-runtime-builder-x86/setup-art-runtime.py
  art-runtime-builder-x86/uv.lock
Due: none

Support arm64 system tests
  .github/workflows/testAndPublish.yml
Due: none

Excel legacy now reports Has note
  source/NVDAObjects/window/excel.py
Due: checkPot

Added a class for the spolight and tests with that
  source/NVDAMagnifier/__init__.py
  source/globalCommands.py
  tests/unit/test_NVDAMagnifier/test_NVDAMagnifier.py
  tests/unit/test_NVDAMagnifier/test_fullscreenMagnifier.py
  tests/unit/test_NVDAMagnifier/test_spotlightManager.py
Due: checkPot

Fix regression: Restore ability to move braille to next paragraph
  source/appModules/soffice.py
Due: checkPot

Excel legacy now reports Has note #19161
  source/NVDAObjects/window/excel.py
Due: checkPot

fix(vision): resolve missing highlighters on recognition results
  source/vision/util.py
  user_docs/en/changes.md
Due: checkPot

Fix regression: restore ability to move braille to next paragraph
  source/textInfos/offsets.py
Due: checkPot

Apply suggestions from code review
  source/synthDriverHandler.py
Due: checkPot

Fix language reporting dialects as not supported (#19116)
  source/synthDriverHandler.py
  user_docs/en/changes.md
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update tests/unit/test_NVDAMagnifier/test_fullscreenMagnifier.py
  tests/unit/test_NVDAMagnifier/test_fullscreenMagnifier.py
Due: none

Update tests/unit/test_NVDAMagnifier/test_spotlightManager.py
  tests/unit/test_NVDAMagnifier/test_spotlightManager.py
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
