Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

Update changelog
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  source/brailleInput.py
  source/gui/settingsDialogs.py
Due: checkPot

Update options in the User Guide
  user_docs/en/userGuide.md
Due: none

Remove a file created by error
  2
Due: none

Fix for changed variable
  source/brailleInput.py
Due: checkPot

Fix for settingsDialog
  source/gui/settingsDialogs.py
Due: checkPot

Update source/audio/appsVolume.py
  source/audio/appsVolume.py
Due: checkPot

Update source/globalCommands.py
  source/globalCommands.py
Due: checkPot

Reword translators comment
  source/audio/appsVolume.py
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Fix appVolumeAdjuster when state is default
  source/audio/appsVolume.py
Due: checkPot

No more focus event issue after reloading appModules
  source/keyboardHandler.py
  source/virtualBuffers/MSHTML.py
Due: checkPot

Change log
  user_docs/en/changes.md
Due: none

Move to textInfos
  source/globalCommands.py
  source/textInfos/__init__.py
  source/utils/urlUtils.py
Due: checkPot

Add ability to report the document layout in Microsoft Word
  source/appModules/winword.py
Due: checkPot

Make possible to spell and copy title
  source/appModules/winword.py
Due: checkPot

Remove debug statement
  source/audio/appsVolume.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Add ability to read math in PDF documents (#17276)
  nvdaHelper/vbufBackends/adobeAcrobat/adobeAcrobat.cpp
  source/NVDAObjects/IAccessible/adobeAcrobat.py
  user_docs/en/changes.md
Due: scons-source, checkPot

Cleanup code
  source/appModules/winword.py
Due: checkPot

Set speakOnDemand to True
  source/appModules/winword.py
Due: checkPot

Improve description of script
  source/appModules/winword.py
Due: checkPot

Fix translators comment position
  source/appModules/winword.py
Due: checkPot

Improve comment for translators
  source/appModules/winword.py
Due: checkPot

Improve changelog
  user_docs/en/changes.md
Due: none

Add document layout to description
  source/appModules/winword.py
Due: checkPot

Change name to enum
  source/appModules/winword.py
Due: checkPot

Add exception to handle cases where WinwordWindowObject doesn't exist
  source/appModules/winword.py
Due: checkPot

Reformat
  source/appModules/winword.py
Due: checkPot

linted code
  source/NVDAObjects/IAccessible/ia2Web.py
Due: checkPot

Add change entry for fix to #15058
  user_docs/en/changes.md
Due: none

Reverting pyproject.toml license change
  pyproject.toml
Due: none

Added deprecation warning to gui.message.messageBox
  source/gui/message.py
  user_docs/en/changes.md
Due: checkPot

Re-enabled system test "Quits from keyboard with about dialog open"
  tests/system/robot/startupShutdownNVDA.robot
Due: none

Updated block action to bring blocking dialogs to foreground
  source/gui/blockAction.py
Due: checkPot
