Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

NvDA requires pywin32 for pipe streams via rpyc.
  pyproject.toml
  runtime-builders/synthDriverHost32/pyproject.toml
  runtime-builders/synthDriverHost32/uv.lock
  source/setup.py
  uv.lock
Due: checkPot, licenseCheck

Use float values
  source/globalCommands.py
Due: checkPot

Apply suggestions from code review
  source/globalCommands.py
Due: checkPot

Restore updates to changes.xliff (#19482)
  .github/workflows/regenerate_english_userDocs_translation_source.yml
  user_docs/en/changes.xliff
Due: none

rename synthDriverHost32 runtime's .python-version to .python-versions to hopefully force CI to actually honor it...
  runtime-builders/synthDriverHost32/.python-versions
Due: none

Ensure synthDriverHost32 runtime uv is isolated so that correct 32 bit Python is used.
  sconstruct
Due: none

Fix NVDA+K not recognizing links with nested elements (#19428)
  .github/workflows/testAndPublish.yml
  source/textInfos/__init__.py
  tests/system/robot/chromeTests.py
  tests/system/robot/chromeTests.robot
  user_docs/en/changes.md
Due: checkPot

Select which add-ons to copy to the system profile (#19446)
  source/addonHandler/__init__.py
  source/config/__init__.py
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/gui/settingsDialogs.py
  source/nvda_slave.pyw
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

Add helper function
  source/globalCommands.py
Due: checkPot

Fix Changes.md
  user_docs/en/changes.md
Due: none

Update slider
  source/globalCommands.py
Due: checkPot

Merge pull request #19373 from codeofdusk/mathcat-config-location
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Import calculatePercentageFromRange at the method level to avoid crash
  source/gui/settingsDialogs.py
Due: checkPot

Fix Changes.md (#19500)
  user_docs/en/changes.md
Due: none

Use calculateValueFromPercentage function for slider
  source/globalCommands.py
  source/gui/settingsDialogs.py
Due: checkPot

back to .python-version and more debugging
  runtime-builders/synthDriverHost32/.python-version
  sconstruct
Due: none

Github workflow: also install Python 32 bit
  .github/workflows/testAndPublish.yml
Due: none

CI: build synthDriverHost32 runtime as its own step, with particular environment variables cleared. Rather than running inside scons.
  .github/workflows/testAndPublish.yml
Due: none

UIA: do not ignore supposedly obvious state information
  source/NVDAObjects/UIA/__init__.py
Due: checkPot

Split helper functions according to single responsibility principle
  source/globalCommands.py
  source/gui/settingsDialogs.py
Due: checkPot

Update slider
  source/gui/settingsDialogs.py
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

Remove unused variable
  source/globalCommands.py
Due: checkPot

revert: Stop labels for checkboxes / radioButtons from being reported twice when tabbing / quicknavving in browse Mode, for Chrome / Firefox. #7988
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
Due: scons-source

When selecting single characters (e.g., using Shift+Arrow), NVDA will now announce capital letters with the same indicators used during character-by-character navigation
  source/speech/speech.py
Due: checkPot

Update change log for PR #19505
  user_docs/en/changes.md
Due: none

Fix remaining references to old paths
  source/gui/speechDict.py
Due: checkPot

review modifications
  .pre-commit-config.yaml
  source/_magnifier/utils/focusManager.py
  source/_magnifier/utils/types.py
  tests/unit/test_magnifier/test_focusManager.py
Due: checkPot

pre-commit
  .pre-commit-config.yaml
Due: none

review modification
  .pre-commit-config.yaml
  source/_magnifier/commands.py
  source/_magnifier/config.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/types.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  tests/unit/test_magnifier/test_magnifier.py
  user_docs/en/userGuide.md
Due: checkPot

Fix incorrect parameter name
  source/gui/settingsDialogs.py
Due: checkPot

Use {num} in singular and plural string
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

Don't copy universal C Runtime as it will never be used on Windows 10/11
  sconstruct
Due: none

Changes
  user_docs/en/changes.md
Due: none

Modernise speech dict handler with enums and type hints (#19430)
  source/gui/speechDict.py
  source/speechDictHandler/__init__.py
  source/speechDictHandler/dictFormatUpgrade.py
  source/speechDictHandler/types.py
  user_docs/en/changes.md
Due: checkPot
