Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Update docs
  projectDocs/design/art-design.md
Due: none

setup.py: copy x86 art-runtime into x86 lib dir in dist.
  source/setup.py
Due: checkPot

Log to show encryption happening
  source/art/crypto/serializers.py
  source/art/manager.py
  source/nvda_art.pyw
Due: checkPot

More ART design doc fixes
  projectDocs/design/art-design.md
Due: none

sandbox.py: Use our formatting.
  source/sandbox.py
Due: checkPot

Clean up docs
  projectDocs/design/art-design.md
Due: none

secureProcess: add support for launching a process unelevated when called from an elevated process. Use 'removeElevation=True' on SecurePopen to do this.
  source/secureProcess/__init__.py
  source/secureProcess/token.py
  source/test_secureProcess.py
Due: checkPot

Update ART design document for per-addon encryption
  projectDocs/design/art-design.md
Due: none

ART Doc cleanup
  projectDocs/design/art-design.md
Due: none

secureProcess.token.restrictedToken: disable some more dangerous SIDs, including domain ones.
  source/secureProcess/token.py
Due: checkPot

diffHandler: revert back to master. diffMatchPatch is now run within NVDA so no need for handling separate processes.
  source/diffHandler.py
Due: checkPot

update test_secureProcess.py to support reworked SecureProcess keyword arguments. Including support for ui restrictions.
  source/test_secureProcess.py
Due: checkPot

ART sandboxing is now low integrity. Previous issues running were that sambox temp dir needed to also be low integrity. We cna do this by using a directory within appData\localLow.
  source/processManager.py
Due: checkPot

ART manager: remove old import
  source/art/manager.py
Due: checkPot

Revert "setup.py: no longer build nvda_art as part of NVDA itself. The runtime should be always used fully externally."
  source/setup.py
Due: checkPot

Implement per-addon encryption using serializer_id mechanism
  source/art/manager.py
  source/nvda_art.pyw
Due: checkPot

Update art-sandbox design document to talk about secureProcess.
  projectDocs/design/art-sandbox.md
Due: none

ART docs cleanup
  projectDocs/design/art-design.md
Due: none

setup.py: no longer build nvda_art as part of NVDA itself. The runtime should be always used fully externally.
  source/setup.py
Due: checkPot

Update ART design document to reflect switch to secureProcess.
  projectDocs/design/art-design.md
Due: none

processManager: store NVDA sandbox temp dirs just in localLow, not localLow/temp as temp does not always exist.
  source/processManager.py
Due: checkPot

Add an isolated uv / py2exe sub-project (art-runtime-builder-x86) which can build an x86 version of the ART runtime, placing it in dist\art-runtime-x86.
  art-runtime-builder-x86/.python-version
  art-runtime-builder-x86/buildVersionLoader.py
  art-runtime-builder-x86/pyproject.toml
  art-runtime-builder-x86/setup-art-runtime.py
  art-runtime-builder-x86/uv.lock
Due: none

Docs cleanup
  projectDocs/design/art-design.md
Due: none

Remove very noisy debug logging from ART crypto serialiser. Not necessary anymore and make it almost imposible to debug other features.
  source/art/crypto/serializers.py
Due: checkPot

art-runtime-builder-x86: place art-runtime into NVDA's arch-specific lib directory in source rather than in dist.
  art-runtime-builder-x86/setup-art-runtime.py
Due: none

secureProcess: implement maximum UI restrictions via the job object.
  source/secureProcess/__init__.py
  source/secureProcess/job.py
  source/winBindings/jobapi2.py
Due: checkPot

removed ctypes import from function
  tests/unit/test_magnifier/test_focusManager.py
Due: none

Update characterDescriptions.dic for zh_TW
  source/locale/zh_TW/characterDescriptions.dic
Due: none

Update symbols.dic for zh_TW
  source/locale/zh_TW/symbols.dic
Due: none

hotfix follow modes bug
  source/_magnifier/commands.py
  source/_magnifier/config.py
  source/_magnifier/utils/focusManager.py
  tests/unit/test_magnifier/test_focusManager.py
Due: checkPot

Fix regression in addon store
  source/addonStore/models/scanResults.py
Due: checkPot

Improve method
  source/addonStore/models/scanResults.py
Due: checkPot

Add comments
  source/addonStore/models/scanResults.py
Due: checkPot

Fix NVDA not being to cancel Access Bridge call (#14396)
  nvdaHelper/local/nvdaHelperLocal.cpp
  user_docs/en/changes.md
Due: scons-source

line end
  .github/instructions/python.instructions.md
  .github/instructions/review.instructions.md
Due: none

fix ineq
  source/logHandler.py
Due: checkPot

Apply suggestion from @Copilot
  nvdaHelper/local/nvdaHelperLocal.cpp
Due: scons-source

Apply suggestion from Copilot explaining why the non-template version of the function needs to be kept
  nvdaHelper/local/nvdaHelperLocal.cpp
Due: scons-source

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
