Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

fix: ART synthesizer registration via clean singleton pattern
  source/art/runtime/__init__.py
  source/art/runtime/base/synthDrivers.py
  source/nvda_art.pyw
Due: checkPot

refactor: Use ExtensionPointType enum for type safety and improved code clarity
  source/nvda_art.pyw
Due: none

refactor: unify CLI and handshake startup logic
  source/nvda_art.pyw
Due: none

Code cleanup/formatting
  source/art/manager.py
  source/art/runtime/logging.py
  source/art/runtime/proxies/addonHandler.py
  source/art/runtime/proxies/base.py
  source/art/runtime/proxies/config.py
  source/art/runtime/proxies/extensionPoints.py
  source/art/runtime/proxies/synthDriverHandler.py
  source/art/runtime/proxies/ui.py
  source/art/services/extensionPoints.py
  source/nvda_art.pyw
Due: checkPot

Add external runtime support for NVDA addons via ART system
  .gitignore
  source/addonHandler/__init__.py
  source/art/core/services/speech.py
  source/art/manager.py
  source/art/runtime/base/synthDrivers.py
  source/art/runtime/services/addons.py
  source/core.py
  source/extensionPoints/__init__.py
  source/nvda_art.pyw
  source/processManager.py
  source/synthDriverHandler.py
Due: checkPot

refactor: centralize Pyro5 configuration before imports
  source/nvda_art.pyw
Due: none

refactor: improve error handling and logging in ART process
  source/art/manager.py
  source/art/runtime/proxies/nvwave.py
  source/art/runtime/services/synth.py
  source/nvda_art.pyw
Due: checkPot

refactor: Optimize ART runtime logging and communication settings
  source/nvda_art.pyw
  source/synthDrivers/_artProxy.py
Due: checkPot

refactor: Remove WavePlayer tracking and audio queue management code
  source/art/runtime/base/synthDrivers.py
  source/art/runtime/proxies/nvwave.py
  source/art/runtime/services/synth.py
  source/nvda_art.pyw
  source/synthDrivers/_artProxy.py
Due: checkPot

feat: add performance logging and heartbeat for audio and speech services
  source/art/runtime/base/synthDrivers.py
  source/art/runtime/proxies/nvwave.py
  source/nvda_art.pyw
Due: checkPot

feat: Add stripLocaleFromLangCode function
  source/art/core/services/languageHandler.py
  source/art/runtime/proxies/languageHandler.py
Due: checkPot

feat: add voice tracking and initialization to synthesizer drivers
  source/art/runtime/base/synthDrivers.py
  source/art/runtime/services/synth.py
  source/synthDrivers/_artProxy.py
Due: checkPot

feat: add logging and improve error handling in speech services
  source/art/core/services/speech.py
  source/art/runtime/base/synthDrivers.py
  source/art/runtime/proxies/addonHandler.py
  source/art/runtime/proxies/languageHandler.py
  source/art/runtime/proxies/synthDriverHandler.py
  source/art/runtime/services/addons.py
  source/art/runtime/services/synth.py
  source/art/synthProxyGenerator.py
  source/nvda_art.pyw
  source/synthDrivers/_artProxy.py
Due: checkPot

feat: add audio queue management for WavePlayer in ART runtime
  source/art/runtime/base/synthDrivers.py
  source/art/runtime/proxies/nvwave.py
  source/art/runtime/services/synth.py
Due: checkPot

refactor: Update speech service audio handling with base64 encoding and improved logging
  source/art/core/services/speech.py
  source/art/runtime/base/synthDrivers.py
  source/art/runtime/proxies/nvwave.py
Due: checkPot

feat: add thread-safe audio handling and completion waiting for ART synthesizers
  source/art/core/services/speech.py
  source/art/runtime/base/synthDrivers.py
  source/art/runtime/proxies/nvwave.py
Due: checkPot

Restore master's diff handler
  source/diffHandler.py
Due: checkPot

build: Build nvda_art as a console application
  source/setup.py
Due: checkPot

Better crashlogging
  source/nvda_art.pyw
Due: none

Synth settings that change!
  source/art/runtime/services/synth.py
Due: checkPot

Mostly settings ring sort of
  source/art/runtime/base/synthDrivers.py
  source/art/runtime/services/synth.py
  source/art/synthProxyGenerator.py
  source/synthDrivers/_artProxy.py
Due: checkPot

Callback mechanism for audio completion
  source/art/core/services/speech.py
  source/art/runtime/proxies/nvwave.py
Due: checkPot

Log locally in ART not to find broken log proxy
  source/art/runtime/proxies/logHandler.py
Due: checkPot

Fixed ART remote logging
  source/art/runtime/proxies/base.py
Due: checkPot

Fix build
  source/setup.py
Due: checkPot

Improved logging/code cleanup
  source/addonHandler/__init__.py
  source/art/core/services/base.py
  source/art/core/services/speech.py
  source/art/runtime/base/synthDrivers.py
  source/art/runtime/proxies/base.py
  source/synthDriverHandler.py
Due: checkPot

Potential logging fix
  source/art/runtime/proxies/logHandler.py
Due: checkPot

Fix py2exe compatibility issues in ART
  source/art/runtime/proxies/globalVars.py
  source/nvda_art.pyw
Due: checkPot

Fix py2exe compatibility and hide ART console window
  source/art/manager.py
Due: checkPot

Improve docstring for _tryConnect
  source/brailleDisplayDrivers/dotPad/driver.py
Due: checkPot

WasapiPlayer: Call IAudioClient::Reset in completeStop() rather than in stop(). (#18434)
  nvdaHelper/local/wasapi.cpp
  user_docs/en/changes.md
Due: scons-source

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Excel: for selection covering more than one cell, announce the active cell when pressing Enter or Tab rather than the whole selection range (#17733)
  source/NVDAObjects/window/excel.py
  user_docs/en/changes.md
Due: checkPot

Add basic SD-ART (Secure Desktop ART) awareness
  source/art/manager.py
  source/nvda_art.pyw
Due: checkPot

Remove NLS eReader Zoomax driver bug fix from 2025.2 changelog (#18441)
  user_docs/en/changes.md
Due: none

Add GitHub actions step for po file checking
  .github/workflows/testAndPublish.yml
  .pre-commit-config.yaml
Due: none

Create draft for fetching translations froms Crowdin
  .github/workflows/add-new-language.yml
  .github/workflows/fetch-crowdin-translations.yml
  ci/crowdin.yml
Due: none

Update ci/scripts/poChecker.py
  ci/scripts/poChecker.py
Due: none
