Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$

Sphinx-style docs for server
  source/remoteClient/server.py
Due: checkPot

Apply feedback from server review
  source/remoteClient/server.py
Due: checkPot

refactor: Improve type hints and client ID generation
  source/remoteClient/server.py
Due: checkPot

Add explanatory comment
  source/remoteClient/server.py
Due: checkPot

refactor: modernize type hints in remoteClient server
  source/remoteClient/server.py
Due: checkPot

Update appveyor.yml
  appveyor.yml
Due: none

Update deployScript.ps1
  appveyor/scripts/deployScript.ps1
Due: none

break webhook setup into own script
  appveyor.yml
  appveyor/scripts/deployScript.ps1
  appveyor/scripts/webhookSetup.ps1
Due: none

follow correct appveyor.yml syntax
  appveyor.yml
Due: none

always deploy
  appveyor.yml
Due: none

exclude pr builds
  appveyor.yml
Due: none

Update webhook (#17668)
  appveyor.yml
  appveyor/scripts/deployScript.ps1
  appveyor/scripts/webhookSetup.ps1
Due: none

Add a payload argument to message dialog callbacks (#17660)
  projectDocs/dev/developerGuide/developerGuide.md
  source/gui/message.py
  source/synthDrivers/sapi4.py
Due: checkPot

Delete outdated translated copies of developer guide (#17641)
  user_docs/de/developerGuide.md
  user_docs/pt_BR/developerGuide.md
Due: none

Fix copyright headers
  nvdaHelper/espeak/sconscript
  nvdaHelper/espeak/sonic.def
  source/synthDrivers/_sonic.py
Due: checkPot

appveyor.yml: don't limit deploy with rules. Syntax was wrong and it is not needed.
  appveyor.yml
Due: none

appveyor.yml: don't limit deploy with rules. Syntax was wrong and it is not needed. (#17672)
  appveyor.yml
Due: none

Add message if sending clipboard fails
  source/remoteClient/client.py
Due: checkPot

Proper method to get temp path
  source/remoteClient/secureDesktop.py
Due: checkPot

docs: improve secure desktop module documentation
  source/remoteClient/secureDesktop.py
Due: checkPot

Forgotten commit
  source/editableText.py
Due: checkPot

Restore change
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  projectDocs/dev/deprecations.md
  source/extensionPoints/util.py
  tests/unit/__init__.py
Due: checkPot

Fix EcoBraille and Lilly braille display drivers (#17635)
  source/braille.py
Due: checkPot

Fix up config upgrade steps from schema version 14 to 15 (#17642)
  source/config/profileUpgradeSteps.py
Due: checkPot

Fix SAPI 4 driver (#17599)
  source/autoSettingsUtils/driverSetting.py
  source/gui/settingsDialogs.py
  source/synthDrivers/_sapi4.py
  source/synthDrivers/sapi4.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Review actions
  source/braille.py
  source/brailleViewer/__init__.py
  source/extensionPoints/util.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/unit/__init__.py
Due: checkPot

Integrate new AppVeyor webhook (#17663)
  appveyor.yml
  appveyor/scripts/deployScript.ps1
Due: none

No longer sentence nav in VS Code (#17652)
  source/NVDAObjects/window/winword.py
  source/appModules/code.py
  source/editableText.py
  user_docs/en/changes.md
Due: checkPot

Allow leaving display on during say all
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/inputCore.py
  source/speech/sayAll.py
  source/systemUtils.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Clear (initialize) the smp value before reading samples
  nvdaHelper/local/silenceDetect.h
Due: scons-source

Add comments for min/max value trimming
  nvdaHelper/local/silenceDetect.h
Due: scons-source

Add Changes for Developers entry
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  nvdaHelper/local/silenceDetect.h
Due: scons-source

Apply suggestions
  nvdaHelper/local/silenceDetect.h
Due: scons-source

Revert "Add generateSilence in SilenceDetect"
  nvdaHelper/local/silenceDetect.h
Due: scons-source
