Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Stop blocking the background scan while the BLE scanner warms up
  source/bdDetect.py
  tests/unit/test_bdDetect.py
Due: checkPot

Run ruff format on Writer soffice module
  source/appModules/soffice.py
Due: checkPot

Add unit tests for remote ops arrays.
  tests/unit/test_UIARemoteOps/test_highLevel/test_array.py
Due: none

remote ops: RemoteTextRange and LogicalTextRangeAdapter: add 'move' method.
  source/UIAHandler/_remoteOps/remoteTypes/textRange.py
Due: checkPot

Remote ops: add support for RemoteTextPattern, fetched via RemoteElement.getTextPattern. So far the only method implemented is rangeFromChild.
  source/UIAHandler/_remoteOps/instructions/__init__.py
  source/UIAHandler/_remoteOps/instructions/element.py
  source/UIAHandler/_remoteOps/instructions/textPattern.py
  source/UIAHandler/_remoteOps/lowLevel.py
  source/UIAHandler/_remoteOps/remoteTypes/__init__.py
  source/UIAHandler/_remoteOps/remoteTypes/element.py
  source/UIAHandler/_remoteOps/remoteTypes/textPattern.py
  source/UIAHandler/_remoteOps/remoteTypes/textRange.py
Due: checkPot

Report a BLE scan that could not be started
  source/bdDetect.py
  source/brailleDisplayDrivers/dotPad/driver.py
  source/hwIo/ble/__init__.py
  source/hwIo/ble/_scanner.py
  tests/unit/test_hwIo_ble.py
Due: checkPot

fix module cache cleanup in Addon._cleanupAddonImports (#20715)
  source/addonHandler/__init__.py
  tests/unit/test_addonHandler/test_addonImports.py
  user_docs/en/changes.md
Due: checkPot

Smoke test all locales
  .github/workflows/testAndPublish.yml
  tests/system/libraries/NvdaLib.py
  tests/system/robot/l10nTests.py
  tests/system/robot/l10nTests.robot
Due: none

fix None usage
  tests/system/libraries/NvdaLib.py
Due: none

fix ai slop creation of spylib
  tests/system/robot/l10nTests.py
Due: none

Bump setuptools
  pyproject.toml
  runtime-builders/synthDriverHost32/pyproject.toml
Due: licenseCheck

change log
  user_docs/en/changes.md
Due: none

Potential fix for pull request finding 'Unused global variable'
  tests/system/robot/l10nTests.py
Due: none

uv lock file
  uv.lock
Due: none

move iteration out for better library usage
  tests/system/robot/l10nTests.py
  tests/system/robot/l10nTests.robot
Due: none

improve failure logging and nvdapo detection
  tests/system/robot/l10nTests.py
  tests/system/robot/l10nTests.robot
Due: none

Update docs for 2026.3
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

fix syntax issues
  tests/system/robot/l10nTests.py
  tests/system/robot/l10nTests.robot
Due: none

bad translation for hu
  source/locale/hu/LC_MESSAGES/nvda.po
Due: none

Revert "bad translation for hu"
  source/locale/hu/LC_MESSAGES/nvda.po
Due: none

Trim the Dot Pad documentation
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Update speech interrupt in userGuide.md
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Apply review suggestions on imports and enum order
  source/bdDetect.py
  source/brailleDisplayDrivers/dotPad/driver.py
Due: checkPot

Pass the injected flag to the decide_handleRawKey extension point
  source/inputCore.py
  source/keyboardHandler.py
  user_docs/en/changes.md
Due: checkPot

Apply review suggestions on bdDetect and the BLE helpers
  source/bdDetect.py
  source/gui/settingsDialogs.py
  source/hwIo/ble/__init__.py
Due: checkPot

Drop the "no devices found" message from the port list
  source/gui/settingsDialogs.py
Due: checkPot

Cover the port list gaining BLE devices while it is empty
  tests/unit/test_braille/test_brailleDisplayDrivers.py
Due: none

Resolve the BLE drivers once instead of per discovered device
  source/bdDetect.py
  tests/unit/test_bdDetect.py
Due: checkPot

Report DotPad as unavailable when the machine has no Bluetooth
  source/_asyncioEventLoop/__init__.py
  source/_asyncioEventLoop/_state.py
  source/_asyncioEventLoop/utils.py
  source/brailleDisplayDrivers/dotPad/driver.py
  source/hwIo/ble/__init__.py
  tests/unit/brailleDisplayDrivers/test_dotPad.py
  tests/unit/test_hwIo_ble.py
Due: checkPot

Drop two guards against a scanner that is always there
  source/bdDetect.py
Due: checkPot

Define isRunning beside the other event loop helpers
  source/_asyncioEventLoop/__init__.py
  source/_asyncioEventLoop/utils.py
Due: checkPot

Remote ops: correctly support RemoteBaseObject.isArray.
  source/UIAHandler/_remoteOps/remoteTypes/__init__.py
Due: checkPot

Remote ops: add a lookupGuidFromAutomationIdentifier method on RemoteAPI, which given a custm property or annotation ID, looks up its GUID.
  source/UIAHandler/_remoteOps/instructions/__init__.py
  source/UIAHandler/_remoteOps/instructions/guid.py
  source/UIAHandler/_remoteOps/remoteAPI.py
Due: checkPot

Remote ops lowlevel python extension: add support for marshalling GUIDs.
  nvdaHelper/UIARemote/lowLevel.cpp
Due: scons-source

uiaRemote is a python extension and therefore must only be compiled for NVDA's core archetecture E.g. cannot be ARM64EC.
  nvdaHelper/archBuild_sconscript
Due: none

Correct Pybind11 submodule
  .gitmodules
Due: none

uiaRemote: remove debugging.
  nvdaHelper/UIARemote/lowLevel.cpp
Due: scons-source

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
