Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Lint NVDAHelper readme
  nvdaHelper/readme.md
Due: none

Lint include readme
  include/readme.md
Due: none

Lint eSpeak readme
  .markdownlint.jsonc
Due: none

Lint controller client readme
  extras/controllerClient/readme.md
Due: none

Lint code of conduct
  CODE_OF_CONDUCT.md
Due: none

Lint contributing
  .github/CONTRIBUTING.md
Due: none

Use explicit import of cast and LPCWSTR
  source/touchHandler.py
Due: checkPot

Minor code cleanups
  source/nvda_art.pyw
Due: none

Markdown lint CLI
  .markdownlint-cli2.jsonc
Due: none

Add comments
  .markdownlint-cli2.jsonc
  .markdownlint.jsonc
  include/espeak.md
Due: none

audioDucking: no longer explisitly check for AccSetRunningUtilityState - NVDA only runs on Windows verisons where it exists.
  source/audioDucking.py
Due: checkPot

Add to pre-commit
  .pre-commit-config.yaml
Due: none

Add / use winBindings for all required functions in oleacc.
  source/NVDAObjects/window/edit.py
  source/audioDucking.py
  source/oleacc.py
  source/touchHandler.py
  source/winBindings/oleacc.py
Due: checkPot

Add / use winBindings for SendSAS
  source/_remoteClient/localMachine.py
  source/winBindings/sas.py
Due: checkPot

Add / use winBindings definitions for RegOpenKeyEx and RegQueryValueEx
  source/NVDAHelper/__init__.py
  source/winBindings/advapi32.py
Due: checkPot

Fix touch handler (#18814)
  source/touchHandler.py
Due: checkPot

Add / use winBindings definitions for required functions from ole32.dll.
  source/UIAHandler/__init__.py
  source/objbase.py
  source/synthDrivers/sapi4.py
  source/synthDrivers/sapi5.py
  source/watchdog.py
  source/winBindings/ole32.py
Due: checkPot

Use frame globals' __name__ rather than inspect.getmodule
  source/utils/_deprecate.py
Due: checkPot

Add / use winBindings definitions for required functions from oleaut32.dll
  source/NVDAHelper/__init__.py
  source/winBindings/oleaut32.py
Due: checkPot

Convert changelog from markdown to HTML
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Improve valid check for showing changelog
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Improve logging
  source/bdDetect.py
  source/braille.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
Due: checkPot

Apply suggestions from code review
  source/bdDetect.py
  source/braille.py
Due: checkPot

Show version name in the browseable message for the changelog
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Apply suggestions from code review
  CODE_OF_CONDUCT.md
  projectDocs/dev/codingStandards.md
  projectDocs/dev/contributing.md
  projectDocs/dev/developerGuide/developerGuide.md
  projectDocs/issues/triage.md
  tests/manual/nvdaUI/startupShutdown.md
  tests/system/readme.md
  user_docs/en/changes.md
Due: none

Lint copying file
  .markdownlint-cli2.jsonc
  copying.txt
Due: none

Use config driver
  source/braille.py
Due: checkPot

Add copy and close buttons to dialog, and three dots in menuitem to indicate that this will open a dialog
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Remove add-on changelog info from details
  source/gui/addonStoreGui/controls/details.py
Due: checkPot

migrate onnxruntime to 1.22.1 to adapt 64 bit version; correct copyright header in _localCaptioner
  .python-versions
  pyproject.toml
  source/_localCaptioner/__init__.py
  source/_localCaptioner/captioner.py
  source/_localCaptioner/imageDescriber.py
  source/_localCaptioner/modelConfig.py
  source/_localCaptioner/modelDownloader.py
  source/gui/_localCaptioner/messageDialogs.py
  source/gui/settingsDialogs.py
  tests/system/libraries/SystemTestSpy/mockModels.py
  tests/system/robot/automatedImageDescriptions.py
  tests/system/robot/automatedImageDescriptions.robot
  tests/unit/test_localCaptioner/test_captioner.py
  tests/unit/test_localCaptioner/test_downloader.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

Use _addonStoreModel to show changelog
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

No point in pausing bd detect when there is no logon screen registration
  source/bdDetect.py
  source/braille.py
Due: checkPot

Show changelog from Update add-ons dialog
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

last changes before ready for review
  source/braille.py
  user_docs/en/changes.md
Due: checkPot

Changelog
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  nvdaHelper/javaAccessBridge/sconscript
  source/JABHandler.py
  user_docs/en/changes.md
Due: checkPot

Respect NVDAState for access bridge
  source/JABHandler.py
  source/NVDAState.py
Due: checkPot

Add / use winBindings definitions for required functions in shcore.dll
  source/winAPI/dpiAwareness.py
  source/winBindings/shcore.py
Due: checkPot

Add / use winBindings definitions for all required functions from rpcrt4.dll
  source/NVDAHelper/__init__.py
  source/appModuleHandler.py
  source/winBindings/rpcrt4.py
Due: checkPot

Fix architecture of libs
  nvdaHelper/localWin10/sconscript
Due: none
