Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

.pre-commit-config.yaml:

exclude: ^user_docs/(?!en/).*$

# https://pre-commit.ci/
# Configuration for Continuous Integration service
ci:
  # Can't run Windows scripts on Linux
  # These also do not apply fixes, only run tests
  skip: [scons-source, checkPot, unitTest, licenseCheck]
  autoupdate_schedule: monthly
  autoupdate_commit_msg: "Pre-commit auto-update"
  autofix_commit_msg: "Pre-commit auto-fix"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    # Prevents commits to certain branches
    - id: no-commit-to-branch
      args: ["--branch", "master", "--branch", "beta", "--branch", "rc"]
    # Checks python syntax
    - id: check-ast
      # File uses encoding not supported in Linux
      exclude: source/comInterfaces/_944DE083_8FB8_45CF_BCB7_C477ACB2F897_0_1_0.py
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: debug-statements
    - id: trailing-whitespace
      types_or: [python, c, c++, batch, markdown]
    - id: end-of-file-fixer
      types_or: [python, c, c++, batch, markdown]
    - id: fix-byte-order-marker
      types_or: [python, c, c++, batch, markdown]
    - id: check-toml
    - id: check-yaml
    - id: check-xml
    - id: check-vcs-permalinks
    - id: name-tests-test
      args: ["--unittest"]
      # Exclude Python files under `tests/` that aren't unittest files.
      # This is a Python verbose regular expression.
      # See https://docs.python.org/3/library/re.html#re.VERBOSE
      exclude: |
        (?x)^tests/(
          checkPot.py |  # Doesn't use unittest
          system |  # Uses robot
          unit/ (
            # Test helpers
            textProvider.py |
            extensionPointTestHelpers.py |
            objectProvider.py |
            test_speechManager/speechManagerTestHarness.py
          )
        )

- repo: https://github.com/asottile/add-trailing-comma
  rev: v3.1.0
  hooks:
  # Ruff preserves indent/new-line formatting of function arguments, list items, and similar iterables,
  # if a trailing comma is added.
  # This adds a trailing comma to args/iterable items in case it was missed.
  - id: add-trailing-comma

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Matches Ruff version in requirements.
  rev: v0.5.6
  hooks:
    - id: ruff
      name: lint with ruff
      args: [ --fix ]
    - id: ruff-format
      name: format with ruff

- repo: local
  hooks:
    - id: scons-source
      name: build c/c++ files
      entry: cmd.exe /c "scons source --all-cores"
      language: system
      pass_filenames: false
      types_or: [c, c++]
    - id: checkPot
      name: translation string check
      entry: cmd.exe /c "scons checkPot --all-cores"
      language: system
      pass_filenames: false
      types: [python]
      files: ^source/.*$
    - id: unitTest
      name: unit tests
      entry: ./rununittests.bat
      language: script
      pass_filenames: false
      types_or: [python, c, c++, batch]
    - id: licenseCheck
      name: Check license compatibility of pip dependencies
      files: ^(requirements\.txt|runlicensecheck\.bat)$
      entry: ./runlicensecheck.bat
      language: script
      pass_filenames: false

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update getAllAddons for refactor
  source/addonStore/dataManager.py
Due: checkPot

Update changes
  user_docs/en/changes.md
Due: none

Made URL getters more robust
  source/addonStore/network.py
Due: checkPot

Elegant completion of the cancel install add-on
  source/addonStore/models/addon.py
  source/addonStore/network.py
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Handle exceptions and add logs
  source/addonStore/network.py
Due: checkPot

Add publication date to add-ons
  source/addonStore/models/addon.py
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

doc
  user_docs/en/changes.md
Due: none

update user_docs/markdownTranslate.py
  user_docs/markdownTranslate.py
Due: none

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

Update .github/workflows/regenerate_english_userDocs_translation_source.yml
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

linting
  sconstruct
Due: none

Add publication date to details and list items, and check that add-ons can be sorted
  source/addonStore/models/addon.py
  source/gui/addonStoreGui/controls/details.py
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Add configuration for add-on list order
  source/config/configFlags.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
Due: checkPot

Add ability to sort add-ons
  source/gui/addonStoreGui/viewModels/addonList.py
Due: checkPot

Update user guide
  source/gui/addonStoreGui/viewModels/addonList.py
  user_docs/en/userGuide.md
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

Document manual testing
  tests/manual/addonStore.md
Due: none

Fix grammar, according to coderabbit suggestion
  tests/manual/addonStore.md
Due: none

Update user guide
  user_docs/en/userGuide.md
Due: none

Use static ids in Poedit 3.5+ (#16889)
  source/appModules/poedit.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

L10n updates for: gl From translation svn revision: 83274
  user_docs/gl/changes.md
  user_docs/gl/userGuide.md
Due: none

L10n updates for: pt_PT From translation svn revision: 83274
  user_docs/pt_PT/userGuide.md
Due: none

Word 365: do not announce font attribute toggle messages if raised from UIA notification event (#10990)
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot

Add locks/threading
  source/addonStore/models/addon.py
  source/addonStore/network.py
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Listed acceptable licenses that are vaidated by the build chain
  copying.txt
Due: none

If the Future is canceled early, the log will not report an error.
  source/addonStore/network.py
Due: checkPot

Fix incorrectly displaying the downloading dialogue box when exiting the Add-on store.
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

add ability to translate the user guide on Crowdin (#17050)
  .github/workflows/regenerate_english_userDocs_translation_source.yml
  sconstruct
  tests/markdownTranslate/en_2024.2_userGuide.md
  tests/markdownTranslate/en_2024.3beta6_userGuide.md
  tests/markdownTranslate/fr_pretranslated_2024.2_userGuide.md
  tests/markdownTranslate/fr_pretranslated_2024.3beta6_userGuide.md
  tests/unit/test_markdownTranslate.py
  user_docs/en/userGuide.xliff
  user_docs/markdownTranslate.py
Due: none

Apply suggestions from code review
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
  source/braille.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
Due: scons-source, checkPot

user docs github action run on xliff branch
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Moved copyright headers from wiki
  projectDocs/dev/contributing.md
  projectDocs/dev/copyrightHeaders.md
Due: none

Applying suggestions from code reviews
  source/addonStore/models/addon.py
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

English user guide: add temporary string to cause xliff regeneration.
  user_docs/en/userGuide.md
Due: none
