Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Updated slovak symbols for 2025.2
  source/locale/sk/symbols.dic
Due: none

Update characterDescriptions.dic for zh_TW (#18618)
  source/locale/zh_TW/characterDescriptions.dic
Due: none

winVersion.getWinVer: set update revision to 0 if UBR cannot be accessed via Windows Registry.
  source/winVersion.py
Due: checkPot

Added nvda-mathcat submodule (#18610)
  .gitmodules
Due: none

Updated slovak symbols for 2025.2 (#18620)
  source/locale/sk/symbols.dic
Due: none

fix up from review comments
  source/NVDAState.py
  source/_remoteClient/localMachine.py
  source/config/registry.py
  source/easeOfAccess.py
  source/systemUtils.py
Due: checkPot

fix up nt current version
  source/config/registry.py
Due: checkPot

Encapsulate registry keys more consistently (#18608)
  sconstruct
  site_scons/site_tools/doxygen.py
  source/NVDAState.py
  source/_remoteClient/localMachine.py
  source/_remoteClient/urlHandler.py
  source/config/__init__.py
  source/config/registry.py
  source/easeOfAccess.py
  source/installer.py
  source/mathType.py
  source/systemUtils.py
  source/winVersion.py
  user_docs/en/changes.md
Due: checkPot

Apply suggestions from code review
  source/_localCaptioner/__init__.py
  source/config/configSpec.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  tests/system/robot/runLocalCaptioner.robot
  user_docs/en/userGuide.md
Due: checkPot

Disable beta appveyor builds
  appveyor.yml
Due: none

Disable beta appveyor builds (#18623)
  appveyor.yml
Due: none

Set up GUI persistence
  source/NVDAState.py
  source/gui/__init__.py
Due: checkPot

Update GitHub action workflow to fetch cppjieba's submodule
  .github/workflows/testAndPublish.yml
Due: none

Use persistenceManager to save mode
  source/_remoteClient/dialogs.py
Due: checkPot

Remember server type
  source/_remoteClient/dialogs.py
  user_docs/en/changes.md
Due: checkPot

update copyright headers and linting
  nvdaHelper/archBuild_sconscript
  nvdaHelper/liblouis/sconscript
  nvdaHelper/local/oleUtils.cpp
  nvdaHelper/local/wasapi.cpp
  projectDocs/dev/buildingNVDA.md
  source/NVDAHelper/localLib.py
  source/NVDAObjects/window/edit.py
  source/NVDAObjects/window/excel.py
  source/UIAHandler/_remoteOps/lowLevel.py
  source/synthDrivers/oneCore.py
Due: scons-source, checkPot

update copyright headers and other fixes
  source/COMRegistrationFixes/__init__.py
  source/JABHandler.py
  source/appModuleHandler.py
  source/displayModel.py
  source/fileUtils.py
  source/hwPortUtils.py
  source/logHandler.py
  source/nvda.pyw
  source/nvwave.py
  source/virtualBuffers/__init__.py
  source/winBindings/__init__.py
  source/winBindings/advapi32.py
  source/winBindings/kernel32.py
  source/winBindings/mmeapi.py
  source/winBindings/ole32.py
  source/winBindings/oleacc.py
  source/winBindings/user32.py
Due: checkPot

Minor fixes to ctypes
  source/NVDAObjects/window/excel.py
  source/UIAHandler/__init__.py
  source/fileUtils.py
  source/installer.py
  source/textUtils/uniscribe.py
  source/virtualBuffers/__init__.py
Due: checkPot

add isalive check
  source/appModuleHandler.py
Due: checkPot

add windows bindings module
  source/winBindings/__init__.py
  source/winBindings/advapi32.py
  source/winBindings/kernel32.py
  source/winBindings/mmeapi.py
  source/winBindings/ole32.py
  source/winBindings/oleacc.py
  source/winBindings/user32.py
Due: checkPot

Add JavaAccessBridge 64bit dependency
  projectDocs/dev/createDevEnvironment.md
Due: none

Apply suggestions from code review
  source/winBindings/advapi32.py
  source/winBindings/kernel32.py
Due: checkPot

Update projectDocs/dev/createDevEnvironment.md
  projectDocs/dev/createDevEnvironment.md
Due: none

Matrixify CI/CD build
  .github/workflows/testAndPublish.yml
Due: none

fix up espeak sconscript
  nvdaHelper/espeak/sconscript
Due: none

Use a more modular approach
  source/_remoteClient/dialogs.py
Due: checkPot

Tidy up
  source/_remoteClient/dialogs.py
Due: checkPot

move PAINTSTRUCT location
  source/winUser.py
Due: checkPot

Remember port
  source/_remoteClient/dialogs.py
  user_docs/en/changes.md
Due: checkPot

Changes for devs
  user_docs/en/changes.md
Due: none

Make notepad system test more reliable
  tests/system/libraries/NotepadLib.py
Due: none

Increase timeout for crash dump to match normal restart
  tests/system/robot/startupShutdownNVDA.py
Due: none

Add script to send SAS
  source/globalCommands.py
  user_docs/en/changes.md
Due: checkPot

improve default job logic
  .github/workflows/testAndPublish.yml
Due: none

Implement aliases
  source/config/__init__.py
  source/config/configSpec.py
Due: checkPot

Update source/installer.py
  source/installer.py
Due: checkPot

Update source/winBindings/user32.py
  source/winBindings/user32.py
Due: checkPot

change category of local captioner And some text description of it
  source/_localCaptioner/__init__.py
  source/_localCaptioner/captioner.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  tests/system/libraries/SystemTestSpy/configManager.py
  tests/system/nvdaSettingsFiles/standard-doLoadMockModel.ini
  tests/system/robot/automatedImageDescriptions.py
  tests/system/robot/automatedImageDescriptions.robot
  tests/unit/test_localCaptioner/test_captioner.py
Due: checkPot

Add JavaAccessBridge 64bit DLL as a dependency #18627
  projectDocs/dev/createDevEnvironment.md
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
