Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

expand
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Shaddow imports from winBindings.advapi32
  source/hwPortUtils.py
Due: checkPot

Shaddow imports from winBindings.bthprops
  source/hwPortUtils.py
Due: checkPot

Shaddow imports from winBindings.hid
  source/hwPortUtils.py
Due: checkPot

Update .github/workflows/issueDuplication.yml
  .github/workflows/issueDuplication.yml
Due: none

Shaddow imports from winBindings.setupapi
  source/hwPortUtils.py
Due: checkPot

Sort moved symbols
  source/hwPortUtils.py
Due: checkPot

WIP deprecation handler
  source/utils/_deprecate.py
Due: checkPot

move image captioner default download dialog logic to submodule in gui
  source/_localCaptioner/imageDescriber.py
  source/_localCaptioner/modelDownloader.py
  source/gui/_localCaptioner/__init__.py
  source/gui/_localCaptioner/messageDialogs.py
Due: checkPot

add wrapper for word manager
  nvdaHelper/cppjieba/cppjieba.cpp
  nvdaHelper/cppjieba/cppjieba.def
  nvdaHelper/cppjieba/cppjieba.hpp
  nvdaHelper/cppjieba/sconscript
Due: scons-source

update the word segmentation structure
  source/NVDAObjects/window/edit.py
  source/displayModel.py
  source/textInfos/offsets.py
  source/textUtils/__init__.py
  source/textUtils/segFlag.py
Due: checkPot

Update changes
  user_docs/en/changes.md
Due: none

Detect and report the status bar in Visual Studio Code
  source/appModules/code.py
  user_docs/en/changes.md
Due: checkPot

add copyright header
  source/textUtils/segFlag.py
Due: checkPot

add type annotations
  source/textUtils/__init__.py
  source/textUtils/segFlag.py
Due: checkPot

update log
  source/textUtils/__init__.py
  source/textUtils/wordSegment.py
Due: checkPot

add trailing commas in multi-line constructs
  source/textInfos/offsets.py
  source/textUtils/__init__.py
Due: checkPot

make wordSegment module to make file structure clearer
  source/textUtils/__init__.py
  source/textUtils/wordSeg/__init__.py
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

Move feeding in EndStream into dedicated thread
  source/synthDrivers/sapi5.py
Due: checkPot

Do not wait in cancellation
  source/synthDrivers/sapi5.py
Due: checkPot

Fix duration calculation
  source/synthDrivers/sapi5.py
Due: checkPot

Stops the thread when WASAPI is off
  source/synthDrivers/sapi5.py
Due: checkPot

Clear bookmark list on stream end
  source/synthDrivers/sapi5.py
Due: checkPot

Fix class __getattr__
  source/synthDrivers/sapi5.py
Due: checkPot

Move _initTts
  source/synthDrivers/sapi5.py
Due: checkPot

Add changelog entry
  user_docs/en/changes.md
Due: none

Move changelog entry
  user_docs/en/changes.md
Due: none

Fix _bookmarkLists
  source/synthDrivers/sapi5.py
Due: checkPot

Fix off by one text length in EditTextInfo
  source/NVDAObjects/window/edit.py
Due: checkPot

Changelog
  user_docs/en/changes.md
Due: none

add initialization logic to wordSeg module
  source/core.py
  source/textUtils/wordSeg/__init__.py
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

Remove changelog entry
  user_docs/en/changes.md
Due: none

Update source/synthDrivers/sapi5.py
  source/synthDrivers/sapi5.py
Due: checkPot

Update
  source/synthDrivers/sapi5.py
Due: checkPot

Add system tests
  .github/workflows/testAndPublish.yml
  tests/system/libraries/SystemTestSpy/windows.py
  tests/system/libraries/VSCodeLib.py
  tests/system/robot/vscodeTests.py
  tests/system/robot/vscodeTests.robot
Due: none

Apply suggestions from code review
  .github/workflows/testAndPublish.yml
  tests/system/robot/vscodeTests.robot
Due: none

Update source/appModules/code.py
  source/appModules/code.py
Due: checkPot

Log exceptions
  source/appModules/code.py
Due: checkPot

Rescope exception handling
  source/appModules/code.py
Due: checkPot

Update projectDocs/dev/developerGuide/developerGuide.md
  projectDocs/dev/developerGuide/developerGuide.md
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
