Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Move settings to Privacy and Security category (#19296)
  source/config/configFlags.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update to liblouis 3.36 (#19316)
  nvdaHelper/liblouis/config.h
  projectDocs/dev/createDevEnvironment.md
  source/brailleTables/__tables.py
  user_docs/en/changes.md
Due: scons-source, checkPot

Fix changes that were accidentally included in 2025.3
  user_docs/en/changes.md
Due: none

Minor fixes to the user guide
  user_docs/en/userGuide.md
Due: none

Minor spelling and formatting fixes to changelog
  user_docs/en/changes.md
Due: none

Various fixes to changes
  user_docs/en/changes.md
Due: none

Fix up dep names
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  source/NVDAObjects/UIA/wordDocument.py
  source/NVDAObjects/window/winword.py
Due: checkPot

Add type hints
  source/NVDAObjects/window/winword.py
Due: checkPot

Add support for Word footnote and endnote reference navigation (#19310)
  source/NVDAObjects/UIA/wordDocument.py
  source/NVDAObjects/window/winword.py
  source/browseMode.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update submodules left over after merge
  nvdaHelper/archBuild_sconscript
  nvdaHelper/javaAccessBridge/sconscript
  sconstruct
Due: none

Update Arabic symbols in symbols.dic
  source/locale/ar/symbols.dic
Due: none

fix unresolved issues in #18865
  source/textUtils/wordSeg/wordSegUtils.py
Due: checkPot

correct spelling
  nvdaHelper/cppjieba/sconscript
  user_docs/en/changes.md
Due: none

modification required from review
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/magnifier/__init__.py
  source/magnifier/commands.py
  source/magnifier/config.py
  source/magnifier/fullscreenMagnifier.py
  source/magnifier/magnifier.py
  source/magnifier/utils/filterHandler.py
  source/magnifier/utils/mouseHandler.py
Due: checkPot

zoom enum.flag added
  source/magnifier/magnifier.py
Due: checkPot

fix previous conflict
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  user_docs/en/changes.md
Due: none

Restore changes items for #18826 and #19025
  user_docs/en/changes.md
Due: none

Reorder changes section
  user_docs/en/changes.md
Due: none

Slightly reorder new features
  user_docs/en/changes.md
Due: none

Correct numLock to num lock, as it's the feature not the key being discussed
  user_docs/en/changes.md
Due: none

Add release blurb
  user_docs/en/changes.md
Due: none

Fix multiselect changes entry
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  source/locale/ar/symbols.dic
Due: none

References
  user_docs/en/changes.md
Due: none

Update Arabic symbols in symbols.dic (#19321)
  source/locale/ar/symbols.dic
Due: none

Prefix AI image descriptions with 'could be'
  source/_localCaptioner/imageDescriber.py
Due: checkPot

Add a warning label to the settings category
  source/gui/settingsDialogs.py
Due: checkPot

Add warning to temp enable dialog
  source/gui/_localCaptioner/messageDialogs.py
Due: checkPot

Add warning to user guide
  user_docs/en/userGuide.md
Due: none

Reorder new features slightly
  user_docs/en/changes.md
Due: none

When update is not available, disable corresponding controls in GUI rather than removing them
  source/gui/settingsDialogs.py
Due: checkPot

Directly enable image descriptions for the current session without showing any dialogs; use beeps to indicate recognition is in progress instead of the extra 'getting image description' message.
  source/_localCaptioner/captioner/vitGpt2.py
  source/_localCaptioner/imageDescriber.py
Due: checkPot

NVDA+F1 now opens the log viewer even when the logging is disabled
  source/globalCommands.py
Due: checkPot

Fix errors in linker output when building ARM64EC
  nvdaHelper/local/nvdaHelperLocal.def
Due: none

Clarify local captioner in changes
  user_docs/en/changes.md
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
