Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

Replace deprecated abstractproperty, Logger.warn and datetime.utcnow usages (ty deprecated)
  source/NVDAObjects/window/excel.py
  source/UIAHandler/_remoteOps/builder.py
  source/_remoteClient/transport.py
  source/baseObject.py
  source/textUtils/__init__.py
  source/utils/_deprecate.py
  source/utils/displayString.py
  tests/system/libraries/NvdaLib.py
  tests/system/robot/startupShutdownNVDA.py
Due: checkPot

Import OrderedDict from collections rather than typing where instantiated (ty call-non-callable)
  source/addonStore/models/channel.py
  source/addonStore/models/status.py
  source/brailleDisplayDrivers/eurobraille/constants.py
Due: checkPot

Correct type annotations flagged by ty (invalid-type-form, invalid-yield and friends)
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/JAB/__init__.py
  source/NVDAObjects/UIA/__init__.py
  source/NVDAObjects/behaviors.py
  source/UIAHandler/_remoteOps/builder.py
  source/UIAHandler/_remoteOps/remoteTypes/__init__.py
  source/_asyncioEventLoop/utils.py
  source/_magnifier/magnifier.py
  source/_remoteClient/localMachine.py
  source/_synthDrivers32/sapi4.py
  source/browseMode.py
  source/characterProcessing.py
  source/config/__init__.py
  source/config/profileUpgradeSteps.py
  source/globalCommands.py
  source/gui/__init__.py
  source/gui/addonStoreGui/controls/details.py
  source/gui/dpiScalingHelper.py
  source/gui/exit.py
  source/keyboardHandler.py
  source/mathPres/MathCAT/preferences.py
  source/nvwave.py
  source/review.py
  source/scriptHandler.py
  source/speech/sayAll.py
  source/speech/speechWithoutPauses.py
  tests/system/libraries/NvdaLib.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/unit/test_remote/test_remoteClient.py
Due: checkPot

Fix latent bugs surfaced by ty
  source/NVDAObjects/IAccessible/__init__.py
  source/appModules/powerpnt.py
  source/brailleDisplayDrivers/albatross/driver.py
  source/brailleDisplayDrivers/handyTech.py
  source/mathPres/MathCAT/MathCAT.py
  source/speechDictHandler/types.py
  source/winAPI/_wtsApi32.py
Due: checkPot

Enforce ty's unresolved-import rule
  pyproject.toml
  source/NVDAObjects/IAccessible/adobeAcrobat.py
  source/NVDAObjects/IAccessible/ia2Web.py
  source/brailleDisplayDrivers/brltty.py
  source/buildVersion.py
  source/diffHandler.py
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
  source/virtualBuffers/gecko_ia2.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
  tests/unit/test_braille/test_brailleDisplayDrivers.py
  uv.lock
Due: checkPot, licenseCheck

Enforce ty's missing-argument rule
  pyproject.toml
  source/NVDAObjects/__init__.py
  source/_remoteClient/client.py
  source/_remoteClient/dialogs.py
  source/core.py
  source/globalCommands.py
  source/gui/__init__.py
  source/gui/guiHelper.py
  source/gui/installerGui.py
  source/gui/message.py
  source/gui/settingsDialogs.py
  tests/unit/test_messageDialog.py
Due: checkPot, licenseCheck

Enforce ty's call-non-callable, not-iterable and call-top-callable rules
  pyproject.toml
  source/IAccessibleHandler/internalWinEventHandler.py
  source/appModuleHandler.py
  source/appModules/tween.py
  source/appModules/utorrent.py
  source/bdDetect.py
  source/eventHandler.py
  source/globalCommands.py
  source/gui/nvdaControls.py
  source/hwIo/base.py
  source/hwIo/ioThread.py
  source/inputCore.py
  source/monkeyPatches/comtypesMonkeyPatches.py
  source/speech/sayAll.py
  source/speechXml.py
  source/synthDrivers/_espeak.py
  source/textInfos/offsets.py
  source/updateCheck.py
  tests/unit/test_hwIo_ble.py
  tests/unit/test_remote/test_bridge.py
  tests/unit/test_speechManager/__init__.py
  tests/unit/test_speechManager/speechManagerTestHarness.py
  tests/unit/textProvider.py
Due: checkPot, licenseCheck

Enforce ty's no-matching-overload rule
  pyproject.toml
  source/brailleDisplayDrivers/brailleNote.py
  source/brailleDisplayDrivers/freedomScientific.py
  source/browseMode.py
  source/comHelper.py
  source/globalCommands.py
  source/gui/guiHelper.py
  source/inputCore.py
  source/logHandler.py
  source/speech/speech.py
  source/textUtils/_wordSeg/wordSegStrategy.py
  source/touchHandler.py
Due: checkPot, licenseCheck

Enforce ty's invalid-type-form rule
  pyproject.toml
  source/UIAHandler/_remoteOps/remoteTypes/element.py
  source/UIAHandler/_remoteOps/remoteTypes/textRange.py
  source/gui/nvdaControls.py
  source/hwIo/ioThread.py
  source/hwPortUtils.py
  source/speechDictHandler/types.py
  source/synthDrivers/oneCore.py
  source/textUtils/_wordSeg/wordSegStrategy.py
  source/winAPI/_wtsApi32.py
  source/winAPI/sessionTracking.py
  source/winKernel.py
  tests/system/libraries/ChromeLib.py
  tests/system/libraries/NotepadLib.py
  tests/system/libraries/VSCodeLib.py
Due: checkPot, licenseCheck

Enforce ty's deprecated, unknown-argument, invalid-super-argument, too-many-positional-arguments, invalid-yield, invalid-attribute-access, shadowed-type-variable and unsupported-base rules
  pyproject.toml
  source/NVDAObjects/IAccessible/sysListView32.py
  source/NVDAObjects/UIA/__init__.py
  source/NVDAObjects/window/excel.py
  source/UIAHandler/_remoteOps/remoteAPI.py
  source/UIAHandler/_remoteOps/remoteTypes/__init__.py
  source/brailleDisplayDrivers/handyTech.py
  source/characterProcessing.py
  source/config/__init__.py
  source/globalCommands.py
  source/gui/guiHelper.py
  source/l10nUtil.py
  source/locationHelper.py
  source/synthDrivers/espeak.py
  source/textUtils/uniscribe.py
Due: checkPot, licenseCheck

Remove ty exclusions whose diagnostics are all fixed
  pyproject.toml
Due: licenseCheck

Complete IUIAutomationTextRangeT.findText signature; modernize annotations on touched lines
  source/NVDAObjects/UIA/__init__.py
  source/UIAHandler/types.py
  source/hwIo/ioThread.py
  source/scriptHandler.py
  source/speech/speech.py
  source/synthDrivers/oneCore.py
  source/winAPI/sessionTracking.py
  tests/system/libraries/SystemTestSpy/speechSpyGlobalPlugin.py
Due: checkPot

fixed broken links in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

Notify the user when connecting as the controlled computer fails (#19103)
  source/_remoteClient/client.py
  tests/unit/test_remote/test_remoteClient.py
  user_docs/en/changes.md
Due: checkPot

Another review aciton
  source/braille/input/__init__.py
  source/braille/input/gesture.py
Due: checkPot

Add dark mode support to NVDA documentation styles
  CONTRIBUTION.md
Due: none

Snapshot handlers in HandlerRegistrar.handlers to allow (un)registration during dispatch
  source/extensionPoints/util.py
  tests/unit/test_extensionPoints.py
  user_docs/en/changes.md
Due: checkPot

Simplify Action.notifyOnce now that HandlerRegistrar.handlers snapshots
  source/extensionPoints/__init__.py
  tests/unit/test_extensionPoints.py
Due: checkPot

Reference PR number in change log entry
  user_docs/en/changes.md
Due: none

changed access key so they are all unique
  source/gui/settingsDialogs.py
Due: checkPot

Potential fix for pull request finding
  user_docs/en/changes.md
Due: none

Syntax
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Try using relative paths
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Remove FullName
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Try concatonating with commas
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Debugging
  .github/workflows/fetch-crowdin-translations.yml
Due: none

Update body
  .github/workflows/fetch-crowdin-translations.yml
Due: none

Try sending to group
  .github/workflows/fetch-crowdin-translations.yml
Due: none

Disable email, first go at improving outputs
  .github/workflows/fetch-crowdin-translations.yml
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

write-host
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Try putting validation issues in error annotations
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

errors
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Prevent "OrderedDict mutated during iteration" when a handler (un)registers during extension point dispatch (#20545)
  source/extensionPoints/__init__.py
  source/extensionPoints/util.py
  tests/unit/test_extensionPoints.py
  user_docs/en/changes.md
Due: checkPot

Tidy up some logging and try sending email to myself agian
  .github/workflows/fetch-crowdin-translations.yml
  ci/scripts/checkAndCommitTranslations.ps1
Due: none

Try sending to l10n again
  .github/workflows/fetch-crowdin-translations.yml
Due: none

Try sending from me
  .github/workflows/fetch-crowdin-translations.yml
Due: none

Change from format?
  .github/workflows/fetch-crowdin-translations.yml
Due: none

Try redirecting bounce messages
  .github/workflows/fetch-crowdin-translations.yml
Due: none

use noreply
  .github/workflows/fetch-crowdin-translations.yml
Due: none

Remove bcc and envelope from
  .github/workflows/fetch-crowdin-translations.yml
Due: none
