Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$

secureProcess: use NvDA's logHandler.
  source/secureProcess/__init__.py
  source/secureProcess/childProcess.py
  source/secureProcess/desktop.py
  source/secureProcess/job.py
  source/secureProcess/sandboxDir.py
  source/secureProcess/token.py
Due: checkPot

secureProcess: add createNoWindow bool keyword argument to all the Popen classes to allow configuring of CREATIONFLAGS_CREATE_NO_WINDOW. Set to false by default.
  source/secureProcess/__init__.py
  source/secureProcess/childProcess.py
Due: checkPot

test_secureProcess.py: update to support all new features of SecurePopen, including logging on by username, create no window, and now the ability to configure if redirection of std handles occurs.
  source/test_secureProcess.py
Due: checkPot

last changes from reviews
  .pre-commit-config.yaml
  source/_magnifier/__init__.py
  source/_magnifier/commands.py
  source/_magnifier/config.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/filterHandler.py
  source/_magnifier/utils/types.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  source/magnifier/config.py
  source/winBindings/magnification.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
  tests/unit/test_magnifier/test_magnifier.py
Due: checkPot

uncomented pre-commit config
  .pre-commit-config.yaml
Due: none

UIA Word: Fix page change announcements in tables by retrieving page numbers via custom attribute API
  source/NVDAObjects/UIA/wordDocument.py
  user_docs/en/changes.md
Due: checkPot

spotlight moved to utils
  .pre-commit-config.yaml
  source/_magnifier/commands.py
  source/_magnifier/fullscreenMagnifier.py
  source/_magnifier/magnifier.py
  source/_magnifier/utils/spotlightManager.py
  tests/unit/test_magnifier/test_fullscreenMagnifier.py
Due: checkPot

display tracking
  source/_magnifier/magnifier.py
  source/winAPI/_displayTracking.py
Due: checkPot

Fix skim reading
  source/speech/speech.py
Due: checkPot

screen curtain and magnifier can't be launched together
  source/_magnifier/commands.py
  source/_magnifier/fullscreenMagnifier.py
  source/globalCommands.py
Due: checkPot

Remove log
  source/speech/speech.py
Due: checkPot

Add cancellable speech commands
  source/speech/speech.py
Due: checkPot

user doc
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Fix typo
  source/speech/speech.py
Due: checkPot

Add slider support for browse mode navigation
  source/UIAHandler/browseMode.py
  source/browseMode.py
  source/virtualBuffers/MSHTML.py
  source/virtualBuffers/gecko_ia2.py
  user_docs/en/changes.md
Due: checkPot

ScreenCurtain + Magnifier
  source/_magnifier/magnifier.py
  source/globalCommands.py
  source/screenCurtain/_screenCurtain.py
Due: checkPot

SecureProcess.SecurePopen: ensure createNoWindow actually works by passing it to the super class.
  source/secureProcess/__init__.py
Due: checkPot

secureProcess: add support for appContainers. synthDriverHost32 on secure desktops runs the runtime inside an appContainer running as local service.
  source/_bridge/clients/synthDriverHost32/launcher.py
  source/_bridge/runtimes/synthDriverHost/synthDriverHost.py
  source/secureProcess/__init__.py
  source/secureProcess/childProcess.py
  source/secureProcess/raiiUtils.py
  source/test_secureProcess.py
Due: checkPot

Update browseMode and changes documentation
  source/browseMode.py
  user_docs/en/changes.md
Due: checkPot

Updated userGuide.md
  user_docs/en/userGuide.md
Due: none

Update Bosnian character descriptions file
  source/locale/bs/characterDescriptions.dic
Due: none

Improve slider for braille scroll
  source/gui/settingsDialogs.py
Due: checkPot

Fix skim reading issue (#19397)
  source/speech/speech.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Word with UIA: Retrieve Page Numbers from Custom Attributes API (#19386) (#19394)
  source/NVDAObjects/UIA/wordDocument.py
  user_docs/en/changes.md
Due: checkPot

Moved slider below progress bar
  user_docs/en/userGuide.md
Due: none

Fix browse mode in Firefox not announcing aria-label when label element contains only hidden content
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
  user_docs/en/changes.md
Due: scons-source

Add slider support for browse mode navigation (#19398)
  source/UIAHandler/browseMode.py
  source/browseMode.py
  source/virtualBuffers/MSHTML.py
  source/virtualBuffers/gecko_ia2.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Fix Firefox browse mode not announcing aria-label when label element contains only hidden content (#19409)
  nvdaHelper/vbufBackends/gecko_ia2/gecko_ia2.cpp
  user_docs/en/changes.md
Due: scons-source

Update source/NVDAObjects/UIA/wordDocument.py
  source/NVDAObjects/UIA/wordDocument.py
Due: checkPot

Update source/UIAHandler/remote.py
  source/UIAHandler/remote.py
Due: checkPot

fix punctuation processing
  source/textUtils/wordSeg/wordSegStrategy.py
  source/textUtils/wordSeg/wordSegUtils.py
Due: checkPot

Massive rewrite of _bridge.
  source/_bridge/base.py
  source/_bridge/clients/synthDriverHost32/launcher.py
  source/_bridge/clients/synthDriverHost32/synthDriver.py
  source/_bridge/components/proxies/nvwave.py
  source/_bridge/components/proxies/old_logHandler.py
  source/_bridge/components/proxies/synthDriver.py
  source/_bridge/components/services/nvwave.py
  source/_bridge/components/services/synthDriver.py
  source/_bridge/runtimes/synthDriverHost/config.py
  source/_bridge/runtimes/synthDriverHost/logHandler.py
  source/_bridge/runtimes/synthDriverHost/main.pyw
  source/_bridge/runtimes/synthDriverHost/synthDriverHost.py
  source/secureProcess/childProcess.py
  source/winBindings/winnt.py
  uv.lock
Due: checkPot

sconstruct: add an alias target for synthDriverHost32Runtime
  sconstruct
Due: none

build the synthDriverHost32 runtime at the same time as source on Github ci
  .github/workflows/testAndPublish.yml
Due: none

Correct dist dir for synthDriverHost32 runtime
  runtime-builders/synthDriverHost32/setup-runtime.py
Due: none

Correct input to real place - precommit keeps removing the import.
  source/NVDAHelper/__init__.py
Due: checkPot
