Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source -j 0"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot -j 0"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Update source/NVDAObjects/window/_msOfficeChart.py
  source/NVDAObjects/window/_msOfficeChart.py
Due: checkPot

Make dark mode configurable
  source/config/configFlags.py
  source/config/configSpec.py
  source/gui/guiHelper.py
  source/gui/settingsDialogs.py
Due: checkPot

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Update .coderabbit.yml
  .coderabbit.yml
Due: none

Indicate font attributes in braille with tags (#16864)
  source/braille.py
  source/config/configSpec.py
  source/config/featureFlagEnums.py
  source/gui/settingsDialogs.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Address review: add type for event
  source/gui/settingsDialogs.py
Due: checkPot

Add ability to customize paragraph start indicator
  source/braille.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
Due: checkPot

Moved the summary tables to the end of their sections in line with new style guidance.
  user_docs/en/userGuide.md
Due: none

Apply suggestions from code review
  source/gui/settingsDialogs.py
  source/scriptHandler.py
  user_docs/en/userGuide.md
Due: checkPot

Add ability to customize paragraph start and update user guide
  source/braille.py
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Added early return to `MozillaCompoundTextInfo.move` when text length is 0. Added check for out of bounds caret offsets to `IA2TextTextInfo.setCaretOffset` and clamped to `nCharacters`.
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/IAccessible/ia2TextMozilla.py
Due: checkPot

Fixed formatting
  source/NVDAObjects/IAccessible/__init__.py
Due: checkPot

Fixed issue #16896
  source/inputCore.py
  user_docs/en/changes.md
Due: checkPot

Reorder braille settings documentation to match GUI (#16898)
  user_docs/en/userGuide.md
Due: none

Add support for custom symbol dictionaries (#16823)
  projectDocs/dev/developerGuide/developerGuide.md
  source/addonHandler/__init__.py
  source/characterProcessing.py
  source/config/__init__.py
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  source/core.py
  source/gui/settingsDialogs.py
  tests/unit/__init__.py
  user_docs/en/changes.md
Due: checkPot

Added type hints
  source/NVDAObjects/IAccessible/__init__.py
  source/NVDAObjects/IAccessible/ia2TextMozilla.py
Due: checkPot

Fixed a bug where NVDA sometimes was unable to reset the configuration to factory defaults when using the NVDA+control+r command (#16919)
  source/inputCore.py
  user_docs/en/changes.md
Due: checkPot

Added change log entry
  user_docs/en/changes.md
Due: none

Update source/brailleDisplayDrivers/hidBrailleStandard.py
  source/brailleDisplayDrivers/hidBrailleStandard.py
Due: checkPot

Makes the timeout for multiple keypress configurable (#12049)
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/scriptHandler.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update tests/unit/test_braille/test_routing.py
  tests/unit/test_braille/test_routing.py
Due: none

Apply suggestions from code review
  source/braille.py
Due: checkPot

Updated contributors.txt with Turkish translators
  contributors.txt
Due: none

Expand explanation about a case where paragraph start indicator may not be displayed if it's not handled
  source/braille.py
Due: checkPot

Fix spaces
  requirements.txt
Due: licenseCheck

Add py2exe changes
  user_docs/en/changes.md
Due: none

Using setuptools to 72.0
  pyproject.toml
  user_docs/en/changes.md
  venvUtils/ensureVenv.py
Due: none

Fixing changes about py2exe symbols
  user_docs/en/changes.md
Due: none

Add explanatory comment
  source/braille.py
Due: checkPot

Apply format
  source/inputCore.py
Due: checkPot

Add combo box with double space and pillcrow for paragraph start markers
  source/braille.py
  source/config/configFlags.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
Due: checkPot

Update documentation
  user_docs/en/userGuide.md
Due: none

Apply suggestions from code review
  source/NVDAObjects/IAccessible/ia2TextMozilla.py
Due: checkPot

Fix lint from beta
  source/inputCore.py
Due: checkPot

Updated contributors.txt with names of Turkish contributors (#16929)
  contributors.txt
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
