Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Fix SAPI4 continuous reading
  source/synthDrivers/sapi4.py
Due: checkPot

MS Word: The result of Word commands to expand or collapse a heading is now reported
  source/appModules/winword.py
Due: checkPot

Change log
  user_docs/en/changes.md
Due: none

Update nvdaHelper/remote/winword.cpp
  nvdaHelper/remote/winword.cpp
Due: scons-source

Removed a reference to the launcher audio logo from the quick start guide (#17519)
  user_docs/en/userGuide.md
Due: none

Switch to using endpoint IDs in wasapi.cpp
  nvdaHelper/local/wasapi.cpp
Due: scons-source

magnifier WIP
  source/vision/constants.py
  source/vision/visionHandler.py
  source/visionEnhancementProviders/NVDAHighlighter.py
  source/visionEnhancementProviders/magnifier.py
  source/visionEnhancementProviders/screenCurtain.py
  source/winUser.py
Due: checkPot

fixups
  source/visionEnhancementProviders/magnifier.py
  source/visionEnhancementProviders/screenCurtain.py
Due: checkPot

Renamed deviceName to endpointId in wasapi.cpp
  nvdaHelper/local/wasapi.cpp
Due: scons-source

Update wasapi.cpp header
  nvdaHelper/local/wasapi.cpp
Due: scons-source

Removed config.conf["speech"]["outputDevice"] in favour of config.conf["audio"]["outputDevice"]
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  source/nvwave.py
  user_docs/en/changes.md
Due: checkPot

Fixed up admonissions
  source/gui/message.py
Due: checkPot

Added notes on thread safety
  projectDocs/dev/developerGuide/developerGuide.md
  source/gui/message.py
Due: checkPot

Fix audio output device selection (#17532)
  source/nvwave.py
  source/synthDrivers/_espeak.py
  user_docs/en/changes.md
Due: checkPot

Handle BrailliantB devices that do not report their number of cells (#17526)
  source/brailleDisplayDrivers/brailliantB.py
  user_docs/en/changes.md
Due: checkPot

Add change to go along with PR #17528
  user_docs/en/changes.md
Due: none

Create a `MessageDialog` API (#17304)
  projectDocs/dev/developerGuide/developerGuide.md
  requirements.txt
  source/documentationUtils.py
  source/gui/__init__.py
  source/gui/blockAction.py
  source/gui/guiHelper.py
  source/gui/message.py
  source/gui/nvdaControls.py
  source/visionEnhancementProviders/screenCurtain.py
  tests/system/robot/startupShutdownNVDA.robot
  tests/unit/test_messageDialog.py
  user_docs/en/changes.md
Due: checkPot, licenseCheck

Changed occurances of speech.outputDevice to audio.outputDevice
  source/gui/settingsDialogs.py
  source/nvwave.py
  source/synthDriverHandler.py
  source/synthDrivers/_espeak.py
  source/synthDrivers/oneCore.py
  source/synthDrivers/sapi4.py
  source/synthDrivers/sapi5.py
  source/tones.py
  tests/unit/test_config.py
Due: checkPot

Scafolded test
  tests/unit/test_config.py
Due: none

Add missing imports
  source/appModules/winword.py
Due: checkPot

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Added tests for friendlyNameToEndpointId
  tests/unit/test_config.py
Due: none

Add more notes on triage
  projectDocs/issues/triage.md
Due: none

move jamie
  projectDocs/community/expertsList.md
Due: none

Create experts contact list (#17511)
  projectDocs/community/expertsList.md
  projectDocs/community/readme.md
  projectDocs/issues/triage.md
  readme.md
Due: none

Fix math not being read in Chromium-based browsers (#17421) (#17548)
  source/NVDAObjects/IAccessible/ia2Web.py
  user_docs/en/changes.md
Due: checkPot

Update user_docs/en/changes.xliff
  user_docs/en/changes.xliff
Due: none

Handle case where there is no audio section in the config
  source/config/profileUpgradeSteps.py
Due: checkPot

Add tests for config upgrade
  tests/unit/test_config.py
Due: none

Just update changes.
  user_docs/en/changes.md
Due: none

Incremented config version
  source/config/configSpec.py
Due: checkPot

Change 'On' to 'Everywhere'
  source/config/configFlags.py
  source/config/configSpec.py
  source/speech/speech.py
  user_docs/en/userGuide.md
Due: checkPot

Fixed SAPI5 (again)
  source/synthDrivers/sapi5.py
Due: checkPot

Apply suggestions from code review
  source/config/profileUpgradeSteps.py
  source/gui/settingsDialogs.py
  source/nvwave.py
Due: checkPot

Update copyright headers
  source/synthDriverHandler.py
  source/synthDrivers/_espeak.py
  source/synthDrivers/oneCore.py
  source/synthDrivers/sapi4.py
  source/synthDrivers/sapi5.py
  source/tones.py
Due: checkPot

Add more notes on triage (#17550)
  projectDocs/issues/triage.md
Due: none

Add lint rule banning importing winsound.PlaySound
  pyproject.toml
Due: none

Apply suggestions from code review
  nvdaHelper/remote/winword.cpp
  source/NVDAObjects/window/winword.py
  user_docs/en/changes.md
Due: scons-source, checkPot

Restore MessageDialog inheriting from ContextHelpMixin
  source/gui/message.py
Due: checkPot

Revert "Create a `MessageDialog` API (#17304)"
  projectDocs/dev/developerGuide/developerGuide.md
  requirements.txt
  source/documentationUtils.py
  source/gui/__init__.py
  source/gui/blockAction.py
  source/gui/guiHelper.py
  source/gui/message.py
  source/gui/nvdaControls.py
  source/visionEnhancementProviders/screenCurtain.py
  tests/system/robot/startupShutdownNVDA.robot
  tests/unit/test_messageDialog.py
  user_docs/en/changes.md
Due: checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
