Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

fix compare prev install
  source/installer.py
Due: checkPot

Merge commit from fork
  source/_remoteClient/client.py
  source/_remoteClient/secureDesktop.py
  user_docs/en/changes.md
Due: checkPot

Fixed table in user docs
  user_docs/en/userGuide.md
Due: none

Added KC commands
  user_docs/en/userGuide.md
Due: none

Updated information on Adobe Acrobat Reader and Voxit PDF reader
  user_docs/en/userGuide.md
Due: none

Fixed spacing / list formatting in user docs
  user_docs/en/userGuide.md
Due: none

Apply suggestions from code review
  user_docs/en/userGuide.md
Due: none

fix _defaultInstallDirX86
  source/NVDAState.py
  source/config/registry.py
Due: checkPot

fix deleteKeyEx
  source/installer.py
Due: checkPot

improve NVDA remote
  source/_remoteClient/urlHandler.py
  source/config/registry.py
  source/installer.py
Due: checkPot

fix install comparison
  source/installer.py
Due: checkPot

Update source/_remoteClient/urlHandler.py
  source/_remoteClient/urlHandler.py
Due: checkPot

Updated Belarusian, Croatian, and polish symbols.
  source/locale/be/symbols.dic
  source/locale/hr/symbols.dic
  source/locale/pl/symbols.dic
Due: none

Update scons to 4.10.0
  pyproject.toml
  user_docs/en/changes.md
  uv.lock
Due: licenseCheck

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update scons to 4.10.0 (#19016)
  pyproject.toml
  user_docs/en/changes.md
  uv.lock
Due: licenseCheck

Fix secure desktop handling (#19007)
  source/IAccessibleHandler/__init__.py
  source/IAccessibleHandler/internalWinEventHandler.py
  source/IAccessibleHandler/orderedWinEventLimiter.py
  source/winConsoleHandler.py
Due: checkPot

Updated Belarusian, Croatian and Polish symbols (#19015)
  source/locale/be/symbols.dic
  source/locale/hr/symbols.dic
  source/locale/pl/symbols.dic
Due: none

Added ability to report spelling errors in braille (#18641)
  source/braille.py
  source/config/configFlags.py
  source/config/configSpec.py
  source/globalCommands.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Clean up 32-bit copy when installing 64bit (#18981)
  source/NVDAState.py
  source/_remoteClient/urlHandler.py
  source/config/__init__.py
  source/config/registry.py
  source/easeOfAccess.py
  source/installer.py
Due: checkPot

Update brlapi to 0.8.7 for python 3.13
  projectDocs/dev/createDevEnvironment.md
  tests/unit/test_braille/test_brailleDisplayDrivers.py
  user_docs/en/changes.md
Due: none

update uv lock
  uv.lock
Due: none

Fix x64 indentification for update check
  source/updateCheck.py
Due: checkPot

fix win ver testing
  tests/unit/test_winVersion.py
Due: none

Apply suggestions from code review
  source/updateCheck.py
  tests/unit/test_winVersion.py
Due: checkPot

Update source/updateCheck.py
  source/updateCheck.py
Due: checkPot

Update brlapi to 0.8.7 for python 3.13 (#19018)
  projectDocs/dev/createDevEnvironment.md
  tests/unit/test_braille/test_brailleDisplayDrivers.py
  user_docs/en/changes.md
  uv.lock
Due: none

Fix some typos.
  source/touchHandler.py
  user_docs/en/userGuide.md
Due: checkPot

Fix x64 identification for update check #19020
  source/updateCheck.py
  tests/unit/test_winVersion.py
Due: checkPot

Reintroduce fixes for #15905
  pyproject.toml
  source/_remoteClient/transport.py
  source/addonStore/dataManager.py
  source/addonStore/network.py
  source/core.py
  source/updateCheck.py
  source/utils/networking.py
  user_docs/en/changes.md
  uv.lock
Due: checkPot, licenseCheck

update API breaking changes
  user_docs/en/changes.md
Due: none

Correct grammar And variable name
  tests/system/robot/automatedImageDescriptions.robot
  tests/system/robot/startupShutdownNVDA.robot
  user_docs/en/changes.md
Due: none

update uv.lock
  uv.lock
Due: none

fix deprecations
  source/utils/networking.py
  user_docs/en/changes.md
Due: checkPot

Fix some typos (#19021)
  source/touchHandler.py
  user_docs/en/userGuide.md
Due: checkPot

show UI message in main thread
  source/_localCaptioner/imageDescriber.py
Due: checkPot

support progress report for AI image descriptions download
  source/_localCaptioner/captioner.py
  source/_localCaptioner/imageDescriber.py
  source/_localCaptioner/modelDownloader.py
  source/gui/_localCaptioner/messageDialogs.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
