Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Update characterDescriptions.dic for zh_tw (#19770)
  source/locale/zh_TW/characterDescriptions.dic
Due: none

Remove User Guide changes untils NV Access has decided how to handle language list / number in the User Guide
  user_docs/en/userGuide.md
Due: none

Update symbols.dic for zh-TW (#19771)
  source/locale/zh_TW/symbols.dic
Due: none

Remove empty Bangla translation (#19766)
  source/locale/bn/LC_MESSAGES/nvda.po
  source/locale/bn/symbols.dic
Due: none

Fix magnifier tracking vertical lists #19733
  source/_magnifier/utils/focusManager.py
  tests/unit/test_magnifier/test_focusManager.py
Due: checkPot

Fixed translators comments
  source/gui/installerGui.py
Due: checkPot

renamed AVAILABLE_TOUCH_MODES to availableTouchModes
  source/globalCommands.py
  source/touchHandler.py
Due: checkPot

Added a feature to restart windows after an update. (#19718)
  source/gui/installerGui.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Rate limiting against gui crash (#19686)
  source/gui/settingsDialogs.py
Due: checkPot

fix: guard oldTracker.pluralTimeout before comparison in makeMergedTrackerIfPossible
  source/touchTracker.py
Due: checkPot

docs: document how to build the synthDriverHost32 runtime
  projectDocs/dev/buildingNVDA.md
Due: none

Minor improvements to new methods
  source/addonHandler/__init__.py
Due: checkPot

fix: catch exceptions when clearing addon store download directory on init
  source/addonStore/network.py
Due: checkPot

put issue number in changes
  user_docs/en/changes.md
Due: none

move many def
  source/config/configSpec.py
Due: checkPot

Show version of add-on in system wide config
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

set auto based on current lang
  source/gui/settingsDialogs.py
  source/localesData.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

better language formatting in options
  source/config/configSpec.py
  source/mathPres/MathCAT/localization.py
Due: checkPot

Add fallback
  source/mathPres/MathCAT/localization.py
Due: checkPot

fix character focus
  source/textInfos/offsets.py
Due: checkPot

unlock mouse from center when panning
  source/_magnifier/magnifier.py
Due: checkPot

copilot review fix
  source/textInfos/offsets.py
  tests/unit/test_textInfos.py
Due: checkPot

Fixed typo
  source/NVDAObjects/UIA/__init__.py
Due: checkPot

Fixed a deprecation message and associated docstrings
  source/gui/nvdaControls.py
  tests/unit/test_messageDialog.py
Due: checkPot

Update copyright
  source/gui/nvdaControls.py
  tests/unit/test_messageDialog.py
Due: checkPot

Fixed linting issues
  source/NVDAObjects/UIA/__init__.py
Due: checkPot

Fix definition of NMHDR and move to winBindings.user32
  source/winBindings/user32.py
  source/winUser.py
  user_docs/en/changes.md
Due: checkPot

Add definitions
  source/winBindings/CommCtrl.py
  source/winBindings/user32.py
Due: checkPot

Rough and ready implementation
  source/gui/addonStoreGui/controls/messageDialogs.py
  source/gui/nvdaControls.py
Due: checkPot

Add on-device OCR engine using RapidOCR + ONNX Runtime + PP-OCRv5
  pyproject.toml
  source/config/configSpec.py
  source/contentRecog/onDeviceOcr/__init__.py
  source/contentRecog/onDeviceOcr/engine.py
  source/contentRecog/onDeviceOcr/rapidOcrEngine.py
  source/contentRecog/onDeviceOcr/resultConverter.py
  source/core.py
  source/globalCommands.py
  source/gui/settingsDialogs.py
  tests/unit/contentRecog/test_onDeviceOcr.py
Due: checkPot, licenseCheck

Updated symbols.dic for Finnish
  source/locale/fi/symbols.dic
Due: none

Update docs
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: none

Fixed a deprecation message and associated docstrings #19785
  source/gui/nvdaControls.py
  tests/unit/test_messageDialog.py
Due: checkPot

Updated symbols.dic for Finnish (#19789)
  source/locale/fi/symbols.dic
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
