Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Use x64/arm64 Microsoft C Runtime when building for those platforms
  nvdaHelper/localWin10/sconscript
Due: none

Fixed comments in preferences.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

camelCase fix
  source/mathPres/MathCAT/rulesUtils.py
Due: checkPot

Added copyright header
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Update nvdaHelper/localWin10/sconscript
  nvdaHelper/localWin10/sconscript
Due: none

MathCAT dir refactor
  source/NVDAState.py
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Fix to invalid math formatting message
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Removed unnecessary log.exception()
  source/mathPres/MathCAT/MathCAT.py
Due: checkPot

Improve unicode normalization (#18803)
  nvdaHelper/local/textUtils.cpp
  source/speech/speech.py
  source/textUtils/uniscribe.py
  tests/unit/test_speech.py
  tests/unit/test_textUtils.py
Due: scons-source, checkPot

Allow NVDA x64 to run on clean installs of Windows (#18828)
  nvdaHelper/localWin10/sconscript
Due: none

document deprecation utils (#18809)
  projectDocs/dev/deprecations.md
Due: none

Change formatting
  source/utils/_deprecate.py
Due: checkPot

Enforce asterisk as unordered list marker
  .markdownlint.jsonc
  projectDocs/design/unreachableObjects.md
  projectDocs/dev/buildSystemNotes.md
  projectDocs/dev/githubPullRequestTemplateExplanationAndExamples.md
  projectDocs/dev/selfSignedBuild.md
  projectDocs/testing/automated.md
  projectDocs/translating/github.md
  projectDocs/translating/readme.md
  source/brailleDisplayDrivers/albatross/readme.md
  source/visionEnhancementProviders/readme.md
  tests/manual/hardware/hardwareSupport.md
  tests/manual/hardware/updatingTo64bit.md
  tests/manual/nvdaUI/addonStore.md
  tests/manual/nvdaUI/remote.md
  tests/manual/nvdaUI/startupShutdown.md
Due: none

Add comment that eSpeak will speak
  include/espeak.md
Due: none

Fix utils._deprecate to give the right module name when not running from source (#18823)
  source/utils/_deprecate.py
Due: checkPot

add wrappers for user dict management
  nvdaHelper/cppjieba/cppjieba.cpp
  nvdaHelper/cppjieba/cppjieba.def
  nvdaHelper/cppjieba/cppjieba.hpp
Due: scons-source

resolve deprecation
  source/textUtils/wordSeg/wordSegStrategy.py
Due: checkPot

update turkish gestures
  source/locale/tr/gestures.ini
Due: none

Fix app module loading when no process handle can be fetched
  source/appModuleHandler.py
  source/oleacc.py
  source/winBindings/user32.py
  source/winKernel.py
  source/winUser.py
Due: checkPot

Update source/winBindings/dbgHelp.py
  source/winBindings/dbgHelp.py
Due: checkPot

Fix SysFreeString
  source/winBindings/oleaut32.py
Due: checkPot

Apply suggestions from code review
  source/winBindings/dbgHelp.py
  source/winBindings/kernel32.py
  source/winBindings/sas.py
Due: checkPot

Remove backward compa code since we now target 2026.1
  source/config/__init__.py
  tests/unit/test_config.py
Due: checkPot

ReportSpellingErrors converted to DisplayStringIntFlag; usage to be updated
  source/config/configFlags.py
Due: checkPot

Cast changelog to _AddonStoreModel
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Use changelog, not description
  source/addonStore/models/addon.py
Due: checkPot

Fix syntax error
  source/appModuleHandler.py
Due: checkPot

Fix debug logging statement
  source/appModuleHandler.py
Due: checkPot

Apply suggestions from code review
  source/_localCaptioner/imageDescriber.py
  source/config/configSpec.py
  source/gui/_localCaptioner/messageDialogs.py
  source/gui/settingsDialogs.py
  tests/system/libraries/SystemTestSpy/configManager.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Convert to bitwise flag everywhere
  source/NVDAObjects/UIA/__init__.py
  source/NVDAObjects/behaviors.py
  source/config/configFlags.py
  source/config/configSpec.py
  source/config/profileUpgradeSteps.py
  source/gui/settingsDialogs.py
  source/speech/speech.py
  tests/unit/test_config.py
Due: checkPot

Add docs
  source/appModuleHandler.py
  source/winUser.py
Due: checkPot

Apply suggestions from code review
  source/_localCaptioner/captioner.py
Due: checkPot

fix translator's comment
  source/config/configFlags.py
Due: checkPot

Update change for dev
  user_docs/en/changes.md
Due: none

Update User §Guide with checklist box
  user_docs/en/userGuide.md
Due: none

Fix config upgrade
  source/config/profileUpgradeSteps.py
Due: checkPot

Changelog
  user_docs/en/changes.md
Due: none

Improve models
  source/addonStore/models/addon.py
Due: checkPot

Add shortcut key for show changelog button
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

Change shortcut for show changelog button, to about conflicts with close button
  source/gui/addonStoreGui/controls/messageDialogs.py
Due: checkPot

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
