Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Update tests/system/robot/vscodeTests.py
  tests/system/robot/vscodeTests.py
Due: none

Update user_docs/en/userGuide.md
  user_docs/en/userGuide.md
Due: none

Note remote access limitations in secure mode section of User Guide (#19210)
  user_docs/en/userGuide.md
Due: none

Do not mention Notes in Doc formatting settings (#19212)
  source/gui/settingsDialogs.py
Due: checkPot

add VS code system tests and manual test plans (#19208)
  tests/manual/applications/IDEs/vsCodium.md
  tests/system/libraries/VSCodeLib.py
  tests/system/robot/vscodeTests.py
  tests/system/robot/vscodeTests.robot
Due: none

Move i10890 to chrome_table
  tests/system/robot/chromeTests.robot
Due: none

split up chrome tests (#19209)
  .github/workflows/testAndPublish.yml
  tests/system/robot/chromeTests.robot
Due: none

fix missing highlighter on OCR recognition results (#19168)
  source/api.py
  source/contentRecog/recogUi.py
  source/vision/util.py
  user_docs/en/changes.md
Due: checkPot

Use alternative approach
  source/compoundDocuments.py
Due: checkPot

Expand tests
  tests/unit/test_compoundDocuments.py
Due: none

Change log
  user_docs/en/changes.md
Due: none

Update change log
  user_docs/en/changes.md
Due: none

Update source/globalCommands.py
  source/globalCommands.py
Due: checkPot

Modify gesture
  source/globalCommands.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
Due: checkPot

Store sequence + symbol level rather than text as last speech
  source/globalCommands.py
  source/speech/speech.py
Due: checkPot

Revert "Fix off by one text length in EditTextInfo (#18767)"
  source/NVDAObjects/window/edit.py
  source/textInfos/offsets.py
  tests/system/robot/symbolPronunciationTests.py
Due: checkPot

Revert "Fix braille next line command for documents of Notepad++ (#17431)"
  source/NVDAObjects/window/scintilla.py
Due: checkPot

Apply suggestions from code review
  source/virtualBuffers/__init__.py
  tests/unit/test_compoundDocuments.py
Due: checkPot

Add a changelog entry
  user_docs/en/changes.md
Due: none

Add Bluetooth Low Energy support for DotPad braille displays
  pyproject.toml
  source/asyncioEventLoop.py
  source/bdDetect.py
  source/braille.py
  source/brailleDisplayDrivers/dotPad/defs.py
  source/brailleDisplayDrivers/dotPad/driver.py
  source/core.py
  source/gui/settingsDialogs.py
  source/hwIo/ble/__init__.py
  source/hwIo/ble/_io.py
  source/hwIo/ble/_scanner.py
  tests/unit/brailleDisplayDrivers/test_dotPad.py
  tests/unit/test_bdDetect.py
  tests/unit/test_hwIo_ble.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
  uv.lock
Due: checkPot, licenseCheck

Apply suggestions from code review
  source/asyncioEventLoop.py
  source/braille.py
  source/hwIo/ble/_io.py
  source/hwIo/ble/_scanner.py
Due: checkPot

Create asyncioEventLoop.runCoroutineSync helper function to call a coroutine, wait for the result and either return that result or any raised exceptions
  source/asyncioEventLoop.py
  source/hwIo/ble/_io.py
  tests/unit/test_asyncioEventLoop.py
  tests/unit/test_hwIo_ble.py
Due: checkPot

Properly set provider in DeviceMatch.deviceInfo for BLE devices
  source/bdDetect.py
  source/braille.py
Due: checkPot

Remove BLE availability check since the scanner is always working on Win 10/11, even if no Bluetooth adapter is present
  source/brailleDisplayDrivers/dotPad/driver.py
  source/hwIo/ble/__init__.py
Due: checkPot

Fix properly closing the asyncio event loop. This caused a delay while exiting NVDA since we were waiting on a result that never came due to the loop already being stopped
  source/asyncioEventLoop.py
Due: checkPot

Fixed circular import
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/speech.py
Due: checkPot

Fixed getCurrentLanguage import
  source/mathPres/MathCAT/speech.py
Due: checkPot

Removed zip file processing in rulesUtils.py, as the files in nvda-mathcat are already unzipped
  source/mathPres/MathCAT/rulesUtils.py
Due: checkPot

Removed no-longer needed imports from rulesUtils
  source/mathPres/MathCAT/rulesUtils.py
Due: checkPot

Fixed PauseFactor error in onSave
  source/gui/settingsDialogs.py
Due: checkPot

Fixed defaultValue method in preferences.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
Due: checkPot

Updated: astral-sh/setup-uv from v6 to v7.
  .github/workflows/testAndPublish.yml
Due: none

github-workflows: astral-sh/setup-uv from v6 to v7 (#19219)
  .github/workflows/testAndPublish.yml
Due: none

Increase timeout for Build NVDA job to 15 minutes
  .github/workflows/testAndPublish.yml
Due: none

Increase timeout for createLauncher job to 30 minutes
  .github/workflows/testAndPublish.yml
Due: none

Fix Remote Access config
  source/config/configSpec.py
Due: checkPot

Updated changelog
  user_docs/en/changes.md
Due: none

Integrate MathCAT into NVDA (#18323)
  pyproject.toml
  source/NVDAState.py
  source/config/__init__.py
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/localesData.py
  source/mathPres/MathCAT/MathCAT.py
  source/mathPres/MathCAT/__init__.py
  source/mathPres/MathCAT/localization.py
  source/mathPres/MathCAT/preferences.py
  source/mathPres/MathCAT/rulesUtils.py
  source/mathPres/MathCAT/speech.py
  source/mathPres/__init__.py
  source/setup.py
  user_docs/en/changes.md
  user_docs/en/userGuide.md
  uv.lock
Due: checkPot, licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).+/.+\.md$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).+/.+\.md$)
  licenseCheck: any of: ^(runlicensecheck\.bat|pyproject\.toml)$, but not: ^user_docs/(?!en/).+/.+\.md$
