Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

Remove out of date references
  .gitignore
  .pre-commit-config.yaml
Due: none

Apply suggestions from code review
  source/textInfos/offsets.py
Due: checkPot

Update source/comInterfaces_sconscript
  source/comInterfaces_sconscript
Due: none

Update minimum requirements (#17064)
  user_docs/en/userGuide.md
Due: none

Fix PowerPoint caret reporting when text contains wide characters, and overall improvement of TextInfo implementation (#17015)
  source/appModules/powerpnt.py
  source/textInfos/offsets.py
  user_docs/en/changes.md
Due: checkPot

Update comtypes to version 1.4.6 (#17061)
  .gitignore
  .pre-commit-config.yaml
  requirements.txt
  source/comInterfaces/UIAutomationClient.py
  source/comInterfaces/_944DE083_8FB8_45CF_BCB7_C477ACB2F897_0_1_0.py
  source/comInterfaces/readme.md
  source/comInterfaces_sconscript
  source/monkeyPatches/comtypesMonkeyPatches.py
  user_docs/en/changes.md
Due: checkPot, licenseCheck

Update liblouis to 3.31
  source/brailleTables.py
  user_docs/en/changes.md
Due: checkPot

Fixup changes
  user_docs/en/changes.md
Due: none

Apply suggestions from code review
  source/braille.py
Due: checkPot

Update what's new
  user_docs/en/changes.md
Due: none

English user guide: add test string
  user_docs/en/userGuide.md
Due: none

Update user documentation files
  user_docs/en/userGuide.xliff
Due: none

Restore english user guide to beta
  user_docs/en/userGuide.md
Due: none

English changes.md: add test string
  user_docs/en/changes.md
Due: none

Restore English changes file back to beta
  user_docs/en/changes.md
Due: none

user docs github action: Don't fail the job if no xliff files were changed.
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Test changes.md
  user_docs/en/changes.md
Due: none

Restore English changes back to beta
  user_docs/en/changes.md
Due: none

English user guide test string
  user_docs/en/userGuide.md
Due: none

Update user_docs/en/userGuide.xliff
  user_docs/en/userGuide.xliff
Due: none

Restore english user guide back to beta
  user_docs/en/userGuide.md
Due: none

user docs github action: add more logging
  .github/workflows/regenerate_english_userDocs_translation_source.yml
Due: none

Update user_docs/en/changes.md
  user_docs/en/changes.md
Due: none

Text displayed on a multiline braille display will now word wrap on every row in the braille window, not just at the end (#17011)
  projectDocs/dev/developerGuide/developerGuide.md
  source/braille.py
  tests/unit/test_braille/test_handlerExtensionPoints.py
  tests/unit/test_braille/test_normalizeCellArraySize.py
  user_docs/en/changes.md
Due: checkPot

L10n updates for: es From translation svn revision: 83225
  user_docs/es/changes.md
Due: none

L10n updates for: gl From translation svn revision: 83225
  user_docs/gl/changes.md
  user_docs/gl/userGuide.md
Due: none

L10n updates for: tr From translation svn revision: 83225
  user_docs/tr/changes.md
Due: none

Apply suggestions from code review
  .github/workflows/regenerate_english_userDocs_translation_source.yml
  tests/unit/test_markdownTranslate.py
  user_docs/markdownTranslate.py
Due: none

Clean temp download files
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Revert change introduced in c333bef
  source/NVDAObjects/JAB/__init__.py
Due: checkPot

Added change log entry
  user_docs/en/changes.md
Due: none

Fix location of delete temp files
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Refactored DisplayableError calling code into its own private function
  source/addonStore/dataManager.py
Due: checkPot

Apply review suggestions
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Apply suggestions from code review
  source/appModules/poedit.py
Due: checkPot

Remove changes to network.py
  source/addonStore/network.py
  source/gui/addonStoreGui/viewModels/store.py
Due: checkPot

Add new line separators
  source/appModules/poedit.py
Due: checkPot

Update release blurp
  user_docs/en/changes.md
Due: none

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
