Repository nvaccess/nvda: changes, and which pre-commit hooks are due for each by the changed paths.
All: scons-source, checkPot, licenseCheck

scons-source:
  name: build c/c++ files
  entry: cmd.exe /c "scons source --all-cores"
  language: system
  pass_filenames: false

checkPot:
  name: translation string check
  entry: cmd.exe /c "scons checkPot --all-cores"
  language: system
  pass_filenames: false

licenseCheck:
  name: Check license compatibility of pip dependencies
  entry: ./runlicensecheck.bat
  language: script
  pass_filenames: false

lint fixes to Remote manual test plan
  tests/manual/remote.md
Due: none

Fix workflow
  .github/workflows/checkPot.yml
Due: none

Fix checkPot workflow
  .github/workflows/checkPot.yml
Due: none

minor updates to tests
  tests/unit/test_remote/test_bridge.py
  tests/unit/test_remote/test_remote_client.py
  tests/unit/test_remote/test_serializer.py
  tests/unit/test_remote/test_transport.py
Due: none

Make checkPot script to fail on test failure
  ci/scripts/tests/translationCheck.ps1
Due: none

Use exit command in translation check script
  ci/scripts/tests/translationCheck.ps1
Due: none

CheckPot: exit with last exit code
  ci/scripts/tests/translationCheck.ps1
Due: none

More updates
  .github/workflows/systemTests.yml
  ci/scripts/tests/licenseCheck.ps1
  ci/scripts/tests/systemTests.ps1
  ci/scripts/tests/translationCheck.ps1
  ci/scripts/tests/unitTests.ps1
  nvdaBuilder/action.yml
Due: none

Fix path in builder
  nvdaBuilder/action.yml
Due: none

Make some constants enums and document where they come from
  source/remoteClient/input.py
Due: checkPot

Script to check translations: exit last exit code
  ci/scripts/tests/translationCheck.ps1
Due: none

Update script to check translations without setting preference error action to stop
  ci/scripts/tests/translationCheck.ps1
Due: none

Update powershell tests script to exit with last exit code
  ci/scripts/tests/licenseCheck.ps1
  ci/scripts/tests/systemTests.ps1
  ci/scripts/tests/unitTests.ps1
Due: none

Fixed name of RemoteMessageType.PING
  source/remoteClient/protocol.py
  source/remoteClient/server.py
Due: checkPot

Restore WinMM-related code
  source/synthDrivers/_sapi4.py
  source/synthDrivers/sapi4.py
Due: checkPot

Update chromeTests.py
  tests/system/robot/chromeTests.py
Due: none

remove out of date msg
  projectDocs/translating/readme.md
Due: none

Apply suggestions from code review
  projectDocs/translating/github.md
  projectDocs/translating/readme.md
Due: none

modify symbols
  source/locale/en/symbols.dic
Due: none

Revert "modify symbols"
  source/locale/en/symbols.dic
Due: none

remove testing
  .github/workflows/monitor-localisation-file-changes.yml
Due: none

add validation of update mirror urls (#17310)
  source/gui/settingsDialogs.py
  source/updateCheck.py
  user_docs/en/changes.md
Due: checkPot

Add SynthDriverMMAudio
  source/synthDrivers/sapi4.py
Due: checkPot

Add feature flag `useWASAPIForSAPI4`
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  user_docs/en/userGuide.md
Due: checkPot

Remote: Fix socket.listen to comply with PEP 570
  source/remoteClient/server.py
Due: checkPot

Switch implementation based on configuration
  source/synthDrivers/sapi4.py
Due: checkPot

Add ability to configure reporting of language switched to
  source/config/configSpec.py
  source/gui/settingsDialogs.py
  source/speech/speech.py
Due: checkPot

Update user guide
  user_docs/en/userGuide.md
Due: none

Fix comments for translators
  source/gui/settingsDialogs.py
Due: checkPot

Update changelog
  user_docs/en/changes.md
Due: none

Remove Coptic grade 1 braille table to fix unit tests (to be reviewed)
  source/brailleTables.py
Due: checkPot

Revert "Remove Coptic grade 1 braille table to fix unit tests (to be reviewed)"
  source/brailleTables.py
Due: checkPot

fix #17800 recression of #17310
  source/versionInfo.py
Due: checkPot

Try to check pot and licenses without building NVDA
  .github/workflows/checkPot.yml
  .github/workflows/licenseCheck.yml
Due: none

Update builder action to spip scons source in license and check pot
  .github/workflows/checkPot.yml
  .github/workflows/licenseCheck.yml
  nvdaBuilder/action.yml
Due: none

Restore modified files to force failures
  pyproject.toml
  requirements.txt
  tests/system/robot/chromeTests.py
  tests/system/robot/symbolPronunciationTests.py
  tests/unit/test_addonHandler/test_addonsState.py
Due: licenseCheck

Path conditions:
  scons-source: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^user_docs/(?!en/).*$
  checkPot: any of: ^source/.*$ and \.py$ and not (^user_docs/(?!en/).*$)
  licenseCheck: any of: ^(requirements\.txt|runlicensecheck\.bat)$, but not: ^user_docs/(?!en/).*$
